<form class="form-material" [formGroup]="form" (submit)="getData()">
  <div class="row pt-5">
    <div class="col-md-2">
      <form-field [control]="form.get('good')" label="No. Siab">
        <input type="number" class="form-control" formControlName="good" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('beneficiary')" label="Beneficiario">
        <input type="text" class="form-control" formControlName="beneficiary" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('mandate')">
        <ngx-select
          [form]="form"
          label="Transferente"
          [data]="transferents"
          (fetchItems)="getTransferent($event)"
          value="cvman"
          bindLabel="nameTransferent"
          control="mandate"
          [searchOnInit]="true"></ngx-select>
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field
        [control]="form.get('paymentRequest')"
        label="Solicitud de pago">
        <input
          type="text"
          class="form-control"
          formControlName="paymentRequest" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('invoice')" label="Factura">
        <input type="text" class="form-control" formControlName="invoice" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('importeF')" label="Importe Factura">
        <input type="text" class="form-control" formControlName="importeF" />
      </form-field>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-2">
      <form-field
        [control]="form.get('folatenclie')"
        label="Folio atención a clientes">
        <input type="text" class="form-control" formControlName="folatenclie" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('concept')" label="Concepto">
        <input type="text" class="form-control" formControlName="concept" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('capture')" label="Captura">
        <input type="text" class="form-control" formControlName="capture" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('request')" label="Solicita">
        <input type="text" class="form-control" formControlName="request" />
      </form-field>
    </div>
    <div class="col-md-2">
      <form-field [control]="form.get('authority')" label="Autorizó">
        <input type="text" class="form-control" formControlName="authority" />
      </form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex">
      <div>
        <confirm-button
          [loading]="loading"
          text="Ejecutar consutla"
          [btnSmall]="true"
          loadingText="Obteniendo datos"></confirm-button>
      </div>
      <div class="ml-3">
        <button
          [disabled]="loading"
          class="btn btn-danger btn-sm active"
          type="button"
          (click)="resetForm()">
          Limpiar Filtro
        </button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="ch-content">
    <h5 class="title">Datos</h5>
    <div class="row justify-content-end mr-3">
      <div>
        <button type="button" class="btn btn-success btn-sm active mx-2">
          Exportar Todo a Excel
        </button>
        <button
          type="button"
          (click)="exportSelected()"
          class="btn btn-success btn-sm active mx-2"
          [disabled]="selectedRows.length === 0">
          Exportar Seleccionados a Excel
        </button>
        <app-columns-select [(settings)]="settings"></app-columns-select>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <ng2-smart-table [settings]="settings" [source]="data"> </ng2-smart-table>
  </div>
</div>
