:host ::ng-deep ng2-smart-table {
  .title {
    min-width: 30rem;
  }

  .transferringDescription {
    min-width: 30rem;
  }

  .stationDescription {
    min-width: 30rem;
  }

  .descriptionAuthority {
    min-width: 30rem;
  }
}
