<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Consulta de Tareas</h5>
    </div>
  </div>
  <div body>
    <accordion [isAnimated]="true">
      <accordion-group [isOpen]="false">
        <div accordion-heading class="d-flex justify-content-between">
          <div>
            <h5>
              <i class="fa fa-filter" aria-hidden="true"></i>
              Mostrar Filtros
            </h5>
          </div>
          <div></div>
        </div>

        <form
          [formGroup]="consultTasksForm"
          class="form-material"
          (ngSubmit)="searchTasks()">
          <div class="row margin-input">
            <div class="col-md-6">
              <form-field
                [control]="consultTasksForm.get('txtTituloTarea')"
                label="T&iacute;tulo Tarea">
                <input
                  type="text"
                  class="form-control"
                  formControlName="txtTituloTarea"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="consultTasksForm.get('txtNoSolicitud')"
                label="No. Solicitud">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoSolicitud"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="consultTasksForm.get('State')"
                label="Estatus">
                <ng-select class="form-control" formControlName="State">
                  <ng-option value="PROCESO">En Proceso</ng-option>
                  <ng-option value="FINALIZADA">Finalizados</ng-option>
                  <ng-option value="null">Todos</ng-option>
                  <!-- <ng-option value="TODOS">Todos</ng-option> -->
                </ng-select>
              </form-field>
            </div>
          </div>
          <div class="row margin-input">
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNoProgramacionEntrega')"
                label="No. Programaci&oacute;n Entrega">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoProgramacionEntrega"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNombreActividad')"
                label="Nombre de la Actividad">
                <input
                  type="text"
                  class="form-control"
                  formControlName="txtNombreActividad"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNoOrdenServicio')"
                label="No. Orden de Servicio">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoOrdenServicio"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
          </div>
          <div class="row margin-input">
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtAsignado')"
                label="Asignado">
                <input
                  type="text"
                  class="form-control"
                  formControlName="txtAsignado"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNoOrdenPago')"
                label="No. Orden de Pago">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoOrdenPago"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtAprobador')"
                label="Aprobador">
                <input
                  type="text"
                  class="form-control"
                  formControlName="txtAprobador"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
          </div>
          <div class="row margin-input">
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNoOrdenIngreso')"
                label="No. Orden de Ingreso">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoOrdenIngreso"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNombreAplicacion')"
                label="Nombre de la Aplicaci&oacute;n">
                <input
                  type="text"
                  class="form-control"
                  formControlName="txtNombreAplicacion"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-4">
              <form-field
                [control]="consultTasksForm.get('txtNoMuestreo')"
                label="No. Muestreo">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoMuestreo"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
          </div>
          <div class="row margin-input">
            <div class="col-md-3">
              <form-field
                [control]="consultTasksForm.get('txtFecAsigDesde')"
                label="Fecha de Creación Desde: ">
                <input
                  class="form-control"
                  ngModel
                  bsDatepicker
                  [bsConfig]="{
                    dateInputFormat: 'DD/MM/YYYY',
                    displayOneMonthRange: true
                  }"
                  formControlName="txtFecAsigDesde"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="consultTasksForm.get('txtFecAsigHasta')"
                label="Hasta: ">
                <input
                  class="form-control"
                  formControlName="txtFecAsigHasta"
                  bsDatepicker
                  ngModel
                  [bsConfig]="{
                    dateInputFormat: 'DD/MM/YYYY',
                    displayOneMonthRange: true
                  }"
                  [minDate]="txtFecAsigDesde.value"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-6">
              <form-field
                [control]="consultTasksForm.get('txtNoMuestreoOrden')"
                label="No. De Muestreo de Orden">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoMuestreoOrden"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
          </div>
          <div class="row margin-input">
            <div class="col-md-3">
              <form-field
                [control]="consultTasksForm.get('txtFechaFinDesde')"
                label="Fecha de Finalización Desde:">
                <input
                  class="form-control"
                  formControlName="txtFechaFinDesde"
                  bsDatepicker
                  ngModel
                  [bsConfig]="{
                    dateInputFormat: 'YYYY-MM-DD',
                    displayOneMonthRange: true
                  }"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="consultTasksForm.get('txtFechaFinHasta')"
                label="Hasta:">
                <input
                  class="form-control"
                  formControlName="txtFechaFinHasta"
                  bsDatepicker
                  ngModel
                  [bsConfig]="{
                    dateInputFormat: 'YYYY-MM-DD',
                    displayOneMonthRange: true
                  }"
                  maxlength="20"
                  [minDate]="txtFechaFinDesde.value"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-6">
              <form-field
                [control]="consultTasksForm.get('txtNoDelegacionRegional')"
                label="No. de Delegación Regional">
                <input
                  type="text"
                  class="form-control"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="delegation"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)"
                  readOnly="true" />
              </form-field>
              <!-- <form-field
                [control]="consultTasksForm.get('txtNoDelegacionRegional')"
                label="No. de Delegación Regional">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoDelegacionRegional"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field> -->
            </div>
            <div class="col-md-6 pt-5">
              <ngx-select
                [form]="consultTasksForm"
                control="txtNoTransferente"
                (fetchItems)="getTransferent($event)"
                [showTooltip]="true"
                [data]="transferents$"
                bindLabel="nameAndId"
                label="Transferente"
                value="id"></ngx-select>

              <!-- <form-field
                [control]="consultTasksForm.get('txtNoTransferente')"
                label="No. Transferente">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoTransferente"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field> -->
            </div>
            <!-- </div>
          <div class="row margin-input"> -->
            <div class="col-md-3 pt-5">
              <form-field
                [control]="consultTasksForm.get('txtNoProgramacion')"
                label="No. de Programaci&oacute;n">
                <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtNoProgramacion"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" />
              </form-field>
            </div>
            <div class="col-md-3 pt-5">
              <form-field
                [control]="consultTasksForm.get('txtDaysAtrasos')"
                label="Rango de Días de Atraso">
                <ng-select
                  formControlName="txtDaysAtrasos"
                  [searchable]="false"
                  class="form-control"
                  [clearable]="false">
                  <ng-option value="1,5">Entre 1-5 días</ng-option>
                  <ng-option value="6,30">Entre 5-30 días</ng-option>
                  <ng-option value="31,60">Entre 30-60 días</ng-option>
                  <ng-option value="61,99999">Mayor a 60 días</ng-option>
                </ng-select>
                <!-- <input
                  type="number"
                  min="0"
                  max="999999999999999"
                  class="form-control"
                  formControlName="txtDaysAtrasos"
                  maxlength="20"
                  (keydown.enter)="onKeydown($event)" /> -->
              </form-field>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-auto pt-5">
              <button
                type="button"
                class="btn btn-sm btn-primary active"
                (click)="searchTasks()"
                (keydown.enter)="onKeydown($event)">
                Buscar <i class="bx bx-search-alt bx-sm float-icon"></i>
              </button>
            </div>
            <div class="col-md-auto pt-5">
              <button
                class="btn btn-sm btn-success active"
                (click)="exportToExcel()">
                Descargar a Excel <i class="bx bx-download"> </i>
              </button>
            </div>
            <div class="col-md-auto pt-5">
              <button
                class="btn btn-sm btn-success active"
                (click)="donwloadReport()">
                Reporte de atrasos <i class="bx bx-download"> </i>
              </button>
            </div>
            <div class="col-md-auto pt-5">
              <button
                type="button"
                class="btn btn-sm btn-danger active"
                (click)="cleanFilter()">
                Limpiar Filtro <i class="fas fa-eraser"> </i>
              </button>
            </div>
          </div>
        </form>
      </accordion-group>
    </accordion>
    <div class="row">
      <div class="d-flex justify-content-end">
        <div class="m-3">
          <app-columns-select
            [defaultColumns]="11"
            [(settings)]="settings"></app-columns-select>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-responsive table-bordered'"
            [settings]="settings"
            [source]="tasks"
            (rowSelect)="openTask($event.data)">
          </ng2-smart-table>
        </div>
      </div>
    </div>
    <app-pagination
      [params]="params"
      [totalItems]="totalItems"></app-pagination>

    <!-- <div class="row margin-input">
      <div class="col-md-2">
        <button type="button" class="btn btn-danger active">Cerrar</button>
      </div>
    </div> -->
  </div>
</app-card>
