<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Parcializaci&oacute;n de Bienes Generales</h5>
  </div>
  <div body>
    <div class="md-tabs">
      <tabset>
        <tab heading="Clasificadores (1424, 1426, 1427, 1575, 1590)">
          <app-partialize-view [firstCase]="true"></app-partialize-view>
        </tab>
        <tab heading="Otros Clasificadores">
          <app-partialize-view [firstCase]="false"></app-partialize-view>
        </tab>
      </tabset>
    </div>
  </div>
</app-card>
