<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Proceso de reclamación de pago</h5>
  </div>
  <div body>
    <div>
      <div class="md-tabs">
        <tabset>
          <tab heading="Juicios" id="tab1">
            <app-jp-d-t-c-trials-set></app-jp-d-t-c-trials-set>
          </tab>
          <tab heading="Abogados">
            <app-jp-d-t-c-lawyers-set></app-jp-d-t-c-lawyers-set>
          </tab>
          <tab heading="Gastos">
            <app-jp-d-t-c-expenses-set></app-jp-d-t-c-expenses-set>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</app-card>
