<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">conversi&oacute;n masiva de LC&#39;s</h5>
  </div>
  <div body>
    <div class="row">
      <div class="form-material mb-0" [formGroup]="form">
        <div class="rounded-3 bg-gray-card px-3 py-3">
          <div class="row">
            <div class="col-sm-12 col-md-6 d-flex align-content-center">
              <div
                class="d-flex flex-row justify-content-center align-items-center">
                <div class="px-3 text-center">
                  <h6 class="d-lg-inline font-size-15">N° Operación</h6>
                  <div class="row">
                    <p class="text-muted d-xl-inline font-size-18">
                      {{ operationId }}
                    </p>
                  </div>
                </div>
                <div class="px-3 text-center">
                  <h6 class="d-lg-inline font-size-15">Registros</h6>
                  <div class="row">
                    <p class="text-muted d-xl-inline font-size-18">
                      {{ totalEntries }}
                    </p>
                  </div>
                </div>
                <div class="px-3 text-center">
                  <h6 class="d-lg-inline font-size-15">LCs Generadas</h6>
                  <div class="row">
                    <p class="text-muted d-xl-inline font-size-18">
                      {{ generatedLcs }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div
                class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-auto g-2 align-items-center">
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-sm btn-success btn-block active me-2 font-size-14"
                    (click)="consultInServer()">
                    Consultar Datos
                    <!-- <i class="bx bx-search text-light float-icon"></i> -->
                  </button>
                </div>
                <div class="col-12">
                  <button
                    class="btn btn-sm btn-success btn-block active me-2 font-size-14"
                    type="button"
                    (click)="file.click()">
                    Insertar Archivo
                  </button>
                  <input
                    type="file"
                    name="file"
                    #file
                    class="d-none"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    (change)="onFileChange($event)" />
                </div>
                <div class="col-12">
                  <button
                    [disabled]="!validGenerateLCs"
                    class="btn btn-sm btn-secondary btn-block active me-2 font-size-14"
                    (click)="loadChecks()">
                    <!-- <i class="bx bx-upload text-light float-icon"></i> -->
                    Cargar Cheques
                  </button>
                </div>
                <div class="col-12">
                  <div class="btn-group d-block" dropdown>
                    <button
                      [ngClass]="{ disabled: !validGenerateLCs }"
                      dropdownToggle
                      id="loadBtn2"
                      type="button"
                      class="btn btn-sm btn-primary btn-block active me-2 font-size-14 dropdown-toggle"
                      aria-controls="dropdown-animated">
                      <!-- <i class="bx bx-send text-light float-icon"></i> -->
                      Generar LCs <span class="caret"></span>
                    </button>
                    <ul
                      id="dropdown-animated"
                      *dropdownMenu
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="loadBtn2">
                      <li role="menuitem">
                        <a
                          class="dropdown-item bg-primary text-light"
                          (click)="generateLcs('CONSULTA')"
                          >CONSULTA</a
                        >
                      </li>
                      <li role="menuitem">
                        <a
                          class="dropdown-item bg-primary text-light"
                          (click)="generateLcs('UPDATE')"
                          >ACTUALIZACIÓN</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-12">
                  <button
                    class="btn btn-sm btn-primary btn-block active me-2 font-size-14"
                    (click)="reprocess()"
                    [disabled]="!validGenerateLCs">
                    <!-- <i class="bx bx-send text-light float-icon"></i> -->
                    Mantto y Reprocesos
                  </button>
                </div>
                <div class="col-12">
                  <button
                    class="btn btn-sm btn-danger btn-block active me-2 font-size-14"
                    (click)="resetFilter()">
                    Limpiar <i class="fas fa-eraser"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-sm-12 col-md-12 mh-80">
        <h5 class="title">Filtros de búsqueda</h5>
        <div class="row pt-2">
          <form class="form-material" [formGroup]="form">
            <div class="col-md-2">
              <form-field
                [control]="form.get('eventId')"
                class="form-group"
                label="ID Evento">
                <input
                  type="text"
                  class="form-control"
                  formControlName="eventId" />
              </form-field>
            </div>

            <div class="col-md-2">
              <form-field
                [control]="form.get('batchId')"
                class="form-group"
                label="ID Lote">
                <input
                  type="text"
                  class="form-control"
                  formControlName="batchId" />
              </form-field>
            </div>

            <div class="col-md-2">
              <form-field
                [control]="form.get('insertDate')"
                class="form-group"
                label="Fecha Inserta">
                <input
                  type="text"
                  class="form-control"
                  formControlName="insertDate"
                  bsDatepicker />
              </form-field>
            </div>

            <div class="col-md-2">
              <form-field
                [control]="form.get('status')"
                class="form-group"
                label="Estatus">
                <ng-select formControlName="status" class="form-control">
                  <ng-option value="1">LC_GENERADA</ng-option>
                  <ng-option value="0">SOLICITADA</ng-option>
                </ng-select>
              </form-field>
            </div>

            <div class="col-md-2">
              <form-field
                [control]="form.get('operationId')"
                class="form-group"
                label="ID Operación">
                <input
                  type="text"
                  class="form-control"
                  formControlName="operationId" />
              </form-field>
            </div>

            <div class="col-md-2">
              <form-field
                [control]="form.get('validityDate')"
                class="form-group"
                label="Fecha Vigencia">
                <input
                  type="text"
                  class="form-control"
                  formControlName="validityDate"
                  bsDatepicker />
              </form-field>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5">
      <div class="md-tabs pt-5 mt-5">
        <tabset #tabset [(ngModel)]="activeTab">
          <tab heading="Datos" id="dataTab">
            <div class="row">
              <div class="d-flex justify-content-end my-3">
                <div>
                  <app-columns-select
                    [(settings)]="dataSettings"></app-columns-select>
                </div>
              </div>
            </div>

            <div [class]="loading ? 'table-loading' : ''">
              <ng2-smart-table
                id="data-table"
                [attr.class]="'table-bordered table-responsive'"
                [settings]="dataSettings"
                [source]="dataSource">
              </ng2-smart-table>
            </div>

            <app-pagination
              [params]="paramsD"
              [totalItems]="totalItemsD"></app-pagination>
          </tab>
          <tab heading="Líneas de Captura" id="lcsTab">
            <div class="row">
              <div class="d-flex justify-content-end my-3">
                <div class="mr-3">
                  <app-columns-select
                    [(settings)]="lcsSettings"></app-columns-select>
                </div>
                <div>
                  <button
                    [disabled]="isLoadingExportFile"
                    class="btn btn-sm btn-success active me-2 font-size-14"
                    (click)="exportFile()">
                    Exportar todo <i class="bx bx-download float-icon"></i>
                  </button>
                </div>
              </div>
            </div>

            <div [class]="isLoadingLcs ? 'table-loading' : ''">
              <ng2-smart-table
                id="lcsTable"
                [attr.class]="'table-bordered table-responsive'"
                [settings]="lcsSettings"
                [source]="lcsSource">
              </ng2-smart-table>
            </div>

            <app-pagination
              [params]="paramsLc"
              [totalItems]="totalItemsLc"></app-pagination>
          </tab>
          <tab
            (selectTab)="onTabSelected($event)"
            heading="Reproceso"
            id="reProTab"
            [disabled]="reProTabActive"
            [active]="tab3Active">
            <div class="row">
              <!-- <div
                class="col-md-2 d-flex"
                *ngIf="!selectedEvent"
                @OnEventSelected>
                <div class="mr-auto">
                  <button
                    type="button"
                    [ngClass]="'btn-primary'"
                    class="btn active btn-sm mt-5"
                    (click)="searchEvent()">
                    Buscar
                    <i class="bx bx-search-alt bx-sm float-icon"></i>
                  </button>
                </div>
              </div> -->
              <div
                class="col-sm-2 col-md-2"
                *ngIf="selectedEvent != null"
                @OnEventSelected>
                <i
                  class="bx bx-font-family text-success me-2 d-inline float-icon"></i>
                <h5 class="font-size-14 mb-2 d-inline">Cve. Proceso</h5>
                <p class="text-muted">{{ selectedEvent.processKey }}</p>
              </div>
              <div
                class="col-sm-2 col-md-2"
                *ngIf="selectedEvent != null"
                @OnEventSelected>
                <i
                  class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                <h5 class="font-size-14 mb-2 d-inline">Fecha Evento</h5>
                <p class="text-muted">
                  {{ selectedEvent.eventDate | date : 'medium' }}
                </p>
              </div>
              <div
                class="col-sm-2 col-md-2"
                *ngIf="selectedEvent != null"
                @OnEventSelected>
                <i
                  class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                <h5 class="font-size-14 mb-2 d-inline">Lugar</h5>
                <p class="text-muted">
                  {{ selectedEvent.place }}
                </p>
              </div>
              <div
                class="col-sm-2 col-md-2"
                *ngIf="selectedEvent != null"
                @OnEventSelected>
                <i
                  class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                <h5 class="font-size-14 mb-2 d-inline">Fecha Fallo</h5>
                <p class="text-muted">
                  {{ selectedEvent.failedDate | date : 'medium' }}
                </p>
              </div>
              <div
                class="col-sm-2 col-md-2"
                *ngIf="selectedEvent != null"
                @OnEventSelected>
                <i
                  class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                <h5 class="font-size-14 mb-2 d-inline">Estatus</h5>
                <p class="text-muted">
                  {{ selectedEvent.statusvtaId }}
                </p>
              </div>
            </div>

            <div class="row">
              <div class="d-flex justify-content-end my-3">
                <div class="mr-3">
                  <app-columns-select
                    [(settings)]="reprocesSettings"></app-columns-select>
                </div>
                <div>
                  <button
                    [disabled]="isLoadingExportFile"
                    class="btn btn-sm btn-primary active me-2 font-size-14"
                    (click)="rework()">
                    Ingresar a reproceso
                  </button>
                </div>
              </div>
            </div>

            <div [class]="isLoadingLcs ? 'table-loading' : ''">
              <ng2-smart-table
                id="lcsTable"
                [attr.class]="'table-bordered table-responsive'"
                [settings]="reprocesSettings"
                [source]="reprocesSource">
              </ng2-smart-table>
            </div>

            <app-pagination [params]="lcsParams" [totalItems]="lcsTotalItems">
            </app-pagination>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</app-card>
