.custom-btn {
  padding-right: 3px;
  padding-left: 10px;
  margin-right: -2px;
}

:host
  ::ng-deep
  tr.ng2-smart-filters
  th.ng2-smart-th
  ng2-smart-table-filter
  div.ng2-smart-filter
  default-table-filter
  input-filter
  input::placeholder {
  color: transparent !important;
}

.title {
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
}

.item-flex {
  flex: 1 1 200px;
  margin: 10px;
}
