.buttons {
  text-align: right;
  margin: auto;
}

.labelCabinetSocial {
  font-size: 10px;
  font-weight: 600;
  color: #74788d;
  margin-bottom: 0px;
}

button {
  width: auto;
}

:host ::ng-deep form-field {
  .form-control[readonly] {
    &:focus ~ .form-bar:after,
    &:focus ~ .form-bar:before {
      width: 0% !important;
    }
  }
}
