<app-modal>
  <div header>
    <h5 class="modal-title">ENVIAR CORREO</h5>
  </div>
  <div body class="body">
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-12">
          <label class="title" for=""
            >Asunto<span class="color: red">*</span>
          </label>
          <form-field [control]="form.get('subject')">
            <input
              class="form-control"
              maxlength="1000"
              formControlName="subject" />
          </form-field>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <label class="title" for=""
            >Escriba los correos electrónicos de los destinatarios (Separados
            por coma): <span class="color: red">*</span>
          </label>
          <form-field [control]="form.get('emails')">
            <textarea
              rows="5"
              class="form-control"
              type="text"
              formControlName="emails"
              style="text-transform: lowercase"
              onkeyup="javascript:this.value=this.value.toLowerCase();"></textarea>
          </form-field>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <label class="title" for=""
            >Cuerpo del Mensaje<span class="color: red">*</span>
          </label>
          <form-field [control]="form.get('message')">
            <textarea
              rows="10"
              class="form-control"
              type="text"
              formControlName="message"></textarea>
          </form-field>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="form.invalid"
          [text]="'Enviar'"
          (confirm)="confirm()">
        </confirm-button>
      </div>

      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
