<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Control de las ordenes de servicio</h5>
    <!-- <div class="col-md-5 buttons">
      <app-columns-select [(settings)]="settings"></app-columns-select>
    </div> -->
  </div>
  <div body>
    <form [formGroup]="serviceOrdersForm" class="form-material">
      <div class="row margin-input">
        <div class="col-md-3" style="margin-top: -0.7%">
          <app-delegation-shared
            [form]="serviceOrdersForm"
            [delegationField]="'delegation'"
            [showDelegation]="true"
            [showSubdelegation]="false"
            (emitDelegation)="seleccionarDelegation($event)">
          </app-delegation-shared>
        </div>
        <div class="col-md-3">
          <form-field
            [control]="serviceOrdersForm.get('process')"
            label="Proceso">
            <input type="text" class="form-control" formControlName="process" />
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field
            [control]="serviceOrdersForm.get('dateInitial')"
            label="Fecha Inicial">
            <input
              type="text"
              formControlName="dateInitial"
              class="form-control"
              bsDatepicker
              [maxDate]="serviceOrdersForm.get('datefinal').value || maxDate" />
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field
            [control]="serviceOrdersForm.get('datefinal')"
            label="Fecha Final">
            <input
              type="text"
              formControlName="datefinal"
              class="form-control"
              bsDatepicker
              [maxDate]="maxDate"
              [minDate]="serviceOrdersForm.get('dateInitial').value" />
          </form-field>
        </div>
      </div>
      <div class="row margin-input">
        <div class="col-md-4 justify-content-center"></div>
        <div class="col-md-2 justify-content-center">
          <div class="justify-content-center">
            <button
              type="button"
              class="btn btn-primary active btn-sm"
              (click)="search()">
              Buscar
              <i class="bx bx-search-alt bx-sm float-icon"></i>
            </button>
          </div>
        </div>
        <div class="col-md-2 justify-content-center">
          <div class="justify-content-center">
            <button
              class="btn btn-danger btn-sm active mr-3"
              (click)="resetFilter()">
              Limpiar <i class="fas fa-eraser"> </i>
            </button>
          </div>
        </div>
        <div class="col-md-4 justify-content-center"></div>
      </div>
    </form>
    <div class="mt-5">
      <div class="d-flex justify-content-end">
        <div>
          <app-columns-select [(settings)]="settings"></app-columns-select>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
            <ng2-smart-table
              [attr.class]="'table-bordered'"
              [settings]="settings"
              [source]="tableSource"
              (userRowSelect)="onRowSelect($event)"
              (dblclick)="loadForm()">
            </ng2-smart-table>
          </ng-scrollbar>
        </div>
      </div>
      <app-pagination
        [params]="params"
        [totalItems]="totalItems"></app-pagination>
    </div>
  </div>
</app-card>
