<app-card [header]="true" [footer]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">CAT&Aacute;LOGO DE TIPOS DE INVENTARIO</h5>
      <div class="col-md-5 buttons">
        <div>
          <button
            class="btn btn-primary active btn-sm ml-3"
            (click)="openModal()">
            Tipos Inventarios
          </button>
        </div>
      </div>
    </div>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row mb-5">
        <div class="col-md-4">
          <form-field
            [control]="form.get('cveTypeInventory')"
            label="Tipo Inventario">
            <input
              type="text"
              class="form-control"
              formControlName="cveTypeInventory" />
          </form-field>
        </div>
        <div class="col-md-8">
          <form-field
            [control]="form.get('description')"
            label="Descripci&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="description" />
          </form-field>
        </div>
      </div>
    </form>
    <div class="d-block">
      <div class="text-center buttons mt-2">
        <confirm-button
          [type]="'button'"
          [btnSmall]="true"
          [disabled]="!form.valid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
        <button
          class="btn btn-primary active btn-sm ml-3"
          [disabled]="!edit"
          (click)="openForm()">
          Nuevo Detalle Inventario
        </button>
        <button class="btn btn-primary active btn-sm ml-3" (click)="clean()">
          Limpiar
        </button>
      </div>
    </div>
  </div>
  <div footer *ngIf="edit">
    <div class="table-responsive">
      <ng2-smart-table
        [settings]="settings"
        [source]="dataDetail.data"
        (edit)="openForm($event.data)"
        (delete)="deleteDetail($event.data.noTypeInventory)"></ng2-smart-table>
    </div>
    <app-pagination [filterParams]="params" [totalItems]="dataDetail.count">
    </app-pagination>
  </div>
</app-card>
