<app-modal>
  <div header class="d-flex justify-content-between">
    <div>
      <h5 class="modal-title">LISTA DE BIENES DENTRO DE LA BÓVEDA</h5>
    </div>
  </div>
  <div body>
    <div class="table-padding"></div>
    <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
      <div [class]="loading ? 'table-loading' : ''">
        <ng2-smart-table
          class="table-responsive"
          [attr.class]="'table-responsive table-bordered'"
          [settings]="settings"
          [source]="dataFactGood">
        </ng2-smart-table>
        <app-pagination [params]="params" [totalItems]="totalItems2">
        </app-pagination>
        <div class="table-padding"></div>
      </div>
    </ng-scrollbar>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button class="btn btn-primary active btn-sm m-2" (click)="return()">
          Regresar
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
  </div>
</app-modal>
