<app-card [header]="true">
    <div header>
        <div class="ch-content">
            <h5 class="title">
                GESTI&Oacute;N DE AUTORIZACI&Oacute;N DE DESTRUCCI&Oacute;N
            </h5>
        </div>
    </div>
    <div body>
       <div class="row">
        <div class="row">
            <div class="form-material col-md-5">
                <search-bar [params]="params"></search-bar>
            </div>
        </div>
        <div class="ch-content" header>
            <h5 class="title"></h5>
            <div class="col-md-5 buttons">
                <app-columns-select [(settings)]="settings2"></app-columns-select>
                <div>
                    <button (click)="openForm()" class="btn btn-primary active btn-sm ml-3">
                        Nuevo
                    </button>
                </div>
            </div>
        </div>
        <div [class]="loading ? 'table-loading' : ''">
            <div class="table-responsive">
                <ng2-smart-table [attr.class]="'table-bordered'" [settings]="settings" [source]="proceedingsList"
                    (edit)="openForm($event.data)"></ng2-smart-table>
            </div>
            <app-pagination [params]="params" [totalItems]="totalItems"></app-pagination>
        </div>
       </div>
       <div class="row pt-5">
        
        <div [class]="loading ? 'table-loading' : ''">
            <div class="table-responsive">
                <ng2-smart-table [attr.class]="'table-bordered'" [settings]="settings2" [source]="goodPDS"
                    ></ng2-smart-table>
            </div>
            <app-pagination [params]="params2" [totalItems]="totalItems2"></app-pagination>
        </div>
       </div>
    </div>
</app-card>