<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">
        GESTI&Oacute;N DE AUTORIZACI&Oacute;N DE DESTRUCCI&Oacute;N
      </h5>
      <div class="col-md-6 buttons">
        <div>
          <button
            class="btn btn-success active btn-sm mx-1"
            (click)="newProceeding()">
            Nueva Acta
          </button>
          <button
            class="btn btn-danger btn-sm active mr-3"
            (click)="queryProceeding()">
            Limpiar <i class="fas fa-eraser"> </i>
          </button>
          <button
            class="btn btn-primary btn-sm active m-1"
            (click)="keyProceedingchange()">
            Consultar Acta
            <i class="bx bx-search-alt bx-sm float-icon"></i>
          </button>
          <confirm-button
            [loading]="loading"
            [disabled]="controls.statusProceedings.value == 'CERRADA'"
            text="Guardar"
            loadingText="Guardando"
            [btnSmall]="true"
            type="button"
            (confirm)="save()"></confirm-button>
        </div>
      </div>
    </div>
  </div>
  <div body>
    <form class="form-material" [formGroup]="proceedingForm">
      <div class="row">
        <form-field
          class="col-md-2"
          label="No."
          [control]="proceedingForm.get('id')">
          <input
            type="text"
            class="form-control"
            formControlName="id"
            readonly />
        </form-field>

        <form-field
          class="col-md-4"
          label="Oficio de Solicitud"
          [control]="proceedingForm.get('keysProceedings')">
          <input
            type="text"
            [max-length]="60"
            class="form-control"
            formControlName="keysProceedings" />
        </form-field>

        <form-field
          class="col-md-4"
          label="Oficio de Alcance"
          [control]="proceedingForm.get('affair')">
          <input
            type="text"
            [max-length]="70"
            class="form-control"
            formControlName="affair" />
        </form-field>

        <form-field
          class="col-md-2"
          label="Estatus"
          [control]="proceedingForm.get('statusProceedings')">
          <input
            type="text"
            [style.color]="
              controls.statusProceedings.value == 'CERRADA' ? 'red' : 'green'
            "
            class="form-control"
            formControlName="statusProceedings"
            readonly />
        </form-field>
      </div>
      <div class="row pt-4">
        <form-field
          class="col-md-4"
          label="Fecha de Recepción"
          [control]="proceedingForm.get('elaborationDate')">
          <input
            type="text"
            class="form-control"
            formControlName="elaborationDate"
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY'
            }" />
        </form-field>
        <form-field
          class="col-md-4"
          label="Fecha de Alcance"
          [control]="proceedingForm.get('datePhysicalReception')">
          <input
            type="text"
            class="form-control"
            formControlName="datePhysicalReception"
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY'
            }" />
        </form-field>
        <form-field
          class="col-md-4"
          label="Fecha de Intergracion"
          [control]="proceedingForm.get('closeDate')">
          <input
            type="text"
            #closeDate
            class="form-control"
            formControlName="closeDate"
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY'
            }" />
        </form-field>
      </div>
      <div class="row pt-4">
        <form-field
          class="col-md-9"
          label="Observaciones"
          [control]="proceedingForm.get('observations')">
          <textarea
            rows="3"
            maxlength="1000"
            class="form-control"
            formControlName="observations"></textarea>
        </form-field>
        <div class="col-md-3">
          <button
            (click)="closeProceeding()"
            class="btn btn-secondary btn-sm active"
            *ngIf="controls.statusProceedings.value != 'CERRADA'">
            Cerrar Acta
          </button>
          <button
            class="btn btn-secondary btn-sm active"
            *ngIf="controls.statusProceedings.value == 'CERRADA'">
            Sacar bienes
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col d-flex justify-content-between">
        <div>
          <h5>Folio de Escaneo: {{ controls.universalFolio.value }}</h5>
        </div>
        <div>
          <button
            [disabled]="loadingReport"
            (click)="scanRequest()"
            type="button"
            class="btn btn-primary active btn-sm">
            {{ loadingReport ? 'Cargando' : 'Solicitud' }}
            <i class="bx bx-printer bx-sm float-icon"></i>
            <img
              [style.width.px]="20"
              *ngIf="loadingReport"
              src="assets/images/loader-button.gif"
              alt="loading" />
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary active btn-sm"
            (click)="scan()">
            Escaneo <i class="bx bx-printer bx-sm float-icon"></i>
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary active btn-sm"
            (click)="printReport()">
            Imprimir <i class="bx bx-printer bx-sm float-icon"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <hr />
      <div class="col-md-6">
        <div [class]="loadingActReception ? 'table-loading' : ''">
          <div class="table-responsive">
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loadingActReception ? '0px' : '250px' }">
              <ng2-smart-table
                [attr.class]="'table-bordered'"
                [settings]="settings4"
                [source]="actaList2"></ng2-smart-table>
            </ng-scrollbar>
          </div>
          <app-pagination
            [params]="params5"
            [totalItems]="totalItems5"></app-pagination>
        </div>
      </div>
      <div class="col-md-6">
        <div [class]="loadingDictation ? 'table-loading' : ''">
          <div class="table-responsive">
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loadingDictation ? '0px' : '250px' }">
              <ng2-smart-table
                [attr.class]="'table-bordered'"
                [settings]="settings5"
                [source]="dictaList2"></ng2-smart-table>
            </ng-scrollbar>
          </div>
          <app-pagination
            [params]="params6"
            [totalItems]="totalItems6"></app-pagination>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="row pt-2">
          <div class="col-md-12 text-center mt-4 mb-4">
            <button
              tooltip="Agregar Bien"
              containerClass="tooltip-style"
              class="btn btn-secondary btn-sm active m-3 p-1 pointer"
              type="button"
              (click)="insertDetailFromOn()">
              <!-- Mover uno -->
              <i class="bx bx-chevron-down bx-md"></i>
            </button>
            <button
              tooltip="Quitar Bien"
              containerClass="tooltip-style"
              class="btn btn-secondary btn-sm active m-3 p-1 pointer"
              type="button"
              (click)="deleteGood()">
              <!-- Quitar uno -->
              <i class="bx bx-chevron-up bx-md"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6 table-responsive">
        <div class="row">
          <div [class]="loadingGoods ? 'table-loading' : ''">
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loadingGoods ? '0px' : '350px' }">
              <ng2-smart-table
                [attr.class]="'table-bordered'"
                [settings]="settings3"
                [source]="goodPDS1"></ng2-smart-table>
            </ng-scrollbar>
            <app-pagination
              [params]="params8"
              [totalItems]="totalItems3"></app-pagination>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row table-responsive">
          <div [class]="loadingGoodsByP ? 'table-loading' : ''">
            <!-- <div class="table-responsive"> -->
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loadingGoodsByP ? '0px' : '350px' }">
              <ng2-smart-table
                [attr.class]="'table-bordered'"
                [settings]="settings2"
                [source]="detailProceedingsList2"></ng2-smart-table>
            </ng-scrollbar>
            <app-pagination
              [params]="params7"
              [totalItems]="totalItems2"></app-pagination>
          </div>
        </div>

        <div class="row pt-5">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button
                type="button"
                tooltip="Agregar"
                containerClass="tooltip-style"
                class="btn btn-info btn-sm active ml-2 mr-2">
                Insertar vía Archivo plano
                <i class="bx bx-plus bx-sm float-icon"></i>
              </button>
            </div>
            <div class="m-3">
              <button
                type="button"
                tooltip="Agregar"
                containerClass="tooltip-style"
                class="btn btn-info btn-sm active ml-2 mr-2"
                (click)="insertFromGoodsTracker()">
                Insertar vía rastreador
                <i class="bx bx-plus bx-sm float-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>

<ng-template #modal>
  <app-modal>
    <div header>
      <h5 class="modal-title">Lista de bienes rechazados</h5>
    </div>
    <div body>
      <div class="row" style="margin-top: -50px !important">
        <div class="col-md-12">
          <ul>
            <li *ngFor="let good of refusedGoods">
              <p>Bien: {{ good }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div footer>
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <!-- <button type="button" class="btn btn-primary active" (click)="hideObservations()">
                  Guardar
                </button> -->
        </div>
        <div class="m-3">
          <button
            type="button"
            class="btn btn-danger active btn-sm"
            (click)="hideRefusedGoods()">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </app-modal>
</ng-template>
