/* label {
    color: #7d788d;

    span {
        font-size: smaller;
        font-weight: 600;
    }
} */

.custom-label {
  color: black; //#7d788d;
  font-weight: 500;
  padding-left: 1.2%;
  font-size: small;

  span {
    font-size: smaller;
    font-weight: 400;
  }
}

.msg-required {
  color: blue;
  span {
    color: #9d2449;
  }
}

:host ::ng-deep app-good-characteristics-table {
  .table-container > div {
    margin-left: 13px;
  }

  .value {
    min-width: 15rem;
  }

  ng2-smart-table table tr {
    td {
      &:nth-child(2) {
        padding: 0.5em 1em;
      }
    }
  }
}

:host ::ng-deep .fixTopInput {
  form-field {
    .float-label {
      top: -18px;
    }
  }
}

form-loader {
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 2;
  background: #00000005;
}
