<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">{{ param }}</h5>
  </div>

  <div body>
    <div class="row">
      <div class="col-12">
        <h5 class="around-tag">
          Propuestas de Inventarios para Donaci&oacute;n
        </h5>
      </div>
    </div>

    <div class="">
      <form class="form-material form-horizontal p-2" [formGroup]="form">
        <div class="row mt-5 justify-content-start justify-content-sm-end">
          <div class="col-md-3">
            <div class="mb-3 pl-4 pr-4">
              <form-field
                [control]="form.get('warehouseNumb')"
                label="No. Almac&eacute;n">
                <input
                  type="text"
                  class="form-control"
                  [maxlength]="10"
                  formControlName="warehouseNumb" />
              </form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3 pl-4 pr-4">
              <form-field
                [control]="form.get('coordination')"
                label="Coordinaci&oacute;n">
                <input
                  type="text"
                  class="form-control"
                  [maxlength]="10"
                  formControlName="coordination" />
              </form-field>
            </div>
          </div>
          <div class="col text-left">
            <button
              class="btn btn-primary btn-sm active mr-2"
              (click)="searchGoodDonac()">
              Consultar
            </button>
            <button class="btn btn-secondary btn-sm active">Seleccionar</button>
          </div>
          <div class="col-md-3 mt-md-0 text-center text-md-right">
            <button
              class="btn btn-success btn-sm active mr-2"
              (click)="exportInventory()">
              Exportar Inventario
            </button>
            <button
              class="btn btn-primary btn-sm active"
              (click)="callReport()">
              Imprimir
            </button>
          </div>
        </div>
      </form>

      <div class="row justify-content-end mt-5">
        <div class="col-12 buttons pt-3 text-right">
          <app-columns-select
            (settingsChange)="settingsChange($event, 1)"
            [settings]="settings">
          </app-columns-select>
        </div>
      </div>

      <div class="row mt-5">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings"
          [source]="data1">
        </ng2-smart-table>
      </div>

      <app-divider></app-divider>

      <div class="row mt-5">
        <div class="col-12">
          <h5 class="around-tag">
            Inventario de Bienes Relacionados a la Propuesta de Inventarios para
            Donaci&oacute;n
          </h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 col-md-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="font-size-14">No. Almac&eacute;n:</h5>
            </div>
            <div class="ml-2">
              <span class="badge rounded-pill badge-soft-success">1</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="font-size-14">Almac&eacute;n:</h5>
            </div>
            <div class="ml-2">
              <span class="badge rounded-pill badge-soft-success">1</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="font-size-14">Id. Donatorio:</h5>
            </div>
            <div class="ml-2">
              <span class="badge rounded-pill badge-soft-success">1</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="font-size-14">Donatorio:</h5>
            </div>
            <div class="ml-2">
              <span class="badge rounded-pill badge-soft-success">1</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="font-size-14">No. Coordinaci&oacute;n:</h5>
            </div>
            <div class="ml-2">
              <span class="badge rounded-pill badge-soft-success">1</span>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="font-size-14">Coordinaci&oacute;n:</h5>
            </div>
            <div class="ml-2">
              <span class="badge rounded-pill badge-soft-success">1</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-end mt-5">
        <div class="col-md-5 buttons pt-3 text-right">
          <app-columns-select
            (settingsChange)="settingsChange($event, 2)"
            [settings]="settings2">
          </app-columns-select>
        </div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>

      <div class="row mt-5">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings2"
          [source]="data2">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</app-card>
