<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Bienes Parcializados</h5>
    <div
      style="margin-top: 12.5px"
      [class]="loading || loadingExcel || items.length === 0 ? 'disabled' : ''"
      (click)="exportExcel()">
      <app-excel-report
        [elementToExport]="elementToExport"
        [externalClick]="flagDownload"
        [nameExcel]="'Reporte Bienes Parcializados.xlsx'"></app-excel-report>
    </div>
  </div>

  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="col-lg-7 col-md-12">
        <div class="row pt-4">
          <div class="col-lg-12 p-0">
            <div [class]="loading ? 'table-loading' : 'scroll-table'">
              <ng2-smart-table
                [attr.class]="'table-bordered table-responsive'"
                [settings]="settings"
                [source]="data"
                (userRowSelect)="select($event.data.goodNumber)">
              </ng2-smart-table>
            </div>
          </div>
        </div>
        <app-pagination [params]="params" [totalItems]="totalItems">
        </app-pagination>
      </div>
      <div class="col-lg-5 col-md-12">
        <app-partialized-tree-view
          [items]="itemsTree"
          [loading]="loadingTree"></app-partialized-tree-view>
      </div>
    </form>
  </div>
</app-card>
