.scroll-table {
  height: 350px;
  overflow-y: auto;
}

.scroll-tree {
  height: 323px;
  overflow: auto;
}

.tree-loading {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('../../../../assets/images/loader-button.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  z-index: 100;
  content: '';
  height: 323px;
}

.tree-description {
  margin-top: 10px;
  height: 137px;
  overflow: auto;
  border: 1px solid #b3b3b3;
  padding: 15px;
}

.scroll-table::-webkit-scrollbar {
  width: 20px;
}

.scroll-table::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-table::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scroll-table::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

:host ::ng-deep ng2-smart-table tr.available td {
  color: #28a745 !important;
}

:host ::ng-deep ng2-smart-table tr.not-available td {
  color: #dc3545 !important;
}
