<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form [formGroup]="catserviceForm" class="form-material">
      <div class="row">
        <div class="col-md-6">
          <form-field
            [control]="catserviceForm.get('code')"
            label="C&oacute;digo">
            <input type="string" class="form-control" formControlName="code" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field
            [control]="catserviceForm.get('subaccount')"
            label="Subcuenta">
            <input
              type="text"
              class="form-control"
              formControlName="subaccount" />
          </form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form-field
            [control]="catserviceForm.get('description')"
            label="Descripci&oacute;n">
            <textarea
              type="text"
              class="form-control"
              formControlName="description">
            </textarea>
          </form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form-field [control]="catserviceForm.get('cost')">
            <!--<input type="text" class="form-control" formControlName="cost" />-->
            <div class="row">
              <div class="col-md-4">
                <form-radio label="Gastos">
                  <input type="radio" formControlName="cost" value="GASTO" />
                </form-radio>
              </div>
              <div class="col-md-4">
                <form-radio label="Costos">
                  <input type="radio" formControlName="cost" value="COSTO" />
                </form-radio>
              </div>
            </div>
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field
            label="Clave Relación Bien"
            [control]="catserviceForm.get('unaffordabilityCriterion')">
            <ng-select
              formControlName="unaffordabilityCriterion"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="Y">Si</ng-option>
              <ng-option value="N">No</ng-option>
            </ng-select>
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="catserviceForm.invalid"
          [loading]="loading"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
