:host ::ng-deep ng2-smart-table {
  .goodDescription {
    min-width: 30rem !important;
  }

  .goodDescription {
    min-width: 40rem !important;
  }

  .goodTypeId {
    min-width: 20rem !important;
  }

  .fractionId {
    min-width: 40rem !important;
  }
}
