<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Registro de Avalúos</h5>
    </div>
  </div>
  <div body>
    <div class="row">
      <appraisal-event-form
        [comerEventForm]="comerEventForm"
        [global]="global"
        [screen]="screen"
        [searchGoods]="searchGoods"></appraisal-event-form>
    </div>
    <div class="row">
      <tabset [justified]="true" class="fill-custom-tab" #tasksTabs>
        <tab heading="Bienes">
          <appraisal-goods-table
            [comerEventForm]="comerEventForm"
            [global]="global"
            [screen]="screen"
            [searchGoods]="searchGoods"
            [$selectedAppraisal]="$selectedAppraisal"
            [$downloadGoodsFormat]="
              $downloadGoodsFormat
            "></appraisal-goods-table>
        </tab>
        <tab heading="Avalúos">
          <ng-container *ngIf="!($showRejected | async)">
            <app-appraisal-list
              [comerEventForm]="comerEventForm"
              [global]="global"
              [screen]="screen"
              [searchGoods]="searchGoods"
              [$selectedAppraisal]="$selectedAppraisal"></app-appraisal-list>

            <appraisal-detail-list
              [comerEventForm]="comerEventForm"
              [global]="global"
              [screen]="screen"
              [$downloadGoodsFormat]="$downloadGoodsFormat"
              [searchGoods]="searchGoods"
              [$selectedAppraisal]="$selectedAppraisal"
              [$showRejected]="$showRejected"
              [$rejectedDisscount]="$rejectedDisscount"
              [$rejectedDisscount]="$rejectedDisscount"
              [$appraisedRejectedList]="$appraisedRejectedList"
              [$appraisedRejectedDList]="$appraisedRejectedDList"
              [$appraisedRejectedGoodsList]="$appraisedRejectedGoodsList"
              [$appraisedRejectedGoodsDList]="
                $appraisedRejectedGoodsDList
              "></appraisal-detail-list>
          </ng-container>
          <ng-container *ngIf="$showRejected | async">
            <appraised-rejecteds-list
              [$showRejected]="$showRejected"
              [$rejectedDisscount]="$rejectedDisscount"
              [$appraisedRejectedList]="$appraisedRejectedList"
              [$appraisedRejectedDList]="$appraisedRejectedDList"
              [$appraisedRejectedGoodsList]="$appraisedRejectedGoodsList"
              [$appraisedRejectedGoodsDList]="
                $appraisedRejectedGoodsDList
              "></appraised-rejecteds-list>
            <appraised-rejecteds-goods-list
              [$showRejected]="$showRejected"
              [$rejectedDisscount]="$rejectedDisscount"
              [$appraisedRejectedList]="$appraisedRejectedList"
              [$appraisedRejectedDList]="$appraisedRejectedDList"
              [$appraisedRejectedGoodsList]="$appraisedRejectedGoodsList"
              [$appraisedRejectedGoodsDList]="
                $appraisedRejectedGoodsDList
              "></appraised-rejecteds-goods-list>
          </ng-container>
        </tab>
      </tabset>
    </div>
  </div>
</app-card>
