<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="revisionReasonForm">
      <div class="row">
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('initialStatus')"
            label="Estado Inicial">
            <input
              type="text"
              class="form-control"
              formControlName="initialStatus" />
          </form-field>
        </div>
      </div>
      <div class="row pt-md-5">
        <div class="col-12 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('descriptionCause')"
            label="Descripci&oacute;n">
            <textarea
              rows="2"
              class="form-control pt-3"
              formControlName="descriptionCause">
            </textarea>
          </form-field>
        </div>
      </div>
      <div class="row pt-md-5">
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('goodType')"
            label="Tipo Bien">
            <input
              type="text"
              class="form-control"
              formControlName="goodType" />
          </form-field>
        </div>
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('statusRev')"
            label="Estado de Revisi&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="statusRev" />
          </form-field>
        </div>
      </div>
      <div class="row pt-md-5">
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('managerArea')"
            label="&Aacute;rea Responsable">
            <input
              type="text"
              class="form-control"
              formControlName="managerArea" />
          </form-field>
        </div>
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('statusPurpose')"
            label="Estado Final">
            <input
              type="text"
              class="form-control"
              formControlName="statusPurpose" />
          </form-field>
        </div>
      </div>
      <div class="row pt-md-5">
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('screen')"
            label="Pantalla">
            <input type="text" class="form-control" formControlName="screen" />
          </form-field>
        </div>
        <div class="col-md-6 pt-sm-5 pt-md-2">
          <form-field
            [control]="revisionReasonForm.get('parameter')"
            label="Par&aacute;metro">
            <input
              type="text"
              class="form-control"
              formControlName="parameter" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button [loading]="loading" (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
