<form class="form-material" [formGroup]="form">
  <app-card [header]="true">
    <div header>
      <div class="ch-content">
        <h5 class="title">
          OFICIOS DE AUTORIZACI&Oacute;N DE DESTRUCCI&Oacute;N
        </h5>
      </div>
    </div>

    <div body>
      <div class="row">
        <div class="col-md-3">
          <form-field [control]="form.get('idExpedient')" label="No. Exp.">
            <input
              type="number"
              class="form-control"
              formControlName="idExpedient" />
          </form-field>
        </div>
        <div class="col">
          <div class="justify-content-start">
            <button
              (click)="expedientChange()"
              type="button"
              class="btn btn-primary active btn-sm mr-3">
              Buscar <i class="bx bx-search-alt bx-sm float-icon"></i>
            </button>
            <button (click)="clean()" class="btn btn-danger btn-sm active mr-3">
              Limpiar <i class="fas fa-eraser"> </i>
            </button>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-4">
          <form-field
            [control]="form.get('preliminaryInquiry')"
            label="Averiguaci&oacute;n Previa">
            <input
              type="text"
              class="form-control"
              formControlName="preliminaryInquiry" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="form.get('criminalCase')" label="Causa Penal">
            <input
              type="text"
              class="form-control"
              formControlName="criminalCase" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="form.get('circumstantialRecord')"
            label="Acta Circunstanciada">
            <input
              type="text"
              class="form-control"
              formControlName="circumstantialRecord" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-4">
          <form-field [control]="form.get('keyPenalty')" label="Toca Penal">
            <input
              type="text"
              class="form-control"
              formControlName="keyPenalty" />
          </form-field>
        </div>

        <div class="col">
          <button
            [disabled]="textDisabled"
            (click)="addGood()"
            type="button"
            tooltip="Agregar"
            containerClass="tooltip-style"
            class="btn btn-info btn-sm active ml-2 mr-2">
            Agregar <i class="bx bx-plus bx-sm float-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </app-card>

  <app-card>
    <div body>
      <div class="row pt-5">
        <div class="col-md-2">
          <form-field [control]="form.get('noAuth')" label="No. Acta">
            <input
              type="text"
              class="form-control"
              formControlName="noAuth"
              minlength="1"
              maxlength="10" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="form.get('authNotice')"
            label="Oficio de Autorizaci&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="authNotice" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('fromDate')" label="Fecha">
            <input
              type="text"
              class="form-control"
              bsDatepicker
              formControlName="fromDate"
              [bsConfig]="bsConfig" />
          </form-field>
        </div>
        <div class="col">
          <div class="justify-content-start">
            <button (click)="masive()" class="btn btn-sm btn-info mr-3">
              <i class="fa fa-arrow-down"></i>
            </button>
            <button
              (click)="closed()"
              type="button"
              class="btn btn-sm btn-danger active"
              [disabled]="textDisabled">
              {{ textButton }}
            </button>
          </div>
        </div>
      </div>

      <div class="ch-content">
        <h5 class="title">&nbsp;</h5>
        <div class="row justify-content-end mr-1">
          <div class="col-12">
            <app-columns-select
              [(settings)]="settings"
              class="row justify-content-end">
            </app-columns-select>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-12">
          <div [class]="loading ? 'table-loading' : ''">
            <ng2-smart-table
              [attr.class]="'table-bordered table-responsive'"
              [settings]="settings"
              [source]="data"
              (userRowSelect)="selectRow($event.data)">
            </ng2-smart-table>
          </div>
        </div>
      </div>
      <app-pagination [params]="params" [totalItems]="totalItems">
      </app-pagination>

      <div class="row">
        <div class="d-flex justify-content-between">
          <div>
            <span class="text-success mr-5"
              ><i class="fa fa-square"></i> Disponibles</span
            >
            <span class="text-dark"
              ><i class="fa fa-square"></i> No disponibles</span
            >
          </div>

          <div>
            <div class="row">
              <div class="col-md-12 text-right">
                <button
                  [disabled]="textDisabled"
                  type="button"
                  class="btn btn-success btn-sm active"
                  (click)="fileExcel.click()">
                  Insertar vía archivo plano
                  <i class="bi bi-file-earmark-excel-fill"></i>
                </button>
                <input
                  type="file"
                  (change)="ReadExcel($event)"
                  name="fileExcel"
                  #fileExcel
                  class="d-none"
                  accept=".xlsx, .xls, .csv, application/vnd.ms-excel" />
              </div>
            </div>
            <!-- <div class="row">
              <small>
                Seleccionar archivo de la ruta:
                src\app\pages\executive-processes\filesTest
              </small>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <app-scan-file-shared
          [form]="form"
          [formControlName]="'universalFolio'"
          [cveDocument]="form.get('act').value"
          [noExpedient]="expediente"
          [actaSC]="true"
          [statusProceeding]="form.get('statusAct').value"
          [cveScreen]="'FACTDIRAPROBDESTR'"
          [reportPrint]="'RGERGENSOLICDIGIT'">
        </app-scan-file-shared>
      </div>
    </div>
  </app-card>
</form>
