<app-event-form
  [address]="address"
  [selectNewEvent]="selectNewEvent"
  [eventService]="eventService"
  [eventColumns]="eventColumns"
  [ilikeFilters]="ilikeFilters"
  [dateFilters]="dateFilters"
  [pathEvent]="pathEvent"
  [functionFilterName]="'getAllFilterSelf2'"
  (resetEvent)="resetSelected()"
  (selectEventEmit)="selectEvent($event)">
  <div class="row pt-3">
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-primary btn-sm active"
        [disabled]="!validConvert"
        (click)="convierte()">
        Convertir
      </button>
    </div>
  </div></app-event-form
>
