:host ::ng-deep ng2-smart-table {
  .startVisitDate {
    min-width: 18rem;
  }

  .endVisitDate {
    min-width: 18rem;
  }

  .descriptionGood {
    min-width: 50rem;
  }

  .delegationDescrip {
    min-width: 30rem;
  }
}
