<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Lotes pendientes de pagos</h5>
    </div>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <form-field [control]="form.get('event')">
            <ngx-select
              [form]="form"
              [data]="evento"
              label="Evento"
              bindLabel="evento"
              value="id_evento"
              (fetchItems)="getEvent($event)"
              control="event">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-primary active btn-sm m-2"
            [disabled]="!form.valid"
            (click)="lineaCaptura()">
            Buscar
            <i class="bx bx-search-alt bx-sm float-icon"></i>
          </button>
          <button
            class="btn btn-sm btn-success active m-2"
            (click)="exportXlsx()">
            Exportar a Excel
            <i class="bx bx-download float-icon"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="row pt-5">
      <div class="ch-content" header>
        <h5 class="title">
          L&iacute;neas de Captura del cliente para el lote p&uacute;blico
        </h5>
        <div class="col-md-5 buttons">
          <div class="row">
            <div class="col-md-8 mb-3"></div>
            <div class="col-md-4 text-end d-flex flex-row-reverse mb-3">
              <div>
                <button
                  type="button"
                  tooltip="Nuevo"
                  containerclass="tooltip-style"
                  class="btn btn-primary active btn-sm ml-2 mr-2"
                  (click)="aceptar()">
                  Aceptar
                </button>
              </div>
              <app-columns-select [(settings)]="settings"></app-columns-select>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-3">
        <ng2-smart-table [settings]="settings" [source]="data">
        </ng2-smart-table>
      </div>
      <app-pagination [params]="params" [totalItems]="totalItems">
      </app-pagination>
    </div>
    <div class="row pt-5">
      <div class="ch-content" header>
        <h5 class="title">L&iacute;neas de captura de clientes</h5>
        <div class="col-md-5 buttons">
          <app-columns-select [(settings)]="settings2"></app-columns-select>
        </div>
      </div>
      <div class="table-responsive mt-3">
        <ng2-smart-table
          [settings]="settings2"
          [source]="data1"
          (userRowSelect)="selectData($event)"></ng2-smart-table>
      </div>
    </div>
    <app-pagination [params]="params1" [totalItems]="totalItems1">
    </app-pagination>
  </div>
</app-card>
