<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Dictaminación para devolución</h5>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field [control]="form.get('numberFile')" label="No Expediente">
            <input
              type="text"
              class="form-control"
              formControlName="numberFile" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('causePenal')" label="Causa penal">
            <input
              type="text"
              class="form-control"
              formControlName="causePenal" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('preliminaryInquiry')"
            label="Averiguación previa">
            <input
              type="text"
              class="form-control"
              formControlName="preliminaryInquiry" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('dateReturn')"
            label="Fecha de Devolución">
            <input
              type="text"
              class="form-control"
              formControlName="dateReturn"
              bsDatepicker />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('numberGood')" label="No Bien">
            <input
              type="text"
              class="form-control"
              formControlName="numberGood" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('description')" label="Descripción">
            <input
              type="text"
              class="form-control"
              formControlName="description" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('statusGood')"
            label="Estatus del bien">
            <input
              type="text"
              class="form-control"
              formControlName="statusGood" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('statusRuling')"
            label="Estatus Dictaminación">
            <input
              type="text"
              class="form-control"
              formControlName="statusRuling" />
          </form-field>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <form-field [control]="form.get('observation')" label="Observacion">
            <input
              type="text"
              class="form-control"
              formControlName="observation" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="approve()">
                Aprobar
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings"
          [source]="data">
        </ng2-smart-table>
        <app-pagination
          [params]="params"
          [totalItems]="totalItems"></app-pagination>
      </div>
    </form>
  </div>
</app-card>
