<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Monitor de abandono por devoluci&oacute;n</h5>
  </div>
  <div body>
    <div [class]="loading ? 'table-loading' : ''">
      <form [formGroup]="form" class="form-material">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <!--form-field [control]="form.get('numberGood')" label="No Bien">
              <ng-select [items]="itemsJsonBienes" bindLabel="id" bindValue="goodId" formControlName="numberGood"
                         class="form-control">
              </ng-select>
            </form-field-->
            <form-field [control]="form.get('goodNumber')" label="No Bien">
              <input
                type="text"
                class="form-control"
                formControlName="goodNumber"
                (keyup.enter)="onEnter()" />
            </form-field>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('goodDescription')"
              label="Descripci&oacute;n">
              <input
                type="text"
                class="form-control"
                formControlName="goodDescription" />
            </form-field>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('goodStatus')"
              label="Descripci&oacute;n Estatus">
              <input
                type="text"
                class="form-control"
                formControlName="goodStatus" />
            </form-field>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <form-field [control]="form.get('typeGood')" label="Tipo de Bien">
              <input
                type="text"
                class="form-control"
                formControlName="typeGood" />
            </form-field>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('dateReturn')"
              label="Fecha Devoluci&oacute;n">
              <input
                type="text"
                class="form-control"
                formControlName="dateReturn"
                bsDatepicker />
            </form-field>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('notificationDate')"
              label="Notificado el">
              <input
                type="text"
                class="form-control"
                formControlName="notificationDate"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                bsDatepicker />

              <!--input  type="text"
                      class="form-control"
                            formControlName="notificationDate">

            <span>{{formatted}}</span-->
            </form-field>
          </div>
        </div>
        <hr />

        <div class="row mt-5">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('suspensionDate')"
              label="Fecha de Suspensi&oacute;n">
              <input
                type="text"
                class="form-control"
                formControlName="suspensionDate"
                bsDatepicker />
            </form-field>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('notificationDate1')"
              label="Fecha de Notificaci&oacute;n">
              <input
                type="text"
                class="form-control"
                formControlName="notificationDate1"
                bsDatepicker />
            </form-field>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('currentDays')"
              label="D&iacute;as Corrientes">
              <input
                type="text"
                class="form-control"
                formControlName="currentDays" />
            </form-field>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('daysTerm')"
              label="D&iacute;as de Plazo">
              <input
                type="text"
                class="form-control"
                formControlName="daysTerm" />
            </form-field>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <form-field
              [control]="form.get('daysExpiration')"
              label="D&iacute;as para vencimiento">
              <input
                type="text"
                class="form-control"
                formControlName="daysExpiration" />
            </form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-center">
              <div class="m-3">
                <button
                  (click)="reason()"
                  type="button"
                  class="btn btn-primary btn-sm active">
                  Motivo
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-center">
              <div class="m-3">
                <button
                  type="button"
                  class="btn btn-success btn-sm active"
                  (click)="updateRegistro()">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <form-check
              label="Suspensi&oacute;n Temporal"
              for="temporarySuspension">
              <input
                id="temporarySuspension"
                type="checkbox"
                formControlName="temporarySuspension" />
            </form-check>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <form-check
              label="Suspensi&oacute;n Definitiva"
              for="definitiveSuspension">
              <input
                id="definitiveSuspension"
                type="checkbox"
                formControlName="definitiveSuspension" />
            </form-check>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-card>
