<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">DICTAMINACIONES JUR&Iacute;DICAS</h5>
  </div>

  <div body>
    <form [formGroup]="legalForm" class="container-fluid form-material">
      <div class="row">
        <div class="col-sm-12 col-12 col-md-12 col-lg-12 p-2">
          <div class="row mt-5">
            <!-- <div class="col-sm-12 col-12 col-md-2 p-2"> -->
            <!-- <div class="col-md-6"> -->
            <div class="col-md-4">
              <div class="row">
                <form-field [control]="legalForm.get('tipoDictaminacion')">
                  <ngx-select
                    [searchOnInit]="true"
                    [data]="typesDict"
                    [form]="legalForm"
                    label="Tipo de dictaminación"
                    bindLabel="typeDict"
                    control="tipoDictaminacion"
                    (change)="onTypeDictChange($event)"></ngx-select>
                </form-field>
              </div>
              <div class="row mt-3">
                <form-field
                  [control]="expedientesForm.get('noExpediente')"
                  label="No Expediente">
                  <input
                    type="number"
                    class="form-control"
                    (blur)="changeNumExpediente()"
                    formControlName="noExpediente"
                    (keypress)="onKeyPress($event)" />
                </form-field>
              </div>
              <div class="row mt-3">
                <form-field
                  [control]="legalForm.get('preliminaryInquiry')"
                  label="Averiguaci&oacute;n Previa">
                  <input
                    class="form-control"
                    formControlName="preliminaryInquiry" />
                </form-field>
              </div>
              <div class="row mt-3">
                <form-field
                  [control]="legalForm.get('criminalCase')"
                  label="Causa Penal">
                  <input class="form-control" formControlName="criminalCase" />
                </form-field>
              </div>
            </div>

            <div class="col-md-2">
              <div class="row ps-4">
                <form-radio label="Normal">
                  <input type="radio" formControlName="tipo" value="Normal" />
                </form-radio>
                <form-radio label="Paquete">
                  <input type="radio" formControlName="tipo" value="Paquete" />
                </form-radio>
              </div>
            </div>

            <div class="col-md-6">
              <div class="col-md-6">
                <div class="row">
                  <form-field
                    [control]="legalForm.get('label')"
                    label="Etiqueta">
                    <input
                      formControlName="label"
                      class="form-control"
                      bsDatepicker />
                  </form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <form-field
                    [control]="legalForm.get('fecDicta')"
                    label="Fec&#46; Dictamina">
                    <input
                      formControlName="fecDicta"
                      class="form-control"
                      bsDatepicker />
                  </form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <form-field
                    [control]="legalForm.get('fecDicta')"
                    label="Fec. Notif Aseg">
                    <input
                      formControlName="fecDicta"
                      class="form-control"
                      bsDatepicker />
                  </form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <form-field
                    [control]="legalForm.get('fecDicta')"
                    label="Fecha resolución">
                    <input
                      formControlName="fecDicta"
                      class="form-control"
                      bsDatepicker />
                  </form-field>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-6 mt-3">
                <div class="row">
                  <form-field
                    [control]="legalForm.get('fecDicta')"
                    label="Fecha notificación">
                    <input
                      formControlName="fecDicta"
                      class="form-control"
                      bsDatepicker />
                  </form-field>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="row">
                  <form-field
                    [control]="legalForm.get('cveOficio')"
                    label="Cve&#46; Oficio">
                    <input
                      class="form-control"
                      #cveOficio
                      formControlName="cveOficio" />
                  </form-field>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-12 text-danger text-end">
                  <b>Estatus </b>
                  <b> {{ statusDict }}</b>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <form-check
                  class="col-md-12"
                  label="&#191;El expediente es delito propiedad intelectual&#63;"
                  for="esPropiedad">
                  <input
                    id="esPropiedad-check"
                    type="checkbox"
                    class="form-control"
                    formControlName="esPropiedad" />
                </form-check>
              </div>
              <div class="row mt-5">
                <form-field
                  [control]="legalForm.get('observations')"
                  label="Observaciones del Dictamen">
                  <textarea
                    rows="3"
                    class="form-control"
                    formControlName="observations"></textarea>
                </form-field>
              </div>
            </div>

            <!-- <div class="col-sm-12 col-12 col-md-3 col-lg-3 p-2">
              <form-field
                [control]="legalForm.get('autoriza')"
                label="Autoriza Dict&#46;">
                <select class="form-control" formControlName="autoriza">
                  <option [value]="null">Seleccione un valor</option>
                </select>
              </form-field>
            </div> -->
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="subtipoForm" class="container-fluid form-material">
      <div class="row">
        <div class="col-sm-12 col-12 col-md-12 col-lg-12 p-2">
          <div class="row">
            <div class="col-md-3">
              <form-field
                [control]="subtipoForm.get('tipoDictaminacion')"
                label="Ident&#46;">
                <select
                  class="form-control"
                  formControlName="tipoDictaminacion">
                  <option [value]="null">Seleccione un valor</option>
                  <option [value]="'Alta'">Alta</option>
                  <option [value]="'Normal'">Normal</option>
                </select>
              </form-field>
            </div>
            <!-- <div class="mb-5 b-block w-100"></div> -->
            <div class="col-md-9">
              <form-field [control]="subtipoForm.get('subtype')">
                <ngx-select
                  [searchOnInit]="true"
                  (fetchItems)="getSubtypes($event)"
                  [data]="subtypes"
                  [form]="subtipoForm"
                  value="id"
                  label="Subtipo - Ssubtipo - Sssubtipo"
                  bindLabel="nameSubtypeGood"
                  control="subtype"
                  (change)="onSubtypesChange($event)">
                </ngx-select>
              </form-field>
            </div>
            <!-- <div class="col-md-4">
              <form-field [control]="subtipoForm.get('ssubtype')">
                <ngx-select
                  [searchOnInit]="true"
                  (fetchItems)="getSsubtypes($event)"
                  [data]="ssubtypes"
                  [form]="subtipoForm"
                  value="id"
                  label="Ssubtipo"
                  bindLabel="description"
                  control="ssubtype"
                  (change)="onSsubtypesChange($event)">
                </ngx-select>
              </form-field>
            </div> -->
            <!-- <div class="col-md-4">
              <form-field [control]="subtipoForm.get('sssubtype')">
                <ngx-select
                  [searchOnInit]="true"
                  (fetchItems)="getSssubtypes($event)"
                  [data]="sssubtypes"
                  [form]="subtipoForm"
                  value="id"
                  label="Sssubtipo"
                  bindLabel="description"
                  control="sssubtype"
                  (change)="onSssubtypesChange($event)"
                  (change)="onValuesChange($event)">
                </ngx-select>
              </form-field>
            </div> -->
          </div>
        </div>
      </div>
    </form>

    <div class="row pt-2">
      <div class="col-md-12 mt-4 mb-4">
        <hr class="row" />
        <h5 class="title">BIENES</h5>
        <br />
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings1"
          [source]="goods"></ng2-smart-table>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-md-12 text-center mt-4 mb-4">
        <button
          class="btn btn-secondary btn-sm active m-3 p-3 pointer"
          type="button"
          (click)="addSelect()">
          <!-- Mover uno -->
          <i class="bx bx-chevron-down bx-md"></i>
        </button>
        <button
          class="btn btn-secondary btn-sm active m-3 p-3 pointer"
          type="button"
          (click)="addAll()">
          <!-- Mover todos -->
          <i class="bx bx-chevrons-down bx-md"></i>
        </button>
        <button
          class="btn btn-secondary btn-sm active m-3 p-3 pointer"
          type="button"
          (click)="removeAll()">
          <!-- Quitar todos -->
          <i class="bx bx-chevrons-up bx-md"></i>
        </button>
        <button
          class="btn btn-secondary btn-sm active m-3 p-3 pointer"
          type="button"
          (click)="removeSelect()">
          <!-- Quitar uno -->
          <i class="bx bx-chevron-up bx-md"></i>
        </button>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-md-12 mt-4 mb-4">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings2"
          [source]="goodsValid"
          (rowSelect)="rowSelected($event)"></ng2-smart-table>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-md-12">
        <hr class="row" />
      </div>
      <div class="col-md-8">
        <h5 class="title">DOCUMENTOS</h5>
        <div class="row">
          <div class="col-md-10">
            <ng2-smart-table
              [attr.class]="'table-bordered'"
              [settings]="settings3"
              [source]="documents"></ng2-smart-table>
          </div>
          <div class="col-md-2">
            <p class="text-info h5">No&#46; bien</p>
            <p class="text-info h5">{{ idGoodSelected }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button
          class="btn btn-primary btn-sm active m-3"
          [disabled]="isDocsEmpty()"
          (click)="btnApprove()">
          Aprobar
        </button>
        <button
          class="btn btn-danger btn-sm active m-3"
          (click)="btnDeleteDictation()">
          Borrar Dictamen
        </button>
        <button
          class="btn btn-info btn-sm active m-3"
          (click)="btnDocumentos()">
          Documentos
        </button>
        <button class="btn btn-warning btn-sm active m-3" (click)="btnVerify()">
          Parcializar
        </button>
        <button
          class="btn btn-warning btn-sm active m-3"
          (click)="btnDeleteListDocs()">
          Limpiar documentos
        </button>
      </div>
    </div>
  </div>
</app-card>

<app-card [header]="true" *ngIf="listadoDocumentos == true">
  <div class="ch-content" header>
    <h5 class="title">Fecha de Documentos Asociados al Tr&aacute;mite</h5>
  </div>

  <div body>
    <div class="row w-100">
      <div class="col-sm-12 col-12 col-md-12 p-2">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings4"
          [source]="data4"></ng2-smart-table>
      </div>

      <div class="col-12 flex p-2">
        <div class="form-group text-right">
          <button
            class="btn btn-danger active btn-sm m-3"
            (click)="btnCloseDocs()">
            Cerrar Ventana
          </button>
          <button
            class="btn btn-primary active btn-sm m-3"
            (click)="btnSalir()">
            Cargar documentos
          </button>
        </div>
      </div>
    </div>
  </div>
</app-card>
