<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Impresi&oacute;n de Volantes</h5>
  </div>

  <div body>
    <form [formGroup]="flyersForm" class="form-material">
      <div class="row">
        <div class="col-md-4">
          <app-delegation-shared [form]="flyersForm"></app-delegation-shared>
        </div>

        <div class="col-md-2">
          <div class="row pt-3">
            <form-field
              [control]="flyersForm.get('from')"
              label="Numero de volante desde el: ">
              <input
                class="form-control"
                type="number"
                formControlName="from" />
            </form-field>
          </div>

          <div class="row pt-3">
            <form-field [control]="flyersForm.get('from')" label="Hasta el: ">
              <input class="form-control" type="number" formControlName="to" />
            </form-field>
          </div>
        </div>

        <div class="col-md-2">
          <div class="row pt-3">
            <form-field
              [control]="flyersForm.get('fromDate')"
              label="Fecha desde: ">
              <input
                class="form-control"
                formControlName="fromDate"
                bsDatepicker />
            </form-field>
            <div></div>
          </div>
          <div class="row pt-3">
            <form-field [control]="flyersForm.get('toDate')" label="Hasta:">
              <input
                class="form-control"
                formControlName="toDate"
                bsDatepicker />
            </form-field>
            <div></div>
          </div>
        </div>

        <div class="col-md-4">
          <!--<div class="row pt-3">
            <form-field [control]="flyersForm.get('area')">
              <ngx-select
                [form]="flyersForm"
                control="area"
                label="&Aacute;rea de destino"
                [data]="select"></ngx-select>
            </form-field>
          </div>-->
          <app-departments-shared [form]="flyersForm" label="Área Destino">
          </app-departments-shared>
          <div class="row pt-3">
            <form-field
              [control]="flyersForm.get('type')"
              label="Tipo de Asunto">
              <select class="form-control" formControlName="type">
                <option value="A">Administrativo</option>
                <option value="P">Procesal</option>
              </select>
            </form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row pt-3">
            <form-field
              [control]="flyersForm.get('P_IDENTIFICADOR')"
              label="Identificador">
              <input
                class="form-control"
                type="number"
                formControlName="P_IDENTIFICADOR" />
            </form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          text="Imprimir"
          [disabled]="flyersForm.invalid"
          [loading]="loading"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active">Limpiar</button>
      </div>
    </div>
  </div>
</app-card>
