<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">ADMINISTRACIÓN DE CONVERSIÓN DE BIENES</h5>
  </div>

  <div body>
    <form [formGroup]="form" class="form-material">
      <!--Date Form-->
      <!-- <div class="row">
        <div class="justify-content-start">
          <button type="button" class="btn btn-sm btn-primary active mr-3" (click)="searchConversion()">
            Buscar Conversión <i class="fas fa-search"></i>
          </button>
        </div>
      </div> -->
      <div class="row mt-5">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('idConversion')"
            label="Id Conversión">
            <input
              type="number"
              class="form-control"
              formControlName="idConversion"
              [max-length]="10" />
          </form-field>
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12" *ngIf="view">
          <button
            class="btn btn-primary btn-sm active mr-3"
            (click)="passwordId()">
            Ver <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('noBien')"
            label="No. Bien a Convertir">
            <input
              type="number"
              class="form-control"
              formControlName="noBien"
              [max-length]="10"
              (ngModelChange)="detectarCambios()" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('date')" label="Fecha Creación">
            <input
              type="text"
              class="form-control"
              formControlName="date"
              bsDatepicker
              (ngModelChange)="detectarCambios()" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('tipo')">
            <ngx-select
              [data]="dataSelect"
              [form]="form"
              value="value"
              bindLabel="label"
              label="Tipo"
              [control]="'tipo'">
            </ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('noExpediente')"
            label="No. Expediente">
            <input
              type="number"
              class="form-control"
              formControlName="noExpediente"
              [max-length]="10"
              (ngModelChange)="detectarCambios()" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('actaConversion')"
            label="Clave Acta Conversión">
            <input
              type="text"
              class="form-control"
              formControlName="actaConversion"
              [max-length]="200" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <button
            type="button"
            class="btn btn-sm btn-primary active mr-3"
            (click)="onChangeGood()">
            Buscar Bien <i class="fas fa-search"></i>
          </button>

          <button class="btn btn-danger btn-sm active" (click)="clean()">
            Limpiar <i class="fas fa-eraser"></i>
          </button>
        </div>
      </div>
      <app-card>
        <div body>
          <div class="row">
            <h5 class="title mt-0">Datos del Bien</h5>
          </div>
          <div class="row mt-3">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <form-field
                [control]="form.get('desStatus')"
                label="Descripción Estatus">
                <input
                  type="text"
                  class="form-control"
                  formControlName="desStatus"
                  [max-length]="100" />
              </form-field>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <form-field [control]="form.get('actaER')" label="Acta E/R">
                <input
                  type="text"
                  class="form-control"
                  formControlName="actaER"
                  [max-length]="200" />
              </form-field>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <form-field
                [control]="form.get('actaERDate')"
                label="Fecha Acta E/R">
                <input
                  id="disabled"
                  type="text"
                  class="form-control"
                  formControlName="actaERDate"
                  bsDatepicker />
              </form-field>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <form-field
                [control]="form.get('description')"
                label="Descripción">
                <textarea
                  type="text"
                  class="form-control"
                  formControlName="description"
                  [max-length]="1250"></textarea>
              </form-field>
            </div>
          </div>
        </div>
      </app-card>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 mt-1"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 mt-1">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button
                type="button"
                class="btn btn-sm btn-primary active"
                (click)="generatePaswword()"
                [disabled]="saved">
                Generar Contraseña
              </button>
            </div>
            <div class="m-3">
              <button
                type="button"
                tooltip="Nueva"
                containerClass="tooltip-style"
                (click)="newGenerate()"
                class="btn btn-info btn-sm active ml-2 mr-2"
                [disabled]="!view">
                Nueva Conversión <i class="bx bx-plus bx-sm float-icon"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 mt-1"></div>
      </div>

      <!--       <div class="row mt-5" *ngIf="generarPass">
        <div class="d-flex justify-content-center">
          <p>
            Nueva contraseña: &nbsp; &nbsp; <strong>{{ password }}</strong>
          </p>
        </div>
      </div> -->
    </form>
  </div>
</app-card>
