<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">
      DOCUMENTACI&Oacute;N RECIBIDA POR &Aacute;REA EN EL SERA
    </h5>
  </div>

  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <form-field [control]="form.get('delegation')">
            <ngx-select
              [searchOnInit]="true"
              [form]="form"
              (fetchItems)="getDelegations($event)"
              [data]="delegations"
              value="id"
              bindLabel="description"
              label="Delegaci&oacute;n"
              [control]="'delegation'"
              (change)="onDelegationsChange($event)"
              [showTooltip]="true">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="form.get('subdelegation')">
            <ngx-select
              [form]="form"
              (fetchItems)="getSubDelegations($event)"
              [data]="subdelegations"
              value="id"
              bindLabel="description"
              label="Sub Delegaci&oacute;n"
              [control]="'subdelegation'"
              (change)="onSubDelegationsChange($event)"
              [showTooltip]="true">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="form.get('rangeDate')"
            label="Fechas de recepci&oacute;n">
            <input
              class="form-control"
              formControlName="rangeDate"
              bsDaterangepicker
              [maxDate]="today"
              [bsConfig]="{
                dateInputFormat: 'DD-MM-YYYY',
                displayOneMonthRange: true
              }" />
          </form-field>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-4">
          <form-field [control]="form.get('departamentDes')">
            <ngx-select
              [searchOnInit]="true"
              [form]="form"
              (fetchItems)="getAreas($event)"
              [data]="areas"
              value="id"
              bindLabel="dsarea"
              label="Área Destino"
              [control]="'departamentDes'"
              (change)="onValuesChange($event)"
              [showTooltip]="true">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            label="Delegación Destino"
            [control]="form.get('delegationDes')">
            <input
              type="text"
              class="form-control"
              formControlName="delegationDes"
              readonly />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            label="Sub Delegación Destino"
            [control]="form.get('subdelegationDes')">
            <input
              type="text"
              class="form-control"
              formControlName="subdelegationDes"
              readonly />
          </form-field>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [loading]="loading"
          text="Imprimir"
          loadingText="Generando Reporte"
          (confirm)="confirm()"
          [disabled]="!form.valid"></confirm-button>
      </div>
      <div class="m-3">
        <button
          (click)="cleanForm()"
          type="button"
          class="btn btn-danger active">
          Limpiar
        </button>
      </div>
    </div>
  </div>
</app-card>
