<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">&Aacute;ctas de Devoluci&oacute;n</h5>
  </div>

  <div body>
    <div class="row" *ngIf="origin">
      <div class="col-md-12">
        <button class="btn btn-primary active btn-sm" (click)="goBack()">
          Regresar
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
    <form
      [formGroup]="expForm"
      class="form-material justify-content-center"
      (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-4">
          <form-field [control]="expForm.get('expediente')">
            <input
              type="text"
              class="form-control"
              formControlName="expediente"
              [placeholder]="'N&uacute;mero de expediente'" />
          </form-field>
        </div>
        <div class="col-md-2" style="margin-top: 0.5%">
          <button
            type="button"
            class="btn btn-primary active btn-sm"
            (click)="search()">
            Buscar<i class="bx bx-search-alt bx-sm float-icon"></i>
          </button>
        </div>
      </div>
    </form>

    <div>
      <div class="" *ngIf="actaopen">
        <form
          class="form-material form-horizontal"
          [formGroup]="actForm"
          (ngSubmit)="onSubmit()">
          <div class="row mt-5" *ngIf="bcause">
            <div class="col-md-6">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="actForm.get('previewFind')"
                  label="Averiguaci&oacute;n Previa">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="previewFind"
                    readonly />
                </form-field>
              </div>
            </div>
            <div class="col-md-6 mt-2 mb-2">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="actForm.get('penaltyCause')"
                  label="Causa Penal">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="penaltyCause"
                    readonly />
                </form-field>
              </div>
            </div>
          </div>
          <div class="row mt-5" *ngIf="cause">
            <div class="col-md-6">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="actForm.get('noExp')"
                  label="No. Expediente Transferente">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="noExp"
                    readonly />
                </form-field>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-8">
              <div class="mb-3 pl-4 pr-4">
                <form-field [control]="actForm.get('delito')" label="Delito">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="delito"
                    readonly />
                </form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3 pl-4 pr-4">
                <form-field [control]="actForm.get('typeexpe')">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="typeexpe"
                    readonly />
                </form-field>
              </div>
            </div>
          </div>
        </form>
        <hr />
        <!-- Actas (BLoque DAD ) -->
        <form class="form-material" [formGroup]="formadd">
          <div class="row mt-12">
            <div class="col-md-2">
              <form-field [control]="formadd.get('record')" label="Acta">
                <input
                  type="text"
                  class="form-control"
                  formControlName="record"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-2">
              <form-field [control]="formadd.get('status')" label="Estado">
                <input
                  type="text"
                  formControlName="status"
                  class="form-control"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-2">
              <form-field
                [control]="formadd.get('entity')"
                label="Autoridad/Entidad">
                <input
                  type="text"
                  class="form-control"
                  formControlName="entity"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-2">
              <form-field [control]="formadd.get('admin')" label="Admin">
                <input
                  type="text"
                  class="form-control"
                  formControlName="admin"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-2">
              <form-field [control]="formadd.get('folio')" label="Folio">
                <input
                  type="text"
                  class="form-control"
                  formControlName="folio"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-2">
              <form-field [control]="formadd.get('year')" label="Mes/Año">
                <input
                  type="text"
                  class="form-control"
                  formControlName="year"
                  [readonly]="true" />
              </form-field>
            </div>
          </div>
          <div class="row mt-12">
            <div class="col-md-3">
              <form-field [control]="formadd.get('oficea')" label="Acta/Oficio">
                <input
                  type="text"
                  class="form-control"
                  formControlName="oficea"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="formadd.get('autority')"
                label="Autoridad/Juez Ordena">
                <input
                  type="text"
                  formControlName="autority"
                  class="form-control"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="formadd.get('nameEnt')"
                label="Nombre Entrega">
                <input
                  type="text"
                  class="form-control"
                  formControlName="nameEnt"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field [control]="formadd.get('witness')" label="Testigo">
                <input
                  type="text"
                  class="form-control"
                  formControlName="witness"
                  [readonly]="true" />
              </form-field>
            </div>
          </div>
          <div class="row mt-12">
            <div class="col-md-3">
              <form-field
                [control]="formadd.get('dateElab')"
                label="Fecha Elaboración">
                <input
                  type="text"
                  class="form-control"
                  formControlName="dateElab"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="formadd.get('propben')"
                label="Propietario Beneficiario">
                <input
                  type="text"
                  formControlName="propben"
                  class="form-control"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field [control]="formadd.get('audit')" label="Auditor">
                <input
                  type="text"
                  class="form-control"
                  formControlName="audit"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="formadd.get('observations')"
                label="Observaciones">
                <input
                  type="text"
                  class="form-control"
                  formControlName="observations"
                  [readonly]="true" />
              </form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-4" style="text-align: center">
              <form-field [control]="formadd.get('estado')" label="Estado Acta">
                <input
                  type="text"
                  class="form-control"
                  formControlName="estado"
                  [readonly]="true" />
              </form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-1">
              <button
                class="btn btn-primary active btn-sm"
                (click)="validarStatusActa()"
                [disabled]="!open || !labela || !closea"
                *ngIf="labela">
                {{ labelActa }} <i class="bx bx-file bx-sm float-icon"></i>
              </button>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-12 col-12 col-md-3 text-center">
              <button
                [disabled]="!sol"
                tooltip="Generar Folio de Escaneo y Solicitud"
                containerClass="tooltip-style"
                class="btn btn-secondary btn-sm active m-1"
                (click)="initSolicitud()">
                <i class="bx bxs-file-find"></i>
              </button>
              <button
                [disabled]="!folioBoool"
                tooltip="Escanear"
                containerClass="tooltip-style"
                class="btn btn-secondary btn-sm active m-1"
                (click)="openScannerPage()">
                <i class="bx bxs-file"></i>
              </button>
            </div>
            <div class="col-sm-12 col-12 col-md-6 w-100 p-0">
              <div class="col-md-12 col-sm-12 col-12 p-0">
                <div class="col-md-12 col-sm-12 col-xs-12 p-1">
                  <form-field
                    label="Folio De Escaneo"
                    [control]="formadd.get('scanningFoli')">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="scanningFoli"
                      readonly />
                  </form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-12 col-md-3 text-center">
              <button
                [disabled]="!folioBoool"
                tooltip="Imprimir Solicitud de Escaneo"
                containerClass="tooltip-style"
                class="btn btn-secondary btn-sm active m-1"
                (click)="getReport()">
                <i class="bx bxs-file-find"></i>
              </button>
              <button
                [disabled]="!scanBool"
                tooltip="Consulta de Imágenes Escaneadas"
                containerClass="tooltip-style"
                class="btn btn-secondary btn-sm active m-1"
                (click)="openview()">
                <i class="bx bxs-file"></i>
              </button>
            </div>
            <!-- (click)="getReportViewActa()" -->
          </div>
        </form>
        <!-- Bloque VDB (Bienes)-->
        <div class="d-flex justify-content-end mt-5">
          <app-columns-select
            [(settings)]="settingsGoods"
            class="row justify-content-end">
          </app-columns-select>
        </div>
        <div
          class="row pt-2 scroll-table justify-content-center"
          style="margin-left: 5px">
          <ng2-smart-table
            #mySmartTable
            [attr.class]="'table-bordered'"
            [settings]="settingsGoods"
            [source]="goodsList"
            (userRowSelect)="onRowSelect($event)">
          </ng2-smart-table>
        </div>
        <app-pagination [params]="paramsGoods" [totalItems]="totalGoods">
        </app-pagination>

        <div class="col-md-12 text-center mt-4 mb-4">
          <button
            class="btn btn-secondary btn-sm active m-3 p-1 pointer"
            type="button"
            (click)="addSelect()"
            [disabled]="!pass || !nopass">
            <!-- Mover uno -->
            <i class="bx bx-chevron-down bx-md"></i>
          </button>
          <button
            class="btn btn-secondary btn-sm active m-3 p-1 pointer"
            type="button"
            (click)="removeSelect()"
            [disabled]="!delete || !nodelete">
            <!-- Quitar uno -->
            <i class="bx bx-chevron-up bx-md"></i>
          </button>
        </div>

        <!-- BLoque DAD (Detalle Acta)-->

        <div class="d-flex justify-content-end mt-5">
          <app-columns-select
            (settingsChange)="settingsChange($event, 2)"
            [settings]="settingsDetailProceedings">
          </app-columns-select>
        </div>
        <div
          class="row pt-2 scroll-table justify-content-center"
          style="margin-left: 5px">
          <ng2-smart-table
            #mySmartTable
            [attr.class]="'table-bordered'"
            [settings]="settingsDetailProceedings"
            [source]="goodsListTable"
            (userRowSelect)="deleteRowSelect($event)"></ng2-smart-table>
        </div>
        <app-pagination [params]="params" [totalItems]="totalItems">
        </app-pagination>
        <!-- <div class="row">
          <div class="d-flex align-items-center">
            <div class="col-6 align-items-center">
              <div class="mt-5">
                <form
                  class="form-material form-horizontal"
                  [formGroup]="formTable2"
                  (ngSubmit)="onSubmit()">
                  <div
                    class="row mt-5 justify-content-start justify-content-sm-end">
                    <div class="mb-3 pl-4 pr-4">
                      <form-field [control]="formTable2.get('detail')">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="detail"
                          readonly />
                      </form-field>
                    </div>
                  </div>
                </form>
              </div>
            </div>
             <div class="col-6 align-items-center">
              <div class="row">
                <div class="col-6">
                  <span class="text-success mr-5"
                    ><i class="fa fa-square"></i> Disponibles</span
                  >
                </div>
                <div class="col-6">
                  <span class="text-danger"
                    ><i class="fa fa-square"></i> No disponibles</span
                  >
                </div>
              </div>
            </div> 
          </div>
        </div> -->
      </div>
    </div>
  </div>
</app-card>
