<app-modal>
  <div header>
    <h5 class="modal-title">Dictamenes Disponibles</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div class="col-12 mt-2 mb-2">
              <ng2-smart-table
                id="monitorABN"
                (userRowSelect)="selectProceedings($event)"
                [attr.class]="'table-responsive table-bordered'"
                [settings]="settings1"
                [source]="data1">
              </ng2-smart-table>
              <app-pagination
                [filterParams]="params"
                [totalItems]="totalItems"></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button
          type="button"
          class="btn btn-primary btn-sm active"
          (click)="confirm()">
          Seleccionar
        </button>
        <!-- <confirm-button >Seleccionar</confirm-button> -->
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-sm btn-danger active"
          (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
