<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Oficio de dictaminaciones jurídicas</h5>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('file')" label="Expediente">
            <input type="text" class="form-control" formControlName="file" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('numberOfficeDic')"
            label="No Oficio Dic.">
            <input
              type="text"
              class="form-control"
              formControlName="numberOfficeDic" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('typeOffice')" label="Tipo Oficio">
            <select class="form-control" formControlName="typeOffice">
              <option [value]="null">Seleccione un valor</option>
              <option [value]="1">Opcion 1</option>
              <option [value]="2">Opcion 2</option>
            </select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('passwordArmedOffice')"
            label="Cve Oficio Armada">
            <input
              type="text"
              class="form-control"
              formControlName="passwordArmedOffice" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('authorizedDic')"
            label="Autoriza Dic">
            <input
              type="text"
              class="form-control"
              formControlName="authorizedDic" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('name')" label="Nombre">
            <input type="text" class="form-control" formControlName="name" />
          </form-field>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field [control]="form.get('addressee')" label="Destinatario">
            <input
              type="text"
              class="form-control"
              formControlName="addressee" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('nameAddressee')"
            label="Nombre Destinatario">
            <input
              type="text"
              class="form-control"
              formControlName="nameAddressee" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <form-field [control]="form.get('city')" label="Ciudad">
            <input type="text" class="form-control" formControlName="city" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('descriptionCity')"
            label="Descripcion Ciudad">
            <input
              type="text"
              class="form-control"
              formControlName="descriptionCity" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          Estatus oficio [Aqui va el estatus]
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('introductoryParagraph')"
            label="Parrafo Inicial">
            <textarea
              type="text"
              class="form-control"
              formControlName="introductoryParagraph"></textarea>
          </form-field>
        </div>
      </div>

      <hr />
      <div class="row">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings"
          [source]="data">
        </ng2-smart-table>
        <app-pagination
          [params]="params"
          [totalItems]="totalItems"></app-pagination>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('finalParagraph')"
            label="Parrafo Final">
            <textarea
              type="text"
              class="form-control"
              formControlName="finalParagraph"></textarea>
          </form-field>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-center">
              <div class="m-3">
                <button type="button" class="btn btn-primary btn-sm active">
                  Mas Informacion 1
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-center">
              <div class="m-3">
                <button type="button" class="btn btn-secondary btn-sm active">
                  Mas Informacion 2
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-center">
              <div class="m-3">
                <button type="button" class="btn btn-success btn-sm active">
                  Mas Informacion 3
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <form-field [control]="form.get('numberNotary')" label="No Notario">
              <input
                type="text"
                class="form-control"
                formControlName="numberNotary" />
            </form-field>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('ccp_person')" label="Persona Ext.">
            <select class="form-control" formControlName="ccp_person">
              <option [value]="null">Seleccione un valor</option>
              <option [value]="1">Opcion 1</option>
              <option [value]="2">Opcion 2</option>
            </select>
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('ccp_addressee')"
            label="Destinatario">
            <input
              type="text"
              class="form-control"
              formControlName="ccp_addressee" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('ccp_TiPerson')" label="TI Persona">
            <input
              type="text"
              class="form-control"
              formControlName="ccp_TiPerson" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('ccp_person_I')" label="Persona Ext.">
            <select class="form-control" formControlName="ccp_person_I">
              <option [value]="null">Seleccione un valor</option>
              <option [value]="1">Opcion 1</option>
              <option [value]="2">Opcion 2</option>
            </select>
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('ccp_addressee_I')"
            label="Destinatario">
            <input
              type="text"
              class="form-control"
              formControlName="ccp_addressee_I" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('ccp_TiPerson_I')" label="TI Persona">
            <input
              type="text"
              class="form-control"
              formControlName="ccp_TiPerson_I" />
          </form-field>
        </div>
      </div>
    </form>
    <hr />
    <div class="row mt-5">
      <app-scanning-foil></app-scanning-foil>
    </div>
  </div>
</app-card>
