.scheduledTable {
  ng2-smart-table {
    ::ng-deep {
      table {
        tr {
          td:not(:first-child),
          th:not(:first-child) {
            min-width: 110px;
          }
        }
      }
    }
  }
}

.search {
  margin-left: 10px;
  @media screen and (max-width: 796px) {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.rangeDate {
  display: flex;

  @media screen and (max-width: 796px) {
    display: block;
  }
}

// .form-date {
//   background: white;
// }
