<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Mantenimiento y Seguimiento de Eventos</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col">
          <app-select-form
            [form]="form"
            formField="tipoEvento"
            label="Tipo de Evento"
            [list]="tiposEvento"
            [(params)]="paramsTypes"></app-select-form>
        </div>
        <!-- <div class="col">
          <form-field
            [control]="form.get('fechapageFin')"
            label="Fecha de Pago - Fin">
            <input
              class="form-control"
              ngModel
              bsDaterangepicker
              formControlName="fechapageFin" />
          </form-field>
        </div> -->
        <div class="col">
          <form-field [control]="form.get('fechaInicio')" label="Fecha Inicio">
            <input
              bsDatepicker
              class="form-control"
              formControlName="fechaInicio" />
          </form-field>
        </div>
        <div class="col">
          <form-field [control]="form.get('fechaFin')" label="Fecha Fin">
            <input
              bsDatepicker
              class="form-control"
              [minDate]="fechaInicio.value"
              formControlName="fechaFin" />
          </form-field>
        </div>
        <div class="col">
          <app-select-form
            [form]="form"
            formField="statusEvento"
            label="Estatus Evento"
            [list]="statusList"
            [(params)]="paramsStatus"></app-select-form>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col" style="padding: 0; display: flex; align-items: center">
          <form-field
            class="col-md-10"
            [control]="form.get('coordRegional')"
            label="Coord. Regional">
            <textarea
              rows="2"
              formControlName="coordRegional"
              class="form-control"
              readonly></textarea>
          </form-field>
          <!-- <ng2-smart-table
            class="col-md-12"
            [settings]="settings1"
            [source]="data"></ng2-smart-table> -->
          <!-- <div class="col-md-10">
            <span>Coord. Regional</span>
            <hr *ngIf="coordinaciones.length === 0" style="opacity: 0.6" />
            <ul class="list-group" *ngIf="coordinaciones.length > 0">
              <li
                class="list-group-item"
                style="border-top-width: 1px"
                *ngFor="let item of coordinaciones">
                {{ item }}
              </li>
            </ul>
          </div> -->

          <div class="col-md-2">
            <button
              type="button"
              class="btn btn-primary btn-sm active"
              (click)="openModalCoordinaciones()">
              <i class="bx bx-list-plus bx-sm float-icon"></i>
            </button>
          </div>
          <!-- <button
            class="btn btn-primary active"
            type="submit"
            size="small"
            (click)="openModalCoordinaciones()">
            Coord. Regional
          </button> -->
        </div>
        <div class="col">
          <app-select-form
            [form]="form"
            formField="usuario"
            label="Usuario"
            bindLabel="name"
            [getListObservable]="segUsers"
            [(paramsFilter)]="paramsUsers"></app-select-form>
        </div>
      </div>

      <div class="row">
        <div class="col" [class]="loading ? 'disabled' : ''">
          <button
            class="btn btn-primary active"
            type="submit"
            size="small"
            (click)="getProceedingReception()">
            Refrescar Informaci&oacute;n
          </button>
        </div>
        <!-- <div class="col">
          <button class="btn btn-primary active" type="submit" size="small">
            Calendario
          </button>
        </div> -->
        <div class="col">
          <!-- <button class="btn btn-primary active" type="submit" size="small">
            Exporta Excel
          </button> -->
          <div
            style="width: 175px; float: right"
            [class]="
              loading || loadingExcel || data.length === 0 ? 'disabled' : ''
            "
            (click)="fillElementsToExport()">
            <app-excel-report
              [elementToExport]="elementToExport"
              [externalClick]="flagDownload"
              text="Exporta Excel"></app-excel-report>
          </div>
        </div>
        <!-- <div class="col">
          <button
            class="btn btn-primary active"
            type="submit"
            size="small"
            (click)="deleteProgramations()">
            Borrar Programaciones
          </button>
        </div> -->
      </div>
      <div class="row pt-4">
        <div class="col-md-12 table-responsive">
          <div [class]="loading ? 'table-loading' : ''">
            <ng2-smart-table
              class="col-md-12"
              [settings]="settings1"
              [source]="data"></ng2-smart-table>
          </div>
        </div>
      </div>
      <app-pagination
        [params]="params"
        [totalItems]="totalItems"></app-pagination>
    </form>
  </div>
</app-card>
