.scheduledTable {
  ng2-smart-table {
    ::ng-deep {
      table {
        tr {
          td:not(:first-child),
          th:not(:first-child) {
            min-width: 110px;
          }
        }
      }
    }
  }
}

.rangeDate {
  display: flex;

  @media screen and (max-width: 796px) {
    display: block;
  }
}

.action-buttons {
  @media screen and (max-width: 796px) {
    padding: 0 14px;
  }
}

// .form-date {
//   background: white;
// }
