.error {
  input {
    border-bottom-color: #f46a6a;
  }
  .errorMessage {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
  .checkEdit {
    pointer-events: none;
    .text-success {
      color: #6c757d !important;
    }
  }
}
