<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">
      COMPROBACI&Oacute;N DE DOCUMENTOS PARA RECURSOS REVISI&Oacute;N
    </h5>
  </div>

  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row w-100">
        <div class="col-sm-12 col-12 col-md-12 p-2">
          <h6>Informaci&oacute;n de Expediente</h6>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <app-expedient-shared
            expedientField="id"
            [form]="form"
            (selectExpedient)="expedientSelect($event)"></app-expedient-shared>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="form.get('protectionKey')"
            label="No&#46; Amparo">
            <input class="form-control" formControlName="protectionKey" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="form.get('fechaPresentacionRecursoRevision')"
            label="Fecha Presentaci&oacute;n Recurso Revisi&oacute;n">
            <input
              class="form-control"
              formControlName="fechaPresentacionRecursoRevision"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <form-field
            [control]="form.get('preliminaryInquiry')"
            label="Averiguaci&oacute;n Previa">
            <input class="form-control" formControlName="preliminaryInquiry" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <form-field [control]="form.get('criminalCase')" label="Causa Penal">
            <input class="form-control" formControlName="criminalCase" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-12 p-2">
          <h6>Informaci&oacute;n de Bienes</h6>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field [control]="form.get('goodId')" label="No&#46; Bien">
            <input class="form-control" formControlName="goodId" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2">
          <form-field
            [control]="form.get('description')"
            label="No&#46; Bien Descripción">
            <input class="form-control" formControlName="description" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="form.get('initialAgreementDate')"
            label="Fecha Notificaci&oacute;n">
            <input
              class="form-control"
              formControlName="initialAgreementDate"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2">
          <form-field [control]="form.get('status')" label="Estatus Bien">
            <input class="form-control" formControlName="status" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="form.get('notificationDate')"
            label="Fecha Notificaci&oacute;n">
            <input
              class="form-control"
              formControlName="notificationDate"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="form.get('statusDictaminacion')"
            label="Estatus Dictaminaci&oacute;n">
            <input class="form-control" formControlName="statusDictaminacion" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2">
          <form-field
            [control]="form.get('initialAgreement')"
            label="Acuerdo Inicial">
            <textarea
              rows="3"
              class="form-control"
              formControlName="initialAgreement"></textarea>
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2">
          <form-field
            [control]="form.get('motivoRecursoRevision')"
            label="Motivo Recurso Revisi&oacute;n">
            <textarea
              rows="3"
              class="form-control"
              formControlName="motivoRecursoRevision"></textarea>
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2">
          <form-field
            [control]="form.get('observations')"
            label="Observaciones">
            <textarea
              rows="3"
              class="form-control"
              formControlName="observations"></textarea>
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2 text-center">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary active"
              (click)="btnAprobar()">
              Aprobar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div footer *ngIf="autoridad" class="alert alert-info">
    <form [formGroup]="formAutoridad" class="form-material">
      <div class="row w-100">
        <div class="col-sm-12 col-12 col-md-6 p-2">
          <form-field
            [control]="formAutoridad.get('autoridad')"
            label="Autoridad que aprueba el Dictamen">
            <input class="form-control" formControlName="autoridad" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-6 p-2">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary active ml-2 mr-2"
              (click)="btnEjecutarAutoridad()">
              Aceptar
            </button>
            <button
              type="button"
              class="btn btn-primary active ml-2 mr-2"
              (click)="btnSalirAutoridad()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-card>

<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">DOCUMENTACI&Oacute;N</h5>
  </div>

  <div body>
    <div class="row w-100">
      <div class="col-sm-12 col-12 col-md-12 col-lg-12 p-2">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="tableSettings"
          [source]="dataTable"></ng2-smart-table>
      </div>
      <div class="col-sm-12 col-12 col-md-12 p-2 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-primary active ml-2 mr-2"
            (click)="btnRecursos()">
            Recursos
          </button>
          <button
            type="button"
            class="btn btn-primary active ml-2 mr-2"
            (click)="btnSeleccionarDocumentos()">
            Seleccionar Documentos
          </button>
        </div>
      </div>
    </div>
  </div>
  <div footer *ngIf="informes">
    <div class="row w-100">
      <div class="col-sm-12 col-12 col-md-12 p-2">
        <div class="alert alert-info">
          <p>
            PARA GENERAR REQUISITOS DOCUMENTALES CON DETALLE DE TODOS LOS
            EXPEDIENTES Y BIENES, EL NÚMERO DE EXPEDIENTE Y EL N&Uacute;MERO DE
            BIEN DEBEN SER NULOS&#46;
          </p>
          <br />
          <form [formGroup]="formInforme" class="form-material">
            <div class="row w-100">
              <div class="col-sm-12 col-12 col-md-6 p-2">
                <form-field
                  [control]="form.get('noExpediente')"
                  label="No&#46; Expediente">
                  <input class="form-control" formControlName="noExpediente" />
                </form-field>
              </div>
              <div class="col-sm-12 col-12 col-md-6 p-2">
                <form-field [control]="form.get('noBien')" label="No&#46; Bien">
                  <input class="form-control" formControlName="noBien" />
                </form-field>
              </div>
              <div class="col-sm-12 col-12 col-md-12 p-2">
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary active ml-2 mr-2"
                    (click)="btnEjecutarInformes()">
                    Ejecutar Informes
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary active ml-2 mr-2"
                    (click)="btnSalir()">
                    Salir
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-card>
