<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">ASUNTOS</h5>
    <div class="col-md-5 buttons">
      <div>
        <button (click)="openForm()" class="btn btn-primary active btn-sm ml-3">
          Nuevo
        </button>
      </div>
    </div>
  </div>
  <div body>
    <div class="row">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <div class="table-responsive">
            <ng2-smart-table
              [settings]="settings"
              [source]="data"
              (edit)="openForm($event.data)"
              (delete)="showDeleteAlert($event.data)"></ng2-smart-table>
          </div>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</app-card>
