<div class="card">
    <div class="card-header d-flex justify-content-between">
        <span>
            <h5>Título</h5>
        </span>
        <div class="col-md-5 d-flex justify-content-end">
            <app-columns-select [(settings)]="settings"></app-columns-select>
            <div><button (click)="add()" class="btn btn-primary btn-sm ml-3">Nuevo</button></div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <search-bar (onSearch)="search($event)"></search-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ng2-smart-table [attr.class]="'table-bordered'" [settings]="settings" [source]="paragraphs" (edit)="edit($event.data)"
                (delete)="delete($event.data)">
                </ng2-smart-table>
                <pagination [totalItems]="totalItems" (pageChanged)="pageChanged($event)"></pagination>
            </div>
        </div>
    </div>
</div>