<app-modal>
  <div header>
    <h5 class="modal-title">Folios Relacionados al Expediente</h5>
  </div>
  <div body>
    <small>De clic sobre el registro para visualizar los documentos</small>
    <div class="row" [class.table-loading]="loading">
      <div style="overflow: auto">
        <ng2-smart-table
          [source]="documents"
          [settings]="settings"
          (userRowSelect)="viewDocuments($event.data)"></ng2-smart-table>
      </div>
      <app-pagination
        [filterParams]="$params"
        [totalItems]="totalItems"></app-pagination>
    </div>
  </div>

  <div footer>
    <div class="d-flex justify-content-end">
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger btn-sm active"
          (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</app-modal>
