<app-modal>
  <div header>
    <h5 class="modal-title">{{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="emailForm">
      <div class="ch-content" header>
        <h5 class="title">Para:</h5>
      </div>
      <div class="row pt-4 table-container">
        <div class="col-md-12 table-responsive">
          <div [class]="loading ? 'table-loading' : ''">
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loading ? '0px' : '250px' }">
              <ng2-smart-table
                [attr.class]="'table-bordered'"
                [settings]="settings"
                [source]="emailsBook">
              </ng2-smart-table>
            </ng-scrollbar>
            <app-pagination
              [params]="params"
              [totalItems]="totalItems"></app-pagination>
          </div>
        </div>
      </div>
      <div class="ch-content" header>
        <h5 class="title">CC:</h5>
      </div>
      <div class="row pt-4 table-container">
        <div class="col-md-12 table-responsive">
          <div [class]="loading2 ? 'table-loading' : ''">
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loading2 ? '0px' : '250px' }">
              <ng2-smart-table
                [attr.class]="'table-bordered'"
                [settings]="settings1"
                [source]="emailsBook2">
              </ng2-smart-table>
            </ng-scrollbar>
            <app-pagination
              [params]="params2"
              [totalItems]="totalItems2"></app-pagination>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <form-field label="Asunto" [control]="emailForm.get('asunto')">
            <input
              type="text"
              class="form-control"
              formControlName="asunto"
              readonly />
          </form-field>
        </div>
        <div class="col-md-12">
          <form-field
            label="Cuerpo del correo"
            [control]="emailForm.get('body')">
            <textarea
              [maxlength]="6000"
              autosize
              class="form-control"
              formControlName="body"
              rows="6"
              readonly></textarea>
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button
          type="submit"
          class="btn btn-primary btn-sm active"
          tooltip="Enviar"
          containerClass="tooltip-style"
          (click)="confirm()">
          Enviar <i class="bx bx-send"></i>
        </button>
      </div>
      <div class="m-3">
        <button class="btn btn-danger btn-sm active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
