.excuse {
  margin-top: 20px;
  @media screen and (max-width: 576px) {
    margin-top: 0px;
  }
}

.labelCabinetSocial {
  font-size: 10px;
  font-weight: 600;
  color: #74788d;
}

// .buttons {
//   button:last-child {
//     margin-left: 10px;
//     @media screen and (max-width: 576px) {
//       margin-left: 0px;
//     }
//   }
// }
