<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="providerForm">
      <div class="row">
        <div class="col-md-4">
          <form-field [control]="providerForm.get('tille')" label="TILLE">
            <input
              type="text"
              class="form-control"
              formControlName="tille"
              placeholder="TILLE" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="providerForm.get('mesTille')"
            label="Mes TILLE">
            <input
              type="number"
              class="form-control"
              formControlName="mesTille"
              placeholder="Mes TILLE" />
          </form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <form-field [control]="providerForm.get('mes')" label="Mes">
            <input
              type="text"
              class="form-control"
              formControlName="mes"
              placeholder="Mes" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="providerForm.get('anioTille')"
            label="Año TILLE">
            <input
              type="number"
              class="form-control"
              formControlName="anioTille"
              placeholder="Año TILLE" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!providerForm.valid"
          [loading]="loading"
          (confirm)="confirm()"
          >Registrar</confirm-button
        >
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
