<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">
        GESTI&Oacute;N DE AUTORIZACI&Oacute;N DE DESTRUCCI&Oacute;N 
      </h5>
    </div>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-1">
          <form-field [control]="form.get('noAuth')" label="No.">
            <input
              type="text"
              class="form-control"
              formControlName="noAuth"
              maxlength="8"
              minlength="1" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('requesOffice')"
            label="Oficio de Solicitud">
            <input
              type="text"
              class="form-control"
              formControlName="requesOffice" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('requesScop')"
            label="Oficio de alcance">
            <input
              type="text"
              class="form-control"
              formControlName="requesScop" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('recepDate')"
            label="Fecha recepci&oacute;n">
            <input
              type="text"
              placeholder=""
              class="form-control"
              bsDatepicker
              formControlName="recepDate"
              [bsConfig]="{ isAnimated: true }" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('scopDate')" label="Fecha de alcance">
            <input
              type="text"
              placeholder=""
              class="form-control"
              bsDatepicker
              formControlName="scopDate"
              [bsConfig]="{ isAnimated: true }" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('inteDate')"
            label="Fecha de integraci&oacute;n">
            <input
              type="text"
              placeholder=""
              class="form-control"
              bsDatepicker
              formControlName="inteDate"
              [bsConfig]="{ isAnimated: true }" />
          </form-field>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-lg-12">
          <div class="form-group row">
            <div class="row"></div>
            <div class="col-md-6 table-responsive">
              <ng2-smart-table
                [settings]="settings2"
                [source]="dataActRec"></ng2-smart-table>
            </div>
            <div class="col-md-6 table-responsive">
              <ng2-smart-table
                [settings]="settings3"
                [source]="dataDictam"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row pt-5">
        <div class="col-md-3">
          <form-field
            [control]="form.get('scanFolio')"
            label="Folio de escaneo">
            <input
              type="text"
              class="form-control"
              formControlName="scanFolio" />
          </form-field>
        </div>
        <div class="col-md-1">
          <button
            type="submit"
            class="btn-sm btn-info active"
            (click)="msjRequest()">
            Solicitud
          </button>
        </div>

        <div class="col-md-1">
          <button
            type="submit"
            class="btn-sm btn-info active"
            (click)="msjScan()">
            Escanear
          </button>
        </div>

        <div class="col-md-1">
          <button
            type="submit"
            class="btn-sm btn-info active"
            (click)="openPrevImg()">
            Ver IMG
          </button>
        </div>

        <div class="col-md-6">
          <form-field [control]="form.get('observations')" label="Obervaciones">
            <textarea
              class="form-control"
              formControlName="observations"
              rows="3"></textarea>
          </form-field>
        </div>

        <div class="row pt-5 table-responsive">
          <ng2-smart-table [settings]="settings" [source]="dataNoBien">
          </ng2-smart-table>
        </div>
        <app-pagination [params]="params" [totalItems]="totalItems">
        </app-pagination>
      </div>
      <div class="row pt-5">
        <div class="col-md-8">
          <p class="d-flex justify-content-center">
            <span class="text-success mr-5"
              ><i class="fa fa-square"></i> Disponibles</span
            >
            <span class="text-danger"
              ><i class="fa fa-square"></i> No disponibles</span
            >
          </p>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn-sm btn-secondary active">
            Insertar v&iacute;a archivo plano
          </button>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn-sm btn-secondary active">
            Insertar v&iacute;a rastreador
          </button>
        </div>
      </div>
    </form>
  </div>
</app-card>
