.dropdown-toggle::after {
  display: inline-block !important;
  margin-left: 0.255em !important;
  vertical-align: 0.255em !important;
  content: '' !important;
  border-top: 0.3em solid !important;
  border-right: 0.3em solid transparent !important;
  border-bottom: 0 !important;
  border-left: 0.3em solid transparent !important;
}

a.bg-primary:hover {
  background-color: #691c32 !important;
  color: white !important;
}

.bg-primary {
  background-color: #9f2241 !important;
}
