<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title" *ngIf="!formLoading">
      Notificaci&oacute;n de Programaci&oacute;n con folio:
      {{ programming?.folio }}
    </h5>
  </div>

  <div body>
    <div class="row" *ngIf="formLoading" style="margin-bottom: 5rem">
      <form-loader *ngIf="formLoading"></form-loader>
    </div>

    <div *ngIf="!formLoading">
      <div class="justify-content-end btn-toolbar" *ngIf="!formLoading">
        <div class="m-3 btn-toolbar">
          <button
            type="button"
            class="btn btn-primary btn-sm active"
            (click)="backTask()">
            Regresar <i class="fas fa-arrow-circle-left"></i>
          </button>
        </div>
      </div>
      <h5 class="title">Programaci&oacute;n</h5>

      <div class="row pt-2">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2"
              >Delegaci&oacute;n Regional&#58;</label
            >
            <span class="fs-4">
              {{ delegationName }}
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Estado&#58;</label>
            <span class="fs-4"> {{ stateName }} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Ciudad&#58;</label>
            <span class="fs-4"> {{ programming?.city }} </span>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Transferente&#58;</label>
            <span class="fs-4"> {{ transferentName }} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Fecha Inicio Operativo&#58;</label>
            <span class="fs-4">
              {{ programming?.startDate | date: 'dd/MM/yyyy HH:mm:ss' }}
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Fecha Fin Operativo&#58;</label>
            <span class="fs-4">
              {{ programming?.endDate | date: 'dd/MM/yyyy HH:mm:ss' }}</span
            >
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Emisora&#58;</label>
            <span class="fs-4"> {{ stationName }} </span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Dirección&#58;</label>
            <span class="fs-4"> {{ programming?.address }} </span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Correo Transferente&#58;</label>
            <span class="fs-4">{{ programming?.emailTransfer }}</span>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Autoridad&#58;</label>
            <span class="fs-4"> {{ authorityName }} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Observación&#58;</label>
            <span class="fs-4"> {{ programming?.observation }} </span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-right mr-2">Tipo Relevante&#58;</label>
            <span class="fs-3"> {{ typeRelevantName }} </span>
          </div>
        </div>
      </div>

      <!-- 
        <div class="row pt-4">
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-right mr-2">Delegaci&oacute;n Regional:</label>
              <span> {{ delegationName }} </span>
            </div>
  
            <div class="form-group">
              <label class="text-right mr-2">Transferente&#58;</label>
              <span> {{ transferentName }} </span>
            </div>
  
            <div class="form-group">
              <label class="text-right mr-2">Emisora&#58;</label>
              <span> {{ stationName }} </span>
            </div>
  
            <div class="form-group">
              <label class="text-right mr-2">Autoridad&#58;</label>
              <span> {{ authorityName }} </span>
            </div>
          </div>
  
          <div class="col-md-4">
            <form class="form-horizontal" style="margin: 0 auto">
              <div class="form-group">
                <label class="text-right mr-2">Correo transferente&#58;</label>
                <span> {{ programming?.emailTransfer }} </span>
              </div>
  
              <div class="form-group">
                <label class="text-right mr-2">Fecha inicio operativo&#58;</label>
                <span> {{ programming?.startDate }} </span>
              </div>
  
              <div class="form-group">
                <label class="text-right mr-2">Fecha fin operativo&#58;</label>
                <span> {{ programming?.endDate }} </span>
              </div>
  
              <div class="form-group">
                <label class="text-right mr-2">Direcci&oacute;n&#58;</label>
                <span> {{ programming?.city }} {{ programming?.address }} </span>
              </div>
            </form>
          </div>
  
          <div class="col-md-4">
            <form class="form-horizontal" style="margin: 0 auto">
              <div class="form-group">
                <label class="text-right mr-2">Tipo relevante&#58;</label>
                <span> {{ typeRelevantName }} </span>
              </div>
  
              <div class="form-group">
                <label class="text-right mr-2">Ciudad&#58;</label>
                <span> {{ programming?.city }}</span>
              </div>
  
              <div class="form-group">
                <label class="text-right mr-2">Observaci&oacute;n&#58;</label>
                <span> {{ programming?.observation }} </span>
              </div>
            </form>
          </div>
        </div>
      -->

      <div class="row pt-4">
        <h5 class="title">Almac&eacute;n</h5>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="text-right mr-2">Almac&eacute;n&#58;</label>
            <span> {{ warehouseName }} </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="text-right mr-2"
              >Direcci&oacute;n Almac&eacute;n&#58;</label
            >
            <span>
              {{ warehouseUbication }}
            </span>
          </div>
        </div>
      </div>

      <div class="row pt-4">
        <h5 class="title">Usuarios al Operativo</h5>
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settingsUser"
          [source]="usersToProgramming">
        </ng2-smart-table>
        <app-pagination
          [params]="params"
          [totalItems]="totalItemsUsers"></app-pagination>
      </div>

      <div class="row pt-3">
        <h5 class="title">Bienes Seleccionados</h5>
        <div class="md-tabs">
          <tabset>
            <tab [heading]="headingTransportable" id="tab1">
              <div class="d-flex justify-content-end">
                <app-columns-select
                  [(settings)]="
                    settingsTransportableGoods
                  "></app-columns-select>

                <confirm-button
                  [loading]="loadingReportGoods"
                  [btnSmall]="true"
                  [text]="'Generar reporte'"
                  [loadingText]="'Generando reporte'"
                  [className]="'btn-success'"
                  [icon]="'bx bx-download float-icon'"
                  class="ml-2"
                  (confirm)="
                    generateReport(
                      'EN_TRANSPORTABLE',
                      'Bienes_Transportables.xlsx'
                    )
                  "></confirm-button>
              </div>
              <div class="row pt-3">
                <ng2-smart-table
                  [attr.class]="'table-bordered table-responsive'"
                  [settings]="settingsTransportableGoods"
                  [source]="goodsTranportables"
                  (edit)="showGood($event.data)">
                </ng2-smart-table>
                <app-pagination
                  [params]="paramsTransportableGoods"
                  [totalItems]="totalItemsTransportableGoods"></app-pagination>
              </div>
            </tab>
            <tab [heading]="headingGuard">
              <div class="d-flex justify-content-end">
                <app-columns-select
                  [(settings)]="settingGuardGoods"></app-columns-select>

                <confirm-button
                  [loading]="loadingReportGoods"
                  [btnSmall]="true"
                  [text]="'Generar reporte'"
                  [loadingText]="'Generando reporte'"
                  [className]="'btn-success'"
                  [icon]="'bx bx-download float-icon'"
                  class="ml-2"
                  (confirm)="
                    generateReport('EN_RESGUARDO_TMP', 'Bienes_Resguardo.xlsx')
                  "></confirm-button>
              </div>
              <div class="row pt-3">
                <ng2-smart-table
                  [attr.class]="'table-bordered table-responsive'"
                  [settings]="settingGuardGoods"
                  [source]="goodsGuards"
                  (edit)="showGood($event.data)">
                </ng2-smart-table>
                <app-pagination
                  [params]="paramsGuardGoods"
                  [totalItems]="totalItemsGuardGood"></app-pagination>
              </div>
            </tab>
            <tab [heading]="headingWarehouse">
              <div class="d-flex justify-content-end">
                <app-columns-select
                  [(settings)]="settingWarehouseGoods"></app-columns-select>

                <confirm-button
                  [loading]="loadingReportGoods"
                  [btnSmall]="true"
                  [text]="'Generar reporte'"
                  [loadingText]="'Generando reporte'"
                  [className]="'btn-success'"
                  [icon]="'bx bx-download float-icon'"
                  class="ml-2"
                  (confirm)="
                    generateReport('EN_ALMACEN_TMP', 'Bienes_Almacén.xlsx')
                  "></confirm-button>
              </div>

              <div class="row pt-3">
                <ng2-smart-table
                  [attr.class]="'table-bordered table-responsive'"
                  [settings]="settingWarehouseGoods"
                  [source]="goodsWarehouse"
                  (edit)="showGood($event.data)">
                </ng2-smart-table>
                <app-pagination
                  [params]="paramsWarehouseGoods"
                  [totalItems]="totalItemsWarehouse"></app-pagination>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</app-card>
