<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">conversi&oacute;n a numerario</h5>
  </div>
  <div body>
    <!-- <form-field [control]="form.get('amountevta')" label="Precio de Venta"> -->
    <!-- </form-field> -->
    <div class="md-tabs mt-n3">
      <tabset>
        <tab
          (selectTab)="isMassive = false"
          heading="Conversión Individual"
          id="tabIndividualConversion">
          <form class="form-material mb-0">
            <div>
              <!-- <div class="row mt-3 py-5 px-3 rounded-4 shadow" @OnGoodSelected>
                <div class="ms-n2 mb-2">
                  <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i>
                  <h6 class="d-inline">Datos de venta</h6>
                </div>
                <hr class="mw-98" />
                <div class="row mt-2">
                  <div class="col-sm-12 col-md-4">
                    <form-field [control]="form.get('amountevta')" label="Precio de Venta">
                      <input (keyup)="setIvaSell()" currencyFz type="text" class="form-control px-3"
                        formControlName="amountevta" />
                    </form-field>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group form-static-label">
                      <input formControlName="ivavtaPercent" (keyup)="setIvaSell()" id="ivavtaPercent" type="number"
                        class="form-control px-3" max="100" />
                      <span class="form-bar"></span>
                      <label class="float-label" for="ivavtaPercent">% IVA</label>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <form-field [control]="form.get('ivavta')" label="Iva Venta">
                      <input type="text" class="form-control px-3" formControlName="ivavta" readonly />
                    </form-field>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-sm-6 col-md-3">
                    <div class="form-group form-static-label">
                      <input (keyup)="setCommission()" formControlName="commissionPercent" id="commissionPercent"
                        #commissionPercent type="text" class="form-control px-3" max="100" />
                      <span class="form-bar"></span>
                      <label class="float-label" for="commissionPercent">% Comisión</label>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <form-field [control]="form.get('commission')" label="Comisión">
                      <input (keyup)="setIvaCommission()" type="text" class="form-control px-3"
                        formControlName="commission" readonly />
                    </form-field>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="form-group form-static-label">
                      <input (keyup)="setIvaCommission()" formControlName="commissionTaxPercent"
                        id="commissionTaxPercent" #commissionTaxPercent type="text" class="form-control px-3"
                        max="100" />
                      <span class="form-bar"></span>
                      <label class="float-label" for="commissionTaxPercent">% IVA Comisión</label>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <form-field [control]="form.get('ivacom')" label="IVA Comisión">
                      <input readonly text="text" class="form-control px-3" formControlName="ivacom" />
                    </form-field>
                  </div>
                </div>
              </div> -->
            </div>

            <div [formGroup]="formGood" class="row py-5 rounded-4 shadow">
              <div class="col-md-6 col-12">
                <!-- <i
                  class="bx bx-list-ul text-success me-2 d-inline float-icon"></i> -->
                <h5 class="font-size-14 mb-2 d-inline">No. Bien</h5>
                <div class="d-flex">
                  <div>
                    <form-field
                      class="form-group"
                      [control]="formGood.get('id')">
                      <input
                        type="number"
                        min="1"
                        class="form-control"
                        formControlName="id" />
                    </form-field>
                  </div>
                  <button
                    [disabled]="!formGood.get('id').value || isLoadingGood"
                    (click)="searchGood()"
                    class="btn btn-primary active btn-sm w-auto ml-4">
                    Buscar
                    <i class="bx bx-search-alt bx-sm float-icon"></i>
                  </button>
                  <button
                    (click)="clear()"
                    class="btn btn-danger btn-sm active ml-3 w-auto">
                    Limpiar <i class="fas fa-eraser"> </i>
                  </button>
                </div>
              </div>
              <ng-container>
                <div class="col-sm-12 col-md-6">
                  <div>
                    <!-- <i
                      class="bx bx-font-family text-success me-2 d-inline float-icon"></i> -->
                    <h5 class="font-size-14 mb-2 d-inline">Identificador</h5>
                    <p class="text-muted">
                      {{ formGood.value.identifier }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12">
                  <div>
                    <!-- <i
                      class="bx bx-detail text-success me-2 d-inline float-icon"></i> -->
                    <h5 class="font-size-14 mb-2 d-inline">Descripción</h5>
                    <p class="text-muted">
                      {{ formGood.value.description }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div>
                    <!-- <i
                      class="bx bx-dollar text-success me-2 d-inline float-icon"></i> -->
                    <h5 class="font-size-14 mb-2 d-inline">Importe Avalúo</h5>
                    <p class="text-muted">
                      {{ formGood.value.appraisedValue }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div>
                    <!-- <i
                      class="bx bx-check-circle text-success me-2 d-inline float-icon"></i> -->
                    <h5 class="font-size-14 mb-2 d-inline">Estatus</h5>
                    <p class="text-muted">
                      {{ formGood.value.status }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div>
                    <!-- <i
                      class="bx bx-table text-success me-2 d-inline float-icon"></i> -->
                    <h5 class="font-size-14 mb-2 d-inline">
                      Dominio De Proceso Externo
                    </h5>
                    <p class="text-muted">
                      {{ formGood.value?.extDomProcess }}
                    </p>
                  </div>
                </div>
              </ng-container>
            </div>

            <div
              [formGroup]="formGood"
              class="row mt-3 py-5 px-3 rounded-4 shadow"
              @OnGoodSelected>
              <div class="ms-n2 mb-2">
                <!-- <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i> -->
                <h6 class="d-inline">Datos de Venta</h6>
              </div>
              <hr class="mw-98" />
              <div class="row mt-2">
                <div class="col-sm-12 col-md-4">
                  <form-field
                    [control]="formGood.get('importSell')"
                    label="Precio de Venta">
                    <input
                      type="number"
                      class="form-control px-3"
                      formControlName="importSell" />
                  </form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <form-field
                    [control]="formGood.get('percent1')"
                    label="% IVA">
                    <input
                      formControlName="percent1"
                      id="ivavtaPercent"
                      type="number"
                      class="form-control px-3"
                      max="100" />
                  </form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <form-field
                    [control]="formGood.get('taxSell')"
                    label="IVA Venta">
                    <input
                      type="text"
                      readonly
                      formControlName="taxSell"
                      class="form-control px-3" />
                  </form-field>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-6 col-md-3">
                  <form-field
                    [control]="formGood.get('percent2')"
                    label="% Comisión">
                    <input
                      formControlName="percent2"
                      id="commissionPercent"
                      #commissionPercent
                      type="number"
                      class="form-control px-3"
                      max="100" />
                  </form-field>
                </div>
                <div class="col-sm-6 col-md-3">
                  <form-field
                    [control]="formGood.get('commission')"
                    label="Comisión">
                    <input
                      type="text"
                      readonly
                      formControlName="commission"
                      class="form-control px-3" />
                  </form-field>
                </div>
                <div class="col-sm-6 col-md-3">
                  <form-field
                    [control]="formGood.get('percent3')"
                    label="% IVA Comisión">
                    <input
                      formControlName="percent3"
                      id="commissionTaxPercent"
                      #commissionTaxPercent
                      type="text"
                      class="form-control px-3"
                      max="100" />
                  </form-field>
                </div>
                <div class="col-sm-6 col-md-3">
                  <form-field
                    [control]="formGood.get('taxCommission')"
                    label="IVA Comisión">
                    <input
                      readonly
                      text="text"
                      class="form-control px-3"
                      formControlName="taxCommission" />
                  </form-field>
                </div>
              </div>
            </div>

            <div class="row mt-3 py-5 px-3 rounded-4 shadow" @OnGoodSelected>
              <div
                class="ms-n2 mb-2 pointer"
                (click)="toggleExpenses = !toggleExpenses"
                [attr.aria-expanded]="!toggleExpenses"
                aria-controls="collapseExpenses">
                <i
                  class="bx bx-chevron-down bx-md float-icon-md"
                  [ngClass]="{
                    'rotate-down': toggleExpenses,
                    'rotate-up': !toggleExpenses
                  }"></i>
                <h6 class="d-inline">Gastos</h6>
              </div>
              <hr class="mw-98" />
              <div
                class="row mb-5"
                id="collapseExpenses"
                [isAnimated]="true"
                [collapse]="!toggleExpenses">
                <div class="table-container">
                  <div [class]="loading ? 'table-loading' : ''">
                    <app-table-expenses></app-table-expenses>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </tab>
        <tab
          (selectTab)="isMassive = true"
          heading="Conversión Masiva"
          id="tabMassiveConversion">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-md-6 col-xl-4">
              <!-- <button
                class="btn btn-sm btn-block btn-primary active font-size-16"
                (click)="file.click()">
                Seleccionar
              </button> -->
              <button
                (click)="file.click()"
                type="button"
                class="btn btn-sm btn-success active m-3">
                Importar <i class="bi bi-file-earmark-excel-fill"></i>
              </button>
              <input
                #file
                hidden
                type="file"
                class="custom-file-input"
                id="csvFile"
                accept=".xlsx,.xls,.csv"
                (change)="getFile($event)" />
            </div>
          </div>
          <div class="mt-3">
            <div class="ch-content">
              <h5 class="title"></h5>
              <div class="col-md-5 buttons">
                <app-columns-select
                  [(settings)]="numeraireSettings"></app-columns-select>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between">
              <div class="form-material col-md-5"> -->
            <!-- <search-bar [params]="params"></search-bar> -->
            <!-- </div>
              <div>
                <app-columns-select [(settings)]="numeraireSettings"></app-columns-select>
              </div>
            </div> -->
          </div>
          <div class="row pt-4">
            <div class="table-responsive">
              <div [class]="loading ? 'table-loading' : ''">
                <ng2-smart-table
                  id="massive-table"
                  [attr.class]="'table-bordered'"
                  [settings]="numeraireSettings"
                  [source]="dataTableMassive">
                </ng2-smart-table>
              </div>
            </div>
          </div>
          <!-- <app-pagination [params]="params" [totalItems]="totalItems">
          </app-pagination> -->
          <div class="form-material">
            <!-- <div [formGroup]="formBlkControl" class="row mt-3 py-5 px-3">
              <div class="ms-n2 mb-2">
                <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i>
                <h6 class="d-inline">Conversi&oacute;n</h6>
              </div>
              <hr class="mw-98" />
              <div class="row">
                <div class="col-sm-12 col-md-8 pt-sm-5 pt-md-2">
                  <div class="form-group">
                    <form-field
                      class="form-group"
                      label="Tipo de conversión"
                      [control]="formBlkControl.get('typeConversion')">
                      <select
                        (change)="changeTypeConversion($event)"
                        class="form-control"
                        formControlName="typeConversion">
                        <option
                          [value]="type.value"
                          *ngFor="let type of conversionTypes">
                          {{ type.text }}
                        </option>
                      </select>
                    </form-field>
                  </div>
                </div>
              </div>
              <div class="row mt-3 py-5 px-3">
                <div class="ms-n2 mb-2">
                  <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i>
                  <h6 class="d-inline">Datos de cuenta</h6>
                </div>
                <hr class="mw-98" />
                <div [formGroup]="formBlkControl" class="row mb-0 d-block">
                  <div
                    class="row d-flex justify-content-center align-content-center">
                    <div class="col-sm-12 col-md-6 mh-80">
                      <i
                        class="bx bx-list-ul text-success me-2 d-inline float-icon"></i>
                      <h5 class="font-size-14 mb-2 d-inline">Banco</h5>
                      <div class="form-group">
                        <ng-custom-select
                          placeholder="Buscador de bancos"
                          class="form-control"
                          paramSearch="filter.nombre"
                          formControlName="tiNewBank"
                          value="cve_cuenta"
                          path="accountmvmnt/api/v1/aplication/get-data-bank"
                          (valueChange)="selectAccount($event)">
                          <ng-template let-item
                            >{{ item.cve_banco }} - {{ item.nombre }}
                          </ng-template>
                        </ng-custom-select>
                      </div>
                    </div>
                    <ng-container *ngIf="selectedBank">
                      <div class="col-sm-12 col-md-6">
                        <i
                          class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                        <h5 class="font-size-14 mb-2 d-inline">
                          Descripci&oacute;n
                        </h5>
                        <p class="text-muted">
                          {{ formBlkControl.value.diNewBank }}
                        </p>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <i
                          class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                        <h5 class="font-size-14 mb-2 d-inline">Cuenta</h5>
                        <p class="text-muted">
                          {{ formBlkControl.value.diNewAccount }}
                        </p>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <i
                          class="bx bx-detail text-success me-2 d-inline float-icon"></i>
                        <h5 class="font-size-14 mb-2 d-inline">Moneda</h5>
                        <p class="text-muted">
                          {{ formBlkControl.value.diNewCurrency }}
                        </p>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </tab>
      </tabset>
      <div class="form-material p-5">
        <div class="row mt-3 py-5 px-3 rounded-4 shadow" @OnGoodSelected>
          <div class="ms-n2 mb-2">
            <!-- <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i> -->
            <h6 class="d-inline">Datos de Cuenta</h6>
          </div>
          <hr class="mw-98" />
          <div [formGroup]="formBlkControl" class="row mb-0 d-block">
            <div class="row d-flex justify-content-center align-content-center">
              <div class="col-sm-12 col-md-12 mh-80">
                <!-- <i
                  class="bx bx-list-ul text-success me-2 d-inline float-icon"></i> -->
                <h5 class="font-size-14 mb-2 d-inline">Banco</h5>
                <div class="form-group">
                  <ng-custom-select-loading
                    [form]="formBlkControl"
                    [updateValues]="true"
                    paramSearch="filter.nombre"
                    formControlName="tiNewBank"
                    secondParamSearch="filter.cve_cuenta"
                    value="cve_banco"
                    bindLabel="nombre"
                    prefixSearch=""
                    secondPrefixSearch=""
                    path="accountmvmnt/api/v1/aplication/get-data-bank"
                    [labelTemplate]="conceptLabel"
                    [optionTemplate]="conceptOption"
                    (valueChange)="selectAccount($event)">
                    <!-- <ng-template let-item>#CTA:{{ item.no_cuenta }} -- {{ item.nombre }}
                    </ng-template> -->
                  </ng-custom-select-loading>
                  <ng-template #conceptLabel let-item="item">
                    <div [title]="item.no_cuenta + '-' + item.nombre">
                      #CTA:{{ item.no_cuenta }} - {{ item.nombre }}
                    </div>
                  </ng-template>
                  <ng-template #conceptOption let-item="item">
                    <div [title]="item.no_cuenta + '-' + item.nombre">
                      #CTA:{{ item.no_cuenta }} - {{ item.nombre }}
                    </div>
                  </ng-template>
                </div>
              </div>
              <ng-container>
                <div class="col-sm-12 col-md-6">
                  <!-- <i
                    class="bx bx-detail text-success me-2 d-inline float-icon"></i> -->
                  <h5 class="font-size-14 mb-2 d-inline">Descripci&oacute;n</h5>
                  <p class="text-muted">
                    {{ formBlkControl.value.diNewBank }}
                  </p>
                </div>
                <div class="col-sm-6 col-md-3">
                  <!-- <i
                    class="bx bx-detail text-success me-2 d-inline float-icon"></i> -->
                  <h5 class="font-size-14 mb-2 d-inline">Cuenta</h5>
                  <p class="text-muted">
                    {{ formBlkControl.value.diNewAccount }}
                  </p>
                </div>
                <div class="col-sm-6 col-md-3">
                  <!-- <i
                    class="bx bx-detail text-success me-2 d-inline float-icon"></i> -->
                  <h5 class="font-size-14 mb-2 d-inline">Moneda</h5>
                  <p class="text-muted">
                    {{ formBlkControl.value.diNewCurrency }}
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div
          [formGroup]="formBlkControl"
          class="row mt-3 py-5 px-3 rounded-4 shadow"
          @OnGoodSelected>
          <div class="ms-n2 mb-2">
            <!-- <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i> -->
            <h6 class="d-inline">Datos de Dep&oacute;sito</h6>
            <small class="text-bg-danger px-2 d-block" *ngIf="!selectedBank"
              >Esta sección esta deshabilitada hasta seleccionar una cuenta
              bancaria</small
            >
          </div>
          <hr class="mw-98" />
          <div [ngClass]="{ disabled: !selectedBank }" class="row">
            <div class="col-sm-12 col-md-3">
              <div class="d-flex">
                <form-field
                  class="col"
                  [control]="formBlkControl.get('tiNewDate')"
                  label="Fecha">
                  <input
                    formControlName="tiNewDate"
                    class="form-control"
                    type="text"
                    (ngModelChange)="getInfoDeposit()"
                    bsDatepicker />
                </form-field>
              </div>
            </div>
            <div class="col-md-4">
              <form-field
                class="form-group"
                [control]="formBlkControl.get('diNewFile')"
                label="Referencia">
                <input
                  maxlength="30"
                  type="text"
                  class="form-control"
                  formControlName="diNewFile" />
              </form-field>
            </div>
            <div class="col-md-3">
              <form-field
                [control]="formBlkControl.get('diDeposit')"
                label="Importe">
                <input
                  type="number"
                  class="form-control"
                  formControlName="diDeposit"
                  readonly />
              </form-field>
            </div>
            <div class="col-md-2">
              <button
                (click)="clearDateDeposit()"
                class="btn btn-danger btn-sm active mr-3">
                Limpiar <i class="fas fa-eraser"> </i>
              </button>
            </div>
          </div>
        </div>

        <div
          [hidden]="formBlkControl.value.typeConversion !== 'BBB'"
          [formGroup]="formBlkControl"
          class="my-5 pt-5">
          <div class="col-12">
            <form-field
              class="form-group"
              label="Comentario Nuevo Bien"
              [control]="formBlkControl.get('comment')">
              <textarea
                class="form-control"
                formControlName="comment"></textarea>
            </form-field>
          </div>
        </div>
        <div
          [formGroup]="formBlkControl"
          class="row mt-3 py-5 px-3 rounded-4 shadow"
          @OnGoodSelected>
          <div class="ms-n2 mb-2">
            <!-- <i class="bx bx-radio-circle bx-sm float-icon mx-1"></i> -->
            <h6 class="d-inline">Conversi&oacute;n</h6>
          </div>
          <hr class="mw-98" />
          <div class="row">
            <div class="col-sm-12 col-md-8 pt-sm-5 pt-md-2">
              <div class="form-group">
                <form-field
                  class="form-group"
                  [control]="formBlkControl.get('typeConversion')">
                  <ngx-select
                    [data]="conversionTypes"
                    [form]="formBlkControl"
                    value="value"
                    bindLabel="text"
                    label="Tipo de Conversión"
                    control="typeConversion"
                    (change)="changeTypeConversion($event)"></ngx-select>
                  <!-- <select  class="form-control" formControlName="typeConversion">
                    <option [value]="type.value" *ngFor="let type of conversionTypes">
                      {{ type.text }}
                    </option>
                  </select> -->
                </form-field>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 d-flex justify-content-center">
              <div>
                <div class="col-12">
                  <input formControlName="checkMovementBank" type="checkbox" />
                  Genera Mov. Bancarios
                </div>
                <div class="col-12">
                  <button
                    [disabled]="loading"
                    class="btn btn-primary active btn-sm"
                    (click)="saveInServer()">
                    Cambiar a numerario
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
