<app-card>
  <div body>
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              type="button"
              class="btn btn-primary btn-sm active"
              (click)="generateFoli()">
              Generar folio
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              [disabled]="generateFo"
              type="button"
              class="btn btn-info btn-sm active">
              scanner
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 mt-1">
        <form [formGroup]="form" class="form-material">
          <div class="col-md-full col-sm-12 col-xs-12">
            <form-field
              label="Folio de escaneo"
              [control]="form.get('scanningFoli')">
              <input
                type="text"
                class="form-control"
                formControlName="scanningFoli" />
            </form-field>
          </div>
        </form>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              [disabled]="generateFo"
              type="button"
              class="btn btn-info btn-sm active"
              (click)="generate()">
              Ver folio
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              [disabled]="generateFo"
              type="button"
              class="btn btn-primary btn-sm active">
              ver scaneo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
