<app-modal>
  <div header>
    <h5 class="modal-title">{{ title }}</h5>
  </div>
  <div body class="body" style="margin-top: -30px">
    <div class="see-detail">
      <form [formGroup]="infoForm" class="form-material">
        <div class="row pt-1">
          <div class="col-md-6">
            <label style="word-spacing: -0.1em" for=""
              ><strong>Tipo de Documento&#58;</strong>
              <span>{{ data?.xtipoDocumento }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for=""
              ><strong>Autor&#58;</strong>
              <span>{{ data?.dDocAuthor }}</span></label
            >
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6">
            <label for="">
              <strong>No&#46; Solicitud&#58;</strong>
              <span>{{ data?.xidSolicitud }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="">
              <strong>No&#46; Bien&#58;</strong>
              <span>{{ data?.xidBien }}</span>
            </label>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6">
            <label for="">
              <strong>Delegaci&oacute;n Regional&#58;</strong>
              <span>{{ nameRegDelegation }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="">
              <strong>Estado&#58;</strong>
              <span>{{ nameState }}</span>
            </label>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6">
            <label for="">
              <strong>Transferente&#58;</strong> <span>{{ nameTrans }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="">
              <strong>Tipo Transferente&#58;</strong>
              <span>{{ data?.xtipoTransferencia }}</span>
            </label>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6">
            <label for="">
              <strong>Remitente&#58;</strong>
              <span>{{ data?.xremitente }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="">
              <strong>Cargo Remitente&#58;</strong>
              <span>{{ data?.xcargoRemitente }}</span>
            </label>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6">
            <label for="">
              <strong>Responsable&#58;</strong>
              <span>{{ data?.xresponsable }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="">
              <strong>Fecha Creaci&oacute;n&#58;</strong>
              <span>{{ data?.dInDate | date: 'dd/MM/yyyy' }}</span>
            </label>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6">
            <label for="">
              <strong>No&#46; Oficina&#58;</strong>
              <span>{{ data?.xnoOficio }}</span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="">
              <strong>Comentarios&#58;</strong>
              <span>{{ data?.xcomments }}</span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger btn-sm active"
          (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</app-modal>
