<form [formGroup]="form" class="form-material">
  <app-card [header]="true" [footer]="true">
    <div class="ch-content" header>
      <h5 class="title">Cambio de indicadores de destino de bienes</h5>
    </div>
    <div body>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('targetIndicator')"
            label="Indicador de destino">
            <select class="form-control" formControlName="targetIndicator">
              <option [value]="null">Seleccione un valor</option>
              <option value="1">Venta</option>
              <option value="1">Donación</option>
              <option value="1">Resguardo</option>
              <option value="1">Destrucción</option>
              <option value="1">Enterado LIF</option>
            </select>
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button type="button" class="btn btn-danger btn-sm active">
                Selección de Bienes
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button type="button" class="btn btn-primary btn-sm active">
                Asigna Indicador
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button type="button" class="btn btn-info btn-sm active">
                Aplica indicador
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings"
          [source]="data">
        </ng2-smart-table>
        <app-pagination [params]="params" [totalItems]="totalItems">
        </app-pagination>
      </div>
    </div>
  </app-card>
</form>
