<app-modal>
    <div header>
        <span class="modal-title">{{title}}</span>
    </div>
    <div body>
        <form class="inline-form" [formGroup]="form">
            <form-field [control]="form.get('reportName')" label="Nombre de Reporte">
                <input class="form-control" formControlName="reportName">
            </form-field>

            <div class="form-group">
                <label>Parrafo</label>
                <textarea rows="3" class="form-control" formControlName="paragraph"></textarea>
            </div>

            <div class="form-group">
                <label>Versión</label>
                <input class="form-control" formControlName="version">
            </div>
        </form>
    </div>
    <div footer>
        <button type="button" class="btn btn-secondary active btn-sm" (click)="close()">Cerrar</button>
        <button type="submit" class="btn btn-primary active btn-sm" (click)="confirm()"
            [disabled]="!form.valid">Guardar</button>
    </div>
</app-modal>