<ng-container [formGroup]="form">
  <div class="ch-content">
    <h5 style="font-size: 14px">Datos de la Factura o Recibo (Documento)</h5>
  </div>
  <div class="row pl-0">
    <div class="col-md-4 mt-4 col-6">
      <form-field [control]="invoiceRecNumber" label="No. Documento">
        <input
          type="text"
          class="form-control"
          formControlName="invoiceRecNumber"
          maxlength="12" />
      </form-field>
    </div>
    <div class="col-md-4 mt-4 col-6">
      <form-field [control]="numReceipts" label="No. Comprobantes">
        <input
          type="text"
          class="form-control"
          formControlName="numReceipts"
          maxlength="3" />
      </form-field>
    </div>
    <div class="col-md-4 mt-4 col-6">
      <form-field [control]="invoiceRecDate" label="Fecha Doc.">
        <input
          class="form-control"
          ngModel
          bsDatepicker
          formControlName="invoiceRecDate" />
        <!-- <input
          type="text"
          class="form-control"
          formControlName="invoiceRecDate"
          maxlength="12" /> -->
      </form-field>
    </div>
    <div class="col-md-4 mt-4 col-6">
      <form-field [control]="payDay" label="Fecha Pago">
        <input
          class="form-control"
          ngModel
          bsDatepicker
          formControlName="payDay" />
        <!-- <input
          type="text"
          class="form-control"
          formControlName="payDay"
          maxlength="12" /> -->
      </form-field>
    </div>
    <div class="col-md-4 mt-4 col-6">
      <form-field [control]="captureDate" label="Fecha Captura">
        <input
          class="form-control"
          ngModel
          bsDatepicker
          formControlName="captureDate" />
        <!-- <input
          type="text"
          class="form-control"
          formControlName="captureDate"
          maxlength="12" /> -->
      </form-field>
    </div>
    <div class="col-md-4 mt-4 col-6">
      <form-field [control]="fecha_contrarecibo" label="Fecha Contrarecibo">
        <input
          class="form-control"
          ngModel
          bsDatepicker
          formControlName="fecha_contrarecibo" />
        <!-- <input
          type="text"
          class="form-control"
          formControlName="fecha_contrarecibo"
          maxlength="12" /> -->
      </form-field>
    </div>
  </div>
  <div class="row mt-4 pl-0">
    <div class="col-12">
      <form-field [control]="attachedDocumentation" label="Documentación Anexa">
        <textarea
          class="form-control"
          formControlName="attachedDocumentation"
          rows="2"></textarea>
      </form-field>
    </div>
  </div>
  <div class="row mt-4 pl-0">
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep" label="Enero">
        <input
          type="checkbox"
          id="keep"
          formControlName="monthExpense"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep2" label="Febrero">
        <input
          type="checkbox"
          id="keep2"
          formControlName="monthExpense2"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep3" label="Marzo">
        <input
          type="checkbox"
          id="keep3"
          formControlName="monthExpense3"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep4" label="Abril">
        <input
          type="checkbox"
          id="keep4"
          formControlName="monthExpense4"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep5" label="Mayo">
        <input
          type="checkbox"
          id="keep5"
          formControlName="monthExpense5"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep6" label="Junio">
        <input
          type="checkbox"
          id="keep6"
          formControlName="monthExpense6"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep7" label="Julio">
        <input
          type="checkbox"
          id="keep7"
          formControlName="monthExpense7"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep8" label="Agosto">
        <input
          type="checkbox"
          id="keep8"
          formControlName="monthExpense8"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep9" label="Setiembre">
        <input
          type="checkbox"
          id="keep9"
          formControlName="monthExpense9"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep10" label="Octubre">
        <input
          type="checkbox"
          id="keep10"
          formControlName="monthExpense10"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep11" label="Noviembre">
        <input
          type="checkbox"
          id="keep11"
          formControlName="monthExpense11"
          class="form-control" />
      </form-check>
    </div>
    <div class="col-6 col-md-3 col-sm-4">
      <form-check for="keep12" label="Diciembre">
        <input
          type="checkbox"
          id="keep12"
          formControlName="monthExpense12"
          class="form-control" />
      </form-check>
    </div>
  </div>
  <div class="row pl-0">
    <div class="mt-4 col-6 col-md-4">
      <form-field [control]="exchangeRate" label="Tipo de Cambio">
        <input
          type="text"
          class="form-control"
          formControlName="exchangeRate"
          maxlength="8" />
      </form-field>
    </div>
    <div class="mt-4 col-6 col-md-4">
      <form-field [control]="formPayment" label="Forma de Pago">
        <ng-select class="form-control" formControlName="formPayment">
          <ng-option [value]="null">Seleccione un valor</ng-option>
          <ng-option *ngFor="let row of listPayments" [value]="row">
            {{ row }}
          </ng-option>
        </ng-select>
      </form-field>
    </div>
    <div class="mt-4 col-6 col-md-4">
      <form-field [control]="comproafmandsae" label="Comprobantes a Nombre">
        <ng-select class="form-control" formControlName="comproafmandsae">
          <ng-option [value]="null">Seleccione un valor</ng-option>
          <ng-option *ngFor="let row of listComproaf" [value]="row.id">
            {{ row.value }}
          </ng-option>
        </ng-select>
      </form-field>
    </div>
  </div>
  <ng-template #employeeLabel let-item="item">
    {{ item.ClkDet }} - {{ item.MeNomEmp }} {{ item.MeNomAP }}
    {{ item.MeNomAM }}
  </ng-template>
  <ng-template #employeeOption let-item="item">
    <div
      [title]="
        item.ClkDet +
        '-' +
        item.MeNomEmp +
        ' ' +
        item.MeNomAP +
        ' ' +
        item.MeNomAM
      ">
      {{ item.ClkDet }} - {{ item.MeNomEmp }} {{ item.MeNomAP }}
      {{ item.MeNomAM }}
    </div>
  </ng-template>
  <ng-template #paramModLabel let-item="item">
    {{ item.value }} - {{ item.description }}
  </ng-template>
  <ng-template #paramModOption let-item="item">
    <div [title]="item.value + '-' + item.description">
      {{ item.value }} - {{ item.description }}
    </div>
  </ng-template>
  <div class="row mt-4 pl-0" *ngIf="address === 'M'">
    <div class="col-md-6">
      <ng-custom-select-loading
        [form]="form"
        [updateValues]="true"
        formControlName="capturedUser"
        label="Captura"
        [path]="pathEmpleados"
        value="ClkDet"
        bindLabel="MeNomEmp"
        paramSearch="search"
        [labelTemplate]="employeeLabel"
        [optionTemplate]="employeeOption">
      </ng-custom-select-loading>
    </div>
    <div class="col-md-6">
      <ng-custom-select-loading
        [form]="form"
        [updateValues]="true"
        formControlName="authorizedUser"
        label="Autoriza"
        [path]="pathEmpleados"
        value="ClkDet"
        bindLabel="MeNomEmp"
        paramSearch="search"
        [labelTemplate]="employeeLabel"
        [optionTemplate]="employeeOption">
      </ng-custom-select-loading>
    </div>
  </div>
  <div class="row mt-4 pl-0" *ngIf="address === 'M'">
    <ng-custom-select-loading
      [form]="form"
      [updateValues]="true"
      formControlName="requestedUser"
      label="Solicita"
      [path]="pathEmpleados"
      value="ClkDet"
      bindLabel="MeNomEmp"
      paramSearch="search"
      [labelTemplate]="employeeLabel"
      [optionTemplate]="employeeOption">
    </ng-custom-select-loading>
  </div>
  <div class="row mt-4 pl-0" *ngIf="address !== 'M'">
    <div class="col-md-6">
      <ng-custom-select-loading
        [form]="form"
        [updateValues]="true"
        formControlName="capturedUser"
        label="Captura"
        [path]="pathCaptura"
        value="value"
        bindLabel="description"
        paramSearch="search"
        [labelTemplate]="paramModLabel"
        [optionTemplate]="paramModOption">
      </ng-custom-select-loading>
    </div>
    <div class="col-md-6">
      <ng-custom-select-loading
        [form]="form"
        [updateValues]="true"
        formControlName="authorizedUser"
        label="Autoriza"
        [path]="pathAutoriza"
        value="value"
        bindLabel="description"
        paramSearch="search"
        [labelTemplate]="paramModLabel"
        [optionTemplate]="paramModOption">
      </ng-custom-select-loading>
    </div>
  </div>
  <div class="row mt-4 pl-0" *ngIf="address !== 'M'">
    <ng-custom-select-loading
      [form]="form"
      [updateValues]="true"
      formControlName="requestedUser"
      label="Solicita"
      [path]="pathSolicita"
      value="value"
      bindLabel="description"
      paramSearch="search"
      [labelTemplate]="paramModLabel"
      [optionTemplate]="paramModOption">
    </ng-custom-select-loading>
  </div>
  <ng-template #typeOpLabel let-item="item">
    {{ item.key }} - {{ item.description }}
  </ng-template>
  <ng-template #typeOption let-item="item">
    <div [title]="item.key + '-' + item.description">
      {{ item.key }} - {{ item.description }}
    </div>
  </ng-template>
  <div class="row mt-4 pl-0" *ngIf="showTipoOp">
    <ng-custom-select-loading
      [form]="form"
      [updateValues]="true"
      formControlName="typepe"
      label="Tip Operación"
      [path]="pathTypeOp"
      value="key"
      bindLabel="description"
      paramSearch="filter.description"
      prefixSearch="$ilike"
      secondParamSearch="filter.key"
      [labelTemplate]="typeOpLabel"
      [optionTemplate]="typeOption">
    </ng-custom-select-loading>
  </div>
  <div class="row mt-4 pl-0" *ngIf="showTipoTram">
    <ng-template #tramLabel let-item="item">
      {{ item.documentType }} - {{ item.description }}
    </ng-template>
    <ng-template #tramOption let-item="item">
      <div [title]="item.documentType + '-' + item.description">
        {{ item.documentType }} - {{ item.description }}
      </div>
    </ng-template>
    <ng-custom-select-loading
      [form]="form"
      [updateValues]="true"
      formControlName="tiptram"
      [forceSeconSearch]="true"
      [minText]="2"
      typeToSearchText="Escriba 2 o mas caracteres"
      label="Tip Tramite"
      [path]="pathDocument"
      value="documentType"
      bindLabel="description"
      paramSearch="filter.description"
      prefixSearch="$ilike"
      secondParamSearch="filter.documentType"
      [labelTemplate]="tramLabel"
      [optionTemplate]="tramOption">
    </ng-custom-select-loading>
    <div class="d-flex mt-3" *ngIf="showContract">
      <div>
        <button
          type="button"
          tooltip="Contratos"
          class="btn btn-primary btn-sm active pl-3"
          style="width: 36px"
          [disabled]="!conceptNumberValue || !address"
          (click)="openContracts()">
          <i class="bx bx-list-ul bx-sm float-icon"></i>
        </button>
      </div>

      <div style="width: 100%; padding-left: 14px">
        <form-field [control]="form.get('contractNumber')" label="Contrato">
          <input
            type="text"
            class="form-control"
            formControlName="contractNumber"
            readonly />
        </form-field>
      </div>
    </div>
    <div class="row ml-0 mr-0 mt-2 p-0" *ngIf="showContract">
      <form-field
        [control]="form.get('contractDescription')"
        label="Contrato Descripción">
        <textarea
          type="text"
          class="form-control"
          formControlName="contractDescription"
          rows="2"
          readonly></textarea>
      </form-field>
    </div>
    <!-- <ng-template #tipadjLabel let-item="item">
      {{ item.clktipadjud }} - {{ item.cvdsc }}
    </ng-template>
    <ng-template #tipadjOption let-item="item">
      <div [title]="item.clktipadjud + '-' + item.cvdsc">
        {{ item.clktipadjud }} - {{ item.cvdsc }}
      </div>
    </ng-template> -->
    <div *ngIf="showTipAdj" class="row ml-0 mr-0 mt-2 p-0">
      <form-field [control]="form.get('padj')" label="PADJ">
        <input
          type="text"
          class="form-control"
          formControlName="padj"
          readonly />
      </form-field>

      <!-- <ng-custom-select-loading
          [form]="form"
          [updateValues]="true"
          formControlName="padj"
          label="PADJ"
          [path]="pathPadj"
          value="cvdsc"
          bindLabel="cvdsc"
          paramSearch="filter.cvdsc"
          prefixSearch="$ilike"
          [readonly]="true">
        </ng-custom-select-loading> -->
    </div>
    <div *ngIf="showTipAdj" class="row ml-0 mr-0 mt-2 p-0">
      <form-field [control]="form.get('psadj')" label="PSADJ">
        <input
          type="text"
          class="form-control"
          formControlName="padj"
          readonly />
      </form-field>
      <!-- <ng-custom-select-loading
          [form]="form"
          [updateValues]="true"
          [disabled]="!padjValue"
          formControlName="psadj"
          label="PSADJ"
          [path]="pathPsadj"
          value="cvdsc"
          bindLabel="cvdsc"
          paramSearch="filter.cvdsc"
          prefixSearch="$ilike"
          [readonly]="true">
        </ng-custom-select-loading> -->
    </div>
    <div *ngIf="showTipAdj" class="row ml-0 mr-0 mt-2 p-0">
      <form-field [control]="form.get('pssadj')" label="PSSADJ">
        <input
          type="text"
          class="form-control"
          formControlName="pssadj"
          readonly />
      </form-field>

      <!-- <ng-custom-select-loading
          [form]="form"
          [updateValues]="true"
          [disabled]="!psadjValue"
          formControlName="pssadj"
          label="PSSADJ"
          [path]="pathPssadj"
          value="cvdsc"
          bindLabel="cvdsc"
          paramSearch="filter.cvdsc"
          prefixSearch="$ilike"
          [readonly]="true">
        </ng-custom-select-loading> -->
    </div>
    <div *ngIf="showAdj" class="row ml-0 mr-0 mt-2 p-0">
      <form-field [control]="form.get('adj')" label="Adjudicación">
        <input
          type="text"
          class="form-control"
          formControlName="adj"
          readonly />
      </form-field>
      <!-- <ng-custom-select-loading
        style="padding: 0px"
        [form]="form"
        [updateValues]="true"
        [disabled]="!psadjValue"
        formControlName="adj"
        label="Adjudicación"
        [path]="pathPssadj"
        value="cvdsc"
        bindLabel="cvdsc"
        paramSearch="filter.cvdsc"
        prefixSearch="$ilike"
        [readonly]="true">
      </ng-custom-select-loading> -->
    </div>
  </div>
</ng-container>
