<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Notificaci&oacute;n de abandono por devoluci&oacute;n</h5>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('goodId')">
            <ngx-select
              (fetchItems)="getGoodIdDescription($event)"
              [data]="good"
              [form]="form"
              value="id"
              label="No&#46; Bien&#58;"
              bindLabel="description"
              [control]="'goodId'"
              (change)="onGoodIdDescription($event)"
              [labelTemplate]="GoodLabel"
              [optionTemplate]="GoodOption">
            </ngx-select>
          </form-field>

          <ng-template #GoodLabel let-item="item"
            >{{ item.id }} - {{ item.description }}</ng-template
          >
          <ng-template #GoodOption let-item="item"
            >{{ item.id }} - {{ item.description }}</ng-template
          >
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('quantity')" label="Cantidad">
            <input
              type="text"
              class="form-control"
              [readonly]="isdisable"
              formControlName="quantity" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5" *ngIf="period">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('periods')" label="Periodo 1">
            <input type="text" class="form-control" formControlName="periods" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('periods1')" label="Periodo 2">
            <input
              type="text"
              class="form-control"
              formControlName="periods1" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('periods2')" label="Periodo 3">
            <input
              type="text"
              class="form-control"
              formControlName="periods2" />
          </form-field>
        </div>
      </div>
      <div class="form-inline justify-content-end btn-toolbar">
        <button class="btn btn-primary btn-sm active" (click)="search()">
          <i class="fa fa-search"></i> Buscar
        </button>

        <button class="btn btn-danger btn-sm active" (click)="clean()">
          Limpiar
        </button>
      </div>
      <div class="row pt-4">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="data">
          </ng2-smart-table>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
      <div class="row pt-4" *ngIf="searching">
        <div class="d-flex">
          <div class="p-2">
            <button class="btn btn-success btn-sm active">
              <i class="bx bx-check"></i> Aceptar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-card>
