.scroll-table {
  height: 250px;
  overflow-y: auto;
}

.scroll-table::-webkit-scrollbar {
  width: 20px;
}

.scroll-table::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-table::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scroll-table::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

:host ::ng-deep ng2-smart-table tr.available td {
  color: #28a745 !important;
  /* background-color: #28a745;
    color: white !important;
    font-weight: bold !important; */
}

:host ::ng-deep ng2-smart-table tr.not-available td {
  color: #dc3545 !important;
  /* background-color: black;
    color: white !important;
    font-weight: bold !important; */
}
