<ng-container *ngIf="haveServerPagination !== undefined">
  <div class="row pt-4 table-container">
    <div class="form-material col-md-12 table-responsive">
      <div [class]="loading ? 'table-loading' : ''">
        <ng2-smart-table
          class="col-md-12"
          [settings]="settingsTable"
          [source]="datatoShow"
          (userRowSelect)="rowsSelected.emit($event.selected)"
          (editConfirm)="updateRow($event)"
          (deleteConfirm)="showDeleteAlert.emit($event.data)"></ng2-smart-table>
      </div>
    </div>
  </div>
  <app-pagination
    [params]="params"
    [totalItems]="totalItems"
    [pageSizeOptions]="pageSizeOptions"></app-pagination>
</ng-container>
