<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">CONSULTA DE BIENES EN PROCESO COMERCIAL</h5>
    </div>
  </div>
  <div body>
    <div class="md-tabs">
      <tabset>
        <tab heading="Inconsistencias CPs" id="tab1">
          <app-sw-comer-c-monitoring-cps></app-sw-comer-c-monitoring-cps>
        </tab>
        <tab heading="Afectaciones SPs">
          <app-sw-comer-c-monitoring-sps></app-sw-comer-c-monitoring-sps>
        </tab>
      </tabset>
    </div>
  </div>
</app-card>
