<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Categor&iacute;a para numerario efectivo</h5>
      <div class="col-md-5 buttons">
        <div>
          <button
            class="btn btn-primary active btn-sm ml-3"
            (click)="openForm()">
            Nuevo
          </button>
        </div>
      </div>
    </div>
  </div>
  <div body>
    <div class="row">
      <div class="table-responsive">
        <ng2-smart-table
          [settings]="settings"
          [source]="data"
          (edit)="openForm($event.data)"
          (delete)="showDeleteAlert($event.data)"></ng2-smart-table>
      </div>
    </div>
    <app-pagination [params]="params" [totalItems]="totalItems">
    </app-pagination>
  </div>
</app-card>
