<app-card [header]="true">
  <div header class="ch-content">
    <h5 class="title">Categor&iacute;a para numerario efectivo</h5>
  </div>
  <div body>
    <div class="row">
      <div class="d-flex justify-content-end mb-2">
        <app-columns-select [(settings)]="settings"></app-columns-select>
        <div>
          <button
            type="button"
            tooltip="Nuevo"
            containerClass="tooltip-style"
            class="btn btn-info btn-sm active ml-2 mr-2"
            (click)="openForm()">
            Nuevo <i class="bx bx-plus bx-sm float-icon"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row pt-4 table-container">
      <div class="col-md-12 table-responsive">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings"
          [source]="data"
          (edit)="openForm($event.data)"
          (delete)="showDeleteAlert($event.data)"></ng2-smart-table>
      </div>
    </div>
    <app-pagination [params]="params" [totalItems]="totalItems">
    </app-pagination>
  </div>
</app-card>
