<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Pagos facturaci&oacute;n</h5>
    </div>
  </div>
  <div body>
    <!--<div class="ch-content">
      <h5 class="title">B&uacute;squeda de pagos</h5>
    </div>
    <form class="form-material" [formGroup]="form">
      <div class="row pt-5">
        <div class="col-md-2">
          <form-field [control]="form.get('serie')" label="Serie">
            <input type="text" class="form-control" formControlName="serie" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('invoice')" label="Folio">
            <input type="text" class="form-control" formControlName="invoice" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('event')" label="Evento">
            <input type="text" class="form-control" formControlName="event" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('allotment')" label="Lote">
            <input
              type="text"
              class="form-control"
              formControlName="allotment" />
          </form-field>
        </div>
        <div class="col-md-2">
          <div class="justify-content-center">
            <button
              type="button"
              class="btn btn-primary active btn-sm"
              (click)="search()"
              [disabled]="!form.valid">
              Buscar
              <i class="bx bx-search-alt bx-sm float-icon"></i>
            </button>
          </div>
        </div>
      </div>
    </form>-->

    <div class="row">
      <div class="ch-content">
        <h5 class="title">Detalle de facturas</h5>
      </div>
      <div class="col-md-8 mb-3"></div>
      <div class="col-md-4 text-end d-flex flex-row-reverse mb-3">
        <app-columns-select
          [(settings)]="settings"
          [leftList]="true"></app-columns-select>
      </div>
    </div>
    <div class="table-responsive">
      <div [class]="loading ? 'table-loading' : ''">
        <ng2-smart-table
          [settings]="settings"
          [source]="data1"
          (userRowSelect)="selectRow($event.data)"></ng2-smart-table>
        <app-pagination [params]="params" [totalItems]="totalItems">
        </app-pagination>
      </div>
    </div>
    <div *ngIf="rowSelected">
      <div class="row pt-4">
        <div class="ch-content">
          <h5 class="title">Detalle de Pagos</h5>
        </div>
        <div class="col-md-8 mb-3"></div>
        <div class="col-md-4 text-end d-flex flex-row-reverse mb-3">
          <app-columns-select
            [(settings)]="settings2"
            [leftList]="true"></app-columns-select>
        </div>
      </div>
      <div class="table-responsive">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [settings]="settings2"
            (edit)="openForm($event.data)"
            [source]="data2"></ng2-smart-table>
          <app-pagination [params]="params2" [totalItems]="totalItems2">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</app-card>
