<div>
  <div class="row pt-4">
    <div class="d-flex">
      <div class="mr-auto p-2">
        <h5 class="title">
          <strong>Clasificaci&oacute;n del Bien</strong>
        </h5>
      </div>
      <div class="p-2 buttons">
        <button
          class="btn btn-secondary btn-sm active"
          (click)="openSearchModal()">
          B&uacute;squeda Avanzada
        </button>
      </div>
      <div class="p-2 buttons">
        <button class="btn btn-primary btn-sm active" (click)="saveRequest()">
          <i class="bx bx-save"></i> Guardar
        </button>
      </div>
      <div class="p-2 buttons">
        <button class="btn btn-danger btn-sm active" (click)="clean()">
          Cancelar
        </button>
      </div>
    </div>
  </div>

  <div>
    <div class="row pt-4">
      <div class="col-md-6">
        <div
          [formGroup]="classiGoodsForm"
          class="form-group form-secondary form-static-label">
          <ng-select
            class="form-control"
            formControlName="ligieSection"
            [clearable]="false"
            [items]="selectSection"
            [virtualScroll]="true"
            [loading]="loading"
            bindLabel="description"
            bindValue="id">
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <b>{{ item.code }}</b> {{ item.description }}
            </ng-template>
          </ng-select>
          <span class="form-bar"></span>
          <label class="float-label">Sección</label>
        </div>
      </div>
      <div class="col-md-6">
        <ngx-select
          [form]="classiGoodsForm"
          control="ligieChapter"
          (fetchItems)="getChapter($event)"
          [data]="selectChapter"
          [searchable]="false"
          bindLabel="description"
          label="Cap&iacute;tulo"
          value="id">
        </ngx-select>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-6">
        <ngx-select
          [form]="classiGoodsForm"
          control="ligieLevel1"
          (fetchItems)="getLevel1($event)"
          [data]="selectLevel1"
          [searchable]="false"
          bindLabel="description"
          label="Nivel 1"
          value="id">
        </ngx-select>
      </div>
      <div class="col-md-6">
        <ngx-select
          [form]="classiGoodsForm"
          control="ligieLevel2"
          (fetchItems)="getLevel2($event)"
          [data]="selectLevel2"
          [searchable]="false"
          bindLabel="description"
          label="Nivel 2"
          value="id">
        </ngx-select>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-6">
        <ngx-select
          [form]="classiGoodsForm"
          control="ligieLevel3"
          (fetchItems)="getLevel3($event)"
          [data]="selectLevel3"
          [searchable]="false"
          bindLabel="description"
          label="Nivel 3"
          value="id">
        </ngx-select>
      </div>
      <div class="col-md-6">
        <ngx-select
          [form]="classiGoodsForm"
          control="ligieLevel4"
          (fetchItems)="getLevel4($event)"
          [data]="selectLevel4"
          [searchable]="false"
          bindLabel="description"
          label="Nivel 4"
          value="id">
        </ngx-select>
      </div>
    </div>
    <div class="row pt-4" *ngIf="typeDoc === 'assets'">
      <hr style="color: black" />
      <app-detail-assets-tab-component
        [requestObject]="requestObject"
        [detailAssets]="classiGoodsForm"
        [domicilieObject]="domicilieObject"
        [process]="process"
        [typeDoc]="typeDoc"></app-detail-assets-tab-component>
    </div>
  </div>
</div>
