<app-card [header]="true">
  <div class="ch-content" header>
    <div class="row w-100">
      <div class="col-12 col-sm-12 col-md-8">
        <h5
          class="title"
          [class]="actualGoodNumber ? 'pointer' : ''"
          (click)="goToHistoric()">
          DEPURACIÓN DE FOTOGRAFÍAS
          <ng-container *ngIf="numberGood">{{ actualGoodNumber }}</ng-container>
        </h5>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-end" *ngIf="origin">
        <button class="btn btn-primary active btn-sm m-2" (click)="goBack()">
          Regresar
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
  </div>

  <div body>
    <div class="row">
      <div class="col-md-12 md-tabs" *ngIf="form">
        <form [formGroup]="form" class="form-material">
          <div class="paginator" *ngIf="totalItems > 1">
            <app-pagination
              [params]="params"
              [totalItems]="totalItems"
              [limit]="newLimit"
              [maxSize]="1"></app-pagination>
          </div>

          <tabset #staticTabs>
            <tab heading="Parámetros de B&uacute;squeda">
              <div class="row">
                <div class="col-md-6">
                  <app-goods-types-shared
                    [form]="form"
                    [(loadTypes)]="loadTypes"
                    typeField="type"
                    subtypeField="subtype"
                    ssubtypeField="ssubtype"
                    sssubtypeField="sssubtype"
                    (goodSssubtypeChange)="
                      getGoods($event)
                    "></app-goods-types-shared>
                </div>
                <div class="col-md-6">
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('noBien')"
                      label="No. de Bien">
                      <input
                        class="form-control"
                        formControlName="noBien"
                        maxlength="10" />
                    </form-field>
                  </div>
                  <div class="row pt-4">
                    <form-field
                      [control]="form.get('noClasif')"
                      label="No. Clasificación Bien">
                      <input
                        type="text"
                        class="form-control"
                        maxlength="6"
                        formControlName="noClasif"
                        readonly
                        (change)="updateClasif($event)"
                        (customEvent)="handleEvent($event)" />
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field [control]="form.get('status')" label="Estatus">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="status"
                        readonly />
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('fileNumber')"
                      label="No. Expediente">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="fileNumber" />
                    </form-field>
                  </div>
                </div>
              </div>
              <div footer>
                <div class="d-flex justify-content-center">
                  <div class="m-3">
                    <button
                      [disabled]="formLoading"
                      class="btn btn-primary btn-sm active"
                      type="button"
                      (click)="searchGood()">
                      Buscar
                      <i class="bx bx-search-alt bx-sm float-icon"></i>
                    </button>
                  </div>
                  <div class="m-3">
                    <button
                      [disabled]="formLoading"
                      class="btn btn-danger btn-sm active"
                      type="button"
                      (click)="clearFilter()">
                      Limpiar
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Bienes Fotos">
              <div *ngIf="errorMessage" class="errorMessage">
                {{ errorMessage }}
              </div>
              <div
                *ngIf="!disabledBienes || di_numerario_conciliado"
                class="mb-5"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                ">
                <button
                  *ngIf="!disabledBienes"
                  type="button"
                  class="btn btn-sm btn-primary active"
                  (click)="save()">
                  Guardar
                  <i class="bx bx-save text-light float-icon"></i>
                </button>
              </div>

              <!-- <app-delegation-shared [form]="form"></app-delegation-shared> -->

              <!-- <div class="row" *ngIf="loading === false">
                <app-good-table-vals
                  *ngIf="good"
                  [goodChange]="goodChange"
                  [disabled]="disabledBienes"
                  [good]="good"
                  [clasification]="
                    numberClassification ? numberClassification.value : null
                  "
                  [avaluo]="goodAppraisal2 ? goodAppraisal2.value : null"
                  [di_numerario_conciliado]="
                    di_numerario_conciliado
                  "></app-good-table-vals>
              </div> -->
            </tab>
            <tab heading="Validación de Fotografías">
              <app-photos-tabs
                [goodNumber]="actualGoodNumber + ''"
                [disabled]="false"></app-photos-tabs>
            </tab>
          </tabset>
        </form>
      </div>
    </div>
  </div>
</app-card>
