<app-card [header]="true">
  <div class="ch-content" header>
    <div class="row w-100">
      <div class="col-12 col-sm-12 col-md-8">
        <h5
          class="title"
          [class]="actualGoodNumber ? 'pointer' : ''"
          (click)="goToHistoric()">
          DEPURACIÓN DE FOTOGRAFÍAS
          <ng-container *ngIf="numberGood">{{ actualGoodNumber }}</ng-container>
        </h5>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-end" *ngIf="origin">
        <button class="btn btn-primary active btn-sm m-2" (click)="goBack()">
          Regresar
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
  </div>

  <div body>
    <div class="row">
      <div class="col-md-12 md-tabs" *ngIf="form">
        <form [formGroup]="form" class="form-material">
          <div class="paginator" *ngIf="totalItems > 1">
            <app-pagination
              [params]="params"
              [totalItems]="totalItems"
              [limit]="newLimit"
              [maxSize]="1"></app-pagination>
          </div>

          <tabset #staticTabs>
            <tab heading="Parámetros de B&uacute;squeda">
              <div class="row">
                <div class="col-md-4">
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('noBien')"
                      label="No. de Bien">
                      <input
                        class="form-control"
                        formControlName="noBien"
                        maxlength="10" />
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('descripcion')"
                      label="Descripci&oacute;n">
                      <textarea
                        formControlName="descripcion"
                        class="form-control"
                        [readonly]="disabledDescripcion2"
                        maxlength="1250"></textarea>
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field [control]="form.get('status')" label="Estatus">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="status"
                        readonly />
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('lotDesc')"
                      label="Descripción de Lote">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="lotDesc"
                        readonly />
                    </form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('fileNumber')"
                      label="No. Expediente">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="fileNumber" />
                    </form-field>
                    <!-- <ngx-select [form]=" form" control="fileNumber"
                        (fetchItems)="getExpedient($event, this.params.getValue())" [showTooltip]="true"
                        [data]="expedientSelected" bindLabel="description" [searchable]="false" label="Bien"
                        value="expedientSelected"></ngx-select>
                      <form-field [control]="form.get('fileNumber')" label="No. Expediente">
                        <input type="number" class="form-control" formControlName="fileNumber" (keydown)="
                                                  getExpedient(this.form.controls['fileNumber'].value)
                                                " />
                      </form-field>

                      -->
                  </div>
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('idEvent')"
                      label="Id. Evento">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="idEvent" />
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field [control]="form.get('idLot')" label="Id. Lote">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="idLot" />
                    </form-field>
                  </div>
                  <div class="row pt-3">
                    <form-field
                      [control]="form.get('eventDesc')"
                      label="Descripción de Evento">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="eventDesc"
                        readonly />
                    </form-field>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <app-goods-types-shared [form]="form" [(loadTypes)]="loadTypes" typeField="type"
                    subtypeField="subtype" ssubtypeField="ssubtype" sssubtypeField="sssubtype" (goodSssubtypeChange)="
                      getGoods($event)
                    "></app-goods-types-shared>
                </div> -->
              </div>
              <div footer>
                <div class="d-flex justify-content-center">
                  <div class="m-3">
                    <button
                      [disabled]="formLoading"
                      class="btn btn-primary btn-sm active"
                      type="button"
                      (click)="searchGood()">
                      Buscar
                      <i class="bx bx-search-alt bx-sm float-icon"></i>
                    </button>
                  </div>
                  <div class="m-3">
                    <button
                      [disabled]="formLoading"
                      class="btn btn-danger btn-sm active"
                      type="button"
                      (click)="clearFilter()">
                      Limpiar
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Bienes Fotos">
              <div class="row">
                <div *ngIf="errorMessage" class="errorMessage">
                  {{ errorMessage }}
                </div>
                <div
                  class="mb-5"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  ">
                  <div class="justify-content-right btn-toolbar pt-5">
                    <app-columns-select
                      [(settings)]="settings"></app-columns-select>
                    <!-- <input #file style="display: none" type="file" id="photo" class="inputfile inputfile-3" />

                    <button type="button" class="btn btn-info btn-sm active">
                      <i class="fa fa-search"></i> Buscar
                    </button> -->
                    &nbsp;
                  </div>
                  <div [class]="loading ? 'table-loading' : ''">
                    <ng2-smart-table
                      [attr.class]="'table-bordered'"
                      [settings]="settings"
                      [source]="photographs"
                      (edit)="viewImage($event.data)">
                    </ng2-smart-table>
                    <app-pagination
                      [params]="params"
                      [totalItems]="totalItems"></app-pagination>
                  </div>
                  <!-- <div [class]="loading ? 'table-loading' : ''">
                    <ng2-smart-table [attr.class]="'table-bordered'" [settings]="settings" [source]="photographs"
                      (edit)="viewImage($event.data)">
                    </ng2-smart-table>
                    <app-pagination [params]="params" [totalItems]="totalItems"></app-pagination>
                  </div> -->
                  <!-- <div class="justify-content-end btn-toolbar pt-5">
                    <app-columns-select
                      [(settings)]="settings"></app-columns-select>
                  </div> -->
                  <!-- <div class="row pt-3">
                    <div [class]="loading ? 'table-loading' : ''">
                      <ng2-smart-table [attr.class]="'table-bordered'" [settings]="settings" [source]="photographs"
                        (edit)="viewImage($event.data)">
                      </ng2-smart-table>
                      <app-pagination [params]="params" [totalItems]="totalItems"></app-pagination>
                    </div>
                  </div> -->
                </div>
              </div>
            </tab>
            <tab heading="Fotos">
              <app-photos-tabs
                [goodNumber]="actualGoodNumber + ''"
                [disabled]="false"></app-photos-tabs>
            </tab>
          </tabset>
        </form>
      </div>
    </div>
  </div>
</app-card>
