<div class="row">
  <div class="ch-content">
    <h5 class="title">Errores y datos nulos</h5>
    <div class="row text-end justify-content-end">
      <div class="col-md-4 text-end d-flex flex-row-reverse mt-3 mb-3">
        <app-columns-select
          [defaultColumns]="7"
          [(settings)]="settings"
          [leftList]="true"></app-columns-select>
      </div>
    </div>
  </div>
</div>
<div class="row pt-3">
  <form-loader *ngIf="loading"></form-loader>
  <div>
    <ng-scrollbar
      [track]="'all'"
      [ngStyle]="{ height: loading ? '0px' : '300px' }">
      <ng2-smart-table
        [ngStyle]="{ height: loading ? '0px' : 'auto' }"
        [attr.class]="'mb-4'"
        [source]="dataFilter"
        [settings]="settings"></ng2-smart-table>
    </ng-scrollbar>
  </div>
  <app-pagination [params]="paramsList" [totalItems]="totalItems">
  </app-pagination>
</div>
