<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Generar Estrategia</h5>
  </div>

  <div body>
    <div class="row">
      <div class="col-12">
        <h5 class="">Orden de Servicio</h5>
      </div>
    </div>

    <form
      class="form-material"
      [formGroup]="formService"
      (ngSubmit)="onSubmit()">
      <div class="row pt-2">
        <form-field class="col-md-2" [control]="formService.get('type')">
          <ngx-select
            [data]="types"
            [form]="formService"
            value="value"
            bindLabel="label"
            [searchable]="false"
            label="Tipo"
            control="type">
          </ngx-select>
        </form-field>
        <form-field class="col-md-4" [control]="formService.get('process')">
          <ngx-select
            [data]="processes"
            [form]="formService"
            value="processNumber"
            bindLabel="description"
            label="Proceso"
            control="process"
            [labelTemplate]="processLabel"
            [optionTemplate]="processOpion">
          </ngx-select>
        </form-field>

        <ng-template #processLabel let-item="item">
          <strong>{{ item.processNumber }}</strong> -
          {{ item.description }}</ng-template
        >
        <ng-template #processOpion let-item="item">
          <strong>{{ item.processNumber }}</strong> -
          {{ item.description }}</ng-template
        >

        <form-field
          class="col-md-2"
          [control]="formService.get('captureDate')"
          label="Fecha de Captura">
          <input
            type="text"
            class="form-control"
            bsDatepicker
            formControlName="captureDate" />
        </form-field>
        <form-field
          class="col-md-4"
          [control]="formService.get('strategyCve')"
          label="Clave de Estrategia">
          <input
            type="text"
            class="form-control"
            formControlName="strategyCve" />
        </form-field>
      </div>

      <div class="row pt-5">
        <form-field
          class="col-md-3"
          [control]="formService.get('cancellAuthDate')"
          label="Fecha Autorizaci&oacute;n/Cancelaci&oacute;n">
          <input
            type="text"
            class="form-control"
            bsDatepicker
            formControlName="cancellAuthDate" />
        </form-field>

        <form-field
          class="col-md-2"
          [control]="formService.get('uniqueKey')"
          label="Clave &Uacute;nica de 3 Niveles">
          <input type="text" class="form-control" formControlName="uniqueKey" />
        </form-field>

        <form-field
          class="col-md-3"
          [control]="formService.get('transferenceId')">
          <ngx-select
            [data]="transfers"
            [form]="formService"
            value="value"
            bindLabel="label"
            label="Transferente"
            control="transferenceId">
          </ngx-select>
        </form-field>

        <form-field
          class="col-md-3"
          [control]="formService.get('transmitterId')">
          <ngx-select
            [data]="transmitters"
            [form]="formService"
            value="value"
            bindLabel="label"
            label="Emisora"
            control="transmitterId">
          </ngx-select>
        </form-field>
      </div>

      <div class="row pt-5">
        <form-field class="col-md-3" [control]="formService.get('authorityId')">
          <ngx-select
            [data]="authorities"
            [form]="formService"
            value="value"
            bindLabel="label"
            label="Autoridad"
            control="authorityId">
          </ngx-select>
        </form-field>
        <form-field class="col-md-3" [control]="formService.get('keyStore')">
          <ngx-select
            [data]="stores"
            [form]="formService"
            value="area_tramite"
            label="Almacen"
            control="keyStore">
          </ngx-select>
        </form-field>

        <form-field
          class="col-md-3"
          [control]="formService.get('location')"
          label="Ubicacion">
          <input type="text" class="form-control" formControlName="location" />
        </form-field>
        <form-field
          class="col-md-3"
          [control]="formService.get('municipality')"
          label="Municipio">
          <input
            type="text"
            class="form-control"
            formControlName="municipality" />
        </form-field>
      </div>

      <div class="row pt-5">
        <form-field
          class="col-md-3"
          [control]="formService.get('state')"
          label="Entidad">
          <input type="text" class="form-control" formControlName="state" />
        </form-field>
        <form-field
          class="col-md-3"
          [control]="formService.get('providerFolio')"
          label="Folio Provedor">
          <input
            type="text"
            class="form-control"
            formControlName="providerFolio" />
        </form-field>
      </div>

      <app-divider></app-divider>

      <div class="row pt-3">
        <div class="col-md-6">
          <h5>Fechas Evento</h5>
          <div class="row pt-4">
            <form-field
              class="col-md-6"
              [control]="formService.get('eventStartDate')"
              label="Fecha Inicial">
              <input
                type="text"
                class="form-control"
                bsDatepicker
                formControlName="eventStartDate" />
            </form-field>

            <form-field
              class="col-md-6"
              [control]="formService.get('eventEndDate')"
              label="Fecha Final">
              <input
                type="text"
                class="form-control"
                bsDatepicker
                formControlName="eventEndDate" />
            </form-field>
          </div>

          <div class="row pt-3">
            <form-field [control]="formService.get('eventTime')">
              <timepicker formControlName="eventTime"></timepicker>
            </form-field>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Cambio Estatus</h5>
          <div class="row pt-4">
            <form-field [control]="formService.get('statusChange')">
              <ngx-select
                class="col-md-6"
                [data]="statuses"
                [form]="formService"
                value="value"
                bindLabel="label"
                [searchable]="false"
                label="Estatus"
                control="statusChange">
              </ngx-select>

              <div class="col-md-6 text-center">
                <button
                  class="btn btn-primary active btn-sm"
                  (click)="openModal()">
                  Hist&oacute;rico
                </button>
              </div>
            </form-field>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-5">
      <ng2-smart-table
        [attr.class]="'table-bordered'"
        [settings]="settingsGoods"
        [source]="dataGoods">
      </ng2-smart-table>
    </div>

    <div class="row mt-5 justify-content-center justify-content-md-end">
      <div class="col-12 col-md-3 text-center text-md-right">
        <button
          (click)="incorporatesGoods()"
          class="btn btn-primary active btn-sm">
          Incorporar Bienes
        </button>
      </div>
      <div class="col-12 col-md-3 mt-3 mt-md-0 text-center text-right">
        <button class="btn btn-primary active btn-sm">Eliminar Bienes</button>
      </div>
      <div class="col-12 col-md-3 mt-3 mt-md-0 text-center text-md-right">
        <button class="btn btn-primary active btn-sm">
          G. Programaci&oacute;n
        </button>
      </div>
    </div>

    <app-divider></app-divider>

    <div class="row mt-5">
      <div class="col-12">
        <h5 class="">Control de las Ordenes de Servicio</h5>
      </div>
    </div>

    <div class="row justify-content-end mt-3">
      <div class="col-md-5 buttons pt-3 text-right">
        <app-columns-select
          (settingsChange)="settingsChange($event)"
          [settings]="settingsOrders">
        </app-columns-select>
      </div>
    </div>

    <div class="row mt-5">
      <ng2-smart-table
        [attr.class]="'table-bordered'"
        [settings]="settingsOrders"
        [source]="dataOrders">
      </ng2-smart-table>
    </div>
  </div>
</app-card>
