<div class="pt-3">
  <h5 class="title">
    <p>
      <a class="text-color" (click)="showComments = true" *ngIf="!showComments">
        <i class="fa fa-angle-right" aria-hidden="true"></i> Comentarios</a
      >
    </p>

    <p>
      <a class="text-color" (click)="showComments = false" *ngIf="showComments">
        <i class="fa fa-angle-down" aria-hidden="true"></i> Comentarios</a
      >
    </p>
  </h5>
  <form [formGroup]="commentsForm" class="form-material">
    <div class="row pt-3">
      <div class="col-md-12">
        <form-field
          [control]="commentsForm.get('observations')"
          label="Observaciones">
          <textarea
            class="form-control"
            formControlName="observations"
            [readOnly]="readonly"></textarea>
        </form-field>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <form-field [control]="commentsForm.get('note')" label="Notas">
          <textarea
            class="form-control"
            formControlName="note"
            [readOnly]="readonly"></textarea>
        </form-field>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <form-field
          [control]="commentsForm.get('commentRejection')"
          label="Comentario de Rechazo">
          <textarea
            class="form-control"
            [readOnly]="readonlyNotification"
            formControlName="commentRejection"></textarea>
        </form-field>
      </div>
    </div>
  </form>
  <!--<div class="row pt-3" *ngIf="showComments">
    <div class="col-md-12">
      <form [formGroup]="ordServform" class="form-material">
        <div class="pt-3">
          <form-field
            [control]="ordServform.get('observation')"
            label="Observaciones">
             <textarea
              *ngIf="
                (showForm && op == 1) ||
                (showForm && op != 5 && op != 3 && op != 2) ||
                (!showForm && op == 9) ||
                (!showForm && op == 13)
              "
              class="form-control"
              formControlName="observation"></textarea>
 
            <textarea
              class="form-control"
              formControlName="observation"
              [readOnly]="readonly"></textarea>
          </form-field>
        </div>
        <div class="pt-3">
          <form-field [control]="ordServform?.get('notes')" label="Notas">
             <textarea
              class="form-control"
              formControlName="notes"
              *ngIf="
                (showForm && op == 1) ||
                (showForm && op != 5 && op != 3 && op != 2) ||
                (!showForm && op == 9) ||
                (!showForm && op == 9) ||
                (!showForm && op == 13)
              "></textarea> 

            <textarea
              class="form-control"
              formControlName="notes"
              [readOnly]="readonly"></textarea>
          </form-field>
        </div>
        <div class="pt-3" *ngIf="op == 10">
          <form-field
            [control]="ordServform?.get('justification')"
            label="Justificación">
            <textarea
              class="form-control"
              formControlName="justification"
              readonly></textarea>
          </form-field>
        </div>
        <div class="pt-3" *ngIf="op == 12 || op == 14 || op == 15">
          <form-field
            [control]="ordServform?.get('commentRejection')"
            label="Comentario de rechazo">
            <textarea
              class="form-control"
              formControlName="commentRejection"
              readonly></textarea>
          </form-field>
        </div>
        <div class="pt-3" *ngIf="op == 13">
          <form-field
            [control]="ordServform?.get('justificationReport')"
            label="Justificación Reporte">
            <textarea
              class="form-control"
              formControlName="justificationReport"
              readonly></textarea>
          </form-field>
        </div>
      </form>
    </div>
  </div> -->
</div>
