+<app-modal>
  <div header>
    <h5 class="modal-title">Alta almac&eacute;n</h5>
  </div>
  <div body>
    <form [formGroup]="warehouseForm" class="form-material">
      <div class="row">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('numberRegister')"
            label="No&#46; de registro">
            <input
              type="text"
              class="form-control"
              maxlength="30"
              formControlName="numberRegister" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('responsibleUser')">
            <ngx-select
              [form]="warehouseForm"
              control="responsibleUser"
              [data]="users"
              value="id"
              bindLabel="firstName"
              label="Usuario reponsable"
              (fetchItems)="getResponsibleUserSelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('description')"
            label="Nombre del almac&eacute;n">
            <input
              type="text"
              class="form-control"
              maxlength="1000"
              formControlName="description" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('typeTercero')">
            <ngx-select
              [form]="warehouseForm"
              control="typeTercero"
              [data]="typeTercero"
              value="code"
              bindLabel="description"
              label="Tipo tercero"
              (fetchItems)="getTypeTerceroSelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('numberManagement')"
            label="N&uacute;mero de gesti&oacute;n">
            <input
              type="text"
              class="form-control"
              maxlength="30"
              formControlName="numberManagement" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-check label="Con localizador" for="label">
            <input id="label" type="checkbox" formControlName="locator" />
          </form-check>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('contractNumber')"
            label="N&uacute;mero de contrato">
            <input
              type="text"
              class="form-control"
              maxlength="40"
              formControlName="contractNumber" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('siabWarehouse')"
            label="Almac&eacute;n SIAB">
            <input
              type="text"
              class="form-control"
              maxlength="60"
              formControlName="siabWarehouse" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('startOperation')"
            label="inicio operaciones">
            <input
              bsDatepicker
              class="form-control"
              formControlName="startOperation" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('endOperation')"
            label="Fin operaciones">
            <input
              bsDatepicker
              class="form-control"
              formControlName="endOperation" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('responsibleDelegation')"
            label="Delegaci&oacute;n Regional">
            <input
              type="text"
              class="form-control"
              maxlength="150"
              formControlName="responsibleDelegation"
              readonly />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('managedBy')"
            label="Administrado por">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="managedBy" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('stateCode')">
            <ngx-select
              [form]="warehouseForm"
              control="stateCode"
              [data]="states"
              value="id"
              bindLabel="descCondition"
              label="Estado"
              (change)="stateSelect($event)"
              (fetchItems)="getStateSelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('cityCode')"
            *ngIf="show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              control="cityCode"
              [data]="cities"
              value="idCity"
              bindLabel="nameCity"
              label="Ciudad"
              (fetchItems)="getCitySelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('cityCode')"
            *ngIf="!show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              control="cityCode"
              [data]="cities"
              [searchable]="show_city_municipality"
              value="id"
              bindLabel="nameCity"
              label="Ciudad"
              (fetchItems)="getCitySelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('municipalityCode')"
            *ngIf="show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              control="municipalityCode"
              [data]="municipalities"
              value="idMunicipality"
              bindLabel="nameMunicipality"
              label="Municipio"
              (change)="municipalitySelect($event)"
              (fetchItems)="getMunicipalitiesSelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('municipalityCode')"
            *ngIf="!show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              [searchable]="show_city_municipality"
              control="municipalityCode"
              [data]="municipalities"
              value="idMunicipality"
              bindLabel="nameMunicipality"
              label="Municipio"
              (fetchItems)="getMunicipalitiesSelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('localityCode')"
            *ngIf="showLocality">
            <ngx-select
              [form]="warehouseForm"
              control="localityCode"
              [data]="localities"
              value="id"
              bindLabel="nameLocation"
              label="Localidad"
              (change)="localitySelect($event)"
              (fetchItems)="getLocalitySelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('localityCode')"
            *ngIf="!showLocality">
            <ngx-select
              [form]="warehouseForm"
              [searchable]="showLocality"
              control="localityCode"
              [data]="localities"
              value="id"
              bindLabel="nameLocation"
              label="Localidad"
              (fetchItems)="getLocalitySelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('zipCode')"
            *ngIf="showZipCode">
            <ngx-select
              [form]="warehouseForm"
              control="zipCode"
              [data]="zipCode"
              value="codePostal"
              bindLabel="codePostal"
              label="C&oacute;digo postal"
              (fetchItems)="getZipCodeSelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('zipCode')"
            *ngIf="!showZipCode">
            <ngx-select
              [form]="warehouseForm"
              control="zipCode"
              [data]="zipCode"
              [searchable]="showZipCode"
              value="id"
              bindLabel="codePostal"
              label="C&oacute;digo postal"
              (fetchItems)="getZipCodeSelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('street')" label="Calle">
            <input
              type="text"
              maxlength="200"
              class="form-control"
              formControlName="street" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('numberOutside')"
            label="N&uacute;mero exterior">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="numberOutside" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('latitude')" label="Latitud">
            <input
              type="text"
              class="form-control"
              maxlength="150"
              formControlName="latitude" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('longitude')"
            label="Longitud">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="longitude" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('type')">
            <ngx-select
              [form]="warehouseForm"
              control="type"
              [data]="typeWarehouse"
              value="id"
              bindLabel="description"
              label="Tipo de almac&eacute;n"
              (fetchItems)="getTypeWarehouseSelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!warehouseForm.valid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
