<app-modal>
  <div header>
    <h5 class="modal-title">Alta almac&eacute;n</h5>
  </div>
  <div body>
    <form [formGroup]="warehouseForm" class="form-material">
      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbidstore')"
            label="N&uacute;mero de Gesti&oacute;n Inmueble">
            <input
              type="text"
              class="form-control"
              maxlength="30"
              [readOnly]="true"
              formControlName="nbidstore" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('nbusername')">
            <ngx-select
              [form]="warehouseForm"
              control="nbusername"
              [data]="users"
              value="username"
              [showTooltip]="true"
              bindLabel="fullName"
              label="Usuario Reponsable"
              (change)="userSelect($event)"
              (fetchItems)="getResponsibleUserSelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbstoresiab')"
            label="Nombre del Almac&eacute;n">
            <input
              type="text"
              class="form-control"
              maxlength="1000"
              formControlName="nbstoresiab" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('tpThird')">
            <ngx-select
              [form]="warehouseForm"
              control="tpThird"
              [data]="typeTercero"
              [showTooltip]="true"
              value="code"
              bindLabel="description"
              label="Tipo Tercero"
              (fetchItems)="getTypeTerceroSelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('wildebeestDelegationregion')"
            label="Delegaci&oacute;n Regional">
            <input
              type="text"
              class="form-control"
              maxlength="150"
              formControlName="wildebeestDelegationregion"
              readonly />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbadmonby')"
            label="Administrado Por">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="nbadmonby" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('idState')">
            <ngx-select
              [form]="warehouseForm"
              control="idState"
              [showTooltip]="true"
              [data]="states"
              value="id"
              bindLabel="descCondition"
              label="Estado"
              (change)="stateSelect($event)"
              (fetchItems)="getStateSelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbidstore')"
            label="N&uacute;mero de Gesti&oacute;n Inmueble">
            <input
              type="text"
              class="form-control"
              formControlName="nbidstore" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('wildebeestmunicipality')"
            *ngIf="show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              control="wildebeestmunicipality"
              [data]="municipalities"
              value="idMunicipality"
              [showTooltip]="true"
              bindLabel="nameMunicipality"
              label="Municipio"
              (change)="municipalitySelect($event)"
              (fetchItems)="getMunicipalitiesSelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('wildebeestmunicipality')"
            *ngIf="!show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              [searchable]="show_city_municipality"
              control="wildebeestmunicipality"
              [data]="municipalities"
              value="idMunicipality"
              [showTooltip]="true"
              bindLabel="nameMunicipality"
              label="Municipio"
              (fetchItems)="getMunicipalitiesSelect($event)"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-6">
          <form-check label="Con Localizador" for="label">
            <input id="label" type="checkbox" formControlName="nbwithlocator" />
          </form-check>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('idCity')"
            *ngIf="show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              control="idCity"
              [data]="cities"
              [showTooltip]="true"
              value="idCity"
              bindLabel="nameCity"
              label="Ciudad"
              (fetchItems)="getCitySelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('idCity')"
            *ngIf="!show_city_municipality">
            <ngx-select
              [form]="warehouseForm"
              control="idCity"
              [data]="cities"
              [searchable]="show_city_municipality"
              [showTooltip]="true"
              value="id"
              bindLabel="nameCity"
              label="Ciudad"
              (fetchItems)="getCitySelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbcontract')"
            label="No. de Contrato">
            <input
              type="text"
              class="form-control"
              maxlength="40"
              formControlName="nbcontract" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('wildebeestSettlement')"
            *ngIf="showLocality">
            <ngx-select
              [form]="warehouseForm"
              control="wildebeestSettlement"
              [data]="localities"
              value="id"
              [showTooltip]="true"
              bindLabel="nameLocation"
              label="Localidad"
              (change)="localitySelect($event)"
              (fetchItems)="getLocalitySelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('wildebeestSettlement')"
            *ngIf="!showLocality">
            <ngx-select
              [form]="warehouseForm"
              [searchable]="showLocality"
              control="wildebeestSettlement"
              [data]="localities"
              value="id"
              bindLabel="nameLocation"
              [showTooltip]="true"
              label="Localidad"
              (fetchItems)="getLocalitySelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbstoresiab')"
            label="Almac&eacute;n SIAB">
            <input
              type="text"
              class="form-control"
              maxlength="60"
              formControlName="nbstoresiab" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbzipcode')"
            *ngIf="showZipCode">
            <ngx-select
              [form]="warehouseForm"
              control="nbzipcode"
              [data]="zipCode"
              value="codePostal"
              [showTooltip]="true"
              bindLabel="codePostal"
              label="C&oacute;digo Postal"
              (fetchItems)="getZipCodeSelect($event)"></ngx-select>
          </form-field>
          <form-field
            [control]="warehouseForm.get('nbzipcode')"
            *ngIf="!showZipCode">
            <ngx-select
              [form]="warehouseForm"
              control="nbzipcode"
              [data]="zipCode"
              [showTooltip]="true"
              [searchable]="showZipCode"
              value="id"
              bindLabel="codePostal"
              label="C&oacute;digo Postal"
              (fetchItems)="getZipCodeSelect($event)"></ngx-select>
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('fhstart')"
            label="Inicio Operaciones">
            <input
              bsDatepicker
              class="form-control"
              formControlName="fhstart" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('nbstreet')" label="Calle">
            <input
              type="text"
              maxlength="200"
              class="form-control"
              formControlName="nbstreet" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('fhend')"
            label="Fin Operaciones">
            <input bsDatepicker class="form-control" formControlName="fhend" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nbnoexternal')"
            label="N&uacute;mero Exterior">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="nbnoexternal" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nblatitude')"
            label="Latitud">
            <input
              type="text"
              class="form-control"
              maxlength="150"
              formControlName="nblatitude" />
          </form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('nblength')"
            label="Longitud">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="nblength" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('tpstore')">
            <ngx-select
              [form]="warehouseForm"
              control="tpstore"
              [data]="typeWarehouse"
              [showTooltip]="true"
              value="id"
              bindLabel="description"
              label="Tipo de Almac&eacute;n"
              (fetchItems)="getTypeWarehouseSelect($event)"></ngx-select>
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!warehouseForm.valid"
          [text]="'Enviar'"
          [loadingText]="'Enviando almacén'"
          [loading]="loading"
          [icon]="'bx bx-send'"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button class="btn btn-primary active" (click)="close()" type="button">
          Regresar <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
  </div>
</app-modal>
