<p>CARGA.....</p>
<!--ng-container>
  <div class="row mb-3 mt-3" *ngIf="showCuentas">
    <div class="col-md-12">
      <form-field [control]="form.get(cuentaField)">
        <ngx-select
              (fetchItems)="getCuentas($event)"
              [data]="cuentasData"
              [form]="form"
              value="bankCode"
              bindLabel="name"
              [label]="labelName"
              [control]="cuentaField">
              (change)="onCuentasChange($event)"
        </ngx-select>
      </form-field>
    </div>
  </div>
</ng-container-->
