<app-modal>
  <div header>
    <h5 class="modal-title">{{ status }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <form-field [control]="form.get('id')" label="No. Tipo evento">
            <input
              type="number"
              class="form-control"
              formControlName="id"
              min="0"
              oninput="if(this.value.length > 2) this.value = this.value.slice(0, 2);" />
          </form-field>
        </div>

        <div class="col-md-4">
          <form-field
            [control]="form.get('typeFailedpId')"
            label="Tipo de Fallo">
            <input
              type="number"
              class="form-control"
              formControlName="typeFailedpId"
              min="0"
              oninput="if(this.value.length > 2) this.value = this.value.slice(0, 2);" />
          </form-field>
        </div>

        <div class="col-md-4">
          <form-field
            [control]="form.get('typeDispId')"
            label="Tipo de Dispersión">
            <input
              type="number"
              class="form-control"
              formControlName="typeDispId"
              min="0"
              oninput="if(this.value.length > 2) this.value = this.value.slice(0, 2);" />
          </form-field>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <form-field [control]="form.get('description')" label="Descripción">
            <input
              type="text"
              class="form-control"
              formControlName="description"
              maxlength="30" />
          </form-field>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <form-field
            [control]="form.get('descReceipt')"
            label="Descripción Reporte">
            <input
              rows="2"
              class="form-control"
              formControlName="descReceipt"
              maxlength="30" />
          </form-field>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-4">
          <form-field [control]="form.get('use')" label="Uso">
            <input
              rows="3"
              class="form-control"
              formControlName="use"
              maxlength="240" />
          </form-field>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!form.valid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
