<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">
      Reporte del cierre para generación histórica del númerario efectivo
    </h5>
  </div>
  <div body>
    <div class="row mt-3 mb-3">
      <form action="" class="form-material" [formGroup]="form">
        <div class="row mt-4">
          <div class="col-md-4">
            <form-field
              [control]="form.get('dateReport')"
              label="Fecha a reportar">
              <input
                [(ngModel)]="dateReportNg"
                (ngModelChange)="dateReport($event)"
                formControlName="dateReport"
                class="form-control"
                [maxDate]="maxDate"
                bsDatepicker />
            </form-field>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              [disabled]="form.invalid"
              class="btn btn-primary active btn-sm"
              (click)="Generar()">
              Imprimir <i class="bx bx-printer bx-sm float-icon"></i>
            </button>
            <!-- <confirm-button text="Imprimir" [disabled]="form.invalid" (confirm)="Generar()"> 
            </confirm-button>-->
          </div>
        </div>
      </form>
    </div>
  </div>
</app-card>
