<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Mantenimiento de Programaciones</h5>
  </div>
  <div body>
    <div class="row mb-5">
      <app-clean-filters-shared
        [form]="form"
        formStorage="filtersActa"></app-clean-filters-shared>
    </div>

    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <app-proceeding-types-shared
            [form]="form"></app-proceeding-types-shared>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('fechaInicio')" label="Fecha Inicio">
            <input
              bsDatepicker
              class="form-control"
              formControlName="fechaInicio"
              [maxDate]="hoy" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('fechaFin')" label="Fecha Fin">
            <input
              bsDatepicker
              class="form-control"
              [minDate]="fechaInicio.value"
              [maxDate]="hoy"
              formControlName="fechaFin" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('statusEvento')"
            label="Estatus Evento">
            <select class="form-control" formControlName="statusEvento">
              <option value="TODOS">Todos</option>
              <option value="ABIERTA">Abierto</option>
              <option value="CERRADA">Cerrado</option>
            </select>
          </form-field>
        </div>
      </div>
      <div class="row mt-3" style="margin-top: 20px">
        <div class="col-md-6">
          <app-select-form
            [form]="form"
            [multiple]="true"
            formField="coordRegional"
            label="Coordinación Regional"
            value="description"
            [haveTodos]="false"
            [getListObservable]="coordRegional"
            [(params)]="paramsCoords"></app-select-form>
          <!-- <app-regional-coord-shared [form]="form"></app-regional-coord-shared> -->
        </div>
        <div class="col-md-6">
          <app-select-form
            [form]="form"
            formField="usuario"
            label="Usuarios"
            bindLabel="name"
            [haveTodos]="false"
            [operator]="like"
            [getListObservable]="usuarios"
            [(paramsFilter)]="paramsUsers"></app-select-form>
          <!-- <app-elaborate-users-shared
            [form]="form"></app-elaborate-users-shared> -->
        </div>
      </div>

      <div class="action-buttons">
        <div class="col-md-6" [class]="loading ? 'disabled' : ''">
          <button
            class="btn btn-primary btn-sm active"
            type="submit"
            size="small"
            (click)="getData()">
            <i class="fa fa-search"></i>
            Buscar
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="btn btn-primary btn-sm active"
            type="submit"
            size="small"
            (click)="openModalActas()">
            <i class="bx bx-search float-icon"></i>
            Buscar Bien en Acta
          </button>
        </div>
      </div>
    </form>
  </div>
</app-card>

<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Programaciones</h5>
    <div class="buttons mt-2">
      <app-columns-select
        [(settings)]="settings1"
        [defaultColumns]="4"></app-columns-select>
      <button
        class="btn btn-primary btn-sm active"
        type="submit"
        size="small"
        [disabled]="selecteds.length === 0"
        (click)="deleteProgramations()">
        <i class="bx bx-trash float-icon"></i>
        Borrar Programaciones
      </button>
    </div>
  </div>
  <div body>
    <div class="row pt-4">
      <div class="col-md-12 scheduledTable">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            class="col-md-12 table-responsive"
            [settings]="settings1"
            [source]="data"
            (userRowSelect)="rowsSelected($event)"
            (edit)="redirectDetailMaintenance($event.data)"
            (delete)="showDeleteAlert($event.data)"></ng2-smart-table>
        </div>
      </div>
    </div>

    <app-pagination
      [params]="params"
      [totalItems]="totalItems"></app-pagination>
    <hr class="row" />
  </div>
</app-card>
