<div class="btn-group" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-sm btn-info dropdown-toggle active"
    aria-controls="dropdown-basic">
    Columnas
  </button>
  <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1"> -->
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    [ngClass]="leftList == false ? '' : 'left'"
    role="menu"
    aria-labelledby="button-basic">
    <li (click)="$event.stopPropagation()" role="menu" class="dropdown-item">
      <input
        type="text"
        id="searchbar"
        [formControl]="searchControl"
        class="form-control" />
    </li>
    <li (click)="$event.stopPropagation()" role="menu" class="dropdown-item">
      <input
        [formControl]="selectAllControl"
        type="checkbox"
        (click)="selectAll()" />
      Todas las columnas
    </li>
    <li
      role="menuitem"
      *ngFor="let column of getColumns()"
      [class]="
        (selectVal().length < 3 && column.show) || column.showAlways
          ? 'dropdown-item disabled '
          : 'dropdown-item '
      "
      (click)="
        column.show = !column.show; selectColumn($event, column.id, column.show)
      ">
      <input
        type="checkbox"
        name=""
        id=""
        (click)="
          column.show = !column.show;
          selectColumn($event, column.id, column.show)
        "
        [disabled]="
          (selectVal().length < 3 && column.show) || column.showAlways
        "
        [value]="column"
        [checked]="column.show" />
      {{ column.name }}
    </li>
  </ul>
  <!-- </div> -->
</div>

<!-- Example split danger button -->
<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button
    type="button"
    class="btn btn-danger dropdown-toggle dropdown-toggle-split"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div> -->
