<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">PREPARACI&Oacute;N DE EVENTO</h5>
    </div>
  </div>
  <div body>
    <h6>MÓDULO COMERCIAL {{ blkTasks.tDirection }}</h6>
    <hr class="row" />
    <div class="row pb-2">
      <event-data-form
        [eventFormVisual]="eventFormVisual"
        *ngIf="canvas.main"
        [eventForm]="eventForm"
        [isOpenEvent]="true"
        [parameters]="parameters"
        [loggedUser]="loggedUser"
        (onSuccessApply)="onApply()"></event-data-form>
    </div>
    <div class="row">
      <div class="md-tabs">
        <tabset [justified]="true" class="fill-custom-tab" #tasksTabs>
          <tab (selectTab)="newEvent()">
            <ng-template tabHeading>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                  <div>
                    <span>Nuevo </span>
                  </div>
                  <div><i class="bx bx-plus bx-sm float-icon"></i></div>
                </div>
              </div>
            </ng-template>
            <reserved-goods
              [eventForm]="eventForm"
              [parameters]="parameters"
              [loggedUser]="loggedUser"></reserved-goods>
          </tab>
          <tab [active]="true" (selectTab)="taskOpenEvent()">
            <ng-template tabHeading>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                  <div>
                    <span>Abrir </span>
                  </div>
                  <div><i class="fa fa-folder-open"></i></div>
                </div>
              </div>
            </ng-template>
            <commer-events-list
              [events]="events"
              [params]="comerEventsListParams"
              [parameters]="parameters"
              (onOpenEvent)="onOpenEvent()"
              [(globalEvent)]="globalEvent"
              [eventForm]="eventForm"></commer-events-list>
          </tab>
          <tab (selectTab)="lotesTab()">
            <ng-template tabHeading>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                  <div>
                    <span>Lotes </span>
                  </div>
                  <div><i class="fa fa-th"></i></div>
                </div>
              </div>
            </ng-template>
            <commer-packages-lots
              [eventForm]="eventForm"
              [lots]="lots"
              (onLotSelected)="lotSelected = $event"
              [loggedUser]="loggedUser"
              (fillStadistics)="fillStadistics()"
              [comerLotsListParams]="comerLotsListParams"
              [parameters]="parameters"></commer-packages-lots
          ></tab>
          <tab (selectTab)="viewCustomers()">
            <ng-template tabHeading>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                  <div>
                    <span>Clientes </span>
                  </div>
                  <div><i class="fa fa-users"></i></div>
                </div>
              </div>
            </ng-template>
            <commer-event-customers
              [eventForm]="eventForm"
              [params]="comerCustomersListParams"></commer-event-customers
          ></tab>
          <tab (selectTab)="availableGoods()">
            <ng-template tabHeading>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                  <div>
                    <span>Bienes Disponibles </span>
                  </div>
                  <div><i class="fa fa-check"></i></div>
                </div>
              </div>
            </ng-template>
            <consigments-container
              [preparation]="preparation"
              (exit)="exitConsignment($event)"
              [parameters]="parameters"
              [eventForm]="eventForm"
              [parentLot]="lotSelected"></consigments-container>
          </tab>
          <tab (selectTab)="viewBase()">
            <ng-template tabHeading>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                  <div>
                    <span>Bases</span>
                  </div>
                  <div><i class="fa fa-window-minimize"></i></div>
                </div>
              </div>
            </ng-template>
            <commer-packages-lots
              [eventForm]="eventForm"
              [lots]="lots"
              (onLotSelected)="lotSelected = $event"
              [onlyBase]="true"
              [loggedUser]="loggedUser"
              (fillStadistics)="fillStadistics()"
              [comerLotsListParams]="comerLotsListParams"
              [parameters]="parameters"></commer-packages-lots>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <event-preparation-stadistics
          [stadisticsForm]="stadisticsForm"></event-preparation-stadistics>
      </div>
    </div>
  </div>
</app-card>
