<app-card [header]="true" t>
  <div header>
    <div class="ch-content">
      <h5 class="title">
        CONSULTA DE AVAL&Uacute;OS
        {{ direction == 'M' ? 'MUEBLES' : 'INMUEBLES' }}
      </h5>
    </div>
  </div>
  <div body>
    <appraisal-consultation-form
      [form]="form"
      [$search]="$search"
      [sumForm]="sumForm"></appraisal-consultation-form>
    <hr />
    <appraisal-consultation-list
      [form]="form"
      [$search]="$search"
      [direction]="direction"
      [sumForm]="sumForm"></appraisal-consultation-list>
  </div>
</app-card>
