<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-2">
          <form-field [control]="form.get('id')" label="ID">
            <input
              [readOnly]="edit"
              type="text"
              class="form-control"
              formControlName="id"
              oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4)" />
          </form-field>
        </div>
        <div class="col-md-10">
          <form-field [control]="form.get('description')" label="Descripción">
            <input
              type="text"
              class="form-control"
              formControlName="description"
              oninput="if(this.value.length > 100) this.value = this.value.slice(0, 100)" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          (confirm)="saveData()"
          [disabled]="!form.valid"
          [btnSmall]="true"
          [loading]="loading"></confirm-button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-sm btn-danger active"
          (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
