:host ::ng-deep .paginator app-pagination {
  .paginator-page-size {
    display: none !important;
  }

  // .paginator-range-label {
  //   display: none !important;
  // }
}

:host::ng-deep .paginator app-pagination {
  .pagination {
    display: flex;
    column-gap: 5px;

    .page-item {
      .page-link {
        width: 36px !important;
        height: 36px !important;
        display: flex !important;
        margin-top: 0px !important;
      }
    }
  }
}

.btn-return {
  color: #9d2449;
  padding-left: 0px;
  left: -10px;
  position: relative;
  display: flex;
  align-items: center;
  top: -20px;
  margin-top: 5px;

  > i {
    font-size: 35px;
  }

  &:hover {
    color: #9d2449;
  }
}

.title {
  font-size: 15px !important;
  font-weight: 500 !important;
  position: relative !important;
}
