:host ::ng-deep .paginator app-pagination {
  .paginator-page-size {
    display: none !important;
  }

  // .paginator-range-label {
  //   display: none !important;
  // }
}

:host::ng-deep .paginator app-pagination {
  .pagination {
    display: flex;
    column-gap: 5px;

    .page-item {
      .page-link {
        width: 36px !important;
        height: 36px !important;
        display: flex !important;
        margin-top: 0px !important;
      }
    }
  }
}
