<app-modal>
  <div header>
    <h5 class="modal-title">
      {{ edit ? 'Editar' : 'Agregar' }} {{ title }} {{ id }}
    </h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="providerForm">
      <div class="row">
        <div class="col-md-2">
          <form-field [control]="providerForm.get('position')" label="Posición">
            <input
              type="text"
              class="form-control"
              formControlName="position"
              maxlength="5" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="providerForm.get('column')">
            <ngx-select
              [form]="providerForm"
              [data]="dataItems"
              value="column"
              (fetchItems)="getColumns($event)"
              (change)="changeOpt($event)"
              bindLabel="column"
              control="column"
              label="Columna"
              [searchOnInit]="true"
              [showTooltip]="true">
            </ngx-select>
            <!-- <input
              type="text"
              class="form-control"
              formControlName="column"
              maxlength="35" /> -->
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="providerForm.get('type')" label="Tipo Dato">
            <input
              type="text"
              class="form-control"
              formControlName="type"
              maxlength="15" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="providerForm.get('length')" label="Longitud">
            <input
              type="text"
              class="form-control"
              formControlName="length"
              maxlength="3" />
          </form-field>
        </div>
        <div class="col-md-12 mt-2">
          <form-field
            [control]="providerForm.get('constant')"
            label="Constante">
            <textarea
              class="form-control"
              formControlName="constant"
              rows="3"
              cols="3"
              maxlength="500">
            </textarea>
          </form-field>
        </div>
        <div class="col-md-3 mt-2">
          <form-field
            [control]="providerForm.get('carFilling')"
            label="Car&aacute;cter de Relleno">
            <input
              type="text"
              class="form-control"
              formControlName="carFilling"
              maxlength="1" />
          </form-field>
        </div>
        <div class="col-md-3 mt-2">
          <form-field
            [control]="providerForm.get('justification')"
            label="Justificaci&oacute;n">
            <ng-select formControlName="justification" class="form-control">
              <ng-option value="I">Izquierda</ng-option>
              <ng-option value="D">Derecha</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-3 mt-2">
          <form-field [control]="providerForm.get('decimal')" label="Decimal">
            <input
              type="text"
              class="form-control"
              formControlName="decimal"
              maxlength="2" />
          </form-field>
        </div>
        <div class="col-md-3 mt-2">
          <form-field
            [control]="providerForm.get('dateFormat')"
            label="Formato de Fecha">
            <input
              type="text"
              class="form-control"
              formControlName="dateFormat"
              maxlength="20" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button
          [disabled]="providerForm.invalid"
          type="button"
          class="btn btn-primary btn-sm active"
          (click)="confirm()">
          Guardar
          <i class="fa fa-save"></i>
        </button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger btn-sm active"
          (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
