<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Configuraci&oacute;n Dise&#241;os</h5>
  </div>
  <div body>
    <div class="row">
      <div class="d-inline mx-2">
        <button
          class="btn btn-primary active btn-sm m-3"
          (click)="back()"
          style="float: right"
          *ngIf="origin">
          Regresar
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
    <app-card [header]="true">
      <div class="ch-content" header>
        <h5 class="title">Diseños</h5>
      </div>
      <div body>
        <div class="row">
          <div class="d-inline mx-2 d-flex flex-row-reverse mb-3 mr-3">
            <app-columns-select
              [defaultColumns]="5"
              [leftList]="true"
              [(settings)]="settings5"></app-columns-select>
            <div>
              <button
                type="button"
                tooltip="Nuevo"
                (click)="addLayouts()"
                containerClass="tooltip-style"
                class="btn btn-info btn-sm active ml-2 mr-2">
                Nuevo <i class="bx bx-plus bx-sm float-icon"></i>
              </button>
            </div>
          </div>
          <div class="col-12" name="COMER_LAYOUTS_H">
            <form-loader *ngIf="loadingLayouts"></form-loader>
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loadingLayouts ? '0px' : '400px' }">
              <ng2-smart-table
                [attr.class]="''"
                [settings]="settings5"
                [source]="dataTableLayouts"
                (userRowSelect)="userRowSelect($event)"
                (edit)="editLayouts($event)"
                (delete)="deleteLayouts($event)">
              </ng2-smart-table>
            </ng-scrollbar>
            <app-pagination
              [params]="dataTableParamsLayouts"
              [totalItems]="totalLayouts"></app-pagination>
          </div>
        </div>
      </div>
    </app-card>
    <app-card [header]="true">
      <div class="ch-content" header>
        <h5 class="title">Estructura del Dise&#241;o</h5>
      </div>
      <div body>
        <div class="d-inline mx-2 d-flex flex-row-reverse mb-3 mr-3">
          <app-columns-select
            class="mr-4"
            [leftList]="true"
            [(settings)]="settings6"></app-columns-select>
          <div>
            <button
              type="button"
              tooltip="Nuevo"
              (click)="addLayoutsStructure()"
              containerClass="tooltip-style"
              class="btn btn-info btn-sm active ml-2 mr-2">
              Nuevo <i class="bx bx-plus bx-sm float-icon"></i>
            </button>
          </div>
        </div>
        <div class="col-12" name="COMER_LAYOUTS_T">
          <form-loader *ngIf="loadingLayoutsStructure"></form-loader>
          <ng-scrollbar
            [track]="'all'"
            [ngStyle]="{ height: loadingLayoutsStructure ? '0px' : '300px' }">
            <ng2-smart-table
              [attr.class]="''"
              [settings]="settings6"
              [source]="dataTableLayoutsStructure"
              (edit)="editLayoutsStructure($event)"
              (delete)="deleteLayoutsStructure($event)">
            </ng2-smart-table>
          </ng-scrollbar>
          <app-pagination
            [params]="dataTableParamsLayoutsStructure"
            [totalItems]="totalLayoutsStructure"></app-pagination>
        </div>
        <div class="col-sm-12 col-12 col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Sumatoria Total de la Columna Longitud</strong>
              <div class="badge badge-pill bg-info text-wrap ml-2 mr-2">
                &nbsp;{{ lengthTotal }}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <confirm-button
            text="Duplicar Dise&#241;os"
            [disabled]="!valid"
            [loading]="loading"
            [btnSmall]="true"
            (confirm)="duplicar()"></confirm-button>
        </div>
      </div>
    </app-card>
  </div>
</app-card>
