<div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="title">
        Identificar Procedencia de Bienes Destino Documental
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="form-material col-md-5 mr-auto p-2">
        <!-- <search-bar [params]="params"></search-bar> -->
      </div>
    </div>
    <div class="d-flex">
      <div class="mr-auto p-2"></div>
      <div class="p-2">
        <button
          class="btn btn-sm btn-primary active"
          (click)="saveGoodSaeDescrip()">
          Guardar <i aria-hidden="true" class="fa fa-save"></i>
        </button>
      </div>
      <div class="p-2">
        <app-columns-select
          [leftList]="true"
          [(settings)]="goodSetting"></app-columns-select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div [class]="loading ? 'table-loading' : ''">
        <ng2-smart-table
          [attr.class]="'table-bordered table-responsive'"
          [settings]="goodSetting"
          [source]="assetsArray"
          (rowSelect)="selectGoods($event.data)"
          ><!-- (userRowSelect)="selectGoods($event)" -->
        </ng2-smart-table>
      </div>
    </div>
    <app-pagination
      [filterParams]="params"
      [totalItems]="totalItems"></app-pagination>
  </div>

  <div class="row" style="margin-top: 3%">
    <div class="col-md-12">
      <div class="d-flex">
        <div class="mr-auto p-2"></div>
        <div class="p-2">
          <button
            [disabled]="
              statusTask == 'FINALIZADA' || showClarificationButtons === false
            "
            class="btn btn-primary btn-sm active"
            (click)="newClarification()">
            Nuevo
          </button>
        </div>
        <div class="p-2">
          <button
            [disabled]="
              statusTask == 'FINALIZADA' || showClarificationButtons === false
            "
            style="margin-left: 2px"
            class="btn btn-secondary btn-sm active"
            (click)="editForm()">
            Editar
          </button>
        </div>
        <div class="p-2">
          <button
            [disabled]="
              statusTask == 'FINALIZADA' || showClarificationButtons === false
            "
            style="margin-left: 2px"
            class="btn btn-danger btn-sm active"
            (click)="deleteClarification()">
            Eliminar
          </button>
        </div>
        <div class="p-2">
          <app-columns-select
            [leftList]="true"
            [(settings)]="settings"></app-columns-select>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <!-- <ng-scrollbar track="all" style="min-height: 200px; border: none"> -->
      <div [class]="isLoadingTable2 ? 'table-loading' : ''">
        <ng2-smart-table
          [attr.class]="'table-bordered table-responsive'"
          [settings]="settings"
          [source]="paragraphs"
          (userRowSelect)="clarifiRowSelected($event)"
          ><!-- (rowSelect)="editRequest($event)" (edit)="openForm($event.data)" -->
        </ng2-smart-table>
      </div>
      <!--  </ng-scrollbar> -->
    </div>
  </div>
  <div class="row pt-1">
    <app-detail-assets-tab-component
      [detailAssets]="goodForm"
      [typeDoc]="typeDoc"
      [requestObject]="requestObject"
      [domicilieObject]="domicilieObject"
      [process]="process"
      *ngIf="rowSelected"></app-detail-assets-tab-component>
  </div>
</div>
