<form [formGroup]="form" class="form-material">
  <app-card [header]="true" [footer]="true">
    <div class="ch-content" header>
      <h5 class="title">Solicitud de cambio a numeración</h5>
    </div>
    <div body>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('legalStatus')"
            label="Situación Jurídica">
            <ng-select
              formControlName="legalStatus"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="AS">ASEGURADO</ng-option>
              <ng-option value="DE">DECOMISADO</ng-option>
              <ng-option value="AB">ABANDONADO</ng-option>
            </ng-select>
          </form-field>
          <ng-container *ngIf="form.get('legalStatus').value">
            <ng-container *ngIf="form.get('legalStatus').value === 'AS'">
              <ng-container *ngIf="true">
                {{ esta }}
                {{ es }}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="form.get('legalStatus').value === 'DE'">
              <ng-container *ngIf="true">
                {{ esta }}
                {{ es }}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="form.get('legalStatus').value === 'AB'">
              <ng-container *ngIf="true">
                {{ esta }}
                {{ es }}
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <form-field [control]="form.get('type')">
            <ngx-select
              [form]="form"
              [data]="tiposData"
              label="Tipo &#45; Subtipo &#45; Descripci&oacute;n"
              value="clasifGoodNumber"
              bindLabel="tipoSupbtipoDescription"
              (fetchItems)="getTodos($event)"
              control="type"
              [multiple]="true">
            </ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('delegation')">
            <ngx-select
              [form]="form"
              [data]="itemsDelegation"
              label="Delegación"
              value="id"
              bindLabel="description"
              (fetchItems)="getDelegations($event)"
              control="delegation">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('warehouse')">
            <ngx-select
              [form]="form"
              [data]="itemsAlmacen"
              label="Almacén"
              bindLabel="description"
              value="idWarehouse"
              (fetchItems)="getAlmacen($event)"
              control="warehouse">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('vault')">
            <ngx-select
              [form]="form"
              [data]="itemsBoveda"
              label="Bóveda"
              bindLabel="description"
              value="idSafe"
              (fetchItems)="getBoveda($event)"
              control="vault">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <button
            type="submit"
            class="btn btn-primary btn-sm active"
            tooltip="Enviar"
            containerClass="tooltip-style"
            (click)="getDataTable()"
            [disabled]="!form.valid">
            Ejecutar
          </button>
          <button
            class="btn btn-danger btn-sm active mr-3"
            (click)="cleanFilter()"
            [disabled]="!form.valid"
            style="margin: 1vh">
            Limpiar <i class="fas fa-eraser"> </i>
          </button>
        </div>
      </div>
    </div>
  </app-card>
</form>

<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Bienes x Tipo</h5>
  </div>
  <div body>
    <div class="row">
      <div class="d-flex justify-content-end mb-2">
        <app-columns-select [(settings)]="settings"></app-columns-select>
      </div>
      <div [class]="loading ? 'table-loading' : ''">
        <ng2-smart-table
          class="table-responsive"
          [attr.class]="'table-responsive table-bordered'"
          [source]="data"
          [settings]="settings"
          (userRowSelect)="selectData($event.data)"
          (edit)="showReceipt($event.data)">
        </ng2-smart-table>
        <br />
        <div>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
      <!-- <ng2-smart-table [attr.class]="'table-bordered'" [settings]="settings" [source]="data">
      </ng2-smart-table>
      <app-pagination [params]="params" [totalItems]="totalItems"></app-pagination> -->
    </div>
  </div>
</app-card>

<form [formGroup]="formaplicationData" class="form-material">
  <app-card [header]="true" [footer]="true">
    <div class="ch-content" header>
      <h5 class="title">Datos de la solicitud y sus bienes</h5>
    </div>
    <div body>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12" style="display: flex">
          <form-field
            [control]="formaplicationData.get('applicationChangeCashNumber')"
            label="No. Solicitud"
            style="top: -20px">
            <input
              type="text"
              class="form-control"
              formControlName="applicationChangeCashNumber"
              maxlength="7" />
          </form-field>
          <button
            type="button"
            class="btn btn-primary active btn-sm"
            style="margin-left: 5vh"
            (click)="search()"
            [disabled]="
              formaplicationData.get('applicationChangeCashNumber').value ==
              null
            ">
            Buscar
            <i class="bx bx-search-alt bx-sm float-icon"></i>
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('dateRequestChangeNumerary')"
            label="Fecha Solicitud">
            <input
              type="text"
              class="form-control mt-2"
              formControlName="dateRequestChangeNumerary"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('userRequestChangeNumber')">
            <ngx-select
              [form]="formaplicationData"
              [data]="itemsUser"
              label="Usuario Solicita"
              value="usuario"
              bindLabel="usuario"
              (fetchItems)="getUsuario($event)"
              (change)="searchUsuario($event)"
              control="userRequestChangeNumber"
              class="form-control mt-2">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('postUserRequestCamnum')"
            label="Cargo">
            <input
              type="text"
              class="form-control mt-2"
              formControlName="postUserRequestCamnum"
              maxlength="200" />
          </form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('delegationRequestcamnum')"
            label="No. Delegacion Solicitante">
            <input
              type="text"
              class="form-control mt-2"
              formControlName="delegationRequestcamnum"
              maxlength="200" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('procedureProposal')"
            label="Procedimiento Propuesto">
            <select
              class="form-control mt-2"
              formControlName="procedureProposal">
              <option [value]="null">Seleccione un valor</option>
              <option value="LICITACION PUBLICA">LICITACION PUBLICA</option>
              <option value="INVITACION">INVITACION</option>
              <option value="LICITACION DIRECTA">ADJUDICACION DIRECTA</option>
              <option value="SUBASTA">SUBASTA</option>
              <option value="REMATE">REMATE</option>
            </select>
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="formaplicationData.get('authorizeUser')">
            <ngx-select
              [form]="formaplicationData"
              [data]="itemsUser1"
              label="Usuario Autoriza"
              value="usuario"
              bindLabel="usuario"
              (fetchItems)="getUsuario1($event)"
              (change)="searchUsuario1($event)"
              control="authorizeUser"
              class="form-control mt-2">
            </ngx-select>
          </form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('authorizePostUser')"
            label="Cargo">
            <input
              type="text"
              class="form-control mt-2"
              formControlName="authorizePostUser" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('authorizeDelegation')"
            label="No. Delegacion Autoriza">
            <input
              type="text"
              class="form-control mt-2"
              formControlName="authorizeDelegation" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="formaplicationData.get('authorizeDate')"
            label="Fecha Autoriza">
            <input
              type="text"
              class="form-control mt-2"
              formControlName="authorizeDate"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
          </form-field>
        </div>
      </div>
      <div class="row">
        <div footer>
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="guardarSolicitud()"
                [disabled]="!formaplicationData.valid"
                style="margin: 1vh">
                Guardar
                <i aria-hidden="true" class="fa fa-save"></i>
              </button>
              <button
                class="btn btn-danger btn-sm active mr-3"
                (click)="clean()"
                style="margin: 1vh">
                Limpiar <i class="fas fa-eraser"> </i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row mb-6 mt-6">
        <div class="col-md-12">
          <button
            type="button"
            class="btn btn-primary btn-sm active"
            style="margin-left: 1vh"
            (click)="pasar()">
            Pasar
          </button>
          <button
            class="btn btn-primary btn-sm active"
            style="margin-left: 1vh"
            (click)="pasarTodo()">
            Pasar Todo
          </button>
          <button
            class="btn btn-primary btn-sm active"
            style="margin-left: 1vh"
            (click)="quitarTodo()">
            Borrar Todo
          </button>
          <button
            class="btn btn-primary btn-sm active"
            style="margin-left: 1vh"
            (click)="quitar()">
            Borrar
          </button>
        </div>
        <hr />
        <div class="col-md-11 col-sm-12 col-xs-12">
          <div [class]="loading ? 'table-loading' : ''">
            <ng2-smart-table
              [attr.class]="'table-bordered'"
              [settings]="settings1"
              [source]="data1"
              (userRowSelect)="selectDataCamNum($event.data)">
            </ng2-smart-table>
            <app-pagination
              [params]="params1"
              [totalItems]="totalItems1"></app-pagination>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container"></div>

        <div footer>
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button
                type="button"
                class="btn btn-primary active btn-sm"
                (click)="printScanFile()">
                Imprimir <i class="bx bx-printer bx-sm float-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-card>
</form>
<div
  #modal="bs-modal"
  [config]="{ ignoreBackdropClick: true }"
  bsModal
  class="modal fade w-100">
  <app-modal class="modal-dialog modalSizeXL modal-dialog-centered">
    <div header>
      <h5 class="modal-title">GASTOS X BIEN</h5>
    </div>
    <div body>
      <div class="row mt-n3">
        <div class="col-md-12 heigth-limit">
          <div class="d-flex justify-content-end mb-2">
            <app-columns-select [(settings)]="settings2"></app-columns-select>
          </div>

          <div [class]="loading ? 'table-loading' : ''">
            <ng2-smart-table
              [attr.class]="'table-bordered'"
              [settings]="settings2"
              [source]="data2">
            </ng2-smart-table>
            <app-pagination
              [params]="params"
              [totalItems]="totalItems2"></app-pagination>
          </div>
        </div>
      </div>
    </div>
    <div footer>
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <button
            type="button"
            class="btn btn-danger active"
            (click)="cerrarModal()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </app-modal>
</div>
