:host ::ng-deep accordion {
  ::ng-deep {
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      padding: 0px !important;

      app-card {
        .card {
          box-shadow: 0 0 !important;
          .card-block {
            padding: 20px 20px 0px !important;
          }
        }
      }
      .notAdd {
        ng2-smart-table {
          .ng2-smart-actions-title-add {
            a {
              display: none;
            }
          }
        }
      }
    }
  }
}
