:host ::ng-deep accordion {
  ::ng-deep {
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      padding: 0px !important;

      app-card {
        .card {
          box-shadow: 0 0 !important;
          .card-block {
            padding: 20px 20px 0px !important;
          }
        }
      }

      ng2-smart-table {
        thead {
          th.address {
            min-width: 130px;
          }
        }
      }

      .notAdd {
        ng2-smart-table {
          .ng2-smart-actions-title-add {
            a {
              display: none;
            }
          }
        }
      }
      app-columns-select {
        display: none;
        @media screen and (max-width: 576px) {
          display: block;
        }
      }
    }
  }
}

:host
  ::ng-deep
  tr.ng2-smart-filters
  th.ng2-smart-th
  ng2-smart-table-filter
  div.ng2-smart-filter
  default-table-filter
  input-filter
  input::placeholder {
  color: transparent !important;
}
