<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Documentos por expediente</h5>
  </div>
  <div body>
    <form [formGroup]="dateDocumentsForm" class="form-material">
      <div class="row margin-input">
        <div class="col-md-4">
          <form-field
            label="Nombre"
            [control]="dateDocumentsForm.get('proceedings')">
            <input
              class="form-control"
              formControlName="proceedings"
              type="number" />
          </form-field>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-sm active">Buscar</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="data1">
          </ng2-smart-table>
        </div>
      </div>
      <app-pagination
        [params]="params"
        [totalItems]="totalItems"></app-pagination>
    </div>
  </div>
</app-card>
