<form [formGroup]="form" class="form-material" (submit)="getData()">
  <div class="row mb-3 mt-3">
    <form-field [control]="form.get('goodNumber')" class="col-md-8">
      <ngx-select
        [form]="form"
        [data]="good"
        label="No. Bien"
        value="goodId"
        bindLabel="tipoSupbtipoDescription"
        (fetchItems)="getGoodSelect($event)"
        control="goodNumber">
      </ngx-select>
    </form-field>
    <form-field
      [control]="form.get('expedientNumber')"
      label="No. Expediente"
      class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="expedientNumber"
        class="form-control" />
    </form-field>
    <form-field
      [control]="form.get('serieNumber')"
      label="No. Serie"
      class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="serieNumber"
        class="form-control" />
    </form-field>
  </div>
  <div class="row mt-3 mb-3">
    <form-field [control]="form.get('mandate')" class="col-md-8">
      <ngx-select
        [form]="form"
        [data]="transferents"
        label="No. Transferente"
        value="id"
        bindLabel="tipoSupbtipoDescription"
        (fetchItems)="getTransSelect($event)"
        control="mandate">
      </ngx-select>
    </form-field>
    <form-field [control]="form.get('lot')" label="Lote" class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="lot"
        class="form-control" />
    </form-field>
    <form-field [control]="form.get('rfc')" label="RFC" class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="rfc"
        class="form-control" />
    </form-field>
  </div>
  <div class="row mb-3 mt-3">
    <form-field [control]="form.get('eventId')" class="col-md-8">
      <ngx-select
        [form]="form"
        [data]="Event"
        label="Evento"
        value="id"
        bindLabel="tipoSupbtipoDescription"
        (fetchItems)="getEventSelect($event)"
        control="eventId">
      </ngx-select>
    </form-field>
    <form-field [control]="form.get('client')" label="Cliente" class="col-md-4">
      <input type="text" formControlName="client" class="form-control" />
    </form-field>
  </div>
  <div class="row mb-3 mt-3">
    <form-field
      [control]="form.get('eventTp')"
      label="Tipo de Evento"
      class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="eventTp"
        class="form-control" />
    </form-field>
    <form-field
      [control]="form.get('descTypeEvent')"
      label="Descripción Tipo de Evento"
      class="col-md-6">
      <input type="text" formControlName="descTypeEvent" class="form-control" />
    </form-field>
    <form-field [control]="form.get('price')" label="Precio" class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="price"
        class="form-control" />
    </form-field>
    <form-field [control]="form.get('oi')" label="Orden" class="col-md-2">
      <input
        type="number"
        [min]="0"
        formControlName="oi"
        class="form-control" />
    </form-field>
  </div>
  <div class="row mb-3 mt-3">
    <form-field
      [control]="form.get('regc')"
      class="col-md-2"
      label="Coordinación Captura">
      <input
        type="number"
        [min]="0"
        formControlName="regc"
        class="form-control" />
    </form-field>
    <form-field
      [control]="form.get('descord')"
      class="col-md-6"
      label="Descripción Coordinación">
      <input type="text" formControlName="descord" class="form-control" />
    </form-field>
    <form-field
      [control]="form.get('facture')"
      class="col-md-2"
      label="Factura">
      <input type="text" formControlName="facture" class="form-control" />
    </form-field>
    <form-field
      [control]="form.get('reference')"
      class="col-md-2"
      label="Referencia">
      <input
        type="number"
        [min]="0"
        formControlName="reference"
        class="form-control" />
    </form-field>
  </div>
  <div class="row mb-3 mt-3">
    <form-field
      [control]="form.get('dateInit')"
      class="col-md-3"
      label="De Fecha Evento">
      <input bsDatepicker class="form-control" formControlName="dateInit" />
    </form-field>
    <form-field
      [control]="form.get('dateFinal')"
      class="col-md-3"
      label="A Fecha Evento">
      <input bsDatepicker class="form-control" formControlName="dateFinal" />
    </form-field>
  </div>

  <div class="row text-center">
    <div class="col">
      <button
        class="btn btn-danger btn-sm active mr-3"
        [disabled]="loading"
        (click)="cleanFilters()">
        Limpiar<i class="fas fa-eraser"> </i>
      </button>
      <button
        type="button"
        class="btn btn-primary active btn-sm"
        [disabled]="loading"
        (click)="executeConsult('search')">
        Consultar
        <i class="bx bx-search-alt bx-sm float-icon"></i>
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="ch-content">
    <h5 class="title">Datos</h5>
    <div class="row justify-content-end mr-3">
      <app-columns-select [(settings)]="settings"></app-columns-select>
    </div>
  </div>
  <div [class]="loading ? 'table-loading row pt-3' : 'row pt-3'">
    <ng2-smart-table [settings]="settings" [source]="dataGoods">
    </ng2-smart-table>
  </div>
  <app-pagination
    [params]="params"
    [totalItems]="totalItems"
    [limit]="newLimit"></app-pagination>

  <hr class="row mb-5 mt-5" />

  <div class="row text-center">
    <div class="col">
      <button
        class="btn btn-sm btn-success active mr-3"
        (click)="exportAll()"
        [disabled]="loading">
        Exportar a Excel Todos
        <i class="bx bx-download float-icon"></i>
      </button>
      <button
        class="btn btn-sm btn-success active"
        (click)="exportSelected()"
        [disabled]="loading">
        Exportar a Excel Seleccionados
        <i class="bx bx-download float-icon"></i>
      </button>
    </div>
  </div>
</div>
