<app-modal>
  <div header>
    <h5 class="modal-title">{{ title }}</h5>
  </div>
  <div body>
    <div class="row" [class.table-loading]="loading">
      <div style="overflow: auto">
        <ng2-smart-table
          [source]="rows"
          [settings]="settings"
          (userRowSelect)="selectedRow = $event.data"></ng2-smart-table>
      </div>
      <app-pagination
        [filterParams]="$params"
        [totalItems]="totalItems"></app-pagination>
    </div>
  </div>

  <div footer>
    <div class="d-flex justify-content-end">
      <div class="m-3" *ngIf="showConfirmButton">
        <button
          [disabled]="!selectedRow"
          type="button"
          class="btn btn-primary btn-sm active"
          (click)="confirm()">
          Aceptar
        </button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger btn-sm active"
          (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</app-modal>
