<!--Referenced Payments-->
<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">CONTROL DE PERMISOS A EVENTOS</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-1">
          <form-field [control]="form.get('id')" label="Evento">
            <input formControlName="id" type="number" class="form-control" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('processKey')" label="Cve Proceso">
            <input
              formControlName="processKey"
              type="text"
              class="form-control"
              readonly />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('username')" label="Usuario">
            <input
              formControlName="username"
              type="text"
              class="form-control"
              readonly />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('address')" label="Área">
            <ng-select
              formControlName="address"
              class="form-control"
              [readonly]="true">
              <ng-option value="M">Muebles</ng-option>
              <ng-option value="I">Inmuebles</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-1">
          <button
            class="btn btn-sm btn-primary active"
            [disabled]="!form.valid"
            (click)="getEventByID()">
            Buscar
          </button>
        </div>
        <div class="col-md-1">
          <button
            (click)="cleanForm()"
            type="button"
            class="btn btn-sm btn-danger active">
            Limpiar
          </button>
        </div>
      </div>
    </form>
    <div class="row pt-4" *ngIf="form.get('processKey').value !== null">
      <div class="ch-content" header>
        <h5 class="title">Usuarios por eventos</h5>
        <div class="col-md-5 buttons">
          <app-columns-select [(settings)]="settings"></app-columns-select>
          <div>
            <button
              (click)="openForm()"
              class="btn btn-primary active btn-sm ml-3">
              Nuevo
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="comerUsuaTxEvent"
            (edit)="openForm($event.data)">
          </ng2-smart-table>
        </div>
      </div>
      <app-pagination [params]="params" [totalItems]="totalItems">
      </app-pagination>
    </div>
  </div>
</app-card>
