<div class="row mt-3">
  <div class="col-md-6">
    <form class="form-horizontal" style="margin: 0 auto">
      <div class="form-group">
        <label class="col-lg-4 text-right">Prioridad&#58;</label>
        <span>Alta</span>
      </div>

      <div class="form-group">
        <label class="col-lg-4 text-right">Tipo expediente&#58;</label>
        <span> AGACE </span>
      </div>

      <div class="form-group">
        <label class="col-lg-4 text-right">Asunto&#58;</label>
        <span> Resoluci&oacute;n administrativa de pago en especie </span>
      </div>

      <div class="form-group">
        <label class="col-lg-4 text-right"
          >Exp&#46; trans&#46; / PAMA&#58;</label
        >
        <span> 235324SDA </span>
      </div>

      <div class="form-group">
        <label class="col-lg-4 text-right">Nombre del remitente&#58;</label>
        <span> nombre remitente </span>
      </div>
      <div class="form-group">
        <label class="col-lg-4 text-right">Cargo del remitente&#58;</label>
        <span> cargo remitente </span>
      </div>
      <div class="form-group">
        <label class="col-lg-4 text-right">Tel&#46; del remitente&#58;</label>
        <span> 6643472583 </span>
      </div>
      <div class="form-group">
        <label class="col-lg-4 text-right">Email del remitente&#58;</label>
        <span> remitente@correo.com </span>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <form class="form-horizontal" style="margin: 0 auto">
      <div class="form-group">
        <label class="col-lg-5 text-right"
          >Procedencia informaci&oacute;n&#58;</label
        >
        <span>Mensajer&iacute;</span>
      </div>

      <div class="form-group">
        <label class="col-lg-5 text-right">No&#46; oficio&#58;</label>
        <span> 45435 </span>
      </div>

      <div class="form-group">
        <label class="col-lg-5 text-right">Fecha de oficio&#58;</label>
        <span> 12/04/2022 </span>
      </div>

      <div class="form-group">
        <label class="col-lg-5 text-right">Delito&#58;</label>
        <span> simple </span>
      </div>

      <div class="form-group">
        <label class="col-lg-5 text-right">Via de recepci&oacute;n&#58;</label>
        <span> Fisica </span>
      </div>
      <div class="form-group">
        <label class="col-lg-5 text-right">Tipo de transferencia&#58;</label>
        <span> Manual </span>
      </div>
      <div class="form-group">
        <label class="col-lg-5 text-right">Tipo juicio&#58;</label>
        <span> A </span>
      </div>
      <div class="form-group">
        <label class="col-lg-5 text-right">Juicio&#58;</label>
        <span> A </span>
      </div>
    </form>
  </div>
</div>
