<app-modal>
  <div header>
    <h5 class="modal-title">Nuevo {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="controlForm">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div>
            <form-field [control]="controlForm.get('key')" label="Clave">
              <input type="text" class="form-control" formControlName="key" />
            </form-field>
          </div>
          <div class="mt-5">
            <form-field
              [control]="controlForm.get('dispersionType')"
              label="Tipo de Dispersión">
              <ng-select
                formControlName="dispersionType"
                [searchable]="false"
                class="form-control"
                [clearable]="false">
                <ng-option value="CLIENTE">Cliente</ng-option>
                <ng-option value="LOTE">Lote</ng-option>
              </ng-select>
            </form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div>
            <form-field
              [control]="controlForm.get('direction')"
              label="Dirección">
              <ng-select
                formControlName="direction"
                [searchable]="false"
                class="form-control"
                [clearable]="false">
                <ng-option value="MUEBLES">Muebles</ng-option>
                <ng-option value="INMUEBLES">Inmuebles</ng-option>
              </ng-select>
            </form-field>
          </div>
          <div class="mt-5">
            <form-field [control]="controlForm.get('origin')" label="Origen">
              <ng-select
                formControlName="origin"
                [searchable]="false"
                class="form-control"
                [clearable]="false">
                <ng-option value="GANADORES">Ganadores</ng-option>
                <ng-option value="NO GANADORES">No Ganadores</ng-option>
              </ng-select>
            </form-field>
          </div>
        </div>
        <div
          class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
          <div>
            <button
              class="btn btn-sm btn-block btn-primary active font-size-14"
              (click)="search()">
              Buscar Eventos
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="form-material">
            <search-bar [params]="params"></search-bar>
          </div>
        </div>
      </div>
      <ng-scrollbar
        [track]="'horizontal'"
        [autoHeightDisabled]="false"
        class="table-scrollbar">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            id="addControlTable"
            [settings]="controlSettings"
            [source]="controlColumns"
            (userRowSelect)="select($event.selected)">
          </ng2-smart-table>
        </div>
      </ng-scrollbar>
      <app-pagination [params]="params" [totalItems]="totalItems">
      </app-pagination>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!controlForm.valid || selectedRows.length == 0"
          [loading]="loading"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
