.partContFooter {
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  &-select {
    text-align: right;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  &-check {
    padding-left: 33px;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}
