<div class="row pt-4">
  <div class="md-tabs">
    <tabset>
      <tab heading="Servicio para bienes transportables">
        <div class="btn-toolbar">
          <app-columns-select [(settings)]="settings"></app-columns-select>
          <button (click)="newService()" class="btn btn-primary btn-sm active">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo servico
          </button>
          <button
            *ngIf="showButtonServiceManual"
            (click)="newServiceManual()"
            class="btn btn-info btn-sm active">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo servico
            manual
          </button>
          <button
            (click)="deleteService()"
            class="btn btn-danger btn-sm active">
            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar servicio
          </button>
          <button class="btn btn-primary btn-sm active">Detach</button>
        </div>

        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="data">
          </ng2-smart-table>
        </div>

        <app-pagination
          [params]="params"
          [totalItems]="totalItems"></app-pagination>
      </tab>
    </tabset>
  </div>
</div>
