<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Proceso de Inserción masiva de gastos y numerario</h5>
  </div>
  <div body>
    <div class="row mt-4">
      <div class="col-md-2">
        <button class="btn btn-secondary btn-sm active" (click)="openForm()">
          Abrir archivo de MS Excel 4.0
        </button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary btn-sm active">
          Abrir archivo de Texto CSV
        </button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary btn-sm active">
          Proceso de extracción
        </button>
      </div>
    </div>
    <div class="row mt-3 mb-3 pt-4">
      <form action="" class="form-material" [formGroup]="form">
        <div class="row mt-4">
          <div class="col-md-3">
            <form-field
              [control]="form.get('recordsRead')"
              label="Registros leídos">
              <input
                type="number"
                class="form-control"
                formControlName="recordsRead"
                min="1"
                pattern="^[0-9]+" />
            </form-field>
          </div>
          <div class="col-md-3">
            <form-field [control]="form.get('processed')" label="Procesados">
              <input
                type="number"
                class="form-control"
                formControlName="processed"
                min="1"
                pattern="^[0-9]+" />
            </form-field>
          </div>
          <div class="col-md-3">
            <form-field [control]="form.get('correct')" label="Correctos">
              <input
                type="number"
                class="form-control"
                formControlName="correct"
                min="1"
                pattern="^[0-9]+" />
            </form-field>
          </div>
          <div class="col-md-3">
            <form-field [control]="form.get('wrong')" label="Erroneos">
              <input
                type="number"
                class="form-control"
                formControlName="wrong"
                min="1"
                pattern="^[0-9]+" />
            </form-field>
          </div>
        </div>
        <div class="row mt-4">
          <h5 class="title">Origen de Datos</h5>
          <div class="col-md-3 pt-4">
            <form-field [control]="form.get('data')" label="Datos">
              <input type="text" class="form-control" formControlName="data" />
            </form-field>
          </div>
        </div>
        <div class="row mt-4">
          <h5 class="title">Gastos</h5>
          <div class="col-md-3 pt-4">
            <form-field [control]="form.get('concept')" label="Concepto">
              <input
                type="text"
                class="form-control"
                formControlName="concept" />
            </form-field>
          </div>
          <div class="col-md-3 pt-4">
            <form-field [control]="form.get('description')" label="Descripción">
              <input
                type="text"
                class="form-control"
                formControlName="description" />
            </form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="row pt-4">
      <div class="col-md-3">
        <h5 class="title">Previsualización de Datos</h5>
      </div>
      <div class="col-md-7"></div>
      <div class="col-md-2">
        <app-columns-select [(settings)]="settings"></app-columns-select>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="data1">
          </ng2-smart-table>
        </div>
      </div>
      <app-pagination [params]="params" [totalItems]="totalItems">
      </app-pagination>
    </div>
  </div>
</app-card>
