<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">
      Facturación de Penalizaciones
      <!-- {{ layout == 'penalty' ? 'Facturación de Penalizaciones' : '' }}
      {{ layout == 'bases-sales' ? 'Facturación de Venta de Bases' : '' }} -->
    </h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="billingForm">
      <div class="row mt-1 mb-5">
        <div class="col-md-9">
          <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-12">
              <form-field [control]="billingForm.get('eventId')">
                <ngx-select
                  (fetchItems)="getEventData($event)"
                  [data]="dataEvent"
                  [form]="billingForm"
                  value="id_evento"
                  bindLabel="cve_proceso"
                  label="Evento"
                  [control]="'eventId'"
                  [searchOnInit]="true"
                  [searchable]="false"
                  (change)="checkEvent($event)"
                  termMaxLength="30"
                  [labelTemplate]="eventT"
                  [optionTemplate]="eventCv">
                </ngx-select>
                <ng-template #eventT let-item="item">
                  {{ item.id_evento }} - {{ item.cve_proceso }}
                </ng-template>
                <ng-template #eventCv let-item="item">
                  <div [title]="item.id_evento + '-' + item.cve_proceso">
                    {{ item.id_evento }} - {{ item.cve_proceso }}
                  </div>
                </ng-template>
              </form-field>
            </div>
            <div class="col-md-6">
              <form-field [control]="billingForm.get('lotId')">
                <ngx-select
                  (fetchItems)="getLoteByEvent($event)"
                  [data]="dataLote"
                  [form]="billingForm"
                  value="idLot"
                  bindLabel="description"
                  label="Lote"
                  [control]="'lotId'"
                  [searchOnInit]="true"
                  [searchable]="false"
                  termMaxLength="30"
                  (change)="getDataLote($event)"
                  [labelTemplate]="lotE"
                  [optionTemplate]="lotDesc">
                </ngx-select>
                <ng-template #lotE let-item="item">
                  {{ item.lotPublic }} - {{ item.description }}
                </ng-template>
                <ng-template #lotDesc let-item="item">
                  <div [title]="item.lotPublic + '-' + item.description">
                    {{ item.lotPublic }} - {{ item.description }}
                  </div>
                </ng-template>
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field
                [control]="billingForm.get('eventDate')"
                label="Fecha Evento">
                <input
                  type="text"
                  formControlName="eventDate"
                  class="form-control"
                  [maxDate]="maxDate"
                  bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('serie')" label="Serie">
                <input
                  type="text"
                  formControlName="serie"
                  class="form-control"
                  oninput="if(this.value.length > 6) this.value = this.value.slice(0, 6)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('folio')" label="Folio">
                <input
                  type="text"
                  formControlName="folio"
                  class="form-control"
                  oninput="if(this.value.length > 6) this.value = this.value.slice(0, 6)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field
                [control]="billingForm.get('invoiceStatusId')"
                label="Estatus">
                <input
                  type="text"
                  formControlName="invoiceStatusId"
                  class="form-control"
                  oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field
                [control]="billingForm.get('voucherType')"
                label="Tipo">
                <input
                  type="text"
                  formControlName="voucherType"
                  class="form-control"
                  oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field
                [control]="billingForm.get('printDate')"
                label="Fecha Impresión">
                <input
                  type="text"
                  formControlName="printDate"
                  class="form-control"
                  [maxDate]="maxDate"
                  bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('cvman')">
                <ngx-select
                  (fetchItems)="getTransferentData($event)"
                  label="Transferente"
                  [data]="dataTransferent"
                  [form]="billingForm"
                  value="cvman"
                  bindLabel="nameTransferent"
                  [control]="'cvman'"
                  [searchOnInit]="true"
                  [searchable]="true"
                  termMaxLength="30"
                  (change)="selectedTrans($event)"
                  [labelTemplate]="trans"
                  [optionTemplate]="transDesc">
                </ngx-select>
                <ng-template #trans let-item="item">
                  {{ item.cvman }} - {{ item.nameTransferent }}
                </ng-template>
                <ng-template #transDesc let-item="item">
                  <div [title]="item.cvman">
                    {{ item.cvman }} - {{ item.nameTransferent }}
                  </div>
                </ng-template>
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('delegationNumber')">
                <ngx-select
                  [data]="delegations"
                  [searchOnInit]="true"
                  (fetchItems)="getDelegation($event)"
                  [form]="billingForm"
                  value="id"
                  bindLabel="description"
                  label="Delegación"
                  [control]="'delegationNumber'"
                  [searchable]="false"
                  [labelTemplate]="delg"
                  [optionTemplate]="delgd">
                </ngx-select>
                <ng-template #delg let-item="item">
                  {{ item.id }} - {{ item.description }}
                </ng-template>
                <ng-template #delgd let-item="item">
                  <div [title]="item.id + '-' + item.description">
                    {{ item.id }} - {{ item.description }}
                  </div>
                </ng-template>
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('authorize')">
                <ngx-select
                  (fetchItems)="getComerClientsData($event)"
                  label="Autoriza"
                  [data]="dataClient"
                  [form]="billingForm"
                  value="reasonName"
                  bindLabel="reasonName"
                  [control]="'authorize'"
                  [searchOnInit]="true"
                  [searchable]="true"
                  termMaxLength="30"
                  [labelTemplate]="auth"
                  [optionTemplate]="authorizeDesc">
                </ngx-select>
                <ng-template #auth let-item="item">
                  {{ item.reasonName }}
                </ng-template>
                <ng-template #authorizeDesc let-item="item">
                  <div [title]="item.reasonName">
                    {{ item.reasonName }}
                  </div>
                </ng-template>
              </form-field>
            </div>
            <div class="col-sm-12 col-md-12">
              <form-field
                [control]="billingForm.get('description')"
                label="Descripción">
                <textarea
                  rows="3"
                  formControlName="description"
                  class="form-control">
                </textarea>
              </form-field>
            </div>
            <div class="col-sm-12 col-md-12">
              <form-field
                [control]="billingForm.get('any')"
                label="Causa Cancelación">
                <input type="text" formControlName="any" class="form-control" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('client')">
                <ngx-select
                  (fetchItems)="getComerClientsData2($event)"
                  label="Cliente"
                  [data]="dataClient2"
                  [form]="billingForm"
                  value="id"
                  bindLabel="reasonName"
                  [control]="'client'"
                  [searchOnInit]="true"
                  [searchable]="true"
                  termMaxLength="30"
                  (change)="setDataClient($event)"
                  [labelTemplate]="cliented"
                  [optionTemplate]="clientDesc">
                </ngx-select>
                <ng-template #cliented let-item="item">
                  {{ item.id }} - {{ item.reasonName }}
                </ng-template>
                <ng-template #clientDesc let-item="item">
                  <div [title]="item.id + '-' + item.reasonName">
                    {{ item.id }} - {{ item.reasonName }}
                  </div>
                </ng-template>
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('street')" label="Calle">
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                  oninput="if(this.value.length > 80) this.value = this.value.slice(0, 80)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field
                [control]="billingForm.get('colonia')"
                label="Colonia">
                <input
                  type="text"
                  formControlName="colonia"
                  class="form-control"
                  oninput="if(this.value.length > 60) this.value = this.value.slice(0, 60)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('rfc')" label="R.F.C.">
                <input
                  type="text"
                  formControlName="rfc"
                  class="form-control"
                  oninput="if(this.value.length > 20) this.value = this.value.slice(0, 20)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field
                [control]="billingForm.get('municipality')"
                label="Municipio Delegación">
                <input
                  type="text"
                  formControlName="municipality"
                  class="form-control"
                  oninput="if(this.value.length > 30) this.value = this.value.slice(0, 30)" />
              </form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <form-field [control]="billingForm.get('state')" label="Estado">
                <input
                  type="text"
                  formControlName="state"
                  class="form-control"
                  oninput="if(this.value.length > 20) this.value = this.value.slice(0, 20)" />
              </form-field>
            </div>
            <div class="col-sm-4 col-md-3">
              <form-field [control]="billingForm.get('zipCode')" label="C.P.">
                <input
                  type="text"
                  formControlName="zipCode"
                  class="form-control"
                  oninput="if(this.value.length > 6) this.value = this.value.slice(0, 6)" />
              </form-field>
            </div>
            <div class="col-sm-4 col-md-3">
              <form-field [control]="billingForm.get('price')" label="Precio">
                <input
                  type="number"
                  formControlName="price"
                  class="form-control"
                  min="0"
                  oninput="if(this.value.length > 21) this.value = this.value.slice(0, 21)" />
              </form-field>
            </div>
            <div class="col-sm-4 col-md-3">
              <form-field [control]="billingForm.get('vat')" label="IVA">
                <input
                  type="number"
                  formControlName="vat"
                  class="form-control"
                  min="0"
                  oninput="if(this.value.length > 13) this.value = this.value.slice(0, 13)" />
              </form-field>
            </div>
            <div class="col-sm-4 col-md-3">
              <form-field [control]="billingForm.get('total')" label="Total">
                <input
                  type="number"
                  formControlName="total"
                  class="form-control"
                  min="0"
                  oninput="if(this.value.length > 21) this.value = this.value.slice(0, 21)" />
              </form-field>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12">
              <confirm-button
                [className]="'btn-primary w-100 mb-3'"
                [disabled]="!billingForm.valid"
                [btnSmall]="true"
                [loading]="loading"
                (confirm)="saveData()"></confirm-button>
            </div>
            <div class="col-12">
              <button
                class="btn btn-sm btn-primary btn-block active me-2 mb-3"
                (click)="generateFolios()">
                Genera Folios
              </button>
            </div>
            <div class="col-12">
              <button
                class="btn btn-sm btn-info btn-block active me-2 mb-3"
                (click)="openFolioModal()"
                [disabled]="">
                Asig. Manual Folios
              </button>
            </div>
            <div class="col-12">
              <button
                class="btn btn-sm btn-warning btn-block active me-2 mb-3"
                (click)="deleteFolios()"
                [disabled]="">
                Eliminar Folios
              </button>
            </div>
            <div class="col-12">
              <button
                class="btn btn-sm btn-secondary btn-block active me-2 mb-3"
                (click)="getImage()">
                Obtener Imagen
              </button>
            </div>
            <div class="col-12">
              <button
                class="btn btn-sm btn-success btn-block active me-2 mb-3"
                (click)="openPrevInvoice()">
                Visualizar Factura
              </button>
            </div>
            <div class="col-12">
              <button
                class="btn btn-sm btn-danger btn-block active me-2 mb-3"
                (click)="openCancelModal()">
                Cancelar Factura
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-card>
