<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Cat&aacute;logo de Mantenimiento de &Aacute;reas</h5>
    <div class="col-md-5 buttons">
      <div>
        <button class="btn btn-primary active btn-sm ml-3" (click)="openForm()">
          Nuevo
        </button>
      </div>
    </div>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <app-delegation-shared
            [form]="form"
            [showSubdelegation]="false"></app-delegation-shared>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <app-delegation-shared
            [form]="form"
            [showDelegation]="false"></app-delegation-shared>
        </div>
      </div>
    </form>
    <div class="table-responsive mt-5">
      <ng2-smart-table
        [settings]="settings"
        [source]="data"
        (edit)="openForm($event.data)"></ng2-smart-table>
    </div>
    <app-pagination [params]="params" [totalItems]="totalItems">
    </app-pagination>
  </div>
</app-card>
