<div [formGroup]="form">
  <ng-container *ngIf="rowData?.data?.type == 'external'; else elseBlock">
    <input type="text" formControlName="ccp_addressee" class="form-control" />
  </ng-container>
  <ng-template #elseBlock>
    <div *ngIf="rowData?.data?.type == 'internal'" class="col-sm-12 col-12">
      <ngx-select
        [data]="userCopies"
        bindLabel="name"
        label="C.C.P."
        value="id"
        (fetchItems)="getUsersCopies($event, 1)"
        [form]="form"
        [showTooltip]="true"
        [searchOnInit]="true"
        termMaxLength="100"
        control="ccp_addressee"></ngx-select>
    </div>
  </ng-template>
  {{ rowData | json }}
</div>
