<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">CALENDARIO DE CONTRASEÑAS</h5>
  </div>

  <div body>
    <div class="row w-100">
      <div class="col-sm-12 col-12 col-md-12 p-2">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="tableSettings"
          [source]="data"></ng2-smart-table>
      </div>
      <div class="col-sm-12 col-12 col-md-12 p-2">
        <span class="badge bagde-danger"> YA EXPIRARON </span>
      </div>
    </div>
  </div>
</app-card>
