<app-modal>
  <div header>
    <h5 class="modal-title pull-left">Capturar datos para el firmante</h5>
  </div>
  <div body class="body">
    <form [formGroup]="signForm" class="form-material" style="margin-top: 2rem">
      <div class="row">
        <div class="col-md-6">
          <form-field [control]="signForm.get('nameSignatore')" label="Nombre">
            <input
              type="text"
              class="form-control"
              formControlName="nameSignatore" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field [control]="signForm.get('chargeSignatore')" label="Cargo">
            <input
              type="text"
              class="form-control"
              formControlName="chargeSignatore" />
          </form-field>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-6">
          <form-field
            [control]="signForm.get('thirdSpecialized')"
            label="Tercero Especializado">
            <input
              type="text"
              class="form-control"
              formControlName="thirdSpecialized" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="signForm.get('relevantFacts')"
            label="Hechos Relevantes">
            <input
              type="text"
              class="form-control"
              formControlName="relevantFacts" />
          </form-field>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-6">
          <form-field
            [control]="signForm.get('dateBreak')"
            label="Fecha Incumplimiento">
            <input
              class="form-control"
              formControlName="dateBreak"
              [minDate]="minDate"
              bsDatepicker />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="signForm.get('dateRepServices')"
            label="Fecha Reposición Servicios">
            <input
              class="form-control"
              formControlName="dateRepServices"
              [minDate]="minDate"
              bsDatepicker />
          </form-field>
        </div>
      </div>
    </form>
    <!--<div>
      <form
        [formGroup]="signForm"
        class="form-material"
        style="margin-top: 2rem">
        <div class="row pt-4">
          <div class="col-md-6">
            <form-field [control]="signForm.get('name')" label="&#42;Nombre">
              <input type="text" class="form-control" formControlName="name" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field [control]="signForm.get('inCharge')" label="&#42;Cargo">
              <input
                type="text"
                class="form-control"
                formControlName="inCharge" />
            </form-field>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-12" style="display: flex">
            <div style="line-height: 3">
              <label for="electronica">&#42;Tipo de firma</label>
            </div>
            <div style="padding-left: 7px">
              <div>
                <input
                  type="radio"
                  id="electronica"
                  style="height: 1.5rem !important"
                  formControlName="tipeSign"
                  value="electronica" />
                <label class="label-annexk" for="electronica"
                  >Electr&oacute;nica</label
                >
              </div>
              <div>
                <input
                  type="radio"
                  id="autograma"
                  style="height: 1.5rem !important"
                  formControlName="tipeSign"
                  value="autograma" />
                <label class="label-annexk" for="autograma"
                  >Aut&oacute;grama</label
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div> -->
    <div footer>
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <confirm-button
            [disabled]="!signForm.valid"
            [loading]="loading"
            class="mr-2"
            (confirm)="signAnnex()"></confirm-button>
        </div>
        <div class="m-3">
          <button type="button" class="btn btn-danger active" (click)="close()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</app-modal>
