<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Constancias de Entrega</h5>
  </div>

  <div body>
    <form class="form-material" [formGroup]="formExp" (ngSubmit)="onSubmit()">
      <div class="row mb-5">
        <div class="col-md-4">
          <form-field
            [control]="formExp.get('expedient')"
            label="No. Expediente">
            <input
              type="number"
              class="form-control"
              [readOnly]="share"
              formControlName="expedient" />
          </form-field>
        </div>
        <div class="col">
          <button
            type="button"
            [disabled]="share"
            class="btn btn-primary active btn-sm mr-3"
            (click)="getExpedient()">
            Buscar
            <i class="bx bx-search-alt bx-sm float-icon"></i>
          </button>
          <button
            type="button"
            class="btn btn-primary btn-sm active mr-3"
            (click)="openListProceeding()">
            <i class="bx bx-list-plus bx-sm float-icon"></i>
          </button>
          <button
            [disabled]="!share"
            class="btn btn-danger btn-sm active mr-3"
            (click)="clearAll()">
            Limpiar <i class="fas fa-eraser"> </i>
          </button>
          <button
            *ngIf="newA"
            class="btn btn-danger btn-sm active mr-3"
            (click)="cancelar()">
            Cancelar
          </button>
          <button
            *ngIf="!newA"
            containerClass="tooltip-style"
            class="btn btn-info btn-sm active"
            (click)="selectNew()">
            Nueva acta <i class="bx bx-plus bx-sm float-icon"></i>
          </button>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-4">
          <form-field
            [control]="formExp.get('noExpedientTransfer')"
            label="No. Expediente Transferente">
            <input
              type="text"
              class="form-control"
              formControlName="noExpedientTransfer"
              [readOnly]="!campos" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="formExp.get('preliminaryAscertainment')"
            label="Averiguaci&oacute;n Previa">
            <input
              type="text"
              class="form-control"
              formControlName="preliminaryAscertainment"
              [readOnly]="!campos" />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="formExp.get('causePenal')" label="Causa Penal">
            <input
              type="text"
              class="form-control"
              formControlName="causePenal"
              [readOnly]="!campos" />
          </form-field>
        </div>
      </div>
    </form>

    <div *ngIf="response">
      <div class="pt-5">
        <form
          class="form-material"
          [formGroup]="formExp"
          (ngSubmit)="onSubmit()">
          <div class="row mt-5 align-items-center">
            <div class="col-md-4 text-center align-items-center">
              <div class="text-left pl-2">
                <label class="label text-secondary">Captura</label>
              </div>
              <div class="mb-3 pl-4 pr-4">
                <div class="d-flex">
                  <form-radio label="Normal">
                    <input
                      type="radio"
                      formControlName="capture"
                      value="normal"
                      id="normalRadio" />
                  </form-radio>
                  <form-radio label="Masivo">
                    <input
                      type="radio"
                      formControlName="capture"
                      value="massive"
                      id="massiveRadio" />
                  </form-radio>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div
                *ngIf="statusProceeding != null"
                [style.color]="statusProceeding == 'ABIERTA' ? 'green' : 'red'">
                {{ statusProceeding }}
              </div>
            </div>
            <div class="col-md-6 text-center align-items-center">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="formExp.get('programmingType')"
                  label="Tipo Programaci&oacute;n de Entrega">
                  <select
                    class="form-control"
                    formControlName="programmingType"
                    [disabled]="!campos">
                    <option [value]="null">Seleccione un valor</option>
                    <option value="EVENCOMER">EVENCOMER</option>
                    <option value="EVENDON">EVENDON</option>
                    <option value="EVENDEST">EVENDEST</option>
                    <option value="EVENDEV">EVENDEV</option>
                  </select>
                </form-field>
              </div>
            </div>
          </div>
        </form>

        <form
          class="form-material"
          [formGroup]="formAct"
          (ngSubmit)="onSubmit()">
          <div *ngIf="newA">
            <div class="row mt-4">
              <form-field
                [control]="formAct.get('actSelect')"
                class="col"
                label="Tipo Acta">
                <select class="form-control" formControlName="actSelect">
                  <option value="null">Seleccione un valor</option>
                  <option value="E/VEN">E/VEN</option>
                  <option value="E/DON">E/DON</option>
                  <option value="E/DES">E/DES</option>
                  <option value="E/DEV">E/DEV</option>
                  <option value="E/DEV">E/RES</option>
                </select>
              </form-field>
              <form-field
                [control]="formAct.get('trans')"
                label="Trans"
                class="col">
                <input
                  #inputValue
                  type="text"
                  [maxLength]="5"
                  class="form-control"
                  formControlName="trans"
                  [readOnly]="!campos" />
              </form-field>
              <form-field [control]="formAct.get('authority')" class="col">
                <ngx-select
                  control="authority"
                  label="Autoridad"
                  bindLabel="transferKey"
                  [data]="dataAutority"
                  [form]="formAct"></ngx-select>
              </form-field>
              <form-field [control]="formAct.get('del')" class="col">
                <ngx-select
                  (fetchItems)="getDelegation($event)"
                  control="del"
                  label="Delegación"
                  bindLabel="delegation"
                  [data]="dataDelegation"
                  [form]="formAct"></ngx-select>
              </form-field>
              <form-field
                [control]="formAct.get('folio')"
                label="Folio"
                class="col">
                <input
                  #inputValue
                  type="number"
                  [min]="1"
                  [maxLength]="5"
                  class="form-control"
                  formControlName="folio"
                  [readOnly]="!campos" />
              </form-field>
              <form-field
                [control]="formAct.get('year')"
                label="Año"
                class="col-md-1">
                <input
                  type="text"
                  class="form-control"
                  formControlName="year"
                  readOnly />
              </form-field>
              <div class="col-md-1">
                <form-field [control]="formAct.get('month')" label="Mes">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="month"
                    readOnly />
                </form-field>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <form-field
              [control]="formAct.get('act')"
              label="Cve. Acta"
              class="col-md-6">
              <input
                #inputValue
                type="text"
                class="form-control"
                formControlName="act"
                [readOnly]="!campos || !camposNew" />
            </form-field>
            <form-field
              [control]="formAct.get('elabDate')"
              label="Fecha Elaboración"
              class="col-md-2">
              <input
                type="text"
                class="form-control"
                bsDatepicker
                disable
                formControlName="elabDate"
                readOnly />
            </form-field>
            <form-field
              [control]="formAct.get('actDate')"
              class="col-md-2"
              label="Fecha Acta">
              <input
                #inputValue
                type="text"
                class="form-control"
                bsDatepicker
                formControlName="actDate"
                [readOnly]="!campos" />
            </form-field>
            <form-field
              [control]="formAct.get('captureDate')"
              class="col-md-2"
              label="Fecha Captura">
              <input
                #inputValue
                type="text"
                class="form-control"
                bsDatepicker
                formControlName="captureDate"
                [readOnly]="!campos" />
            </form-field>
          </div>
          <div class="row">
            <form-field
              [control]="formAct.get('address')"
              class="col-md-6"
              label="Direcci&oacute;n">
              <input
                #inputValue
                type="text"
                class="form-control"
                formControlName="address"
                [readOnly]="!campos" />
            </form-field>
            <form-field
              [control]="formAct.get('observations')"
              class="col-md-6"
              label="Observaciones">
              <textarea
                class="form-control"
                formControlName="observations"
                [readOnly]="!campos"></textarea>
            </form-field>
          </div>
          <div class="row">
            <form-field
              [control]="formAct.get('receive')"
              label="Recibe"
              class="col-md-4">
              <input
                #inputValue
                type="text"
                class="form-control"
                formControlName="receive"
                [readOnly]="!campos" />
            </form-field>
            <form-field
              [control]="formAct.get('delivery')"
              label="Entrega"
              class="col-md-4">
              <input
                #inputValue
                type="text"
                class="form-control"
                formControlName="delivery"
                [readOnly]="!campos" />
            </form-field>
            <form-field
              [control]="formAct.get('witnessContr')"
              class="col-md-4"
              label="Testigo de la Contr.">
              <input
                #inputValue
                type="text"
                class="form-control"
                formControlName="witnessContr"
                [readOnly]="!campos" />
            </form-field>
          </div>

          <div *ngIf="select" class="row text-center mb-5 mt-5">
            <div class="col">
              <button
                type="button"
                class="btn btn-primary btn-sm active mr-3"
                (click)="saveProceeding()">
                {{ labelSaveProceeding }}
                <i aria-hidden="true" class="fa fa-save"></i>
              </button>
              <button
                class="btn btn-primary btn-sm active mr-3"
                [disabled]="isDon || !boton"
                (click)="goTrackerGood()">
                Rastreador
              </button>
              <button
                class="btn btn-primary btn-sm active mr-3"
                (click)="openGenerateConstans()">
                Generar Constancia
              </button>
              <button
                class="btn btn-primary btn-sm active mr-3"
                [disabled]="!isDon || !boton"
                (click)="goodDonations()">
                Bienes Donaci&oacute;n
              </button>
              <button
                containerClass="tooltip-style"
                class="btn btn-info btn-sm active mr-3"
                [disabled]="!boton"
                (click)="RastreadorGood()">
                Agregar Bienes <i class="bx bx-plus bx-sm float-icon"></i>
              </button>

              <button
                class="btn btn-red btn-sm active"
                [disabled]="!boton || idProceeding == null"
                (click)="deleteProceeding()">
                Eliminar Acta <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>

        <form class="form-material" [formGroup]="form">
          <div class="row mb-5 mt-5 text-center">
            <div class="col-md-2"></div>
            <div class="col">
              <button
                type="button"
                data-toggle="tooltip"
                class="btn btn-secondary btn-sm active mr-1"
                (click)="generateFolio()"
                title="Generar Folio de Escaneo y Solicitud">
                <i class="bx bxs-file-find"></i>
              </button>
              <button
                type="button"
                data-toggle="tooltip"
                class="btn btn-secondary btn-sm active"
                (click)="scan()"
                title="Escanear">
                <i class="bx bxs-file"></i>
              </button>
            </div>
            <form-field
              class="col-md-3"
              [control]="form.get('scanningFoli')"
              label="Folio de Escaneo">
              <input
                type="number"
                class="form-control"
                min="1"
                formControlName="scanningFoli"
                maxlength="15" />
            </form-field>
            <!-- <div class="col">
              <button
                class="btn btn-primary btn-sm active"
                type="button"
                size="small"
                min="1"
                (click)="replicateFolio()">
                Replicar Folio
              </button>
            </div> -->
            <div class="col">
              <button
                type="button"
                data-toggle="tooltip"
                class="btn btn-secondary btn-sm active mr-1"
                (click)="printScanFile()"
                title="imprimir Solicitud de Escaneo">
                <i class="bx bxs-printer"></i>
              </button>
              <button
                type="button"
                data-toggle="tooltip"
                class="btn btn-secondary btn-sm active"
                (click)="seeImages()"
                title="Consulta de imágenes escaneadas">
                <i class="bx bxs-file-find"></i>
              </button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </form>
        <hr />
        <div class="row text-center">
          <div class="col">
            <span class="text-success mr-5"
              ><i class="fa fa-square"></i> Disponibles</span
            >
            <span class="text-black"
              ><i class="fa fa-square"></i> No disponibles</span
            >
          </div>
        </div>
        <div [class]="loadingTable ? 'table-loading' : 'row pt-5'">
          <ng2-smart-table
            class="col-md-12"
            [attr.class]="'table-responsive'"
            [settings]="settings1"
            [source]="data1"
            (userRowSelect)="selectRowGood($event)">
          </ng2-smart-table>
          <span class="mt-3">
            <strong>{{ descriptionStatusGood }}</strong>
          </span>
        </div>
        <app-pagination [params]="params" [totalItems]="totalItems">
        </app-pagination>

        <div class="row pt-2 pb-4">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="d-flex justify-content-center align-items-sm-center">
              <div class="col-md-3">
                <label for="">Agregar</label>
                <button
                  tooltip="Agregar Bien"
                  containerClass="tooltip-style"
                  [disabled]="statusProceeding != 'ABIERTA'"
                  class="btn btn-secondary btn-sm active m-3 p-1 pointer"
                  type="button"
                  (click)="insertGood()">
                  <i class="bx bx-chevron-down bx-md"></i>
                </button>
              </div>
              <div class="col-md-3">
                <label for="">Eliminar</label>
                <button
                  tooltip="Quitar Bien"
                  containerClass="tooltip-style"
                  class="btn btn-secondary btn-sm active m-3 p-1 pointer"
                  [disabled]="statusProceeding != 'ABIERTA'"
                  type="button"
                  (click)="deleteGood()">
                  <i class="bx bx-chevron-up bx-md"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div [class]="loadingTable ? 'table-loading' : 'row pt-2'">
          <ng2-smart-table
            class="col-md-12"
            [attr.class]="'table-responsive'"
            [settings]="settings2"
            [source]="data2"
            (userRowSelect)="selectRowGoodActa($event)">
          </ng2-smart-table>
        </div>
        <app-pagination [params]="params" [totalItems]="totalItems2">
        </app-pagination>
        <div class="row">
          <form
            class="form-material form-horizontal"
            [formGroup]="formTable2"
            (ngSubmit)="onSubmit()">
            <div class="row mt-5">
              <div class="col-6">
                <div class="mb-3 pl-4 pr-4">
                  <form-field [control]="formTable2.get('detail')">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="detail"
                      readonly />
                  </form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 pl-4 pr-4">
                  <form-field [control]="formTable2.get('status')">
                    <select class="form-control" formControlName="status">
                      <option [value]="null">En tiempo</option>
                    </select>
                  </form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-right">
          <button class="btn btn-success btn-sm active">Exportar Datos</button>
        </div>
      </div>
    </div>
  </div>
</app-card>
