<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">CUENTAS ASEGURADAS POR EXPEDIENTE</h5>
  </div>
  <div body>
    <div class="row mt-3 mb-3">
      <form action="" class="form-material" [formGroup]="form">
        <!-- <div class="row mt-4">
          <div class="col-md-6">
            <form-field [control]="form.get('delegation')" label="Delegación">
              <input formControlName="delegation" class="form-control" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field
              [control]="form.get('subdelegation')"
              label="Subdelegación">
              <input formControlName="subdelegation" class="form-control" />
            </form-field>
          </div>
        </div> -->
        <app-delegation-shared [form]="form"></app-delegation-shared>
        <div class="row mt-4">
          <div class="col-md-6">
            <!-- <form-field [control]="form.get('currency')" label="Moneda:">
              <input formControlName="currency" class="form-control" />
            </form-field> -->
            <app-currency-shared
              [form]="form"
              currencyField="currency"></app-currency-shared>
          </div>
          <div class="col-md-6">
            <!-- <form-field [control]="form.get('bank')" label="Banco:">
              <input formControlName="bank" class="form-control" />
            </form-field> -->
            <app-banks-shared [form]="form"></app-banks-shared>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <form-field
              [control]="form.get('depositFrom')"
              label="Deposito del:">
              <input
                [maxDate]="maxDate"
                formControlName="depositFrom"
                class="form-control"
                bsDatepicker />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field [control]="form.get('depositTo')" label="Al:">
              <input
                [maxDate]="maxDate"
                formControlName="depositTo"
                class="form-control"
                [minDate]="form.get('depositFrom').value"
                bsDatepicker />
            </form-field>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <form-field
              [control]="form.get('fileFrom')"
              label="Expediente del:">
              <input
                [maxDate]="maxDate"
                formControlName="fileFrom"
                class="form-control"
                bsDatepicker />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field [control]="form.get('fileTo')" label="Al:">
              <input
                formControlName="fileTo"
                class="form-control"
                [maxDate]="maxDate"
                [minDate]="form.get('fileFrom').value"
                bsDatepicker />
            </form-field>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <div>
            <button
              (click)="print()"
              type="button"
              class="btn btn-sm btn-primary active m-3">
              IMPRIMIR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
