<app-modal>
  <div header>
    <h5 class="modal-title">{{ status }} CLASIFICACI&Oacute;N SIAB</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <form-field [control]="form.get('id')" label="Id">
            <input
              type="number"
              class="form-control"
              formControlName="id"
              min="1"
              pattern="^[0-9]+" />
          </form-field>
        </div>
      </div>
      <div class="row">
        <app-goods-types-shared
          [form]="form"
          [subTypeShow]="true"
          [ssubTypeShow]="true"
          [sssubTypeShow]="true">
        </app-goods-types-shared>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!form.valid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
