<app-modal>
  <div header class="d-flex justify-content-between">
    <div>
      <h5 class="modal-title">BÚSQUEDA DE BIENES</h5>
    </div>
  </div>
  <div body>
    <div class="table-padding"></div>
    <div class="justify-content-end d-flex mb-2">
      <app-columns-select
        [defaultColumns]="4"
        [(settings)]="settings"></app-columns-select>
    </div>
    <div class="row">
      <form-loader *ngIf="loading"></form-loader>
      <div class="col-md-12">
        <ng-scrollbar
          [track]="'all'"
          [ngStyle]="{
            height: loading ? '0px' : '450px'
          }">
          <ng2-smart-table
            [attr.class]="'table-bordered table-responsive'"
            [settings]="settings"
            [source]="dataTableGood"
            (userRowSelect)="selectData($event)">
          </ng2-smart-table>
        </ng-scrollbar>
        <app-pagination
          [params]="paramsList"
          [totalItems]="totalItems"></app-pagination>
      </div>
    </div>

    <!-- <div class="row p-3">
      <div class="col-md-3"></div>
      <div class="row mt-12 d-flex justify-content-center">
        <div class="col-md-12">
          <h6>BIENES DEL RASTREADOR</h6>
          <div class="row"></div>
          <div class="row justify-content-end mt-3">
            <div class="col-md-5 buttons pt-3 text-right">
              <app-columns-select
                (settingsChange)="settingsChange($event)"
                [settings]="settings2">
              </app-columns-select>
            </div>
          </div>
          <div class="row">
            <form-loader *ngIf="loading3"></form-loader>
            <div class="col-md-12">
              <app-goods-list
                [files]="files"
                [changeDescription]="changeDescription"></app-goods-list>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button
          type="button"
          class="btn btn-primary active btn-sm"
          (click)="handleSuccess()">
          Seleccionar <i class="fas fa-edit bx-sm float-icon"></i>
        </button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger active btn-sm"
          (click)="return()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
