<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Préstamos</h5>
  </div>
  <div body>
    <div class="row pt-4">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="datalocal"
            (userRowSelect)="onRowSelect($event)">
          </ng2-smart-table>
        </div>
      </div>
      <app-pagination
        [params]="params"
        [totalItems]="totalItems"></app-pagination>
    </div>
    <div class="row d-flex justify-contend-center">
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-primary active btn-sm"
          (click)="selected()"
          [disabled]="selectedRow == null">
          Seleccionar <i class="fas fa-edit bx-sm float-icon"></i>
        </button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-sm active" (click)="close()">
          Salir
        </button>
      </div>
    </div>
  </div>
</app-card>
