<form [formGroup]="form" class="form-material">
  <app-card [header]="true" [footer]="true">
    <div class="ch-content" header>
      <h5 class="title">Registro del menaje del bien</h5>
    </div>
    <div body>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('numberFile')">
            <div class="row">
              <div class="col">
                <label for="numberFile" class="d-block">No Expediente</label>
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="numberFile"
                    placeholder=" "
                    style="width: 350px" />
                  <button
                    type="button"
                    class="btn btn-primary btn-sm active ml-1 border-0"
                    style="width: 40px"
                    [ngStyle]="{
                      'background-color': form.get('numberFile').value
                        ? '#9D2449'
                        : 'rgba(157, 36, 73, 1)'
                    }"
                    [disabled]="!form.get('numberFile').value"
                    (click)="searchExpedient(form.get('numberFile').value)">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form-field>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="d-flex justify-content-end">
            <div>
              <button
                type="button"
                class="btn btn-sm btn-info active"
                (click)="cleandInfo()">
                Limpiar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('causePenal')" label="Causa Penal">
            <input
              type="text"
              class="form-control"
              formControlName="causePenal" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('preliminaryInquiry')"
            label="Averiguación Previa">
            <input
              type="text"
              class="form-control"
              formControlName="preliminaryInquiry" />
          </form-field>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <form-field [control]="form.get('goodSelect')">
            <ngx-select
              [data]="goods"
              [form]="form"
              value="id"
              bindLabel="description"
              label="Seleccione un bien para ver sus menajes"
              [control]="'goodSelect'"
              (change)="uploadTableMenaje($event)">
            </ngx-select>
          </form-field>
        </div>
      </div>

      <div class="container">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="d-flex justify-content-start">
                <div class="m-3">
                  <span>
                    Listado de menajes del bien No
                    <strong>{{ numberGoodSelect }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="d-flex justify-content-end">
                <div class="m-3">
                  <button
                    [disabled]="enableAddgood"
                    type="button"
                    class="btn btn-sm btn-primary active"
                    (click)="showGoods()">
                    {{ textButton }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="addGood">
            <app-goods-shared
              [form]="formGood"
              (good)="addMenage($event)"></app-goods-shared>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div [class]="loading ? 'table-loading' : ''">
                <ng2-smart-table
                  [attr.class]="'table-bordered'"
                  [settings]="settings"
                  [source]="menajes"
                  (delete)="showDeleteAlert($event.data)">
                </ng2-smart-table>
              </div>
            </div>
          </div>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
    </div>
  </app-card>
</form>
