<app-card [header]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">APROBACIÓN DE BIENES PARA DESTINO</h5>
    </div>
  </div>

  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-2">
          <form-field [control]="form.get('idExp')" label="No expediente">
            <input
              type="text"
              class="form-control"
              formControlName="idExp"
              minlength="1"
              maxlength="10" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('preInquiry')"
            label="Averiguación Previa">
            <input
              type="text"
              class="form-control"
              formControlName="preInquiry" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('criminalCase')" label="Causa Penal">
            <input
              type="text"
              class="form-control"
              formControlName="criminalCase" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field
            [control]="form.get('circumstAct')"
            label="Acta Circunstanciada">
            <input
              type="text"
              class="form-control"
              formControlName="circumstAct" />
          </form-field>
        </div>
        <div class="col-md-2">
          <form-field [control]="form.get('touchPenalty')" label="Toca penal">
            <input
              type="text"
              class="form-control"
              formControlName="touchPenalty" />
          </form-field>
        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-sm btn-primary active"
            [disabled]="!form.valid"
            (click)="show = !show">
            {{ show ? 'Buscar otro' : 'Buscar' }}
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="show">
      <div class="ch-content">
        <h5 class="title">&nbsp;</h5>
        <div class="row justify-content-end mr-1">
          <div class="col-12">
            <app-columns-select
              [(settings)]="settings"
              class="row justify-content-end">
            </app-columns-select>
          </div>
        </div>
      </div>
      <div class="row pt-3 scroll-table">
        <ng2-smart-table
          class="my-table"
          [settings]="settings"
          [source]="data"></ng2-smart-table>
      </div>
      <div class="row pt-5">
        <p class="d-flex justify-content-center">
          <span class="text-success mr-5"
            ><i class="fa fa-square"></i> Disponibles</span
          >
          <span class="text-danger"
            ><i class="fa fa-square"></i> No disponibles</span
          >
        </p>
      </div>
    </div>
  </div>
</app-card>
