<app-card [header]="true" [footer]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Reporte de licitaci&oacute;n de bienes</h5>
    </div>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-6 p-2">
          <ngx-select
            [data]="dataDelegation"
            bindLabel="description"
            label="Delegaci&oacute;n"
            value="id"
            (fetchItems)="getDelegation($event)"
            (change)="changeDelegation($event)"
            [form]="form"
            [showTooltip]="true"
            [searchOnInit]="true"
            termMaxLength="100"
            control="delegation"></ngx-select>
        </div>
        <div class="col-md-6 p-2">
          <ngx-select
            [data]="dataSubDelegation"
            bindLabel="description"
            label="Subdelegaci&oacute;n"
            value="id"
            (fetchItems)="getSubDelegation($event)"
            [form]="form"
            [showTooltip]="true"
            [searchOnInit]="true"
            termMaxLength="100"
            control="subdelegation"></ngx-select>
        </div>
        <div class="col-md-4 p-2">
          <ngx-select
            [data]="dataBidding"
            bindLabel="clueTender"
            label="No&#46; Licitaci&oacute;n"
            value="tenderNumber"
            (fetchItems)="getBidding($event)"
            (change)="changeBidding($event)"
            [form]="form"
            [showTooltip]="true"
            [searchOnInit]="true"
            termMaxLength="100"
            control="noBidding"></ngx-select>
        </div>
        <div class="col-md-4 p-2">
          <form-field [control]="form.get('PF_FECINI')" label="Desde">
            <input
              formControlName="PF_FECINI"
              class="form-control"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-md-4 p-2">
          <form-field [control]="form.get('PF_FECFIN')" label="Hasta">
            <input
              formControlName="PF_FECFIN"
              class="form-control"
              bsDatepicker />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          text="Imprimir"
          [disabled]="form.invalid"
          [loading]="loading"
          [btnSmall]="true"
          [icon]="'bx bx-printer bx-sm float-icon'"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button class="btn btn-danger btn-sm active mr-3" (click)="cleanForm()">
          Limpiar <i class="fas fa-eraser"> </i>
        </button>
      </div>
    </div>
  </div>
</app-card>
