<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <form-field
            [control]="form.get('attributeInventory')"
            label="Atributo Inventario">
            <input
              type="text"
              class="form-control"
              formControlName="attributeInventory" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="form.get('typeData')" label="Tipo De Dato">
            <select class="form-control" formControlName="typeData">
              <option value="FECHA">FECHA</option>
              <option value="NÚMERO FLOTANTE">N&Uacute;MERO FLOTANTE</option>
              <option value="NUMERICO">NUMERICO</option>
              <option value="ALFANUMÉRICO">ALFANUM&Eacute;RICO</option>
            </select>
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          type="button"
          [btnSmall]="true"
          [disabled]="!form.valid"
          (confirm)="confirm()"
          [loading]="loading"></confirm-button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-primary btn-sm active"
          (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
