<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">ASIGNACI&Oacute;N DE BIENES POR AMPARO</h5>
  </div>

  <div body>
    <!-- FORM Expediente -->
    <form [formGroup]="form" class="form-material">
      <div class="row w-100">
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="form.get('noExpediente')"
            label="No&#46; Expediente">
            <input class="form-control" formControlName="noExpediente" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <form-field
            [control]="form.get('averiguacionPrevia')"
            label="Averiguaci&oacute;n Previa">
            <input class="form-control" formControlName="averiguacionPrevia" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <form-field [control]="form.get('causaPenal')" label="Causa Penal">
            <input class="form-control" formControlName="causaPenal" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2 text-center">
          <button
            type="button"
            class="btn btn-primary btn-sm active"
            (click)="mostrarInfo()">
            Notificaciones Posteriores
          </button>
        </div>
      </div>
    </form>
    <!-- FORM Expediente -->

    <hr class="row" />
    <!-- FORM formTipoSuspersion -->
    <div class="row w-100">
      <form [formGroup]="formTipoSuspersion" class="form-material">
        <div class="col-sm-12 col-12 col-md-5 p-2 pl-3">
          <label class="form-control-label w-100">Tipo Suspensi&oacute;n</label>
          <div class="row">
            <div
              class="col-sm-12 col-12 col-md-6 col-lg-6 col-xl-4 text-center p-2">
              <form-radio label="PROVISIONAL">
                <input
                  class="p-2"
                  type="radio"
                  formControlName="tipoSuspersion"
                  [value]="'PROVISIONAL'" />
              </form-radio>
            </div>
            <div
              class="col-sm-12 col-12 col-md-6 col-lg-6 col-xl-4 text-center p-2">
              <form-radio label="DEFINITIVA">
                <input
                  class="p-2"
                  type="radio"
                  formControlName="tipoSuspersion"
                  [value]="'DEFINITIVA'" />
              </form-radio>
            </div>
            <div
              class="col-sm-12 col-12 col-md-6 col-lg-6 col-xl-4 text-center p-2">
              <form-radio label="DE PLANO">
                <input
                  class="p-2"
                  type="radio"
                  formControlName="tipoSuspersion"
                  [value]="'DE PLANO'" />
              </form-radio>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="formTipoSuspersion.get('fechaInformePrevio')"
            label="Fecha Informe Previo">
            <input
              class="form-control"
              formControlName="fechaInformePrevio"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-5 p-2">
          <form-field
            [control]="formTipoSuspersion.get('justificado')"
            label="Justificado">
            <input class="form-control" placeholder="Justificado" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-7 p-2">
          <form-field
            [control]="formTipoSuspersion.get('observaciones')"
            label="Observaciones">
            <textarea
              class="form-control"
              formControlName="observaciones"></textarea>
          </form-field>
        </div>
      </form>
      <!-- </div> -->
      <!-- FORM formTipoSuspersion -->

      <!-- FORM formAmparo -->
      <form [formGroup]="formAmparo" class="form-material">
        <!-- <div class="row w-100"> -->
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field [control]="formAmparo.get('amparo')" label="Amparo">
            <input class="form-control" formControlName="amparo" />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="formAmparo.get('tipoAmparo')"
            label="Tipo Amparo">
            <select class="form-control" formControlName="tipoAmparo">
              <option [value]="null">Seleccione un valor</option>
              <option [value]="'DIRECTO'">DIRECTO</option>
              <option [value]="'INDIRECTO'">INDIRECTO</option>
            </select>
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2">
          <form-field
            [control]="formAmparo.get('fechaOficio')"
            label="Fecha Oficio">
            <input
              class="form-control"
              formControlName="fechaOficio"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="minPubName"
            label="Min&#46; Pub&#46;"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="formAmparo"
            control="minPub"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="noJuzgadoName"
            label="No&#46; Juzgado"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="formAmparo"
            control="noJuzgado"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="delegacionName"
            label="Delegaci&oacute;n"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="formAmparo"
            control="delegacion"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-5 p-2">
          <form-field [control]="formAmparo.get('quejosos')" label="Quejosos">
            <textarea
              class="form-control"
              formControlName="quejosos"></textarea>
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-4 p-2">
          <form-field
            [control]="formAmparo.get('actoReclamado')"
            label="Acto Reclamado">
            <textarea
              class="form-control"
              formControlName="actoReclamado"></textarea>
          </form-field>
        </div>
      </form>
    </div>
    <!-- FORM formAmparo -->
    <hr class="row" />

    <!-- tabla Emisión Acuerdos -->
    <div class="row w-100">
      <div class="col-sm-12 col-12 col-md-5 p-2">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="tableSettings"
          [source]="dataTable"></ng2-smart-table>
        <br />
        <span class="badge bagde-3 bg-info"> Apostilla </span>
        <span class="badge primary-3 bg-warning">
          Asignados a alg&uacute;n Amparo
        </span>
      </div>
      <div class="col-sm-12 col-12 col-md-2 p-2 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-primary btn-sm active"
            (click)="btnAgregar()">
            <i class="bx bxs-right-arrow-circle bx-md"></i>
          </button>
        </div>
        <br />
        <div class="form-group">
          <button
            type="button"
            class="btn btn-danger btn-sm active"
            (click)="btnEliminar()">
            <i class="bx bxs-left-arrow-circle bx-md"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-12 col-md-5 p-2">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="tableSettings2"
          [source]="dataTable2"></ng2-smart-table>
      </div>
    </div>
  </div>
  <!-- tabla Emisión Acuerdos -->
  <!-- </div> -->
</app-card>
