<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="searchTabForm" class="form-material">
            <div class="row">
              <div class="col-md-12">
                <app-goods-types-shared
                  [form]="searchTabForm"
                  typeField="tipo"
                  subtypeField="subtipo"
                  ssubtypeField="ssubtipo"
                  sssubtypeField="sssubtipo"
                  (goodSssubtypeChange)="
                    getGoods($event)
                  "></app-goods-types-shared>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <goods-filter-shared
                    [form]="searchTabForm"
                    goodField="noBien"
                    [classifGood]="classifGood"></goods-filter-shared>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <form-field
                    [control]="searchTabForm.get('estatus')"
                    label="Estatus">
                    <input
                      class="form-control"
                      type="text"
                      name="estatus"
                      formControlName="estatus" />
                  </form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <form-field
                    [control]="searchTabForm.get('destino')"
                    label="Destino">
                    <input
                      class="form-control"
                      type="text"
                      name="destino"
                      formControlName="destino" />
                  </form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <form-field
                    [control]="searchTabForm.get('situacion')"
                    label="Situación">
                    <input
                      class="form-control"
                      type="text"
                      name="situacion"
                      formControlName="situacion" />
                  </form-field>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="image-container d-flex justify-content-center">
                <!-- Imagen de muestra -->
                <!-- src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/QL4GXR7XDJGO5KOVMF6QDIH52M.jpg" -->
                <img
                  alt="Imagen"
                  src=""
                  class="img-fluid h-auto"
                  style="border: 1px solid #6c757d; max-height: 500px" />
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <div class="text-center">
                <button
                  class="image-control mx-4"
                  (click)="previousImage()"
                  style="border: 1px solid #6c757d">
                  &lt;
                </button>
                <button
                  class="image-control mx-4"
                  (click)="nextImage()"
                  style="border: 1px solid #6c757d">
                  &gt;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-ms-4">
            <button
              class="btn btn-sm btn-primary active mr-3"
              (click)="search()">
              Buscar <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="col-md-4 col-ms-4">
            <button class="btn btn-danger btn-sm active" (click)="clean()">
              Limpiar
            </button>
          </div>
          <div class="col-md-4 col-ms-4">
            <app-columns-select [(settings)]="settings"></app-columns-select>
          </div>
        </div>
      </div>
      <div>
        <ng-scrollbar [track]="'all'" style="min-height: 400px">
          <ng2-smart-table [settings]="settings" [source]="list">
          </ng2-smart-table>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
