<app-modal>
  <div header>
    <h5 class="modal-title" *ngIf="title">Seleccionar {{ title }}</h5>
    <h5 class="modal-title" *ngIf="title2">{{ title2 }}</h5>
  </div>
  <div body>
    <div class="row mt-n3" *ngIf="!haveColumnFilters">
      <div class="form-material col-md-7">
        <search-bar
          *ngIf="dataObservableFn"
          [label]="widthButton ? '' : null"
          [haveSearch]="haveSearch"
          [type]="type"
          [filterParams]="filterParams"
          [filterField]="searchFilter"
          [searchFilterCompatible]="searchFilterCompatible"
          [placeholder]="placeholder"></search-bar>
        <search-bar
          *ngIf="dataObservableListParamsFn"
          [label]="widthButton ? '' : null"
          [params]="params"
          [filterField]="searchFilter"
          [placeholder]="placeholder"></search-bar>
        <search-bar
          *ngIf="dataObservableId"
          [id]="id"
          [label]="widthButton ? '' : null"
          [filterField]="searchFilter"
          [placeholder]="placeholder"></search-bar>
      </div>
      <div class="col-md-5" *ngIf="widthButton">
        <button
          class="btn btn-primary btn-sm active mt-3"
          type="submit"
          size="small"
          (click)="search()">
          <i class="bx bx-search float-icon"></i>
          Buscar
        </button>
      </div>
    </div>
    <div class="row" *ngIf="haveSelectColumns">
      <div class="d-flex justify-content-end">
        <div class="m-3">
          <app-columns-select
            [(settings)]="settings"
            [leftList]="true"></app-columns-select>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12 heigth-limit">
        <!-- <ng-scrollbar track="all" [autoHeightDisabled]="true"> -->
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            #table
            id="events-table"
            [attr.class]="'table-bordered table-responsive'"
            [settings]="settings"
            [source]="data"
            (userRowSelect)="selectEvent($event)">
          </ng2-smart-table>
        </div>
        <div class="table-padding"></div>
        <!-- </ng-scrollbar> -->
      </div>
    </div>
    <app-pagination
      *ngIf="dataObservableFn"
      [filterParams]="filterParams"
      [maxSize]="3"
      [totalItems]="totalItems">
    </app-pagination>
    <app-pagination
      *ngIf="dataObservableListParamsFn"
      [params]="params"
      [totalItems]="totalItems"
      [maxSize]="3">
    </app-pagination>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3" *ngIf="!selectOnClick">
        <button
          (click)="confirm()"
          type="button"
          class="btn btn-primary active btn-sm">
          Seleccionar <i class="fas fa-edit bx-sm float-icon"></i>
        </button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger active btn-sm"
          (click)="close()">
          &nbsp;&nbsp;&nbsp;&nbsp; Cancelar &nbsp;&nbsp;&nbsp;&nbsp;
        </button>
      </div>
    </div>
  </div>
</app-modal>
