<app-modal>
  <div header>
    <h5 class="modal-title">Seleccionar {{ title }}</h5>
  </div>
  <div body>
    <div class="row mt-n3">
      <div class="form-material col-md-7">
        <search-bar
          *ngIf="dataObservableFn"
          [haveSearch]="haveSearch"
          [type]="type"
          [filterParams]="filterParams"
          [filterField]="searchFilter"
          [searchFilterCompatible]="searchFilterCompatible"
          [placeholder]="placeholder"></search-bar>
        <search-bar
          *ngIf="dataObservableListParamsFn"
          [params]="params"
          [filterField]="searchFilter"></search-bar>
        <search-bar
          *ngIf="dataObservableId"
          [id]="id"
          [filterField]="searchFilter"></search-bar>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12 heigth-limit">
        <ng-scrollbar track="all" [autoHeightDisabled]="true">
          <div [class]="loading ? 'table-loading' : ''">
            <ng2-smart-table
              id="events-table"
              [attr.class]="'table-bordered'"
              [settings]="settings"
              [source]="columns"
              (userRowSelect)="selectEvent($event)">
            </ng2-smart-table>
          </div>
          <div class="table-padding"></div>
        </ng-scrollbar>
      </div>
    </div>
    <app-pagination
      *ngIf="dataObservableFn"
      [filterParams]="filterParams"
      [totalItems]="totalItems">
    </app-pagination>
    <app-pagination
      *ngIf="dataObservableListParamsFn"
      [params]="params"
      [totalItems]="totalItems">
    </app-pagination>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3" *ngIf="!selectOnClick">
        <confirm-button
          [disabled]="!rowSelected"
          [loading]="loading"
          text="Seleccionar"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
