<div class="row">
  <div class="ch-content">
    <h5 class="title">
      Generaci&oacute;n de bienes por proceso VNR para facturas en papel
    </h5>
    <button
      type="button"
      class="btn btn-success btn-sm active"
      (click)="fileExcel.click()">
      Carga CSV/Excel
    </button>
    <input
      type="file"
      (change)="ReadExcel($event)"
      name="fileExcel"
      #fileExcel
      class="d-none"
      accept=".xlsx, .xls, .csv, application/vnd.ms-excel" />
    <button
      type="button"
      class="btn btn-success btn-sm active"
      (click)="exportAsXLSX()">
      Exportar Excel
    </button>
    <div class="row justify-content-end mr-1">
      <app-columns-select [(settings)]="settings"></app-columns-select>
    </div>
  </div>
</div>
<div class="row pt-3">
  <ng2-smart-table [source]="data" [settings]="settings"></ng2-smart-table>
</div>
