<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nueva' }} {{ title }}</h5>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-6">
          <form-field [control]="form.get('id')" label="No. Transferencia">
            <input
              type="text"
              class="form-control"
              id="id"
              formControlName="id" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field
            [control]="form.get('keyTransferer')"
            label="Clave Transferente">
            <input
              type="text"
              class="form-control"
              id="keyTransferer"
              formControlName="keyTransferer" />
          </form-field>
        </div>
        <div class="pt-3 col-md-12">
          <form-field [control]="form.get('idTransferer')">
            <ngx-select
              (fetchItems)="getTransfer($event)"
              [data]="transferentSelect"
              [form]="form"
              value="id"
              bindLabel="nameTransferent"
              label="No. Transferente"
              control="idTransferer"
              (change)="changeSelect($event)">
            </ngx-select>
          </form-field>
          <!--<form-field
            [control]="form.get('idTransferer')"
            label="No. Transferente">
            <input
              type="text"
              class="form-control"
              id="idTransferer"
              formControlName="idTransferer" />
          </form-field>-->
        </div>

        <div class="col-md-12 pt-3">
          <form-field
            [control]="form.get('description')"
            label="Descripci&oacute;n">
            <input
              type="text"
              class="form-control"
              id="description"
              formControlName="description" />
          </form-field>
        </div>
        <div class="col-md-12 pt-3">
          <form-field [control]="form.get('type')" label="Tipo">
            <input
              type="text"
              class="form-control"
              id="type"
              formControlName="type" />
          </form-field>
        </div>
        <div class="col-md-12 pt-3">
          <form-field [control]="form.get('address')" label="Direcci&oacute;n">
            <textarea
              class="form-control"
              type="text"
              rows="3"
              formControlName="address"></textarea>
          </form-field>
        </div>
        <div class="col-md-6 pt-3">
          <form-field [control]="form.get('idCity')" label="No. Ciudad">
            <input
              type="text"
              class="form-control"
              id="idCity"
              formControlName="idCity" />
          </form-field>
        </div>
        <div class="col-md-6 pt-3">
          <form-field [control]="form.get('city')">
            <!--<input type="text" class="form-control" id="city" formControlName="city" />-->
            <ngx-select
              [form]="form"
              [data]="cities"
              label="Ciudad"
              value="nameCity"
              bindLabel="nameCity"
              control="city"
              (change)="changeCity($event)">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-6 pt-3">
          <form-field
            [control]="form.get('keyEntityFederative')"
            label="Clave Federativa">
            <input
              type="text"
              class="form-control"
              id="keyEntityFederative"
              formControlName="keyEntityFederative" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="form.invalid"
          [loading]="loading"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
