<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} Perfil</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row mt-4">
        <div class="col-md-6">
          <form-field [control]="form.get('profile')" label="Perfil">
            <input type="text" class="form-control" formControlName="profile" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field
            [control]="form.get('registerNumber')"
            label="No. Registro">
            <input
              type="text"
              class="form-control"
              formControlName="registerNumber" />
          </form-field>
        </div>
        <div class="pt-4 col-md-12">
          <form-field
            [control]="form.get('description')"
            label="Descripci&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="description" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="form.invalid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
