<form class="form-material" [formGroup]="form" (submit)="search()">
  <div class="row">
    <form-field
      [control]="form.get('goodNum')"
      class="col-md-3"
      label="No&#46; Bien(es)">
      <ng-select
        addTagText="Agregar Elemento"
        class="form-control scroll-line"
        formControlName="goodNum"
        [items]="[]"
        [addTag]="true"
        [multiple]="true">
      </ng-select>
      <!-- <input type="text" formControlName="goodNum" class="form-control" /> -->
    </form-field>
    <div class="col-md-1">
      <button
        tooltip="Seleccionar desde archivo txt"
        (click)="goodNumbersInput.click()"
        type="button"
        class="btn btn-primary btn-sm active">
        <i class="bx bx-list-plus bx-sm float-icon"></i>
      </button>
    </div>

    <!-- <form-check label="List&#46; Bienes" for="goodsList" class="col-md-2">
      <input
        type="checkbox"
        formControlName="listBienes"
        id="goodsList"
        class="form-control" />
    </form-check> -->

    <form-field
      [control]="form.get('process')"
      class="col-md-3"
      label="Proceso">
      <ng-select
        addTagText="Agregar Elemento"
        class="form-control scroll-line"
        formControlName="process"
        bindValue="value"
        bindLabel="label"
        [items]="processes"
        [multiple]="true">
      </ng-select>
    </form-field>

    <!-- <form-field
      [control]="form.get('samial menosentory')"
      class="col-md-3"
      label="Inventario SAMI">
      <input type="text" formControlName="samiInventory" class="form-control" />
    </form-field> -->

    <!-- <form-check
      label="List&#46; Inventario"
      for="inventoryList"
      class="col-md-2">
      <input
        type="checkbox"
        formControlName="listInv"
        id="inventoryList"
        class="form-control" />
    </form-check> -->
    <form-field [control]="form.get('targetIdentifier')" class="col-md-3">
      <ngx-select
        [form]="form"
        [searchOnInit]="true"
        control="targetIdentifier"
        [data]="labels"
        value="id"
        bindLabel="description"
        (fetchItems)="getGoodLabels($event)"
        label="Identificador de Destino"></ngx-select>
    </form-field>

    <form-field
      [control]="form.get('photoDate')"
      class="col-md-2"
      label="Fecha Foto">
      <input
        type="text"
        formControlName="photoDate"
        class="form-control"
        bsDatepicker />
    </form-field>
  </div>

  <div class="row pt-5">
    <form-field [control]="form.get('status')" class="col-md-5">
      <ngx-select
        [form]="form"
        [multiple]="true"
        [searchOnInit]="true"
        className="scroll-line"
        control="status"
        [data]="goodStatuses"
        value="status"
        bindLabel="description"
        (fetchItems)="getGoodStatuses($event)"
        label="Estatus"
        [labelTemplate]="statusLabel"
        [optionTemplate]="statusOption"></ngx-select>

      <ng-template #statusLabel let-item="item" let-clear="clear">
        <div class="custom-tmp" [title]="item.status + '-' + item.description">
          <span class="custom-icon" (click)="clear(item)">x</span>
          <span class="custom-value-label"
            >{{ item.status }} - {{ item.description }}</span
          >
        </div>
      </ng-template>
      <ng-template #statusOption let-item="item">
        <div [title]="item.status + '-' + item.description">
          {{ item.status }} - {{ item.description }}
        </div>
      </ng-template>
    </form-field>

    <form-field
      [control]="form.get('withPhoto')"
      class="col-md-2"
      label="Fotos de Bienes">
      <ng-select
        formControlName="withPhoto"
        [items]="photosOptions"
        bindValue="value"
        class="form-control"
        [searchable]="false"
        bindLabel="label"></ng-select>
      <!-- <select formControlName="withPhoto" class="form-control">
        <option
          [value]="photoOption.value"
          *ngFor="let photoOption of photosOptions">
          {{ photoOption.label }}
        </option>
      </select> -->
    </form-field>

    <form-field
      [control]="form.get('menageFather')"
      class="col-md-3"
      label="Bien Padre Menaje">
      <ng-select
        addTagText="Agregar Elemento"
        class="form-control scroll-line"
        formControlName="menageFather"
        [items]="[]"
        [addTag]="true"
        [multiple]="true">
      </ng-select>
    </form-field>

    <form-field
      [control]="form.get('identifier')"
      class="col-md-2"
      label="Identificador">
      <input type="text" formControlName="identifier" class="form-control" />
    </form-field>
  </div>
  <div class="row pt-5">
    <div class="col-md-3 mx-0 px-0 bx-0">
      <form-field
        [control]="form.get('valueFrom')"
        class="col-md-6"
        label="Valor Aval&uacute;o de">
        <input
          type="number"
          formControlName="valueFrom"
          class="form-control"
          oninput="if(this.value.length > 20) this.value = this.value.slice(0, 20)" />
      </form-field>

      <form-field [control]="form.get('valueTo')" class="col-md-6" label="A">
        <input
          type="number"
          formControlName="valueTo"
          class="form-control"
          oninput="if(this.value.length > 20) this.value = this.value.slice(0, 20)" />
      </form-field>
    </div>

    <form-field
      [control]="form.get('movableIventory')"
      class="col-md-3"
      label="Inventario Mueble">
      <input
        type="text"
        formControlName="movableIventory"
        oninput="if(this.value.length > 200) this.value = this.value.slice(0, 200)"
        class="form-control" />
    </form-field>

    <form-field
      [control]="form.get('siabiInventory')"
      class="col-md-3"
      label="Inventario SIABI">
      <input
        type="text"
        formControlName="siabiInventory"
        oninput="if(this.value.length > 200) this.value = this.value.slice(0, 200)"
        class="form-control" />
    </form-field>

    <form-field
      [control]="form.get('cisiInventory')"
      class="col-md-3"
      label="Inventario CISI">
      <input
        type="text"
        formControlName="cisiInventory"
        class="form-control"
        oninput="if(this.value.length > 200) this.value = this.value.slice(0, 200)" />
    </form-field>
  </div>

  <div class="row pt-5">
    <form-field [control]="form.get('description')" label="Descripci&oacute;n">
      <textarea
        type="text"
        formControlName="description"
        oninput="if(this.value.length > 200) this.value = this.value.slice(0, 200)"
        class="form-control"></textarea>
    </form-field>
  </div>

  <div class="row pt-3">
    <form-field [control]="form.get('attributes')" label="Atributos">
      <textarea
        type="text"
        formControlName="attributes"
        oninput="if(this.value.length > 200) this.value = this.value.slice(0, 200)"
        class="form-control"></textarea>
    </form-field>
  </div>

  <div class="row pt-3">
    <form-check label="Gabinete Social" for="gabinete" class="col-md-4">
      <input
        type="checkbox"
        formControlName="gabinete"
        id="gabinete"
        class="form-control" />
    </form-check>
  </div>

  <!-- <div class="row pt-5"> -->
  <!-- <form-field
      [control]="form.get('movableIventory')"
      class="col-md-3"
      label="Inventario Mueble">
      <input
        type="text"
        formControlName="movableIventory"
        class="form-control" />
    </form-field> -->
  <!-- </div> -->

  <div class="row pt-3">
    <div class="col-md-12 d-inline">
      <button class="btn btn-primary active btn-sm mr-3">
        Buscar
        <i class="bx bx-search-alt bx-sm float-icon"></i>
      </button>

      <button
        type="button"
        (click)="cleanFilters.emit()"
        class="btn btn-danger btn-sm active mr-3">
        Limpiar <i class="fas fa-eraser"> </i>
      </button>
    </div>
  </div>
</form>

<div [style.display]="'none'">
  <input
    #goodNumbersInput
    (change)="goodNumbersFileChange($event)"
    [formControl]="goodNumbersControl"
    type="file" />
</div>
