<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <div class="d-flex">
      <div class="mr-auto p-2">
        <h5 class="title">Mantenimiento de Amparos</h5>
      </div>
      <div class="p-2">
        <button class="btn btn-primary active btn-sm m-2" (click)="goBack()">
          Regresar
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
    </div>
  </div>
  <!--   <div class="row" *ngIf="formLoading == true">
    <form-loader *ngIf="formLoading == true"></form-loader>
  </div> -->
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('wheelNumber')" label="No. Volante">
            <input
              type="text"
              class="form-control"
              formControlName="wheelNumber" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('expedientNumber')"
            label="No. Expediente">
            <input
              type="text"
              class="form-control"
              formControlName="expedientNumber" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('receiptDate')"
            label="Fecha Recepción">
            <input
              type="text"
              class="form-control"
              [bsValue]="receiptDateValue"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('expedientTransferenceNumber')"
            label="No Exp. Transferentes">
            <input
              type="text"
              class="form-control"
              formControlName="expedientTransferenceNumber" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('officeExternalKey')"
            label="Cve Oficio Externo">
            <input
              type="text"
              class="form-control"
              formControlName="officeExternalKey" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('externalOfficeDate')"
            label="Fecha Oficio Externo">
            <input
              type="text"
              class="form-control"
              [bsValue]="externalOfficeDateValue"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('externalRemitter')"
            label="Remitente Externo">
            <input
              type="text"
              class="form-control"
              formControlName="externalRemitter" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('protectionKey')" label="Cve Amparo">
            <input
              type="text"
              class="form-control"
              formControlName="protectionKey" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('touchPenaltyKey')"
            label="Cve. Toca Penal">
            <input
              type="text"
              class="form-control"
              formControlName="touchPenaltyKey" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('circumstantialRecord')"
            label="Acta Circunstanciada">
            <input
              type="text"
              class="form-control"
              formControlName="circumstantialRecord" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('preliminaryInquiry')"
            label="Averiguación Previa">
            <input
              type="text"
              class="form-control"
              formControlName="preliminaryInquiry" />
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('criminalCase')" label="Causa Penal">
            <input
              type="text"
              class="form-control"
              formControlName="criminalCase" />
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field label="Asunto" [control]="form.get('affairKey')">
            <ng-custom-select
              class="form-control"
              formControlName="affairKey"
              [isLoadInOnInit]="true"
              value="id"
              path="catalog/api/v1/affair?sortBy=id:ASC&limit=100">
              <ng-template let-item>
                {{ item.id }} - {{ item?.description }}
              </ng-template>
            </ng-custom-select>
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('indiciadoNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getIndiciados($event)"
              bindLabel="nameAndId"
              [data]="indiciadosSelected"
              [form]="form"
              control="indiciadoNumber"
              [showTooltip]="true"
              value="id"
              label="Indiciado"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('minpubNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getIndiciados($event)"
              bindLabel="descriptionAndId"
              [data]="minPubSelected"
              [form]="form"
              control="minpubNumber"
              [showTooltip]="true"
              value="id"
              label="Ministerio Público"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('courtNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getJuzgados($event)"
              bindLabel="descriptionAndId"
              [data]="juzgadoSelected"
              [form]="form"
              control="courtNumber"
              [showTooltip]="false"
              value="id"
              label="Juzgado"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('delegationNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getDelegacion($event)"
              bindLabel="descriptionAndId"
              [data]="delegationSelected"
              [form]="form"
              control="delegationNumber"
              [showTooltip]="false"
              value="id"
              label="Delegación"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('entFedKey')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getEntity($event)"
              bindLabel="downloadStateAndId"
              [data]="entFedSelected"
              [form]="form"
              control="entFedKey"
              [showTooltip]="false"
              value="id"
              label="Entidad Federativa"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <!-- <form-field [control]="form.get('city')" label="Ciudad">
            <input type="text" class="form-control" formControlName="city" />
          </form-field> -->
          <form-field [control]="form.get('cityNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getCity($event)"
              bindLabel="nameCityAndIdCity"
              [data]="citySelected"
              [form]="form"
              control="cityNumber"
              [showTooltip]="false"
              value="idCity"
              label="Ciudad"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field [control]="form.get('transference')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getTransferent($event)"
              bindLabel="nameTransferentAndId"
              [data]="transferentSelected"
              [form]="form"
              control="transference"
              [showTooltip]="false"
              value="id"
              label="Transferente"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <!-- <form-field [control]="form.get('broadcaster')" label="Emisora">
            <input
              type="text"
              class="form-control"
              formControlName="broadcaster" />
          </form-field> -->
          <form-field [control]="form.get('stationNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getStation($event)"
              bindLabel="stationNameAndId"
              [data]="stationSelected"
              [form]="form"
              control="stationNumber"
              [showTooltip]="false"
              value="id"
              label="Emisora"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <!-- <form-field [control]="form.get('authority')" label="Autoridad">
            <input
              type="text"
              class="form-control"
              formControlName="authority" />
          </form-field> -->
          <form-field [control]="form.get('autorityNumber')">
            <ngx-select
              [searchOnInit]="false"
              (fetchItems)="getAuthority($event)"
              bindLabel="authorityNameAndId"
              [data]="authoritySelected"
              [form]="form"
              control="autorityNumber"
              [showTooltip]="false"
              value="idAuthority"
              label="Autoridad"></ngx-select>
          </form-field>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="d-flex align-items-end flex-column">
          <div class="col-md-2" style="text-align: end">
            <div class="p-2"><label for="todos">Todos</label></div>
          </div>
          <div
            class="col-md-2"
            style="text-align: end; margin-right: 1rem; padding-top: 1rem">
            <div class="p-2">
              <input
                id="todos"
                type="checkbox"
                (change)="changeSelectAll($event.target)" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="data">
          </ng2-smart-table>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              type="button"
              class="btn btn-primary btn-sm active"
              (click)="knowledge()">
              Conocimiento
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              type="button"
              class="btn btn-secondary btn-sm active"
              (click)="apply()">
              Aplicar
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              type="button"
              class="btn btn-success btn-sm active"
              (click)="sendEmail()">
              Envio de correo
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              type="button"
              class="btn btn-info btn-sm active"
              (click)="manttoEmail()">
              Mantto. Correos
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row mt-5">
      <app-scanning-foil
        [notifications]="form.value"
        [folio]="blkControlForm.folioUniversal"
        [documents]="documents"
        [processNumber]="pathParams.tramite"></app-scanning-foil>
    </div>
    <!-- <div class="form-group row" style="margin-top: 5rem">
      <label for="staticEmail" class="col-sm-1 col-form-label">DWHERE</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          id="dwhere"
          value="{{ dwhere }}" />
      </div>
    </div> -->
  </div>
</app-card>
