<form [formGroup]="form" class="form-material" (submit)="search()">
  <div class="row">
    <form-field [control]="form.get('almacen')" class="col-md-4">
      <ngx-select
        [form]="form"
        control="almacen"
        label="Almacen"
        [data]="select"></ngx-select>
    </form-field>
    <form-field [control]="form.get('regional')" class="col-md-4">
      <ngx-select
        [form]="form"
        control="regional"
        label="Coordinación Regional que Administra"
        [data]="select"></ngx-select>
    </form-field>
    <form-field [control]="form.get('estadoAutoridad')" class="col-md-4">
      <ngx-select
        [form]="form"
        control="estadoAutoridad"
        label="Estado Donde Radica la Autoridad"
        [data]="select"></ngx-select>
    </form-field>
  </div>
  <div class="row pt-3">
    <form-field [control]="form.get('estadoBien')" class="col-md-4">
      <ngx-select
        [form]="form"
        control="estadoBien"
        label="Estado Donde Radica el Bien"
        [data]="select"></ngx-select>
    </form-field>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary active">
        Buscar<i class="fa fa-search ml-2"></i>
      </button>
    </div>
  </div>
</form>
