:host ::ng-deep ng2-smart-table {
  .goodDescription {
    min-width: 30rem;
  }

  .descriptionGoodSae {
    min-width: 30rem;
  }

  .quantity {
    min-width: 15rem;
  }

  .unitMeasure {
    min-width: 17rem;
  }

  .ligieUnitName {
    min-width: 17rem;
  }
}
