<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Pantalla de Ayuda</h5>
  </div>

  <div body>
    <div class="row">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <div class="table-responsive">
            <ng2-smart-table
              [settings]="settings"
              [source]="business"></ng2-smart-table>
          </div>
          <app-pagination [filterParams]="params" [totalItems]="totalItems">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</app-card>
