<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">consulta de pagos sirsae</h5>
  </div>
  <div body>
    <div class="row">
      <form class="form-material mb-0" [formGroup]="consultForm">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <form-field [control]="consultForm.get('id')">
              <ngx-select
                [form]="consultForm"
                [data]="goodItems"
                label="Referencia"
                value="id"
                bindLabel="id"
                (fetchItems)="getGoods($event)"
                control="id">
              </ngx-select>
            </form-field>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="row">
              <div class="col-6">
                <form-field
                  [control]="consultForm.get('startDate')"
                  label="Fecha page">
                  <input
                    type="text"
                    formControlName="startDate"
                    class="form-control"
                    bsDatepicker
                    [maxDate]="maxDate" />
                </form-field>
              </div>
              <div class="col-6">
                <form-field
                  [control]="consultForm.get('endDate')"
                  label="Fecha Fin">
                  <input
                    type="text"
                    formControlName="endDate"
                    class="form-control"
                    bsDatepicker
                    [maxDate]="maxDate" />
                </form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 d-flex justify-content-center">
            <div class="col-sm-12 col-lg-8">
              <button
                class="btn btn-sm btn-block btn-primary active font-size-14 font-size-lg-16"
                (click)="consult()"
                [disabled]="!consultForm.valid">
                Consultar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-5">
      <div
        class="ms-n2 mb-2 pointer"
        (click)="toggleFilter = !toggleFilter"
        [attr.aria-expanded]="!toggleFilter"
        aria-controls="collapseFilter">
        <i
          class="bx bx-chevron-down bx-md float-icon-md"
          [ngClass]="{
            'rotate-down': toggleFilter,
            'rotate-up': !toggleFilter
          }"></i>
        <h6 class="d-inline">Filtros</h6>
      </div>
      <hr class="mw-98" />
      <form class="form-material mb-0" [formGroup]="filterForm">
        <div
          class="row mt-5"
          id="collapseFilter"
          [isAnimated]="true"
          [collapse]="!toggleFilter">
          <div class="col-sm-12 col-md-4">
            <form-field [control]="filterForm.get('bank')" label="Banco">
              <ng-select
                formControlName="bank"
                [searchable]="false"
                class="form-control"
                [clearable]="false"
                (change)="filterBank($event)">
                <ng-option value="BANAMEX">BANAMEX</ng-option>
                <ng-option value="BANCO SANTANDER">BANCO SANTANDER</ng-option>
                <ng-option value="BANORTE">BANORTE</ng-option>
                <ng-option value="BBVA BANCOMER">BBVA BANCOMER</ng-option>
                <ng-option value="HSBC">HSBC</ng-option>
              </ng-select>
            </form-field>
          </div>
          <div class="col-sm-12 col-md-4">
            <form-field
              [control]="filterForm.get('status')"
              label="Estatus Mov.">
              <ng-select
                formControlName="status"
                [searchable]="false"
                class="form-control"
                [clearable]="false"
                (change)="filterStatus($event)">
                <ng-option value="0">Pagado</ng-option>
                <ng-option value="1">Cheque salvo buen cobro</ng-option>
                <ng-option value="2">Cheque devuelto</ng-option>
              </ng-select>
            </form-field>
          </div>
          <div class="col-sm-12 col-md-4">
            <button class="btn btn-sm btn-info active" (click)="resetFilter()">
              Resetear
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mt-5">
      <div class="d-flex justify-content-between">
        <!-- <div class="form-material col-md-5">
          <search-bar [params]="params"></search-bar>
        </div> -->
        <div>
          <app-columns-select
            [(settings)]="consultSettings"></app-columns-select>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="table-responsive">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            id="consultation-table"
            [attr.class]="'table-bordered'"
            [settings]="consultSettings"
            [source]="tableSource">
          </ng2-smart-table>
        </div>
      </div>
    </div>
    <app-pagination [params]="params" [totalItems]="totalItems">
    </app-pagination>
  </div>
</app-card>
