<app-modal>
  <div class="w-100" header>
    <div class="d-flex flex-wrap justify-content-between aling-items-center">
      <h5 class="modal-title">Correo</h5>
    </div>
  </div>

  <div body>
    <div class="row mt-3 mb-3">
      <form class="form-material" [formGroup]="form">
        <div class="row mt-4">
          <div class="col-md-12 mb-3">
            <form-field class="w-100" [control]="form.get('PARA')">
              <ngx-select
                [form]="form"
                [multiple]="true"
                [searchOnInit]="true"
                className="scroll-line"
                control="PARA"
                [data]="list2"
                value="email"
                bindLabel="email"
                (fetchItems)="getNameDist($event)"
                (change)="changeName($event)"
                label="Para"
                [optionTemplate]="opt"></ngx-select>
              <ng-template #opt let-item="item">
                <div [title]="item.nombre + '-' + item.email">
                  {{ item.nombre }} - {{ item.email }}
                </div>
              </ng-template>
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field class="w-100" [control]="form.get('CC')">
              <ngx-select
                [form]="form"
                [multiple]="true"
                [searchOnInit]="true"
                className="scroll-line"
                control="CC"
                [data]="list"
                value="email"
                bindLabel="email"
                (fetchItems)="getNameRemit($event)"
                (change)="changeName($event)"
                label="C.C"
                [optionTemplate]="opt"></ngx-select>
              <ng-template #opt let-item="item">
                <div [title]="item.nombre + '-' + item.email">
                  {{ item.nombre }} - {{ item.email }}
                </div>
              </ng-template>

              <!-- <ngx-select (fetchItems)="getNameRemit($event)" label="C.C" [data]="list"
                                className="scroll-line" [form]="form" value="email" bindLabel="nombre"
                                [searchable]="false" [searchOnInit]="true" [multiple]="true" [control]="'USER'"
                                (change)="changeName($event)" [labelTemplate]="label" [optionTemplate]="opt">
                            </ngx-select>
                            <ng-template #label let-item="item">
                                {{ item.email }}
                            </ng-template>
                            <ng-template #opt let-item="item">
                                <div [title]="item.nombre + '-' + item.email">
                                    {{ item.nombre }} - {{ item.email }}
                                </div>
                            </ng-template> -->
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field [control]="form.get('ASUNTO')" label="Asunto">
              <input
                type="text"
                class="form-control"
                formControlName="ASUNTO"
                min="1"
                oninput="if(this.value.length > 50) this.value = this.value.slice(0, 50)" />
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field [control]="form.get('FECHA_ENV')" label="Fecha Envio">
              <input
                formControlName="FECHA_ENV"
                class="form-control"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field [control]="form.get('MENSAJE')" label="Mensaje">
              <textarea
                class="form-control"
                cols="30"
                rows="10"
                formControlName="MENSAJE"
                oninput="if(this.value.length > 10000) this.value = this.value.slice(0, 10000)"></textarea>
            </form-field>
          </div>
          <!-- <div class="col-md-12 mb-3">
                        <form-field [control]="form.get('LPARA')" label="LPara">
                            <input type="text" class="form-control" formControlName="LPARA" min="1"
                                oninput="if(this.value.length > 50) this.value = this.value.slice(0, 50)" />
                        </form-field>
                    </div> -->
          <div class="col-md-12 mb-3">
            <form-field
              [control]="form.get('DELEGACION')"
              label="No. Delegación">
              <input
                type="text"
                class="form-control"
                formControlName="DELEGACION"
                min="1"
                oninput="if(this.value.length > 30) this.value = this.value.slice(0, 30)" />
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field [control]="form.get('PREVIO')" label="Previo">
              <input
                type="text"
                class="form-control"
                formControlName="PREVIO"
                min="1"
                oninput="if(this.value.length > 4000) this.value = this.value.slice(0, 4000)" />
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field [control]="form.get('REMITENTE')" label="Remitente">
              <input
                type="text"
                class="form-control"
                formControlName="REMITENTE"
                min="1"
                oninput="if(this.value.length > 50) this.value = this.value.slice(0, 50)" />
            </form-field>
          </div>
          <div class="col-md-12 mb-3">
            <form-field [control]="form.get('REPORTE')" label="No. Reporte">
              <input
                type="text"
                class="form-control"
                formControlName="REPORTE"
                min="1"
                oninput="if(this.value.length > 11) this.value = this.value.slice(0, 11)" />
            </form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 text-center">
      <div class="d inline">
        <button
          type="button"
          class="btn btn-primary btn-sm active"
          (click)="sendEmail()"
          [disabled]="!form.valid">
          Enviar <i class="bx bx-send"></i>
        </button>
        <button
          type="button"
          class="btn btn-primary active btn-sm ml-3"
          (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</app-modal>
