:host ::ng-deep ng2-smart-table {
  .goodDescription {
    min-width: 35rem;
  }

  .goodTypeName {
    min-width: 25rem;
  }

  .physicalStatusName {
    min-width: 13rem;
  }

  .destinyLigie {
    min-width: 13rem;
  }

  .goodMenaje {
    min-width: 10rem;
  }

  .ligieUnit {
    min-width: 15rem;
  }
}
