<form class="form-material" [formGroup]="form">
  <div class="row">
    <!-- <div class="col-md-4">
      <form-field [control]="form.get('goods')" label="Cant. de Bienes">
        <input
          type="number"
          class="form-control"
          formControlName="goods"
          readonly />
      </form-field>
    </div> -->
    <div class="col-xs-6">
      <form-field [control]="form.get('files')" label="Cant. de Expedientes">
        <input
          type="number"
          class="form-control"
          formControlName="goods"
          readonly />
      </form-field>
    </div>
    <div class="col-xs-6">
      <form-field
        [control]="form.get('dictamenes')"
        label="Cant. de Dictámenes">
        <input
          type="number"
          class="form-control"
          formControlName="goods"
          readonly />
      </form-field>
    </div>
  </div>
</form>
