<app-modal>
  <div header>
    <h5 class="modal-title">{{ title }}</h5>
  </div>
  <div body class="body">
    <form [formGroup]="clarificationForm" class="form-material">
      <div class="row">
        <div
          class="col-md-6"
          *ngIf="
            infoRequest.typeOfTransfer != 'SAT_SAE' ||
            (infoRequest.typeOfTransfer == 'SAT_SAE' &&
              dataClarifications2.chatClarification.idClarificationType == '2')
          ">
          <form-field
            [control]="clarificationForm.get('addresseeName')"
            label="Destinatario">
            <input
              type="text"
              class="form-control"
              maxlength="50"
              formControlName="addresseeName" />
          </form-field>
        </div>
        <div
          class="col-md-6"
          *ngIf="
            infoRequest.typeOfTransfer != 'SAT_SAE' ||
            (infoRequest.typeOfTransfer == 'SAT_SAE' &&
              dataClarifications2.chatClarification.idClarificationType == '2')
          ">
          <form-field
            [control]="clarificationForm.get('positionAddressee')"
            label="Cargo Destinatario">
            <input
              type="text"
              class="form-control"
              maxlength="50"
              formControlName="positionAddressee" />
          </form-field>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-6">
          <form-field
            [control]="clarificationForm.get('senderName')"
            label="Nombre Remitente">
            <input
              type="text"
              class="form-control"
              maxlength="50"
              formControlName="senderName" />
          </form-field>
        </div>

        <div class="col-md-6">
          <form-field
            [control]="clarificationForm.get('senderCharge')"
            label="Cargo Remitente">
            <input
              type="text"
              class="form-control"
              maxlength="50"
              formControlName="senderCharge" />
          </form-field>
        </div>
      </div>

      <div
        class="row pt-3"
        *ngIf="
          infoRequest.typeOfTransfer != 'SAT_SAE' ||
          (infoRequest.typeOfTransfer == 'SAT_SAE' &&
            dataClarifications2.chatClarification.idClarificationType == '2')
        ">
        <div class="col-md-12">
          <form-field
            [control]="clarificationForm.get('consistentIn')"
            label="Consistente en">
            <textarea
              class="form-control"
              maxlength="1000"
              formControlName="consistentIn"></textarea>
          </form-field>
        </div>
      </div>

      <div
        class="row pt-3"
        *ngIf="
          infoRequest.typeOfTransfer == 'SAT_SAE' &&
          dataClarifications2.chatClarification.idClarificationType == '2'
        ">
        <div class="col-md-6">
          <form-field
            [control]="clarificationForm.get('paragraphInitial')"
            label="P&aacute;rrafo Inicial">
            <textarea
              class="form-control"
              maxlength="1000"
              formControlName="paragraphInitial"></textarea>
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field
            [control]="clarificationForm.get('paragraphFinal')"
            label="P&aacute;rrafo Final">
            <textarea
              class="form-control"
              maxlength="1000"
              formControlName="paragraphFinal"></textarea>
          </form-field>
        </div>
      </div>

      <div
        class="row pt-3"
        *ngIf="
          infoRequest.typeOfTransfer != 'SAT_SAE' ||
          (infoRequest.typeOfTransfer == 'SAT_SAE' &&
            dataClarifications2.chatClarification.idClarificationType == '2')
        ">
        <div class="col-md-12">
          <form-field
            [control]="clarificationForm.get('clarification')"
            label="Aclaraci&oacute;n">
            <textarea
              class="form-control"
              maxlength="1000"
              formControlName="clarification"></textarea>
          </form-field>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-12">
          <form-field
            [control]="clarificationForm.get('observations')"
            label="Observaciones">
            <textarea
              class="form-control"
              maxlength="400"
              formControlName="observations"></textarea>
          </form-field>
        </div>
      </div>

      <!-- <div class="row pt-3">
        <div class="col-md-12">
          <form-field
            [control]="clarificationForm.get('foundation')"
            label="Fundamentaci&oacute;n">
            <textarea
              class="form-control"
              maxlength="4000"
              formControlName="foundation"></textarea>
          </form-field>
        </div>
      </div> -->

      <!--<div class="row pt-3">
        <div class="col-md-6">
          <form-field
            [control]="clarificationForm.get('transmitterId')"
            label="ID Emisor">
            <input
              type="text"
              class="form-control"
              maxlength="15"
              formControlName="transmitterId" />
          </form-field>
        </div>

        <div class="col md-6">
          <form-field
            [control]="clarificationForm.get('invoiceLearned')"
            label="Folio Documento">
            <input
              type="text"
              class="form-control"
              maxlength="60"
              formControlName="invoiceLearned" />
          </form-field>
        </div>
      </div> -->

      <div class="row pt-3">
        <!--<div class="col-md-4">
          <form-field
            [control]="clarificationForm.get('worthAppraisal')"
            label="Valor Aval&uacute;o">
            <input
              type="text"
              class="form-control"
              maxlength="60"
              formControlName="worthAppraisal" />
          </form-field>
        </div> -->

        <div class="col-md-4">
          <form-field
            [control]="clarificationForm.get('userAreaCaptures')"
            label="&Aacute;rea del Usuario Captura">
            <input
              type="text"
              class="form-control"
              maxlength="60"
              formControlName="userAreaCaptures" />
          </form-field>
        </div>

        <div class="col-md-4" *ngIf="infoRequest.typeOfTransfer == 'SAT_SAE'">
          <form-field
            [control]="clarificationForm.get('webMail')"
            label="Correo Notificaci&oacute;n Respuesta SAT">
            <input
              type="text"
              class="form-control"
              maxlength="30"
              formControlName="webMail" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [text]="'Continuar'"
          [loading]="loading"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>

<!-- [disabled]="clarificationForm.invalid" -->
