<app-modal>
  <div header>
    <h5 class="modal-title">
      {{ edit ? 'Editar' : 'Nuevo' }} Categoria para almacenes
    </h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="warehouseForm">
      <div class="row mt-4">
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('description')"
            label="Descripci&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="description" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field
            [control]="warehouseForm.get('ubication')"
            label="Ubicaci&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="ubication" />
          </form-field>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <form-field [control]="warehouseForm.get('stateCode')">
            <ngx-select
              [form]="warehouseForm"
              [data]="states"
              bindLabel="descCondition"
              label="Estado"
              value="id"
              (fetchItems)="getStates($event)"
              (change)="getCitie($event)"
              control="stateCode"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="warehouseForm.get('cityCode')">
            <ngx-select
              [form]="warehouseForm"
              [data]="cities"
              bindLabel="nameCity"
              label="Ciudad"
              value="idCity"
              (fetchItems)="getCitiesParams($event)"
              (change)="getMunicipalitie($event)"
              control="cityCode"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="warehouseForm.get('municipalityCode')">
            <ngx-select
              [form]="warehouseForm"
              [data]="municipalities"
              bindLabel="description"
              label="Municipio"
              value="idMunicipality"
              (fetchItems)="getMunicipalitiesParams($event)"
              (change)="getLocalitie($event)"
              control="municipalityCode"></ngx-select>
          </form-field>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <form-field [control]="warehouseForm.get('localityCode')">
            <ngx-select
              [form]="warehouseForm"
              [data]="localities"
              label="Localidad"
              bindLabel="nameLocation"
              value="id"
              (fetchItems)="getLocalities($event)"
              control="localityCode"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('responsibleDelegation')">
            <ngx-select
              [searchOnInit]="true"
              [form]="warehouseForm"
              [data]="responsibleDelegation"
              label="Delegaci&oacute;n Responsable"
              bindLabel="description"
              value="delegation"
              (fetchItems)="getResponsibleDelegation($event)"
              control="responsibleDelegation"></ngx-select>
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="warehouseForm.get('manager')">
            <ngx-select
              [form]="warehouseForm"
              [data]="user"
              label="Responsable"
              bindLabel="name"
              value="user"
              (fetchItems)="getUser($event)"
              control="manager"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <form-field [control]="warehouseForm.get('type')">
            <ngx-select
              [searchable]="true"
              [form]="warehouseForm"
              [data]="type"
              label="Tipo Almac&eacute;n"
              bindLabel="otvalor"
              value="otkey"
              (fetchItems)="getType($event)"
              control="type"></ngx-select>
          </form-field>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!warehouseForm.valid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
