<h5 class="title">
  <p>
    <a
      class="text-color"
      (click)="showSearchForm = true"
      *ngIf="!showSearchForm">
      <i class="fa fa-angle-right" aria-hidden="true"></i> B&uacute;squeda
      bienes</a
    >
  </p>

  <p>
    <a
      class="text-color"
      (click)="showSearchForm = false"
      *ngIf="showSearchForm">
      <i class="fa fa-angle-down" aria-hidden="true"></i> B&uacute;squeda
      bienes</a
    >
  </p>
</h5>
<div *ngIf="showSearchForm">
  <form [formGroup]="searchForm" class="form-material">
    <div class="row pt-3">
      <div class="col-md-6">
        <form-field
          [control]="searchForm.get('goodId')"
          label="N&uacute;mero de gesti&oacute;n">
          <input
            type="number"
            class="form-control"
            formControlName="goodId"
            min="0" />
        </form-field>
      </div>

      <div class="col-md-6">
        <form-field [control]="searchForm.get('goodTypeId')">
          <ngx-select
            [form]="searchForm"
            control="goodTypeId"
            [data]="goodTypes"
            value="id"
            bindLabel="description"
            label="Tipo Bien"
            (fetchItems)="getGoodTypeSelect($event)">
          </ngx-select>
        </form-field>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-6">
        <form-field
          [control]="searchForm.get('requestId')"
          label="N&uacute;mero de solicitud">
          <input
            type="number"
            class="form-control"
            formControlName="requestId"
            min="0" />
        </form-field>
      </div>

      <div class="col-md-6">
        <form-field
          [control]="searchForm.get('goodDescription')"
          label="Descripci&oacute;n de bien transferente">
          <input
            type="text"
            class="form-control"
            formControlName="goodDescription" />
        </form-field>
      </div>
    </div>
  </form>
</div>

<div class="form-inline justify-content-end btn-toolbar">
  <button class="btn btn-primary btn-sm active" (click)="search()">
    <i class="fa fa-search"></i> Buscar
  </button>

  <button class="btn btn-danger btn-sm active" (click)="clean()">
    Limpiar
  </button>
</div>

<div class="row">
  <div class="btn-toolbar pt-5">
    <app-columns-select [(settings)]="settings"></app-columns-select>
    <button
      (click)="showDocsEstValidate()"
      class="btn btn-primary btn-sm active">
      <i class="fa fa-file-archive"></i> Ver documentos
    </button>
  </div>

  <div class="row pt-4">
    <div [class]="loading ? 'table-loading' : ''">
      <ng2-smart-table
        (rowSelect)="selectRow($event)"
        [attr.class]="'table-bordered table-responsive'"
        [settings]="settings"
        [source]="documentsEstData">
      </ng2-smart-table>
    </div>
  </div>
  <app-pagination
    [filterParams]="params"
    [totalItems]="totalItems"></app-pagination>
</div>
