<app-modal *ngIf="!plain">
  <div class="w-100" header>
    <div class="d-flex flex-wrap justify-content-between aling-items-center">
      <h5 class="modal-title">
        Lista de Nombramientos Relacionados al Bien "{{ noBien }}"
      </h5>
      <div class="buttons">
        <app-columns-select [(settings)]="settings"></app-columns-select>
        <button class="btn btn-primary active btn-sm ml-3" (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>

  <div body>
    <div class="alert alert-info">
      Selecciona un registro para cargar el nombramiento o bien dar clic en
      cerrar para cargar sólo la información del Bien
    </div>
    <div class="row pt-4" style="max-height: 400px; overflow-y: scroll">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <!-- <form-loader *ngIf="loading"></form-loader> -->
          <ng2-smart-table
            [attr.class]="'table-bordered table-responsive'"
            class="table-responsive"
            [settings]="settings"
            (userRowSelect)="formData($event.data)"
            [source]="data">
          </ng2-smart-table>
        </div>
      </div>
    </div>
    <app-pagination [params]="paramsList" [totalItems]="totalItems">
    </app-pagination>
  </div>
</app-modal>
