<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Actualizar' : 'Nueva' }} {{ title }}</h5>
  </div>
  <div body>
    <form [formGroup]="clarificationForm" class="form-material">
      <div class="">
        <div class="row pt-5">
          <div class="col-md-12">
            <!-- <form-field
              [control]="clarificationForm.get('clarificationType')"
              label="Tipo Aclaraci&oacute;n">
              <select class="form-control" formControlName="clarificationType">
                <option
                  *ngFor="let item of clarificationTypes"
                  [value]="item.value">
                  {{ item.description }}
                </option>
              </select>
            </form-field> -->
            <div
              [formGroup]="clarificationForm"
              class="form-group form-secondary form-static-label">
              <ng-select
                class="form-control"
                formControlName="clarificationType"
                [clearable]="false"
                [items]="clarificationTypes"
                [virtualScroll]="true"
                [loading]="loading"
                bindLabel="description"
                bindValue="value">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <div [title]="item.description">
                    {{ item.description }}
                  </div>
                </ng-template>
              </ng-select>
              <span class="form-bar"></span>
              <label class="float-label"
                >Tipo Aclaraci&oacute;n
                <span style="color: rgb(157, 36, 73)">*</span></label
              >
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-12">
            <ngx-select
              [form]="clarificationForm"
              control="clarificationId"
              (fetchItems)="getClarification($event)"
              (change)="clarificationSelect($event)"
              [data]="selectClarification"
              label="Aclaraci&oacute;n"
              value="id"
              bindLabel="clarification"></ngx-select>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-12">
            <form-field
              [control]="clarificationForm.get('reason')"
              label="Raz&oacute;n">
              <textarea
                class="form-control"
                formControlName="reason"
                cols="10"
                rows="3"
                maxlength="255"></textarea>
            </form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <!--  [disabled]="clarificationForm.invalid" -->
        <button
          class="btn btn-primary btn-sm active"
          (click)="confirm()"
          [disabled]="clarificationForm.invalid || statusTask == 'FINALIZADA'">
          <i class="bx bx-save"></i> Guardar
        </button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger btn-sm active"
          (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
