<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">Previsualización de Datos</h5>
  </div>
  <div body>
    <div class="row text-end">
        <app-columns-select
          [leftList]="true"
          (settingsChange)="settingsChange($event)"
          [settings]="settings"></app-columns-select>
    </div>
    <div class="row pt-4">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="settings"
            [source]="dataPaginated"
            (userSelectRow)="selectRow($event)"
            (create)="create()"
            (editConfirm)="edit($event)"
            (deleteConfirm)="delete($event)">
          </ng2-smart-table>
        </div>
      </div>
    </div>
    <app-pagination [params]="params" [totalItems]="totalItems">
    </app-pagination>
  </div>
</app-card>
