<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Reporte Acumulado de Bienes Mensual</h5>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row mt-4">
        <div class="col-md-4">
          <form-field [control]="form.get('year')" label="Año">
            <input
              type="text"
              class="form-control"
              formControlName="year"
              [bsConfig]="bsConfig"
              #dp="bsDatepicker"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="form.get('ofMonth')" label="Del mes:">
            <ng-select
              addTagText="Agregar Elemento"
              formControlName="ofMonth"
              class="form-control scroll-line"
              bindValue="value"
              bindLabel="label"
              (blur)="validateMonthTwo()"
              [items]="months">
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="form.get('toMonth')" label="Al mes:">
            <ng-select
              addTagText="Agregar Elemento"
              formControlName="toMonth"
              class="form-control scroll-line"
              bindValue="value"
              bindLabel="label"
              (blur)="validateMonth()"
              [items]="months">
            </ng-select>
          </form-field>
        </div>
      </div>
      <app-delegation-shared [form]="form"></app-delegation-shared>
    </form>

    <div footer>
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <button
            type="button"
            [disabled]="form.invalid"
            class="btn btn-primary active btn-sm"
            (click)="generar()">
            Imprimir <i class="bx bx-printer bx-sm float-icon"></i>
          </button>
        </div>
        <div class="m-3">
          <button
            type="button"
            class="btn btn-danger active btn-sm"
            (click)="cleanForm()">
            Limpiar <i class="fas fa-eraser bx-sm float-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-card>
