<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Proceso de reclamación de pago</h5>
  </div>
  <div body>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="d-flex justify-content-end">
          <div class="m-3">
            <button
              [disabled]="!disabledImport"
              class="btn btn-success btn-sm ml-2 active"
              type="button"
              (click)="file.click()">
              Importar Archivo Excel / CSV
              <i class="bi bi-file-earmark-excel-fill"></i>
            </button>
            <input
              type="file"
              name="file"
              #file
              class="d-none"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              (change)="onFileChange($event)" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form-loader *ngIf="loading"></form-loader>
      <div class="body">
        <ng-scrollbar
          [track]="'all'"
          [ngStyle]="{ height: loading ? '0px' : '300px' }">
          <ng2-smart-table
            id="idTableTestHead"
            [attr.class]="'table-responsive table-bordered'"
            [settings]="settings"
            [source]="data">
          </ng2-smart-table>
        </ng-scrollbar>
        <!-- <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table id="idTableTestHead" [attr.class]="'table-bordered'" [settings]="settings" [source]="data">
          </ng2-smart-table>
        </div> -->
      </div>
      <app-pagination
        *ngIf="paginadoNG == true"
        [params]="paramsList"
        [totalItems]="totalItems"></app-pagination>
    </div>
    <hr />
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-full col-sm-12 col-xs-12">
          <!-- <form-field [control]="form.get(justification)">
            <ngx-select (fetchItems)="getJustification($event)" [data]="justifications" [form]="form" value="value"
              bindLabel="value" [searchOnInit]="true" label="Justificación" [control]="justification"
              (change)="onJustificationChange($event)">
            </ngx-select>
          </form-field> -->
          <app-justification-shared
            (valueJustification)="valueJustification($event)"
            [form]="form"></app-justification-shared>
        </div>
        <div class="col-md-2 mt-3 mb-3 mr-4">
          <div class="d-flex justify-content-between">
            <div>
              <button
                [disabled]="!document"
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="changeStatusGood()">
                Actualizar
                <i class="fas fa-sync-alt"> </i>
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-danger btn-sm active ml-3"
                (click)="clean((file.value = ''))">
                Limpiar
                <i class="fa fa-eraser" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-1 mt-3 mb-3 mr-4"></div>
        <div class="col-8 mt-3 mb-3 mr-4">
          <div class="row pt-3 pb-3">
            <div class="col-6 justify-content-end">
              <span style="color: #1e7e34; font-weight: 500"
                >Número de Registros Cargados &nbsp;&nbsp;
                <strong *ngIf="dataA == 0" style="color: #1e7e34">0</strong>
                <strong *ngIf="dataA != 0" style="color: #1e7e34">{{
                  dataA
                }}</strong>
              </span>
            </div>
            <div class="col-6 justify-content-end">
              <span style="color: crimson; font-weight: 500"
                >Número de Registros NO Cargados &nbsp;&nbsp;
                <strong *ngIf="dataD == 0" style="color: crimson">0</strong>
                <strong *ngIf="dataD != 0" style="color: crimson">{{
                  dataD
                }}</strong>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row"></div>
    </form>
    <hr />
    <div class="row">
      <app-scanning-foil
        #hijoRef
        [goods]="goods"
        (documentEmmit)="changeFoli($event)"
        (firstGood)="firstGood($event)"></app-scanning-foil>
    </div>
    <!-- <div class="row mt-5">
      <div class="col-md-6" style="border-right: 1px solid rgba(0, 0, 0, 0.1)" *ngIf="showError">
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <h6>Registro de Errores</h6>
            </div>
          </div>
        </div>
        <div class="row pt-3 pb-3" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
          <span>Número de registros NO cargados &nbsp;&nbsp;
            <strong style="color: crimson">{{ idsNotExist.length }}</strong></span>
        </div>
        <div class="row pt-3 pb-3" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
          <div class="col-md-full" *ngFor="let item2 of idsNotExist">
            <span style="color: crimson">
              El Bien No. <strong>{{ item2.id }}</strong> {{ item2.reason }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="showError">
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <h6>Registro de Éxitos</h6>
            </div>
          </div>
        </div>
        <div class="row pt-3 pb-3" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
          <span>Número de registros cargados &nbsp;&nbsp;
            <strong style="color: #1e7e34">{{ goods.length }}</strong></span>
        </div>
        <div class="row pt-3 pb-3" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
          <div class="col-md-full" *ngFor="let good of goods">
            <span>El Bien No.
              <strong style="color: #1e7e34">{{ good.id }}</strong> cargado
              correctamente
            </span>
          </div>
        </div>
        <div class="row pt-3 pb-3" style="border-top: 1px solid rgba(0, 0, 0, 0.1)" *ngIf="showStatus">
          <div class="col-md-full" *ngFor="let good of goods">
            <span>Estatus del Bien No.
              <strong style="color: #1e7e34">{{ good.id }}</strong>
              cambiado correctamente</span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</app-card>
