<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">
      REPORTE INFORMACIÓN DE MODULO DE REGISTRO DE BIENES ASEGURADOS, DECOMISOS
      Y ABANDONOS
    </h5>
  </div>

  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-3">
          <app-delegation-shared [form]="form" [showSubdelegation]="false">
          </app-delegation-shared>
        </div>
        <div class="col-md-3">
          <app-delegation-shared [form]="form" [showDelegation]="false">
          </app-delegation-shared>
        </div>
        <div class="col-md-4 mt-3">
          <form-field
            [control]="form.get('rangeDate')"
            label="Fechas de recepción">
            <input
              class="form-control"
              formControlName="rangeDate"
              placeholder="Seleccione el rango de fechas"
              ngModel
              bsDaterangepicker
              [maxDate]="today"
              [bsConfig]="{
                dateInputFormat: 'DD-MM-YYYY',
                displayOneMonthRange: true
              }" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button
          type="submit"
          class="btn btn-primary active"
          [disabled]="!form.valid"
          (click)="openPrevPdf()">
          Imprimir
        </button>
      </div>
    </div>
  </div>
</app-card>
