<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Captura de Aprobaci&oacute;n para Donaci&oacute;n</h5>
  </div>

  <div body>
    <form
      class="form-material form-horizontal"
      [formGroup]="regisForm"
      (ngSubmit)="onSubmit()">
      <div class="row mt-5">
        <div class="col-md-5 border-right border-secondary" id="column">
          <div class="row">
            <div class="col-12">
              <h5>Registro</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-end">
              <span class="badge rounded-pill badge-soft-success">
                Estatus
              </span>
              <div>{{ estatus || '' }}</div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6">
              <div class="mb-3 pl-4 pr-4">
                <form-field [control]="regisForm.get('type')" label="Tipo">
                  <input
                    #inputValue
                    type="text"
                    class="form-control"
                    formControlName="type"
                    readonly />
                </form-field>
                <!-- <form-field [control]="regisForm.get('type')" label="Tipo">
                  <ng-select formControlName="type" class="form-control pt-1" readonly>
                    <ng-option value="COMPDON">COMPDON</ng-option>
                  </ng-select>
                </form-field> -->
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="regisForm.get('area')"
                  label="&Aacute;rea">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="area"
                    readonly />
                </form-field>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-2">
              <div class="mb-3 pl-4 pr-4">
                <!-- <form-field [control]="regisForm.get('year')" label="Año">
                  <input type="text" class="form-control" [bsConfig]="bsConfigToYear" #dp="bsDatepicker"
                    formControlName="year" bsDatepicker [(bsValue)]="bsValueToYear" />
                </form-field> -->
                <form-field [control]="regisForm.get('year')" label="Año">
                  <input
                    #inputValue
                    type="text"
                    class="form-control"
                    formControlName="year"
                    class="form-control"
                    readonly />
                </form-field>
              </div>
            </div>
            <div class="col-md-5">
              <div class="mb-3 pl-4 pr-4">
                <form-field [control]="regisForm.get('folio')" label="Folio">
                  <input
                    #inputValue
                    type="text"
                    class="form-control"
                    formControlName="folio"
                    class="form-control"
                    readonly />
                </form-field>
              </div>
            </div>
            <div class="col-md-5">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="regisForm.get('captureDate')"
                  label="Fecha Captura">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="captureDate"
                    readonly />
                </form-field>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="mb-3 pl-4 pr-4">
                <form-field
                  [control]="regisForm.get('keyEvent')"
                  label="CVE. Acta">
                  <input
                    #inputValue
                    type="text"
                    class="form-control"
                    readonly
                    formControlName="keyEvent" />
                </form-field>
              </div>
            </div>

            <div footer>
              <div class="row m-3">
                <div class="col-4"></div>
                <div class="col-md-8 text-end">
                  <span title="Nueva Captura" containerClass="tooltip-style">
                    <button
                      (click)="agregarCaptura()"
                      class="btn btn-secondary btn-sm active m-1">
                      <i class="bx bx-plus"></i>
                    </button>
                  </span>
                  <span title="Buscar Eventos" containerClass="tooltip-style">
                    <button
                      (click)="searchActas()"
                      class="btn btn-secondary btn-sm active m-1">
                      <i class="bx bxs-file-find"></i>
                    </button>
                  </span>
                  <span title="Cerrar Evento" containerClass="tooltip-style">
                    <button
                      (click)="cerrarActa()"
                      class="btn btn-secondary btn-sm active m-1">
                      <i class="bx bx-trash"></i>
                    </button>
                  </span>
                  <span
                    title="Limpiar Formulario"
                    containerClass="tooltip-style">
                    <button
                      (click)="clean()"
                      class="btn btn-secondary btn-sm active m-1">
                      <i class="bx bx-brush"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-12">
              <h5>Par&aacute;metros para Traer Informaci&oacute;n de SIAB</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2 d-flex justify-content-end">
                  <div
                    class="row ps-4"
                    [ngClass]="{ 'not-press': !activeRadio }">
                    <form-radio label="Normal">
                      <input type="radio" formControlName="tipo" value="N" />
                    </form-radio>
                    <form-radio label="Paquete">
                      <input type="radio" formControlName="tipo" value="P" />
                    </form-radio>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body mt-4 mb-4">
                      <div
                        class="form-group row p-4 d-flex justify-content-center align-items-center">
                        <div class="col-md-3">
                          <button
                            class="btn btn-secondary btn-sm active"
                            (click)="validaGood()">
                            Valida Bienes <i class="bx bx-check float-icon"></i>
                          </button>
                        </div>
                        <div class="col-md-3">
                          <button
                            class="btn btn-success btn-sm active"
                            type="button"
                            (click)="exportToExcel()">
                            Exportar a Excel
                            <i class="bx bx-download float-icon"></i>
                          </button>
                        </div>
                      </div>
                      <div
                        class="form-group row p-4 d-flex justify-content-center align-items-center">
                        <div class="col-md-3">
                          <button
                            class="btn btn-primary btn-sm active"
                            (click)="ubicaGood()">
                            Consulta Bienes
                            <i class="bx bx-search float-icon"></i>
                          </button>
                        </div>

                        <div class="col-md-3">
                          <button
                            class="btn btn-info active btn-sm active"
                            (click)="exportToExcel()">
                            Rastreador de Bienes&nbsp;
                            <i class="fas fa-map-marker bx-sm float-icon"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-divider></app-divider>
      <div class="row pt-3">
        <div class="col-md-12 d-flex justify-content-between">
          <span class="text-success">
            <i class="fa fa-check" aria-hidden="true"></i> Cantidad de
            Bienes&#58; <b>{{ TOTAL_REPORTE }}</b>
          </span>
          <span class="text-danger"
            ><i class="fa fa-ban" aria-hidden="true"></i> Cantidad de Bienes con
            Error&#58;
            <b>{{ BIEN_ERROR }}</b>
          </span>
          <span class="text-info">
            Suma de Cantidades
            <b>{{ SUM_BIEN | currency }}</b>
          </span>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-3"></div>
        <div class="row mt-12 d-flex justify-content-center">
          <div class="col-md-12">
            <h6>BIENES RELACIONADOS CON EL EVENTO</h6>
            <div class="row"></div>
            <div class="row">
              <div class="d-flex justify-content-end mb-2">
                <app-columns-select
                  [(settings)]="settings"></app-columns-select>
              </div>
            </div>
            <div class="row">
              <form-loader *ngIf="loading3"></form-loader>
              <div class="col-md-12">
                <ng-scrollbar
                  [track]="'all'"
                  [ngStyle]="{ height: loading3 ? '0px' : '600px' }">
                  <ng2-smart-table
                    class="table-responsive"
                    [attr.class]="'table-bordered table-responsive'"
                    [settings]="settings2"
                    (userRowSelect)="rowsSelected($event)"
                    [source]="dataDetailDonationGood">
                  </ng2-smart-table>
                </ng-scrollbar>
                <app-pagination
                  [params]="paramsList2"
                  [totalItems]="totalItems2"></app-pagination>
              </div>
              <div class="row">
                <!-- <div class="col-md-12">
                  <div>
                    <form-field [control]="regisForm.get('observaciones')" label="Observaciones">
                      <textarea maxlength="1000" type="text" class="form-control"
                        formControlName="observaciones"></textarea>
                    </form-field>
                  </div>
                </div> -->
                <div class="col-md-12">
                  <div>
                    <form-field
                      [control]="regisForm.get('observaElimina')"
                      label="Observaciones Eliminación de Bienes por">
                      <textarea
                        maxlength="1000"
                        type="text"
                        class="form-control"
                        formControlName="observaElimina"></textarea>
                    </form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div footer>
        <div class="d-flex justify-content-center">
          <div class="m-3">
            <button
              class="btn btn-secondary btn-sm active"
              (click)="ubicaGood()">
              Ver Error
            </button>
          </div>
          <div class="m-3">
            <button
              class="btn btn-danger btn-sm active"
              (click)="removeSelect()">
              Elimina Bienes <i class="fa fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-card>
