<form [formGroup]="form" class="form-material">
  <div class="row w-100">
    <div class="col-sm-12 col-12 col-md-2 p-2">
      <form-field
        [control]="form.get('noDictaminacion')"
        label="No&#46; Dictaminaci&oacute;n">
        <input class="form-control" formControlName="noDictaminacion" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-4 p-2">
      <form-field [control]="form.get('remitente')" label="Remitente">
        <input class="form-control" formControlName="remitente" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-3 p-2">
      <form-field [control]="form.get('ciudad')" label="Ciudad">
        <input class="form-control" formControlName="ciudad" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-3 p-2">
      <form-field [control]="form.get('destinatario')" label="Destinatario">
        <input class="form-control" formControlName="destinatario" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-2 p-2">
      <form-field
        [control]="form.get('noDelegacionDestinatario')"
        label="No&#46; Delegaci&oacute;n Destinatario">
        <input
          class="form-control"
          formControlName="noDelegacionDestinatario" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-2 p-2">
      <form-field
        [control]="form.get('noDepartamentoDestinatario')"
        label="No&#46; Departamento Destinatario">
        <input
          class="form-control"
          formControlName="noDepartamentoDestinatario" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-2 p-2">
      <form-field [control]="form.get('noNotario')" label="noNotario">
        <input class="form-control" formControlName="noNotario" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-3 p-2">
      <form-field [control]="form.get('estatus')" label="Estatus">
        <input class="form-control" formControlName="estatus" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-3 p-2">
      <form-field
        [control]="form.get('tipoDictaminacion')"
        label="Tipo Dictaminaci&oacute;n">
        <input class="form-control" formControlName="tipoDictaminacion" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-2 p-2">
      <form-field [control]="form.get('claveCargo')" label="Clave Cargo">
        <input class="form-control" formControlName="claveCargo" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-5 p-2">
      <form-field
        [control]="form.get('destinatarioESXT')"
        label="Destinatario ESXT">
        <input class="form-control" formControlName="destinatarioESXT" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-5 p-2">
      <form-field
        [control]="form.get('destinatarioRemitente')"
        label="Destinatario Remitente">
        <input class="form-control" formControlName="destinatarioRemitente" />
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-6 p-2">
      <form-field
        [control]="form.get('parrafoInicial')"
        label="P&aacute;rrafo Inicial">
        <textarea
          class="form-control"
          formControlName="parrafoInicial"></textarea>
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-6 p-2">
      <form-field
        [control]="form.get('parrafoFinal')"
        label="P&aacute;rrafo Final">
        <textarea
          class="form-control"
          formControlName="parrafoFinal"></textarea>
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-6 p-2">
      <form-field
        [control]="form.get('masInformacion1')"
        label="M&aacute;s Informaci&oacute;n 1">
        <textarea
          class="form-control"
          formControlName="masInformacion1"></textarea>
      </form-field>
    </div>
    <div class="col-sm-12 col-12 col-md-6 p-2">
      <form-field
        [control]="form.get('masInformacion3')"
        label="M&aacute;s Informaci&oacute;n 3">
        <textarea
          class="form-control"
          formControlName="masInformacion3"></textarea>
      </form-field>
    </div>
  </div>
</form>
