<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">
      Proceso de actualizaci&oacute;n y carga masiva de bienes
    </h5>
  </div>

  <div body>
    <form [formGroup]="assetsForm" (submit)="save()" class="form-material">
      <div class="row pb-0 mb-0">
        <div class="col-md-12 d-flex">
          <label class="mr-5">Destino: </label>
          <form-radio
            class="mt-2"
            *ngFor="let _target of targets"
            [label]="_target.label">
            <input
              type="radio"
              [formControl]="target"
              [value]="_target.value"
              (change)="targetChange()" />
          </form-radio>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-7">
              <label>Opciones de Carga</label>
              <div>
                <form-radio
                  *ngFor="let action of actions"
                  [label]="action.title">
                  <input
                    type="radio"
                    formControlName="actionType"
                    [value]="action.value" />
                </form-radio>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <form-check label="Son automoviles" for="cars">
                  <input id="cars" type="checkbox" formControlName="cars" />
                </form-check>
              </div>
              <div class="row">
                <form-check label="Son inmuebles" for="property">
                  <input
                    id="property"
                    type="checkbox"
                    formControlName="inmuebles" />
                </form-check>
              </div>
              <hr class="row" />
              <div class="row">
                <form-check label="Desalojo" for="desalojov">
                  <input
                    id="desalojov"
                    type="checkbox"
                    formControlName="desalojo"
                    (change)="desalojoChange()" />
                </form-check>
              </div>
            </div>
          </div>
          <div class="row pt-1">
            <form-field
              [control]="assetsForm.get('idCarga')"
              label="ID carga:"
              class="col-md-9">
              <input class="form-control" formControlName="idCarga" />
            </form-field>
          </div>
        </div>

        <div class="col-md-5">
          <div class="row">
            <div>
              <button
                class="btn btn-success btn-sm ml-2"
                type="button"
                (click)="file.click()">
                Abrir archivo Excel / CSV
              </button>
              <input
                type="file"
                name="file"
                #file
                class="d-none"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (change)="onFileChange($event)" />
            </div>
          </div>
          <div class="row pt-4">
            <div>
              <button
                type="submit"
                status="info"
                class="ml-2 mb-0 btn btn-primary btn-sm active">
                Ejecutar proceso
              </button>
            </div>
          </div>
          <div class="row pt-4 pb-3">
            <div>
              <button
                (click)="resetProcess()"
                type="button"
                class="ml-2 mb-0 btn btn-danger btn-sm active">
                Limpiar Proceso
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <hr class="row" />

    <div
      class="row mt-3 mb-5"
      *ngIf="
        DeclarationsValidationMassive &&
        DeclarationsValidationMassive.message_progress != ''
      ">
      <div class="col-md-12">
        <h2>Proceso de validación de archivo</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Proceso actual:
            <div class="badge badge-pill bg-primary text-wrap">
              {{ DeclarationsValidationMassive.common_general.proceso }}
            </div>
          </li>
          <li class="list-group-item">
            Estatus del Proceso Actual:
            <div class="badge badge-pill bg-info text-wrap">
              {{ DeclarationsValidationMassive.message_progress }}
            </div>
          </li>
          <div class="list-group-item">
            <div
              class="progress"
              role="progressbar"
              aria-label="Example with label"
              style="background-color: lightgrey"
              [attr.aria-valuenow]="
                ((DeclarationsValidationMassive.common_general.count + 1) /
                  DeclarationsValidationMassive.common_general.total) *
                  100 | number: '1.2-2'
              "
              aria-valuemin="0"
              aria-valuemax="100">
              <div
                class="progress-bar bg-info"
                [style.width]="
                  (((DeclarationsValidationMassive.common_general.count + 1) /
                    DeclarationsValidationMassive.common_general.total) *
                    100 | number: '1.2-2') + '%'
                ">
                {{
                  ((DeclarationsValidationMassive.common_general.count + 1) /
                    DeclarationsValidationMassive.common_general.total) *
                    100 | number: '1.2-2'
                }}%
              </div>
            </div>
          </div>
          <li class="list-group-item">
            Registro actual en proceso:
            <div class="badge badge-pill bg-info text-wrap">
              {{ DeclarationsValidationMassive.common_general.count + 1 }}
            </div>
          </li>
          <li class="list-group-item">
            Total de Registros:
            <div class="badge badge-pill bg-success text-wrap">
              {{ DeclarationsValidationMassive.common_general.total }}
            </div>
          </li>
          <li class="list-group-item">
            Total de Registros con Errores:
            <div class="badge badge-pill bg-danger text-wrap">
              {{
                DeclarationsValidationMassive.common_general.registro_errores
              }}
            </div>
          </li>
          <li class="list-group-item">
            Total de Errores:
            <div class="badge badge-pill bg-danger text-wrap">
              {{ DeclarationsValidationMassive.common_general.total_errores }}
            </div>
          </li>
          <div
            class="list-group-item"
            *ngIf="
              DeclarationsValidationMassive.common_general.total_errores > 0 &&
              DeclarationsValidationMassive.common_general.valid == false
            ">
            El archivo que se genera al dar clic en "Exportar Errores
            Encontrados en el Proceso de Validación del Archivo" contiene los
            campos donde se encontraron errores durante el proceso de
            validación. Se muestran los errores puntuales en la última columna
            del contenido del excel.
            <button
              type="button"
              class="ml-2 mr-2 mt-4 btn btn-success btn-sm"
              (click)="exportXlsx()">
              Exportar Errores Encontrados en el Proceso de Validación del
              archivo<i class="fa fa-file-excel ml-1"></i>
            </button>
          </div>
        </ul>
      </div>
    </div>

    <div
      class="row mt-5 mb-3"
      *ngIf="
        DeclarationsUploadValidationMassive &&
        DeclarationsUploadValidationMassive.message_progress != ''
      ">
      <div class="col-md-12">
        <h2>Proceso de validación en la carga de datos</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Proceso actual:
            <div class="badge badge-pill bg-primary text-wrap">
              {{ DeclarationsUploadValidationMassive.common_general.proceso }}
            </div>
          </li>
          <li class="list-group-item">
            Estatus del Proceso Actual:
            <div class="badge badge-pill bg-info text-wrap">
              {{ DeclarationsUploadValidationMassive.message_progress }}
            </div>
          </li>
          <div class="list-group-item">
            <div
              class="progress"
              role="progressbar"
              aria-label="Example with label"
              style="background-color: lightgrey"
              [attr.aria-valuenow]="
                ((DeclarationsUploadValidationMassive.common_general.count +
                  1) /
                  DeclarationsUploadValidationMassive.common_general.total) *
                  100 | number: '1.2-2'
              "
              aria-valuemin="0"
              aria-valuemax="100">
              <div
                class="progress-bar bg-info"
                [style.width]="
                  (((DeclarationsUploadValidationMassive.common_general.count +
                    1) /
                    DeclarationsUploadValidationMassive.common_general.total) *
                    100 | number: '1.2-2') + '%'
                ">
                {{
                  ((DeclarationsUploadValidationMassive.common_general.count +
                    1) /
                    DeclarationsUploadValidationMassive.common_general.total) *
                    100 | number: '1.2-2'
                }}%
              </div>
            </div>
          </div>
          <li class="list-group-item">
            Registro actual en proceso:
            <div class="badge badge-pill bg-info text-wrap">
              {{ DeclarationsUploadValidationMassive.common_general.count + 1 }}
            </div>
          </li>
          <li class="list-group-item">
            Total de Registros:
            <div class="badge badge-pill bg-success text-wrap">
              {{ DeclarationsUploadValidationMassive.common_general.total }}
            </div>
          </li>
          <li class="list-group-item">
            Total de Registros con Errores:
            <div class="badge badge-pill bg-danger text-wrap">
              {{
                DeclarationsUploadValidationMassive.common_general
                  .registro_errores
              }}
            </div>
          </li>
          <li class="list-group-item">
            Total de Errores:
            <div class="badge badge-pill bg-danger text-wrap">
              {{
                DeclarationsUploadValidationMassive.common_general.total_errores
              }}
            </div>
          </li>
          <div
            class="list-group-item"
            *ngIf="
              DeclarationsUploadValidationMassive.common_general.total_errores >
                0 &&
              DeclarationsUploadValidationMassive.common_general.valid == false
            ">
            El archivo que se genera al dar clic en "Exportar Errores
            Encontrados en el Proceso de Carga de Datos" contiene los campos
            donde se encontraron errores durante el proceso de validación. Se
            muestran los errores puntuales en la última columna del contenido
            del excel.
            <button
              type="button"
              class="ml-2 mr-2 mt-4 btn btn-success btn-sm"
              (click)="exportErrorUploadXlsx()">
              Exportar Errores Encontrados en el Proceso de Carga de Datos<i
                class="fa fa-file-excel ml-1"></i>
            </button>
          </div>
        </ul>
      </div>
    </div>

    <hr *ngIf="tableSource.length > 0" class="row" />
    <h4 *ngIf="tableSource.length > 0">Registros del Excel/CSV seleccionado</h4>
    <div class="row mt-3" style="max-height: 600px; overflow-y: scroll">
      <div class="col-md-12">
        <ng2-smart-table [source]="tableSource" [settings]="settings">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</app-card>
