<div body>
  <form [formGroup]="form" class="form-material">
    <div class="row mt-4">
      <div class="col-md-4">
        <form-field [control]="form.get('year')" label="Año">
          <input
            type="number"
            class="form-control"
            formControlName="year"
            min="1"
            pattern="^[0-9]+" />
        </form-field>
      </div>
      <div class="col-md-4">
        <form-field [control]="form.get('period')" label="Periodo">
          <input
            type="number"
            class="form-control"
            formControlName="period"
            min="1"
            pattern="^[0-9]+" />
        </form-field>
      </div>
      <div class="col-md-4">
        <form-field [control]="form.get('delegation')">
          <ngx-select
            [form]="form"
            [data]="delegations"
            bindLabel="name"
            label="DelegaciÓn"
            value="id"
            (fetchItems)="getDelegations($event)"
            control="delegation"></ngx-select>
        </form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <form-field [control]="form.get('process')">
          <ngx-select
            [form]="form"
            [data]="procesess"
            bindLabel="name"
            label="Procesos"
            value="id"
            (fetchItems)="getProcesess($event)"
            control="process"></ngx-select>
        </form-field>
      </div>
    </div>

    <div class="row mt-4 float-right">
      <div class="">
        <button type="submit" class="btn btn-primary btn-sm active mx-4">
          ELIMINAR
        </button>
      </div>
    </div>
  </form>
</div>
