<form [formGroup]="form" class="form-material">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('expedientNumber')"
        label="N&uacute;m. Expediente">
        <input
          type="text"
          class="form-control"
          formControlName="expedientNumber"
          [readOnly]="verBoton" />
      </form-field>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('registerNumber')"
        label="N&uacute;m. de Gesti&oacute;n">
        <input
          type="text"
          class="form-control"
          formControlName="registerNumber"
          [readOnly]="verBoton" />
      </form-field>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('wheelNumber')"
        label="N&uacute;m. Volante">
        <input
          type="text"
          class="form-control"
          formControlName="wheelNumber"
          [readOnly]="verBoton" />
      </form-field>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('typeDict')"
        label="N&uacute;m. Dictaminaci&oacute;n">
        <input
          type="text"
          class="form-control"
          formControlName="typeDict"
          [readOnly]="verBoton" />
      </form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12" *ngIf="!verBoton">
      <button class="btn btn-primary btn-sm active" (click)="buscardictamen()">
        Buscar <i class="fa fa-search ml-2"></i>
      </button>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12" *ngIf="verBoton">
      <button
        class="btn btn-primary btn-sm active"
        (click)="nuevaBusquedaOficio()">
        Nueva B&uacute;squeda <i class="fa fa-search ml-2"></i>
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <form-field [control]="form.get('key')" label="Clave">
        <input type="text" class="form-control" formControlName="key" />
      </form-field>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 mt-3">
      <form-field [control]="form.get('senderUserRemitente')" label="Remitente">
        <input
          type="text"
          class="form-control"
          formControlName="senderUserRemitente" />
      </form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mt-3">
      <form-field [control]="form.get('charge')" label="Cargo">
        <input type="text" class="form-control" formControlName="charge" />
      </form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mt-3">
      <form-field [control]="form.get('addressee')" label="Destinatario">
        <input type="text" class="form-control" formControlName="addressee" />
      </form-field>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12 col-xs-12 mt-3">
      <form-field
        [control]="form.get('numberDictamination')"
        label="N&uacute; de Dictaminaci&oacute;n">
        <input
          type="text"
          class="form-control"
          formControlName="numberDictamination" />
      </form-field>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 mt-3">
      <form-field [control]="form.get('addressee_I')" label="Destinatario">
        <input type="text" class="form-control" formControlName="addressee_I" />
      </form-field>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('paragraphInitial')"
        label="P&aacute;rrafo Inicial">
        <textarea
          type="text"
          class="form-control"
          formControlName="paragraphInitial"></textarea>
      </form-field>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('paragraphFinish')"
        label="P&aacute;rrafo Final">
        <textarea
          type="text"
          class="form-control"
          formControlName="paragraphFinish"></textarea>
      </form-field>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('paragraphOptional')"
        label="P&aacute;rrafo Opcional">
        <textarea
          type="text"
          class="form-control"
          formControlName="paragraphOptional"></textarea>
      </form-field>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form-field
        [control]="form.get('descriptionSender')"
        label="Descripci&oacute;n Remitente">
        <textarea
          type="text"
          class="form-control"
          formControlName="descriptionSender"></textarea>
      </form-field>
    </div>
  </div>
  <div class="row pl-3">C&#46;C&#46;P&#46;</div>
  <div class="row mt-5">
    <div class="col-md-4 col-sm-12 col-xs-12 mt-2">
      <form-field [control]="form.get('typePerson')" label="Tipo Persona">
        <select class="form-control" formControlName="typePerson">
          <option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mt-2">
      <form-field [control]="form.get('senderUser')">
        <ngx-select
          [form]="form"
          [data]="users$"
          (change)="getDescUser('control', $event)"
          [readonly]="form.get('typePerson').value === 'S'"
          (fetchItems)="getUsers($event)"
          bindLabel="userAndName"
          control="senderUser"
          label="Usuario"
          [searchOnInit]="true"
          [showTooltip]="true"
          termMaxLength="30"
          [labelTemplate]="userLabel"
          [optionTemplate]="userOption">
        </ngx-select>
        <ng-template #userLabel let-item="item">
          {{ item.id }} - {{ item.name }}
        </ng-template>
        <ng-template #userOption let-item="item">
          <div [title]="item.id + '-' + item.name">
            {{ item.id }} - {{ item.name }}
          </div>
        </ng-template>

        <!--ng-select
          [items]="UserDestinatario"
          bindLabel="id"
          bindValue="id"
          [readonly]="form.get('typePerson').value === 'S'"
          formControlName="senderUser"
          class="form-control"
          (change)="getDescUser('control', $event)">
        </ng-select-->
      </form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mt-2">
      <form-field [control]="form.get('personaExt')" label="Nombre Persona">
        <input
          type="text"
          class="form-control"
          formControlName="personaExt"
          [readonly]="!(form.get('typePerson').value === 'S')" />
      </form-field>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 col-sm-12 col-xs-12 mt-3">
      <form-field [control]="form.get('typePerson_I')" label="Tipo Persona">
        <select class="form-control" formControlName="typePerson_I">
          <option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mt-3">
      <form-field [control]="form.get('senderUser_I')">
        <ngx-select
          [form]="form"
          [data]="users$"
          (change)="getDescUser('control_I', $event)"
          [readonly]="form.get('typePerson_I').value === 'S'"
          (fetchItems)="getUsers($event)"
          bindLabel="userAndName"
          control="senderUser_I"
          label="Usuario"
          [searchOnInit]="true"
          [showTooltip]="true"
          termMaxLength="30"
          [labelTemplate]="userLabel"
          [optionTemplate]="userOption">
        </ngx-select>
        <ng-template #userLabel let-item="item">
          {{ item.id }} - {{ item.name }}
        </ng-template>
        <ng-template #userOption let-item="item">
          <div [title]="item.id + '-' + item.name">
            {{ item.id }} - {{ item.name }}
          </div>
        </ng-template>
        <!--ng-select
          [items]="UserDestinatario"
          bindLabel="id"
          bindValue="id"
          formControlName="senderUser_I"
          [readonly]="form.get('typePerson_I').value === 'S'"
          class="form-control"
          (change)="getDescUser('control_I', $event)">
        </ng-select-->
      </form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mt-4">
      <form-field [control]="form.get('personaExt_I')" label="Nombre Persona">
        <input
          type="text"
          class="form-control"
          formControlName="personaExt_I"
          [readonly]="!(form.get('typePerson_I').value === 'S')" />
      </form-field>
    </div>
  </div>
  <hr />
  <div class="row mb-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <confirm-button
            text="Imprimir"
            [disabled]="form.invalid"
            [loading]="loading"
            (confirm)="confirm()">
          </confirm-button>
        </div>
      </div>
    </div>
  </div>
</form>
