.custom-grid {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 3px;
}

.custom-title {
  color: #1e6bb8;
}

.bg-gray {
  background-color: #eee !important;
}
