<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Actualizar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="officeForm">
      <div class="row">
        <div class="col-md-4">
          <form-field
            [control]="officeForm.get('numRegister')"
            label="N&uacute;mero de Registro">
            <input
              type="text"
              class="form-control"
              formControlName="numRegister" />
          </form-field>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <form-field
              [control]="officeForm.get('description')"
              label="Descripci&oacute;n">
              <input
                type="text"
                class="form-control"
                formControlName="description" />
            </form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="officeForm.invalid"
          [loading]="loading"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
