:host ::ng-deep ng2-smart-table tr.pending td {
  background-color: #05668d !important;
  color: #fff !important;
}

:host ::ng-deep ng2-smart-table tr.digital td {
  background-color: #1e7e34 !important;
  color: #fff !important;
}
// :host ::ng-deep ng2-smart-table tr.pending td {
//   color: #dc3545 !important;
// }

// :host ::ng-deep ng2-smart-table tr.digital td {
//   color: #28a745 !important;
// }
