<div>
  <div class="row pt-2">
    <table class="table table-bordered">
      <thead>
        <tr style="text-align: center">
          <th scope="col">Descripción deductiva</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Seleccion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Desguardo de expediente 25%</td>
          <td>
            <input
              type="text"
              name=""
              class="form-control"
              id="observation"
              style="width: 98%"
              [readOnly]="isReadOnly" />
          </td>
          <td style="text-align: center">
            <input type="checkbox" name="" id="" [readOnly]="isReadOnly" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
