<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nuevo' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="rAsuntDicForm">
      <div class="row">
        <div class="col-md-3">
          <form-field label="Code" [control]="rAsuntDicForm.get('code')">
            <input
              type="text"
              class="form-control"
              formControlName="code"
              readonly />
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field [control]="rAsuntDicForm.get('dictumData')">
            <ngx-select
              [searchOnInit]="true"
              [form]="rAsuntDicForm"
              control="dictumData"
              [data]="dictums"
              value="id"
              bindLabel="description"
              label="Dictamen"
              (fetchItems)="getDictum($event)"
              (change)="onValuesChange($event)">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field
            label="Tipo de volante"
            [control]="rAsuntDicForm.get('flyerType')">
            <ng-select
              formControlName="flyerType"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="P">Procesal</ng-option>
              <ng-option value="T">Transferente</ng-option>
              <ng-option value="AT">AdminTransferente</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field label="Documentos" [control]="rAsuntDicForm.get('doc')">
            <ng-select
              formControlName="doc"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="S">Si</ng-option>
              <ng-option value="N">No</ng-option>
            </ng-select>
          </form-field>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-3">
          <form-field label="Bien" [control]="rAsuntDicForm.get('property')">
            <ng-select
              formControlName="property"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="S">Si</ng-option>
              <ng-option value="N">No</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field label="g_of" [control]="rAsuntDicForm.get('g_of')">
            <ng-select
              formControlName="g_of"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="S">Si</ng-option>
              <ng-option value="N">No</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field label="i" [control]="rAsuntDicForm.get('i')">
            <ng-select
              formControlName="i"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="S">Si</ng-option>
              <ng-option value="N">No</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field label="e" [control]="rAsuntDicForm.get('e')">
            <ng-select
              formControlName="e"
              [searchable]="false"
              class="form-control"
              [clearable]="false">
              <ng-option value="S">Si</ng-option>
              <ng-option value="N">No</ng-option>
            </ng-select>
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [type]="'button'"
          [disabled]="!rAsuntDicForm.valid"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
