<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">BIENES POR DEPOSITAR&Iacute;A</h5>
  </div>

  <div body>
    <!-- Forms Bienes DEPOSITARIA -->
    <form [formGroup]="form" class="form-material">
      <div class="row w-100">
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="delegacionName"
            label="Delegaci&oacute;n"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="form"
            control="delegacion"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="subdelegacionName"
            label="SubDelegaci&oacute;n"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="form"
            control="subdelegacion"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="depositariaName"
            label="Depositar&iacute;a"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="form"
            control="depositaria"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="entidadFederativaName"
            label="Entidad Federativa"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="form"
            control="entidadFederativa"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="tipoBienName"
            label="Tipo Bien"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="form"
            control="tipoBien"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <ngx-select
            [data]="items"
            bindLabel="subTipoBienName"
            label="Subtipo de Bienes"
            value="id"
            (fetchItems)="getFromSelect($event)"
            [form]="form"
            control="subTipoBien"></ngx-select>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-2">
          <form-field [control]="form.get('tipo')" label="Tipo">
            <select class="form-control" formControlName="tipo">
              <option [value]="null">Seleccione un valor</option>
              <option [value]="'Administrador'">Administrador</option>
              <option [value]="'Depositaria'">Depositar&iacute;a</option>
              <option [value]="'Interventor'">Interventor</option>
              <option [value]="'Todos'">Todos</option>
            </select>
          </form-field>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-3 text-center">
          <form-check label="Fecha Remoci&oacute;n" for="fechaRemocion">
            <input
              id="fechaRemocion"
              type="checkbox"
              formControlName="fechaRemocion" />
          </form-check>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-3 text-center">
          <form-check
            label="Fecha Nombramiento Provicional"
            for="fechaNombramientoProvicional">
            <input
              id="fechaNombramientoProvicional"
              type="checkbox"
              formControlName="fechaNombramientoProvicional" />
          </form-check>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-3 text-center">
          <form-check
            label="Fecha Nombramiento Definitivo"
            for="fechaNombramientoDefinitivo">
            <input
              id="fechaNombramientoDefinitivo"
              type="checkbox"
              formControlName="fechaNombramientoDefinitivo" />
          </form-check>
        </div>
        <div class="col-sm-12 col-12 col-md-3 p-3 text-center">
          <form-check label="Todas las Fechas" for="todasFechas">
            <input
              id="todasFechas"
              type="checkbox"
              formControlName="todasFechas" />
          </form-check>
        </div>
        <div class="col-sm-12 col-12 col-md-2 p-2 text-center">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary btn-sm active text-wrap h-100 p-2"
              (click)="btnImprimir()">
              Imprimir
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Forms Bienes DEPOSITARIA -->
  </div>
</app-card>
