<app-card [header]="true" [footer]="true">
    <div class="ch-content" header>
        <h5 class="title">TOTAL DE DOCUMENTOS RECIBIDOS VS ÁREA DESTINO</h5>
    </div>

    <div body>
        <form class="form-material" [formGroup]="form">
            <div class="row pt-5">
                <div class="col-md-2">
                    <form-field [control]="form.get('fromDate')" label="Recepción del:">
                        <input type="text"
                               placeholder=""
                               class="form-control"
                               bsDatepicker
                               formControlName="fromDate"
                               [bsConfig]="{ isAnimated: true }">
                    </form-field>
                </div>
                <div class="col-md-2">
                    <form-field [control]="form.get('toDate')" label="Al">
                        <input type="text"
                               placeholder=""
                               class="form-control"
                               bsDatepicker
                               formControlName="toDate"
                               [bsConfig]="{ isAnimated: true }">
                    </form-field>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <form-field [control]="form.get('report')" label="¿Reporte Detallado?">
                        <select class="form-control"  formControlName="report">
                            <option value="si">Si</option>
                            <option value="no">No</option>
                          </select>
                    </form-field>
                </div>
                <div class="col-md-2">
                    <form-field [control]="form.get('idArea')" >
                        <ngx-select
			            	typeToSearchText="Escriba 3 o más caracteres" 
                            label="Área Destino"
                            [form]="form"
                            control="idArea">
				    	</ngx-select>
                    </form-field>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <form-field [control]="form.get('delegation')" >
                        <ngx-select
			            	typeToSearchText="Escriba 3 o más caracteres" 
                            label="Delegación"
                            [form]="form"
                            control="delegation">
				    	</ngx-select>
                    </form-field>
                </div>
                <div class="col-md-2">
                    <form-field [control]="form.get('subDelegation')" >
                        <ngx-select
			            	typeToSearchText="Escriba 3 o más caracteres" 
                            label="Sub Delegación"
                            [form]="form"
                            control="subDelegation">
				    	</ngx-select>
                    </form-field>
                </div>
            </div>
        </form>

    </div>

    <div footer>
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <button type="button" class="btn btn-primary active" [disabled]="!form.valid">
                Imprimir
                </button>
            </div>
        </div>
    </div>

</app-card>