/* You can add global styles to this file, and also import other style files */
@import 'simple-keyboard/build/css/index.css';
@import 'ngx-toastr/toastr';

.toast-title {
  color: #808b96 !important;
}

.toast-message {
  color: #abb2b9 !important;
}

.toast-success {
  background-color: white;
  background-image: url('./assets/images/toastr-icons/success.png');
  background-size: 100%;
}

.toast-error {
  background-color: white;
  background-image: url('./assets/images/toastr-icons/error.png');
  background-size: 100%;
}

.toast-info {
  background-color: white;
  background-image: url('./assets/images/toastr-icons/info.png');
  background-size: 100%;
}

.toast-warning {
  background-color: white;
  background-image: url('./assets/images/toastr-icons/warning.png');
  background-size: 100%;
}

.toast-close-button {
  display: block;
}

.not-press {
  pointer-events: none;
}

.btn-red {
  color: #fff !important;
  background-color: #cb4335 !important;
  border-color: #cb4335 !important;
}

* {
  font-size: 14px;
}

.swal2-container.swal2-top-end > .swal2-popup,
.swal2-container.swal2-top-right > .swal2-popup {
  border-top: 4px solid #c0c0c0;
}

.swal2-actions {
  width: 70% !important;
  justify-content: space-around !important;
}

.ch-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}

.margin-input {
  margin: 25px 0 !important;
}

.form-group {
  align-items: center;

  label {
    font-size: 13px;
  }

  input,
  textarea,
  select,
  ng-select {
    font-size: 13px;
  }

  .search-label {
    margin: 0 15px;
  }

  .text-search {
    width: 100%;
  }
}

.table-bordered {
  // border: none !important;
}

.modal-content {
  border-radius: 7px !important;

  .modal-header {
    border-radius: 7px 7px 0 0;
    background: #fff !important;
    border-bottom: 1px solid #f2f2f2 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-title {
      color: #000 !important;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .close {
      color: #000;
      margin-top: 0px !important;
      font-size: small;
    }
  }
}

.modal-content .modal-header h5:after {
  content: '' !important;
  background-color: #9d2449 !important;
  position: absolute !important;
  left: -1px !important;
  top: 5 !important;
  width: 4px !important;
  height: 20px !important;
}

// ng2-smart-table {
//     font-size: 15px !important;
// }

.is-invalid input {
  border-color: #dc3545;
}

.is-invalid select {
  border-color: #dc3545;
}

.is-invalid textarea {
  border-color: #dc3545;
}

.table-loading tbody:after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('./assets/images/loader-button.gif');
  vertical-align: -50% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  z-index: 100;
  content: 'Cargando... por favor espere...';
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  line-height: 26px;
}

.btn-header {
  transform: scale(95%);
  padding-top: 8px;
}

hr {
  border-top: 1px solid #000001 !important;
}

%table-check {
  -webkit-appearance: none;
  outline: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

$checkbox_image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e";

%table-checked-check {
  background-image: url($checkbox_image);
  background-color: #9d2449;
  border-color: #9d2449;
}

input[type='checkbox'] {
  background-color: #fff;
}

input[type='checkbox'],
input[type='checkbox']:checked {
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 1px solid #ccc;
}

input[type='checkbox'] {
  border-radius: 0 !important;

  &:checked {
    background-image: url($checkbox_image);
    background-color: #9d2449;
    border-color: #9d2449;
  }
}

input[type='checkbox'] {
  border-radius: 0 !important;

  &:focus {
    outline: none !important;
  }
}

.ng2-smart-actions input[type='checkbox'] {
  @extend %table-check;
}

.ng2-smart-actions input:checked[type='checkbox'] {
  @extend %table-checked-check;
}

.ng2-smart-actions input:focus[type='checkbox'] {
  @extend %table-check;
}

tr.ng2-smart-titles input[type='checkbox'] {
  @extend %table-check;
}

tr.ng2-smart-titles input:checked[type='checkbox'] {
  @extend %table-checked-check;
}

.ng2-smart-actions input:focus[type='checkbox'] {
  @extend %table-check;
}

.txt-primary {
  color: #9d2449;
}

i {
  font-style: normal !important;
}

.fill-custom-tab li.nav-item.active > a.nav-link.active {
  background-color: #9d2449 !important;
  color: #f0e4d1 !important;
}

table:not(.normal-hover) tbody tr.selected {
  background: #f0e4d1 !important;
  color: black !important;
}

table:not(.normal-hover) tbody tr:hover {
  background: #f0e4d1 !important;
  cursor: pointer;
  color: black !important;
}

.mh-80 {
  max-height: 80px;
}

.table-overflow {
  max-width: 100%;
  overflow-x: scroll;
}

.float-icon {
  position: relative;
  top: 2px;
}

.mw-98 {
  max-width: 98%;
}

@media (max-width: 1400px) {
  hr.mw-98 {
    max-width: 95%;
    margin-left: 8px;
  }
}

.pointer:hover {
  cursor: pointer;
}

.float-icon-md {
  position: relative;
  top: 4px;
}

.rotate-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 0.5s;
}

.rotate-up {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.5s;
}

.text-black {
  color: #000 !important;
}

.add-row-height td {
  height: 40px !important;
  white-space: nowrap;
  vertical-align: middle !important;
  padding-bottom: 0px !important;
}

.lower-select {
  position: relative;
  top: 32px;
}

.custom-file-input ~ .custom-file-label::after {
  content: 'Examinar' !important;
}

.btn-warning {
  color: #fff !important;
}

.btn.active:hover {
  opacity: 0.8;
}

.dropdown-item.text-light {
  &:hover {
    color: #000 !important;
  }
}

.bg-gray-card {
  background-color: rgba(173, 181, 189, 0.25);
}

.bg-blue-card {
  background-color: #564ab1;
}

.center-checkbox thead tr th[ng2-st-checkbox-select-all] {
  text-align: center !important;
}

.center-checkbox tbody tr td.ng2-smart-action-multiple-select input {
  position: relative;
  left: 12px;
}

ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgba(94, 175, 255, 0.5);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}

.dropdown-item.bg-primary {
  background-color: #9d2449 !important;
}

.bk-danger {
  background-color: #bc955c;
}

.dismiss {
  float: right;

  &:hover {
    cursor: pointer;
  }
}

.btn-danger:not(.active) {
  &:hover {
    background-color: #bc955c !important;
    border-color: #bc955c !important;
  }
}

a.dropdown-item {
  &:hover {
    cursor: pointer;
  }
}

ng-scrollbar.table-scrollbar {
  border: none;
}

.table-padding {
  height: 1em;
}

.tab-content form.no-margin {
  margin-bottom: 0px !important;
}

.float-check {
  position: relative;
  bottom: 6px;
}

.tooltip.tooltip-style .tooltip-inner {
  background-color: #fff;
  color: #000;
  box-shadow: 1px 2px 13px -1px rgba(94, 94, 94, 0.54);
  -webkit-box-shadow: 1px 2px 13px -1px rgba(94, 94, 94, 0.54);
  -moz-box-shadow: 1px 2px 13px -1px rgba(94, 94, 94, 0.54);
}

.tooltip.top.tooltip-style .tooltip-arrow:before,
.tooltip.top.tooltip-style .tooltip-arrow {
  border-top-color: #fff;
}

.cp {
  color: #404041 !important;
}

.cl-table {
  padding-right: 1em;
}

/** my css table*/
.css-table {
  display: table;
  width: 100%;

  .css-table-header {
    display: table-header-group;
    font-weight: bold;
    // background-color: rgb(191, 191, 191);

    div {
      text-align: center;
      // border    : 1px solid rgb(255, 255, 255);
    }
  }

  .css-table-body {
    display: table-row-group;

    .css-table-row {
      display: table-row;
    }
  }

  .css-table-header div,
  .css-table-row div {
    display: table-cell;
    padding: 0 6px;
  }
}

.bs-datepicker .bs-timepicker-in-datepicker-container {
  max-width: 280px !important;
}

.theme-green .bs-datepicker-head {
  background-color: #9d2449;
}

.bs-datepicker-container {
  padding: 0px;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
  background-color: #9d2449;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.7 !important;
}

.table-container {
  margin-right: 14px !important;

  > div {
    padding: 0px;
    margin-left: 15px;

    ng2-smart-table {
      padding: 0px;
    }
  }
}

.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/loader-button.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  z-index: 100;
  content: '';
}

.bg-black-unavailable {
  background-color: rgb(14, 14, 14) !important;
  color: white;
  padding: 0.3rem;
  font-weight: 900;
}

.bg-black-unavailable-roj {
  background-color: rgb(14, 14, 14) !important;
  color: red;
  padding: 0.3rem;
  font-weight: 900;
}

.bg-green-to-confirm {
  background-color: #28a745 !important;
  color: white;
  font-weight: 900;
  padding: 0.3rem;
}

.bg-green-to-confirm-verdadero {
  background-color: #28a745 !important;
  color: red;
  font-weight: 900;
  padding: 0.3rem;
}

#monitorABN table:not(.normal-hover) tbody tr.selected {
  color: black;
  // #28a745
  background: rgb(240, 228, 209) !important;
}

#monitorABN table:not(.normal-hover) tbody tr:hover {
  color: black;
}

.disabled-custom {
  pointer-events: none !important;
  // opacity: 0.7 !important;
}

#selectAbandono div ng-select {
  height: 38px !important;
}

.card-header-span-fix .page-item .page-link {
  display: flex !important;
  font-size: auto !important;
  margin-top: auto !important;
}

#juridicasSelect table:not(.normal-hover) tbody tr.selected {
  // color: black;
  // #28a745
  background: #117a8b !important;
}

#juridicasSelect table:not(.normal-hover) tbody tr:hover {
  // color: black;
  background: #117a8b !important;
}

#bienesJuridicos table:not(.normal-hover) tbody tr.selected {
  color: black !important;
  font-weight: bold;
  // #28a745
  // background: #117a8b !important;
}

#bienesJuridicos table:not(.normal-hover) tbody tr:hover {
  color: black !important;
  font-weight: bold;
  // background: default !important;
}

// #idTableTestBody table thead {
//   // display: none;
//   visibility: hidden;
//   height: 0;
//   padding: 0;
// }

// #idTableTestHead table tbody {
//   display: none;
// }

// #idTableTestBody table tbody tr td {
//   width: 33% !important;
// }

// #idTableTestBody2 table tbody tr td {
//   width: 33.5% !important;
// }

#custom-table-table-cursor table tbody tr td {
  cursor: default !important;
  background-color: #fff;
}

#hooverTableDocumentViewer table tbody tr td:hover {
  cursor: pointer !important;
  background-color: transparent;
}

.bg-yellow-to-good {
  background-color: #e2c103 !important;
  color: black;
  font-weight: 900;
  padding: 0.3rem;
}

.bg-yellow-record {
  background-color: #e2c103 !important;
  color: #fff;
}

.bg-green-record {
  background-color: #1e7e34 !important;
  color: #fff;
}

.bg-blue-record {
  background-color: #564ab1 !important;
  color: #fff;
}

#fichas table:not(.normal-hover) tbody tr.selected {
  color: black !important;
  // font-weight: 600;
  // #28a745
  background: rgb(219, 219, 219) !important;
}

#fichas table:not(.normal-hover) tbody tr:hover {
  color: black !important;
  // font-weight: 600;
  background: rgb(219, 219, 219) !important;
}

.text-no-approved {
  font-weight: 400;
  color: crimson !important;
}

.text-approved {
  font-weight: 400;
  color: #1e7e34 !important;
}

custom-view-component {
  color: black;
}

.ng-select.scroll-line.ng-select-multiple
  .ng-select-container
  .ng-value-container {
  overflow-y: auto;
  flex-wrap: nowrap;
}

.ng-select.scroll-line.ng-select-multiple
  .ng-select-container
  .ng-value-container::-webkit-scrollbar,
.info::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.ng-select.scroll-line.ng-select-multiple
  .ng-select-container
  .ng-value-container::-webkit-scrollbar-track,
.info::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ng-select.scroll-line.ng-select-multiple
  .ng-select-container
  .ng-value-container::-webkit-scrollbar-thumb,
.info::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
.ng-select.scroll-line.ng-select-multiple
  .ng-select-container
  .ng-value-container::-webkit-scrollbar-thumb:hover,
.info::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#porcentajes .ng2-smart-filter select {
  /* Estilos específicos para los elementos de entrada (input) y selección (select) en el filtro */
  border: 1px solid #d4d4d4 !important;
}

.swal2-html-container {
  white-space: break-spaces;
}

.float-icon-md2 {
  top: 9px;
}

.hidden-paginate-default .ng2-smart-pagination-nav {
  display: none !important;
}

.asdasd {
  margin-top: 1px;
}

.tessst {
  margin-left: 27px !important;
}

#testDate .form-control[readonly] {
  background: white !important;
  // opacity: 1 !important;
}

//remover si afecta visualizacion
.main-content {
  overflow: visible;
}

.bg-no-approved {
  font-weight: 400;
  background-color: crimson !important;
  color: white;
}

.cell_right {
  width: 100% !important;
  height: 100% !important;
  text-align: right !important;
}

#testAcc div {
  margin-bottom: 0px !important;
}

#checkbox_fcomer div div {
  margin-top: -21px;
  margin-left: 15px;
}

.red-column-fcomer086-I {
  // background: crimson;
  font-weight: 500;
  color: crimson;
}

footer {
  position: absolute;
  width: 100% !important;
}

.vertical-menu {
  position: absolute;
  bottom: 100px;
}

.bg-donacion-1 {
  background-color: #c8c8c8;
}

.bg-donacion-2 {
  background-color: #008080;
}

.bg-donacion-3 {
  background-color: #ffc000;
}

.bg-donacion-4 {
  background-color: #80c000;
}

.VA_VALDA1 {
  background-color: #008080; //#003232;
  width: 100% !important;
  height: 100% !important;
  text-align: center;
}

.VA_VALDA2 {
  background-color: #ffc000; // #644b00;
}

.VA_VALDA3 {
  background-color: #80c000; // #324b00;
}
