<app-card [header]="true" [footer]="true">
  <div header>
    <div class="ch-content">
      <h5 class="title">Bienes exentos de verificación</h5>
    </div>
  </div>

  <div body>
    <div [class]="loading ? 'table-loading' : ''">
      <div class="table-responsive">
        <ng2-smart-table
          [attr.class]="'table-bordered'"
          [settings]="settings"
          [source]="goods"
          (edit)="openForm($event.data)"></ng2-smart-table>
      </div>
    </div>
    <app-pagination [params]="params" [totalItems]="totalItems">
    </app-pagination>
  </div>

  <div footer></div>
</app-card>
