<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? 'Editar' : 'Nueva' }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="cityForm">
      <div class="row">
        <div class="col-md-6">
          <form-field
            [control]="cityForm.get('nameCity')"
            label="Nombre de la Ciudad">
            <input
              type="text"
              class="form-control"
              formControlName="nameCity" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="cityForm.get('state')">
            <ngx-select
              [searchOnInit]="true"
              [form]="cityForm"
              [data]="states"
              (fetchItems)="getStates($event)"
              (change)="selectState($event)"
              control="state"
              value="id"
              bindLabel="descCondition"
              label="Entidad Federativa">
            </ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <form-field [control]="cityForm.get('noDelegation')">
            <ngx-select
              [form]="cityForm"
              control="noDelegation"
              [data]="delegations"
              value="id"
              bindLabel="description"
              label="Delegací&oacute;n"
              (fetchItems)="getDelegations($event)"
              (change)="selectDelegation($event)">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field [control]="cityForm.get('noSubDelegation')">
            <ngx-select
              [form]="cityForm"
              control="noSubDelegation"
              [data]="subDelegations"
              value="id"
              bindLabel="description"
              label="Subdelegaci&oacute;n"
              (fetchItems)="getSubDelegations($event)">
            </ngx-select>
          </form-field>
        </div>
        <div class="col-md-4">
          <form-field
            [control]="cityForm.get('legendOffice')"
            label="Leyenda de Oficio">
            <input
              type="text"
              class="form-control"
              formControlName="legendOffice" />
          </form-field>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="!cityForm.valid"
          (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
