<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">MANTENIMIENTO (SUPERVISIÓN DE BIENES)</h5>
  </div>
  <div body>
    <div class="md-tabs">
      <tabset (click)="onTabChanged($event)" #tabset>
        <tab #tab1 heading="Eliminar Periodos" id="tab1">
          <app-delete-period
            (eventDelete)="onClickDeletePeriod()"></app-delete-period>
        </tab>
        <tab #tab2 heading="Cambiar Periodos" id="tab2">
          <app-change-period
            (eventChangePeriod)="onClickChangePeriod()"></app-change-period>
        </tab>
        <tab #tab3 heading="Cambiar Bienes de Número Aleatorio" id="tab3">
          <app-change-goods-random
            (eventChangeGoodsRandom)="
              onClickChangeGoodsRandom()
            "></app-change-goods-random>
        </tab>
      </tabset>
      <div class="row mt-5 pl-5 pr-5">
        <div class="ch-content">
          <h5 class="title">Información de Correo</h5>
        </div>
        <div class="card">
          <div class="card-body">
            <app-email-information></app-email-information>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
