.legend {
  justify-content: center;
  display: flex;
  column-gap: 10px;
  > div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    .rectangle {
      width: 15px;
      height: 15px;
    }
  }
}

th,
td {
  margin: 0;
  padding: 0.5em 1em;
}
td {
  font-size: 0.875em;
  input.form-control {
    font-size: 1em !important;
  }
}

tr > * {
  &:first-child {
    width: 110px;
  }
  &:nth-child(2) {
    width: 30%;
  }
  &:last-child {
    width: 70%;
  }
}

.requiredAva {
  background-color: #dc3545;
}

.required {
  background-color: #ffc107;
}

.update {
  background-color: #17a2b8;
  input.form-control {
    &:focus {
      background-color: #17a2b8;
    }
  }
}

td {
  &.requiredAva,
  &.update {
    color: white;
    input.form-control {
      color: white;
    }
  }
  &.requiredAva {
    input.form-control {
      &:focus {
        background-color: #dc3545;
      }
    }
  }
  &.update {
    input.form-control {
      &:focus {
        background-color: #17a2b8;
      }
    }
  }
}

.error {
  input {
    border-bottom-color: #f46a6a;
  }
  .errorMessage {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
  .checkEdit {
    pointer-events: none;
    .text-success {
      color: #6c757d !important;
    }
  }
}

a {
  margin-right: 0.25rem;
  box-sizing: border-box;
}
