.legend {
  justify-content: center;
  display: flex;
  column-gap: 10px;
  > div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    .rectangle {
      width: 15px;
      height: 15px;
    }
  }
}

.requiredAva {
  background-color: #dc3545;
}

.required {
  background-color: #ffc107;
}

.update {
  background-color: #17a2b8;
  input.form-control {
    &:focus {
      background-color: #17a2b8;
    }
  }
}

th,
td {
  margin: 0;
  padding: 0.5em 1em;
}
td {
  font-size: 0.875em;
  input.form-control {
    font-size: 1em !important;
  }
}

tr > * {
  &:first-child {
    width: 110px;
  }
  &:nth-child(2) {
    width: 30%;
  }
  &:last-child {
    width: 70%;
  }
}

:host ::ng-deep ng2-smart-table table tr td {
  &:last-child {
    padding: 0px !important;
    margin: 0px !important;
  }
  // &:has(ng-deep .required) {
  //   background-color: #ffc107;
  // }
  // &:has(.update) {
  //   background-color: #17a2b8;
  // }
  // &.requiredAva {
  //   background-color: #dc3545;
  // }
}

a {
  margin-right: 0.25rem;
  box-sizing: border-box;
}
