.legend {
  justify-content: center;
  display: flex;
  column-gap: 10px;
  > div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    .rectangle {
      width: 15px;
      height: 15px;
    }
  }
}

.requiredAva {
  background-color: #dc3545;
}

.required {
  background-color: #ffc107;
}

.update {
  background-color: #17a2b8;
  input.form-control {
    &:focus {
      background-color: #17a2b8;
    }
  }
}

th,
td {
  margin: 0;
  padding: 0.5em 1em;
}
td {
  font-size: 0.875em;
  input.form-control {
    font-size: 1em !important;
  }
}

// tr > * {
//   // &:first-child {
//   //   width: 110px;
//   // }
//   &:nth-child(2) {
//     width: 30%;
//   }
//   &:last-child {
//     width: 70%;
//   }
// }

:host ::ng-deep ng2-smart-table table tr {
  &.requiredAva {
    td {
      &:last-child {
        background-color: #dc3545;
      }
    }
  }

  &.required {
    td {
      &:last-child {
        background-color: #ffc107;
      }
    }
  }

  &.update {
    td {
      &:last-child {
        background-color: #17a2b8;
      }
    }
  }

  &.notTableCd {
    .ng2-smart-action-delete-delete {
      display: none;
    }
  }
}

a {
  margin-right: 0.25rem;
  box-sizing: border-box;
}
