<app-modal>
  <div header>
    <h5 class="modal-title">
      Desea Turnar la Solicitud con el con el Folio:
      <strong>{{ data.id }}</strong>
    </h5>
  </div>
  <div body class="body">
    <form [formGroup]="userForm" class="form-material">
      <div class="row">
        <h6>
          Seleccione el tipo de usuario y el usuario al que será turnada la
          Solicitud
        </h6>
      </div>
      <div class="row">
        <div class="col-md-2">
          <form-radio label="T.E">
            <input
              type="radio"
              formControlName="typeUser"
              value="TE"
              id="te"
              [checked]="true" />
          </form-radio>
        </div>
        <div class="col-md-2">
          <form-radio label="SAE">
            <input
              type="radio"
              formControlName="typeUser"
              value="SAE"
              id="sae" />
          </form-radio>
        </div>
      </div>
      <div class="row">
        <div class="form-material col-md-5">
          <search-bar [filterParams]="params"></search-bar>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-12">
          <div [class]="loading ? 'table-loading' : ''">
            <ng2-smart-table
              (rowSelect)="userSelected($event)"
              [attr.class]="'table-bordered table-responsive '"
              [settings]="settings"
              [source]="paragraphs">
            </ng2-smart-table>
          </div>
        </div>
      </div>
      <app-pagination
        [filterParams]="params"
        [totalItems]="totalItems"></app-pagination>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <button type="button" class="btn btn-primary btn-sm active">
          Seleccionar
        </button>
      </div>
      <div class="m-3">
        <button
          type="button"
          class="btn btn-danger btn-sm active"
          (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
