<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">envío de movimientos a sirsae</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row mt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-2 col-lg-2">
              <form-field [control]="form.get('event')">
                <ngx-select
                  [form]="form"
                  [searchOnInit]="true"
                  [data]="comerEventSelect"
                  value="id"
                  bindLabel="id"
                  label="Evento"
                  (fetchItems)="getComerEvents($event)"
                  control="event"
                  (change)="selectEvent($event)">
                </ngx-select>
              </form-field>
            </div>
            <div class="col-sm-4 col-md-4">
              <form-field
                [control]="form.get('description')"
                label="Descripción">
                <input
                  [(ngModel)]="selectedEvent"
                  readonly
                  type="text"
                  class="form-control"
                  formControlName="description" />
              </form-field>
              <!-- <p class="mt-3" *ngIf="selectedEvent != null">
            {{ selectedEvent.description }}
          </p> -->
            </div>
            <div class="col-sm-2 col-md-2 col-xl-2 mt-2">
              <button
                [disabled]="!eventSelected || loading || loadingBtn"
                (click)="search()"
                class="btn btn-sm btn-block btn-primary active">
                Buscar <i class="bx bx-search-alt bx-sm float-icon"></i>
              </button>
            </div>
            <div class="col-sm-2 col-md-2 col-xl-2 mt-2">
              <button
                (click)="clear()"
                class="btn btn-sm btn-block btn-danger active">
                Limpiar <i class="fas fa-eraser"> </i>
              </button>
            </div>
            <div class="col-sm-2 col-md-2 col-xl-2 mt-2">
              <button
                [disabled]="loading || loadingBtn || !eventSelected"
                (click)="obtenerOI()"
                class="w-100 btn btn-sm btn-block btn-info active">
                Obtener OI
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <accordion [isAnimated]="true">
      <accordion-group
        [isOpen]="acordionOpen"
        [class.disabled]="!disabledBtnCerrar">
        <div accordion-heading class="d-flex justify-content-between">
          <h5>CLIENTES DEL EVENTO</h5>
        </div>
        <!-- <div class="row mt-4 d-flex justify-content-center">
          <div class="col-sm-2 col-md-2 col-xl-2 mt-2">
            <button [disabled]="loading" (click)="obtenerOI()" class="w-100 btn btn-sm btn-block btn-info active">
              Obtener OI
            </button>
          </div>
          <div class="col-sm-2 col-md-2 col-xl-2 mt-2">
            <button [disabled]="loading" *ngIf="layout == 'M'" type="button" class="btn w-100 btn-primary btn-sm active"
              tooltip="Enviar a SIRSAE" containerClass="tooltip-style" (click)="enviarSIRSAE()">
              Enviar <i class="bx bx-send"></i>
            </button>
          </div>
        </div> -->
        <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="d-flex flex-row-reverse my-3">
              <div>
                <!-- <button
                  [disabled]="loading || loadingBtn"
                  (click)="add()"
                  type="button"
                  class="btn btn-info btn-sm active mb-3">
                  Nuevo <i class="bx bx-plus bx-sm float-icon"></i>
                </button> -->
              </div>
              <div>
                <button
                  [ngClass]="{ loading: loadingBtn }"
                  [disabled]="loading || loadingBtn"
                  *ngIf="layout == 'M'"
                  type="button"
                  class="btn btn-primary btn-sm active mr-3"
                  tooltip="Enviar a SIRSAE"
                  containerClass="tooltip-style"
                  (click)="enviarSIRSAE()">
                  Enviar SIRSAE <i *ngIf="!loadingBtn" class="bx bx-send"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <form-loader *ngIf="loading"></form-loader>
            <ng-scrollbar
              [track]="'all'"
              [ngStyle]="{ height: loading ? '0px' : '300px' }">
              <ng2-smart-table
                #myTable
                [attr.class]="'table-bordered'"
                [settings]="settings"
                [source]="data"
                (edit)="edit($event.data)"
                (userRowSelect)="selectClients($event.selected)">
              </ng2-smart-table>
            </ng-scrollbar>
            <app-pagination [params]="params" [totalItems]="totalItems">
            </app-pagination>
          </div>
          <div class="col-3">
            <div class="row justify-content-center text-center mt-2">
              <div class="col-md-6 mb-4">
                <button
                  [disabled]="loading || loadingBtn"
                  (click)="allNo()"
                  type="button"
                  tooltip="Cambiar Enviar Sirsae a NO"
                  containerClass="tooltip-style"
                  class="w-100 btn btn-primary btn-sm active mb-3">
                  Todos NO
                  <!-- <i class="bx bx-plus bx-sm float-icon"></i> -->
                </button>
              </div>
              <div class="col-md-6 mb-4">
                <button
                  [disabled]="loading || loadingBtn"
                  (click)="allYes()"
                  type="button"
                  tooltip="Cambiar Enviar Sirsae a SI"
                  containerClass="tooltip-style"
                  class="w-100 btn btn-success active btn-sm mb-3">
                  Todos SI
                  <!-- <i class="bx bx-plus bx-sm float-icon"></i> -->
                </button>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</app-card>
