<app-modal>
  <div header>
    <h5 class="modal-title">
      {{ edit ? 'Editar' : 'Nuevo' }} Tipos de Firmantes
    </h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="formGroup">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <form-field
            [control]="formGroup.get('denomination')"
            label="Denominaci&oacute;n">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              formControlName="denomination" />
          </form-field>
        </div>
        <div class="col-sm-12 col-md-4">
          <form-field
            [control]="formGroup.get('orderId')"
            label="Orden de Presentaci&oacute;n">
            <input
              type="number"
              class="form-control"
              maxlength="2"
              formControlName="orderId" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [disabled]="formGroup.invalid"
          [loading]="loading"
          (confirm)="confirm()">
        </confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
