<app-card [header]="true">
  <div class="ch-content" header>
    <div class="d-flex justify-content-between">
      <div><h5 class="title">Registro de Recepci&oacute;n Documental</h5></div>
      <div>
        <button
          *ngIf="flyerReceptionMode"
          class="btn btn-danger active btn-sm"
          [disabled]="loadingPostCapture"
          (click)="endProcess()">
          <i class="bx bx-chevron-left float-icon"></i>Regresar
        </button>
        <button
          *ngIf="(changeFlyerOption || flyerEditMode) && !flyerReceptionMode"
          class="btn btn-primary active btn-sm"
          [disabled]="loadingPostCapture"
          (click)="chooseOther()">
          Seleccionar Volante
        </button>
      </div>
    </div>
  </div>
  <div body class="init-page">
    <div class="row mb-5" *ngIf="loadingPostCapture">
      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <div class="loader">
            <!-- <i class="bx bx-loader bx-lg bx-spin spinner"></i> -->
          </div>
          <h6 class="loader-msg pt-3">Cargando... por favor espere...</h6>
        </div>
      </div>
    </div>
    <form-loader *ngIf="formLoading"></form-loader>
    <form
      [formGroup]="documentsReceptionForm"
      (submit)="(false)"
      class="form-material"
      *ngIf="!formLoading"
      @OnShow>
      <div class="row">
        <div class="col-md-7">
          <div class="d-flex">
            <div>
              <button
                outline
                class="btn btn-primary btn-sm mr-3 active"
                size="small"
                [disabled]="loadingPostCapture || wheelNumber.value == null"
                (click)="sendToRecordUpdate()">
                Antecedentes
              </button>
            </div>

            <div
              class="d-flex"
              *ngIf="initialCondition == 'AT' || initialCondition == 'T'">
              <form-radio class="ml-3" label="Admin_Transferente">
                <input type="radio" formControlName="wheelType" value="AT" />
              </form-radio>
              <form-radio label="Transferente">
                <input type="radio" formControlName="wheelType" value="T" />
              </form-radio>
            </div>

            <div
              class="d-flex"
              *ngIf="initialCondition == 'A' || initialCondition == 'P'">
              <form-radio class="ml-3" label="Administrativo">
                <input type="radio" formControlName="wheelType" value="A" />
              </form-radio>
              <form-radio label="Procesal">
                <input type="radio" formControlName="wheelType" value="P" />
              </form-radio>
            </div>
          </div>
          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('identifier')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="identifiers"
                (fetchItems)="getIdentifiers($event)"
                bindLabel="nameAndId"
                control="identifier"
                label="Identificador"
                [searchOnInit]="true"
                [readonly]="expedientNumber == null"
                termMaxLength="100">
              </ngx-select>
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('externalRemitter')"
              label="Remitente">
              <input
                type="text"
                formControlName="externalRemitter"
                class="form-control"
                [max-length]="60" />
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-8"
              [control]="documentsReceptionForm.get('affair')"
              label="Asunto">
              <input
                type="text"
                formControlName="affair"
                class="form-control"
                readonly />
            </form-field>

            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="openModalAffairs()">
                <i class="bx bx-list-ul bx-sm float-icon"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="row mb-5 pb-5">
            <div class="col-md-4">
              <div class="mt-2">
                <span
                  class="label label-{{
                    procedureStatus == 'PENDIENTE' ? 'warning' : 'success'
                  }}"
                  >{{ procedureStatus }}</span
                >
              </div>
            </div>
            <div class="col-md-4">
              <button
                [disabled]="
                  (procedureStatus == 'ENVIADO' && wheelNumber.value != null) ||
                  wheelNumber.value == null ||
                  loadingPostCapture
                "
                type="button"
                class="ml-5 btn btn-warning btn-sm"
                (click)="sendFlyer()">
                <i
                  class="bx {{
                    procedureStatus == 'PENDIENTE'
                      ? 'bxs-lock-open-alt'
                      : 'bxs-lock-alt'
                  }}"></i>
              </button>
            </div>
            <div class="col-md-4">
              <button
                type="button"
                class="ml-5 btn btn-secondary active btn-sm"
                [disabled]="!canViewDocuments"
                (click)="viewDocuments()">
                <i class="bx bx-file"></i>
              </button>
            </div>
          </div>

          <div class="row mt-4">
            <form-field
              class="col-md-4"
              [control]="documentsReceptionForm.get('receiptDate')"
              label="Recepción">
              <input
                formControlName="receiptDate"
                class="form-control"
                [maxDate]="initialDate"
                bsDatepicker
                [readonly]="
                  identifier == 'MIXTO' ||
                  identifier == '4' ||
                  identifier == '4MT'
                " />
            </form-field>

            <form-field
              class="col-md-4"
              [control]="documentsReceptionForm.get('wheelNumber')"
              label="Volante">
              <input
                type="number"
                formControlName="wheelNumber"
                class="form-control"
                readonly />
            </form-field>

            <form-field
              class="col-md-4"
              [control]="documentsReceptionForm.get('consecutiveNumber')"
              label="Consecutivo">
              <input
                type="number"
                formControlName="consecutiveNumber"
                class="form-control"
                readonly />
            </form-field>
          </div>

          <div class="row pt-5">
            <div class="col-md-4">
              <form-field
                [control]="documentsReceptionForm.get('priority')"
                label="Prioridad">
                <ng-select
                  formControlName="priority"
                  [searchable]="false"
                  class="form-control"
                  [clearable]="false">
                  <ng-option value="A">Alta</ng-option>
                  <ng-option value="N">Normal</ng-option>
                </ng-select>
              </form-field>
            </div>

            <div class="col-md-4">
              <form-field
                [control]="documentsReceptionForm.get('expedientNumber')"
                label="Expediente">
                <input
                  type="number"
                  formControlName="expedientNumber"
                  class="form-control"
                  readonly />
              </form-field>
            </div>

            <div class="col-md-4">
              <form-field
                [control]="documentsReceptionForm.get('identifierExp')"
                label="Ident. Exp">
                <input
                  type="text"
                  formControlName="identifierExp"
                  class="form-control"
                  readonly />
              </form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-6"
          *ngIf="affairKey.value == '50' && initialCondition == 'T'">
          <div class="d-flex">
            <form-radio class="ml-3" label="Primera Etapa">
              <input type="radio" formControlName="stage" value="ETAPA 1" />
            </form-radio>
            <form-radio label="Segunda Etapa">
              <input type="radio" formControlName="stage" value="ETAPA 2" />
            </form-radio>
            <form-radio label="Tercera Etapa">
              <input type="radio" formControlName="stage" value="ETAPA 3" />
            </form-radio>
          </div>
        </div>
        <!--TODO: Confirmar si es necesario habilitar estos campos Desalojo-DirGeneral-->
        <!--<div class="col-md-6">
          <form-check
            *ngIf="initialCondition != 'A'"
            class="col-md-6"
            label="Desalojo"
            for="desalojov-check">
            <input
              id="desalojov-check"
              type="checkbox"
              formControlName="dailyEviction"
              (input)="checkDesalojo($event)" />
          </form-check>

          <form-check
            class="col-md-6"
            label="Dirección General"
            for="general-check">
            <input
              id="general-check"
              type="checkbox"
              formControlName="addressGeneral"
              value="1" />
          </form-check>
        </div>-->
      </div>
      <hr />
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="row" *ngIf="initialCondition != 'T'">
            <form-field
              *ngIf="!pgrInterface"
              class="col-md-6"
              [control]="documentsReceptionForm.get('circumstantialRecord')"
              label="Acta Circuns">
              <input
                type="text"
                formControlName="circumstantialRecord"
                class="form-control"
                [max-length]="30" />
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('preliminaryInquiry')"
              label="Averig. Previa">
              <input
                type="text"
                formControlName="preliminaryInquiry"
                class="form-control"
                [readonly]="pgrInterface"
                [max-length]="200" />
            </form-field>
          </div>

          <div class="row pt-5" *ngIf="initialCondition != 'T'">
            <form-field
              class="col-md-8"
              [control]="documentsReceptionForm.get('criminalCase')"
              label="Causa Penal">
              <input
                type="text"
                formControlName="criminalCase"
                class="form-control"
                [readonly]="pgrInterface"
                [max-length]="40" />
            </form-field>

            <form-field
              *ngIf="!pgrInterface"
              class="col-md-4"
              [control]="documentsReceptionForm.get('protectionKey')"
              label="No. Amparo">
              <input
                type="text"
                formControlName="protectionKey"
                class="form-control"
                [max-length]="100" />
            </form-field>
          </div>

          <div
            class="row {{ initialCondition == 'T' ? '' : 'pt-5' }}"
            *ngIf="!pgrInterface">
            <form-field
              *ngIf="initialCondition == 'T'"
              class="col-md-12"
              [control]="documentsReceptionForm.get('judgementType')"
              label="Tipo Juicio">
              <ng-select
                formControlName="judgementType"
                [searchable]="false"
                class="form-control"
                [clearable]="false">
                <ng-option value="Amparo">Amparo</ng-option>
                <ng-option value="Procedimientos en Materia Adminsitrativa"
                  >Procedimientos en Materia Adminsitrativa</ng-option
                >
              </ng-select>
            </form-field>
            <form-field
              *ngIf="initialCondition != 'T'"
              class="col-md-12"
              [control]="documentsReceptionForm.get('touchPenaltyKey')"
              label="Toca Penal">
              <input
                type="text"
                formControlName="touchPenaltyKey"
                class="form-control"
                [max-length]="30" />
            </form-field>
          </div>
          <div class="row"></div>

          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('officeExternalKey')"
              label="No. Oficio">
              <input
                type="text"
                formControlName="officeExternalKey"
                class="form-control"
                [readonly]="pgrInterface"
                [max-length]="35" />
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('externalOfficeDate')"
              label="Fecha Oficio">
              <input
                formControlName="externalOfficeDate"
                class="form-control"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                [maxDate]="initialDate"
                bsDatepicker
                [readonly]="pgrInterface" />
            </form-field>
          </div>

          <div class="row pt-5" *ngIf="initialCondition == 'T'">
            <form-field
              *ngIf="affairKey.value == '50'"
              class="col-md-6"
              [control]="documentsReceptionForm.get('stageName')"
              label="">
              <input
                type="text"
                formControlName="stageName"
                class="form-control"
                readonly />
            </form-field>

            <form-field
              class="col-md-6"
              [control]="
                documentsReceptionForm.get('expedientTransferenceNumber')
              "
              label="Exp Transfer">
              <input
                type="text"
                formControlName="expedientTransferenceNumber"
                class="form-control"
                [max-length]="150" />
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              [control]="documentsReceptionForm.get('observations')"
              label="Descripción">
              <textarea
                rows="5"
                formControlName="observations"
                class="form-control"
                [readonly]="pgrInterface"
                [max-length]="1000"
                uppercase></textarea>
            </form-field>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <form-field
              class="col-md-4"
              [control]="documentsReceptionForm.get('uniqueKey')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="uniqueKeys"
                (fetchItems)="getUniqueKey($event)"
                bindLabel="uniqueCve"
                control="uniqueKey"
                label="Clave &uacute;nica 3 niveles"
                (change)="setUniqueKeyData($event, true)"
                termMaxLength="5">
              </ngx-select>
            </form-field>

            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="openModalKeys()">
                <i class="bx bx-list-ul bx-sm float-icon"></i>
              </button>
            </div>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('cityNumber')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="cities"
                (fetchItems)="getCities($event)"
                bindLabel="nameAndId"
                control="cityNumber"
                label="Ciudad"
                [searchOnInit]="true"
                (change)="cityChange($event)"
                termMaxLength="60"
                [showTooltip]="true"
                [readonly]="cityLoading">
              </ngx-select>
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('entFedKey')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="federalEntities"
                (fetchItems)="getFederalEntities($event)"
                bindLabel="otKeyAndValue"
                control="entFedKey"
                label="Ent. Fed"
                [searchOnInit]="true"
                termMaxLength="80"
                [showTooltip]="true"
                (change)="entFedChange($event)">
              </ngx-select>
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('endTransferNumber')">
              <ngx-select
                [form]="documentsReceptionForm"
                (fetchItems)="getTransferors($event)"
                [data]="transferors"
                bindLabel="nameAndId"
                control="endTransferNumber"
                label="Transferente"
                [searchOnInit]="true"
                (change)="changeTransferor($event)"
                termMaxLength="200"
                [showTooltip]="true">
              </ngx-select>
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('stationNumber')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="stations"
                (fetchItems)="getStations($event)"
                bindLabel="nameAndId"
                control="stationNumber"
                label="Emisora"
                [searchOnInit]="true"
                (change)="changeStation($event)"
                termMaxLength="100"
                [showTooltip]="true"
                [readonly]="transferorLoading || stationLoading">
              </ngx-select>
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('autorityNumber')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="authorities"
                (fetchItems)="getAuthorities($event)"
                bindLabel="nameAndId"
                control="autorityNumber"
                label="Autoridad"
                [searchOnInit]="true"
                [readonly]="stationLoading || transferorLoading"
                termMaxLength="400"
                [showTooltip]="true">
              </ngx-select>
            </form-field>
          </div>

          <div class="row pt-5" *ngIf="initialCondition != 'T'">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('minpubNumber')">
              <ngx-select
                [readonly]="true"
                [form]="documentsReceptionForm"
                [data]="publicMinistries"
                (fetchItems)="getPublicMinistries($event)"
                bindLabel="nameAndId"
                control="minpubNumber"
                [searchOnInit]="true"
                label="Min. P&uacute;blico"
                termMaxLength="100"
                [showTooltip]="true">
              </ngx-select>
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('crimeKey')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="crimes"
                (fetchItems)="getCrimes($event)"
                bindLabel="otKeyAndValue"
                control="crimeKey"
                label="Delito"
                [searchOnInit]="true"
                [showTooltip]="true"
                termMaxLength="80">
              </ngx-select>
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('courtNumber')">
              <ngx-select
                [readonly]="true"
                [form]="documentsReceptionForm"
                [data]="courts"
                (fetchItems)="getCourts($event)"
                bindLabel="nameAndId"
                control="courtNumber"
                label="Juzgado"
                [searchOnInit]="true"
                termMaxLength="100"
                [showTooltip]="true">
              </ngx-select>
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('transference')"
              *ngIf="showTransference">
              <ngx-select
                [form]="documentsReceptionForm"
                (fetchItems)="getTransferees($event)"
                [data]="transferees"
                bindLabel="nameAndId"
                control="transference"
                label=" "
                [searchOnInit]="true"
                termMaxLength="200"
                [showTooltip]="true">
              </ngx-select>
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-8"
              [control]="documentsReceptionForm.get('indiciadoNumber')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="defendants"
                (fetchItems)="getDefendants($event)"
                bindLabel="nameAndId"
                control="indiciadoNumber"
                [label]="taxpayerLabel"
                [searchOnInit]="true"
                termMaxLength="1000"
                [showTooltip]="true">
              </ngx-select>
            </form-field>

            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="openModalDefendant()">
                <i class="bx bx-user-plus bx-sm float-icon"></i>
              </button>
            </div>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-8"
              [control]="documentsReceptionForm.get('viaKey')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="receptionWays"
                (fetchItems)="getReceptionWays($event)"
                bindLabel="otKeyAndValue"
                control="viaKey"
                label="V&iacute;a Recepci&oacute;n"
                [searchOnInit]="true"
                termMaxLength="30">
              </ngx-select>
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-8"
              [control]="documentsReceptionForm.get('destinationArea')"
              label="&Aacute;rea Destino">
              <input
                type="text"
                formControlName="destinationArea"
                class="form-control"
                [title]="departmentName"
                readonly />
            </form-field>

            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="openModalAreas()">
                <i class="bx bx-list-ul bx-sm float-icon"></i>
              </button>
            </div>
          </div>
          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('delegationName')"
              label="Delegaci&oacute;n">
              <input
                type="text"
                formControlName="delegationName"
                class="form-control"
                [title]="delegationName"
                readonly />
            </form-field>

            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('subDelegationName')"
              label="Subdelegaci&oacute;n">
              <input
                type="text"
                formControlName="subDelegationName"
                class="form-control"
                [title]="subDelegationName"
                readonly />
            </form-field>
          </div>

          <div class="row pt-5">
            <form-field
              class="col-md-6"
              [control]="documentsReceptionForm.get('estatusTramite')">
              <ngx-select
                [form]="documentsReceptionForm"
                [data]="managementAreas"
                (fetchItems)="getManagementAreas($event)"
                bindLabel="nameAndId"
                control="estatusTramite"
                label="Gestión Destino"
                [searchOnInit]="true"
                termMaxLength="30">
              </ngx-select>
            </form-field>
          </div>
        </div>
      </div>
      <hr />
    </form>
    <div class="row pt-5 mb-4" *ngIf="!formLoading">
      <form [formGroup]="flyerCopyRecipientForm" class="form-material col-md-6">
        <form-field class="" [control]="flyerCopyRecipientForm.get('copyuser')">
          <ngx-select
            [form]="flyerCopyRecipientForm"
            [data]="users"
            (fetchItems)="getUsers($event)"
            bindLabel="userAndName"
            control="copyuser"
            label="En atención"
            [searchOnInit]="true"
            termMaxLength="30">
          </ngx-select>
        </form-field>
      </form>
      <form [formGroup]="flyerCopyCppForm" class="form-material col-md-6">
        <form-field class="" [control]="flyerCopyCppForm.get('copyuser')">
          <ngx-select
            [form]="flyerCopyCppForm"
            [data]="usersCopy"
            (fetchItems)="getUsersCopy($event)"
            bindLabel="userAndName"
            control="copyuser"
            label="C.C.P."
            [searchOnInit]="true"
            termMaxLength="30">
          </ngx-select>
        </form-field>
      </form>
    </div>
    <div class="row" *ngIf="!formLoading">
      <div class="d-flex justify-content-center">
        <div
          class="m-3"
          *ngIf="
            (documentsReceptionForm.get('goodRelation').value == 'N' &&
              !pgrInterface &&
              !satInterface) ||
            pgrGoodsProcessed ||
            enableSaveFlyer
          ">
          <confirm-button
            text="Guardar"
            loadingText="Cargando"
            [disabled]="procedureBlocked || loadingPostCapture"
            [loading]="loading"
            (confirm)="save()"></confirm-button>
        </div>
        <div
          class="m-3"
          *ngIf="
            (documentsReceptionForm.get('goodRelation').value == 'S' ||
              pgrInterface ||
              satInterface) &&
            !pgrGoodsProcessed
          ">
          <confirm-button
            text="Siguiente"
            loadingText="Cargando"
            [disabled]="procedureBlocked || loadingPostCapture"
            [loading]="loading"
            (confirm)="nextStep()"></confirm-button>
        </div>
      </div>
    </div>
  </div>
</app-card>
