<app-card [header]="true" [footer]="true">
  <div class="ch-content" header>
    <h5 class="title">
      &Oacute;rdenes de ingreso por bien de depositar&iacute;a
    </h5>
  </div>
  <div body>
    <form [formGroup]="form" class="form-material">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('numberGood')" label="No Bien">
            <input
              type="text"
              class="form-control"
              formControlName="numberGood"
              [readonly]="true" />
            <!--ng-select
              [items]="itemsJsonInterfaz"
              bindLabel="goodNumber"
              bindValue="appointmentNumber"
              formControlName="numberGood"
              class="form-control">
            </ng-select-->
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('contractKey')" label="Cve Contrato">
            <input
              type="text"
              class="form-control"
              formControlName="contractKey"
              [readonly]="true" />
          </form-field>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          <form-field [control]="form.get('depositary')" label="Depositario">
            <input
              type="text"
              class="form-control"
              formControlName="depositary"
              [readonly]="true" />
          </form-field>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <form-field
            [control]="form.get('description')"
            label="Descripci&oacute;n">
            <input
              type="text"
              class="form-control"
              formControlName="description"
              [readonly]="true" />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <form-field [control]="form.get('date')" label="Fecha">
            <input
              type="text"
              class="form-control"
              formControlName="date"
              bsDatepicker />
          </form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="d-flex justify-content-center">
            <div class="m-3">
              <button
                type="button"
                class="btn btn-primary btn-sm active"
                (click)="print()"
                [disabled]="form.invalid">
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pl-3">
        Se reportar&aacute;n los pagos a partir de la fecha seleccionada
      </div>
      <hr />
      <div class="row pl-3">Firmante</div>

      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('userId')" label="Usuario">
            <input
              type="text"
              class="form-control"
              formControlName="userId"
              [readonly]="true" />
            <!--ng-select
              [items]="itemsJsonInterfazUser"
              bindLabel="usuario.user"
              bindValue="id"
              formControlName="user"
              class="form-control">
            </ng-select-->
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('username')" label="Nombre">
            <input
              type="text"
              class="form-control"
              formControlName="username"
              [readonly]="true" />
          </form-field>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <form-field [control]="form.get('charge')" label="Puesto">
            <input
              type="text"
              class="form-control"
              formControlName="charge"
              [readonly]="true" />
          </form-field>
        </div>
      </div>
    </form>
  </div>
</app-card>
<!--{{itemsJsonInterfaz | json}}-->
