<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">Ejecuci&oacute;n de Mantenimientos a Incidentes</h5>
  </div>

  <div body>
    <div class="row">
      <h5>SOLUCI&Oacute;N</h5>
    </div>
    <form [formGroup]="form" class="form-material">
      <div class="row pt-5">
        <form-field [control]="form.get('aprovedUser')" class="col-md-8">
          <ngx-select
            [form]="form"
            control="aprovedUser"
            (fetchItems)="getApruebaSearch($event)"
            [data]="apruebaSelected"
            bindLabel="user.name"
            label="Aprueba"
            value="user.user"
            (change)="getIncidences($event)"
            [readonly]="false"></ngx-select>
        </form-field>

        <form-field [control]="form.get('incidenceId')" class="col-md-4">
          <ngx-select
            [form]="form"
            control="incidenceId"
            (fetchItems)="getIncidence($event)"
            [data]="IncidenceSelected"
            bindLabel="incidenceId"
            value="incidenceId"
            label="Incidencia"
            (change)="getIncidenceId($event)"
            [readonly]="false"></ngx-select>
        </form-field>
      </div>
      <div class="row pt-5">
        <form-field
          [control]="form.get('ticketId')"
          class="col-md-6"
          label="No&#46; Ticket">
          <input type="text" class="form-control" formControlName="ticketId" />
        </form-field>

        <form-field
          [control]="form.get('officeId')"
          class="col-md-6"
          label="No&#46; Oficio">
          <input type="text" class="form-control" formControlName="officeId" />
        </form-field>
      </div>
      <div class="row">
        <div class="col-md-12">
          <confirm-button
            [disabled]="mntoStatus === 'EJECUTADO' && userValidation < 0"
            [loading]="loading"
            loadingText="Procesando..."
            text="Aprobar"
            (confirm)="putAproved()">
          </confirm-button>
        </div>
      </div>

      <div class="row pt-5">
        <form-field
          [control]="form.get('incidenceDetail')"
          label="DESCRIPCI&Oacute;N DETALLADA DE LA SOLICITUD">
          <textarea
            formControlName="incidenceDetail"
            rows="10"
            class="form-control"></textarea>
        </form-field>
      </div>

      <div class="row pt-5">
        <form-field
          [control]="form.get('solutionDetail')"
          label="DESCRIPCI&Oacute;N DE LA SOLUCI&Oacute;N">
          <textarea
            formControlName="solutionDetail"
            rows="10"
            class="form-control"></textarea>
        </form-field>
      </div>

      <div class="row pt-5">
        <form-field [control]="form.get('strSql')" label="SCRIPTS">
          <textarea
            formControlName="strSql"
            rows="10"
            class="form-control"></textarea>
        </form-field>
      </div>
    </form>
  </div>
</app-card>
