<form class="form-material" [formGroup]="form">
  <div class="row">
    <div class="col-md-4">
      <app-select-form
        [form]="form"
        formField="noBien"
        label="No&#46; Bien"
        value="goodId"
        bindLabel="goodId"
        paramFilter="goodId"
        [haveTodos]="false"
        [getListObservable]="goodsList"
        [(paramsFilter)]="paramsGoods"
        (selectEvent)="selectGood($event)"></app-select-form>
    </div>
    <div class="col-md-8" style="text-align: right">
      <button
        [disabled]="formLoading"
        class="btn btn-danger btn-sm active"
        type="button"
        (click)="resetForm()">
        Limpiar
      </button>
    </div>
  </div>
  <div class="row">
    <h5 class="title">Información de la Solicitud</h5>
  </div>
  <div class="row" *ngIf="formLoading" style="margin-bottom: 5rem">
    <form-loader></form-loader>
  </div>
  <div [class]="formLoading ? 'hide' : ''">
    <app-card [header]="false">
      <div body>
        <div class="row pt-2">
          <div class="col-md-6">
            <div>
              <label for="">No&#46; Bien&#58;</label>
              {{ form.get('noBien').value }}
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="">Cantidad de Bien Padre:</label>
              {{ form.get('cantPadre').value }}
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-12">
            <div>
              <label for="">Descripción: </label>
              {{ form.get('descripcion').value }}
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-12">
            <div>
              <label for="">Clasificador:</label>
              <span> {{ form.get('clasificador').value }}</span>
              <span class="ml-2">{{
                form.get('clasificadorDescripcion').value
              }}</span>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-6">
            <div>
              <label for="">Cantidad:</label>
              {{ form.get('cantidad').value }}
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="">Valor Avalúo:</label>
              {{ form.get('avaluo').value }}
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-12">
            <div>
              <label for="">Estatus:</label>
              <span> {{ form.get('estatus').value }}</span>
              <span class="ml-2">{{
                form.get('estatusDescripcion').value
              }}</span>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-6">
            <div>
              <label for="">Ext. Dom:</label>
              {{ form.get('extDom').value }}
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="">No Expediente:</label>
              {{ form.get('expediente').value }}
            </div>
          </div>
        </div>
        <div class="row pt-2" *ngIf="firstCase">
          <div class="col-md-6">
            <div>
              <label for="">Moneda:</label>
              {{ form.get('moneda').value }}
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="">Importe:</label>
              {{ form.get('importe').value }}
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <form-field
        [control]="form.get('descripcion')"
        label="Descripci&oacute;n">
        <textarea
          rows="2"
          class="form-control"
          formControlName="descripcion"
          readonly></textarea>
      </form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form-field [control]="form.get('cantidad')" label="Cantidad">
        <input
          type="number"
          class="form-control"
          formControlName="cantidad"
          readonly />
      </form-field>
    </div>

    <div class="col-md-4">
      <form-field [control]="form.get('avaluo')" label="Valor Aval&uacute;o">
        <input
          type="number"
          class="form-control"
          formControlName="avaluo"
          readonly />
      </form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form-field [control]="form.get('estatus')" label="Estatus">
        <input class="form-control" formControlName="estatus" readonly />
      </form-field>
    </div>
    <div class="col-md-8">
      <form-field
        [control]="form.get('estatusDescripcion')"
        label="Descripción">
        <textarea
          rows="2"
          class="form-control"
          formControlName="estatusDescripcion"
          readonly></textarea>
      </form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form-field [control]="form.get('extDom')" label="Ext&#46; Dom">
        <input class="form-control" formControlName="extDom" readonly />
      </form-field>
    </div>
    <div class="col-md-4">
      <form-field [control]="form.get('expediente')" label="No&#46; Expediente">
        <input
          type="number"
          class="form-control"
          formControlName="expediente"
          readonly />
      </form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form-field [control]="form.get('clasificador')" label="Clasificador">
        <input class="form-control" formControlName="clasificador" readonly />
      </form-field>
    </div>
    <div class="col-md-8">
      <form-field
        [control]="form.get('clasificadorDescripcion')"
        label="Descripción">
        <textarea
          rows="2"
          class="form-control"
          formControlName="clasificadorDescripcion"
          readonly></textarea>
      </form-field>
    </div>
  </div>
  <div class="row" *ngIf="isFirstCase">
    <div class="col-md-4">
      <form-field [control]="form.get('moneda')" label="Moneda">
        <input class="form-control" formControlName="moneda" readonly />
      </form-field>
    </div>
    <div class="col-md-4">
      <form-field [control]="form.get('importe')" label="Importe">
        <input
          type="number"
          class="form-control"
          formControlName="importe"
          readonly />
      </form-field>
    </div>
  </div> -->
</form>
