<div class="row" *ngIf="formLoading" style="margin-bottom: 5rem">
  <form-loader *ngIf="formLoading"></form-loader>
</div>
<div *ngIf="formLoading === false">
  <div
    *ngIf="
      process == 'registration-request' ||
      process == 'verify-compliance' ||
      process == 'validate-document' ||
      process == 'process-approval' ||
      process == 'notify-clarification-inadmissibility' ||
      process == 'classify-assets'
    ">
    <div class="row">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
          <h5 class="title">
            <strong>Informaci&oacute;n de la Solicitud</strong>
          </h5>
        </div>

        <!--  <div class="p-2 bd-highlight buttons">
                  <button
                      class="btn btn-primary btn-sm active"
                      [disabled]="receptionForm.invalid"
                      (click)="confirm()">
                      Guardar
                  </button>
              </div> -->
      </div>
    </div>
    <!-- TIPO TRANSFERENCIA MANUAL -->
    <div class="row" *ngIf="tyepOfTransferent === 'MANUAL'">
      <form [formGroup]="requestForm" class="form-material">
        <div class="row pt-4">
          <div class="col-md-1">
            <label class="label">{{ prioridadLabel }}</label>
          </div>
          <div class="col-md-3" style="padding-left: 30px">
            <div id="checkbox">
              <input
                id="urgentPriority"
                type="checkbox"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="priority"
                [disabled]="true" />
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">{{ prioridadDateLabel }}</label>
            {{ infoRequest?.priorityDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ fechaRecepcionLabel }}</label>
            {{ infoRequest?.applicationDate | date : 'dd/MM/yyyy' }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ fechaOficioLabel }}</label>
            {{ infoRequest?.paperDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ tipoExpedienteLabel }}</label>
            {{ infoRequest?.typeRecord }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ procedenciaLabel }}</label>
            {{ ofiginName || '' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ nombreLabel }}</label>
            {{ infoRequest?.nameOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ misterioPublicLabel }}</label>
            {{ infoRequest?.publicMinistry }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ cargoLabel }}</label>
            {{ infoRequest?.holderCharge }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ jusgadoLabel }}</label>
            {{ infoRequest?.court }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ telefonoLabel }}</label>
            {{ infoRequest?.phoneOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ delitoLabel }}</label>
            {{ infoRequest?.crime }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ correoLable }}</label>
            {{ infoRequest?.emailOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ viaRecepcionLabel }}</label
            >{{ infoRequest?.receiptRoute }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ contribuyenteLabel }}</label>
            {{ infoRequest?.indicatedTaxpayer }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ gestionDestino }}</label>
            {{ infoRequest?.destinationManagement }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ extincionDomicile }}</label>
            {{ infoRequest?.transferenceFile }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ asuntoLabel }}</label>
            {{ affairName }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">Notas Entidad Transferente&#58;</label>
            {{ infoRequest?.transferEntNotes }}
          </div>
          <div class="col-md-8">
            <label class="label">{{ observaciones }}</label>
            {{ infoRequest?.observations }}
          </div>
        </div>
      </form>
    </div>
    <!-- FIN TIPO TRANSFERENCIA MANUAL -->

    <!-- TIPO TRANSFERENCIA SAT -->
    <div class="row" *ngIf="tyepOfTransferent === 'SAT_SAE'">
      <form [formGroup]="requestForm" class="form-material">
        <div class="row pt-4">
          <div class="col-md-1">
            <label class="label">{{ prioridadLabel }}</label>
          </div>
          <div class="col-md-3" style="padding-left: 30px">
            <div id="checkbox">
              <input
                id="urgentPriority"
                type="checkbox"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="priority"
                [disabled]="true" />
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">{{ fechaRecepcionLabel }}</label>
            {{ infoRequest?.priorityDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ fechaRecepcionLabel }}</label>
            {{ infoRequest?.applicationDate | date : 'dd/MM/yyyy' }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ fechaOficioLabel }}</label>
            {{ infoRequest?.paperDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ tipoExpedienteLabel }}</label>
            {{ infoRequest?.typeRecord }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ procedenciaLabel }}</label>
            {{ ofiginName || '' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ nombreLabel }}</label>
            {{ infoRequest?.nameOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ jusgadoLabel }}</label>
            {{ infoRequest?.court }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ cargoLabel }}</label>
            {{ infoRequest?.holderCharge }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ delitoLabel }}</label>
            {{ infoRequest?.crime }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ telefonoLabel }}</label>
            {{ infoRequest?.phoneOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ viaRecepcionLabel }}</label
            >{{ infoRequest?.receiptRoute }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ correoLable }}</label>
            {{ infoRequest?.emailOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ gestionDestino }}</label>
            {{ infoRequest?.destinationManagement }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ contribuyenteLabel }}</label>
            {{ infoRequest?.indicatedTaxpayer }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ asuntoLabel }}</label>
            {{ affairName }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ expedienteTransLabel }}</label>
            {{ infoRequest?.transferenceFile }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ observaciones }}</label>
            {{ infoRequest?.observations }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">Notas Entidad Transferente&#58;</label>
            {{ infoRequest?.transferEntNotes }}
          </div>
        </div>
      </form>
    </div>
    <!-- FIN TIPO TRANSFERENTE SAT -->

    <!-- TIPO TRANSFERENCIA PGR -->
    <div
      class="row"
      *ngIf="
        tyepOfTransferent === 'PGR_SAE' || tyepOfTransferent === 'FGR_SAE'
      ">
      <form [formGroup]="requestForm" class="form-material">
        <div class="row pt-4">
          <div class="col-md-1">
            <label class="label">{{ prioridadLabel }}</label>
          </div>
          <div class="col-md-3" style="padding-left: 30px">
            <div id="checkbox">
              <input
                id="urgentPriority"
                type="checkbox"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="priority"
                [disabled]="true" />
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">{{ prioridadDateLabel }}</label>
            {{ infoRequest?.priorityDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ fechaRecepcionLabel }}</label>
            {{ infoRequest?.applicationDate | date : 'dd/MM/yyyy' }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ fechaOficioLabel }}</label>
            {{ infoRequest?.paperDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ tipoExpedienteLabel }}</label>
            {{ infoRequest?.typeRecord }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ procedenciaLabel }}</label>
            {{ ofiginName || '' }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ nombreLabel }}</label>
            {{ infoRequest?.nameOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ jusgadoLabel }}</label>
            {{ infoRequest?.court }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ cargoLabel }}</label>
            {{ infoRequest?.holderCharge }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ delitoLabel }}</label>
            {{ infoRequest?.crime }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ telefonoLabel }}</label>
            {{ infoRequest?.phoneOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ viaRecepcionLabel }}</label
            >{{ infoRequest?.receiptRoute }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ correoLable }}</label>
            {{ infoRequest?.emailOfOwner }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ gestionDestino }}</label>
            {{ infoRequest?.destinationManagement }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ contribuyenteLabel }}</label>
            {{ infoRequest?.indicatedTaxpayer }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ asuntoLabel }}</label>
            {{ affairName }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ notasLabel }}</label>
            {{ infoRequest?.transferEntNotes }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ misterioPublicLabel }}</label>
            {{ infoRequest?.publicMinistry }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ tocaPenal }}</label>
            {{ infoRequest?.tocaPenal }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ noAmparoLabel }}</label>
            {{ infoRequest?.protectNumber }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ actaCircunstacial }}</label>
            {{ infoRequest?.circumstantialRecord }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ averiguacionPreviaLabel }}</label>
            {{ infoRequest?.previousInquiry }}
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ causaPenal }}</label>
            {{ infoRequest?.lawsuit }}
          </div>
          <div class="col-md-4">
            <label class="label">{{ observaciones }}</label>
            {{ infoRequest?.observations }}
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-4">
            <label class="label">{{ extincionDomicile }}</label>
            {{ infoRequest?.transferenceFile }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN PGR_SAE -->

<!--Si el proceso es clasificación de bienes-->

<!-- <div *ngIf="process == 'classify-assets'">
  <div class="row">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <h5 class="title">
          <strong>Informaci&oacute;n de Solicitud</strong>
        </h5>
      </div>
    </div>
  </div>
  <form [formGroup]="requestForm" class="form-material form-horizontal">
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right align-baseline"
            >Prioridad&#58;</label
          >
          <input
            id="urgentPriority"
            type="checkbox"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="priority"
            [disabled]="true" />
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-lg-5"
              >Procedencia informaci&oacute;n&#58;</label
            >
            <span class="fs-4"> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-5 text-right">Fecha recepci&oacute;n&#58;</label>
          <span class="fs-4"> {{ infoRequest?.receptionDate }} </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right">Causa penal&#58;</label>
          <span class="fs-4"></span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right">Tipo expediente&#58;</label>
          <span class="fs-4"> {{ infoRequest?.typeRecord }} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-6 text-right">No. amparo&#58;</label>
          <span class="fs-4"> {{ infoRequest?.protectNumber }}</span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right">Tipo expediente&#58;</label>
          <span class="fs-4"> </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-6 text-right">Toca penal&#58;</label>
          <span class="fs-4"> {{ infoRequest?.tocaPenal }}</span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right">Nombre titular&#58;</label>
          <span class="fs-4"> {{ infoRequest?.nameOfOwner }} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-6 text-right">Fecha de oficio&#58;</label>
          <span class="fs-4"> {{ infoRequest?.paperDate }}</span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right">Cargo titular&#58;</label>
          <span class="fs-4"> {{ infoRequest?.holderCharge }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-6 text-right">Ministerio publico&#58;</label>
          <span class="fs-4">{{ infoRequest?.publicMinistry }}</span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right">Telefono titular&#58;</label>
          <span class="fs-4"> {{ infoRequest?.phoneOfOwner }} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-6 text-right">Juzgado&#58;</label>
          <span class="fs-4"> {{ infoRequest?.court }} </span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-5 text-right">Email titular&#58;</label>
          <span class="fs-4"> {{ infoRequest?.emailOfOwner }} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-lg-6 text-right">Delito&#58;</label>
          <span class="fs-4"> {{ infoRequest?.crime }} </span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-5 text-right"
            >Contribuyente y/o indiciado&#58;</label
          >
          <span class="fs-4"> {{ infoRequest?.indicatedTaxpayer }} </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right"
            >V&iacute;a de recepci&oacute;n&#58;</label
          >
          <span class="fs-4"> {{ infoRequest?.receiptRoute }} </span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-5 text-right"
            >Expediente transferente / PAMA&#58;</label
          >
          <span class="fs-4"> </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right"
            >Gesti&oacute;n de destino&#58;</label
          >
          <span class="fs-4"> {{ infoRequest?.destinationManagement }} </span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-5 text-right"
            >Notas entidad transferente&#58;</label
          >
          <span class="fs-4"> </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right">Asunto&#58;</label>
          <span class="fs-4"></span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right"
            >Extinci&oacute;n de dominio&#58;</label
          >
          <span class="fs-4"></span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-5 text-right">Acta circunstanciada&#58;</label>
          <span class="fs-4"> </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right">Tipo juicio&#58;</label>
          <span class="fs-4"></span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-5 text-right"
            >Averiguaci&oacute;n previa&#58;</label
          >
          <span class="fs-4"> </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-lg-6 text-right">Observaciones&#58;</label>
          <span class="fs-4"> {{ infoRequest?.observations }} </span>
        </div>
      </div>
    </div>
  </form>
</div> -->
