<form class="form-material" [formGroup]="form">
  <div class="row pt-5">
    <div class="col-md-2">
      <h5 class="font-size-14 d-inline">Ingrese No. de Evento</h5>
      <ngx-select
        [form]="form"
        [data]="eventItems"
        value="idEvent"
        bindLabel="nameEvent"
        (fetchItems)="getEvents($event)"
        (change)="selectEvent($event)"
        control="idEvent">
      </ngx-select>
    </div>
    <div class="col-md-2" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">ID Evento</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.idEvent }}</p>
      <!-- <form-field [control]="form.get('idEvent')" label="ID Evento">
        <input type="text" class="form-control" formControlName="idEvent" />
      </form-field> -->
    </div>
    <div class="col-md-2" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Clave de Evento</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.cveEvent }}</p>
      <!-- <form-field [control]="form.get('cveEvent')" label="Clave de Evento">
        <input type="text" class="form-control" formControlName="idEvent" />
      </form-field> -->
    </div>
    <div class="col-md-2" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Nombre de Evento</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.nameEvent }}</p>
      <!-- <form-field [control]="form.get('nameEvent')" label="Nombre de Evento">
        <input type="text" class="form-control" formControlName="idEvent" />
      </form-field> -->
    </div>
    <div class="col-md-2" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Clave de Evento</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.cveEvent }}</p>
      <!-- <form-field [control]="form.get('cveEvent')" label="Clave de Evento">
        <input type="text" class="form-control" formControlName="idEvent" />
      </form-field> -->
    </div>
    <div class="col-md-2" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Fecha de Evento</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.eventDate }}</p>
      <!-- <form-field [control]="form.get('eventDate')" label="Fecha de Evento">
        <input
          type="text"
          placeholder=""
          class="form-control"
          bsDatepicker
          formControlName="eventDate"
          [bsConfig]="{ isAnimated: true }" />
      </form-field> -->
    </div>

    <!-- <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-sm active">
        Convertir
      </button>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-5" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Observaciones</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.obsEvent }}</p>
      <!-- <form-field [control]="form.get('obsEvent')" label="Observaciones">
        <input type="text" class="form-control" formControlName="obsEvent" />
      </form-field> -->
    </div>
    <div class="col-md-5" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Lugar</h5>
      <p class="mt-2 font-size-28 text-muted">{{ selectedEvent.place }}</p>
      <!-- <form-field [control]="form.get('place')" label="Lugar">
        <input type="text" class="form-control" formControlName="place" />
      </form-field> -->
    </div>
    <div class="col-md-2" *ngIf="selectedEvent != null">
      <h5 class="font-size-14 d-inline">Fecha de fallo</h5>
      <p class="mt-2 font-size-28 text-muted">
        {{ selectedEvent.failureDate }}
      </p>
      <!-- <form-field [control]="form.get('failureDate')" label="Fecha de fallo">
        <input
          type="text"
          placeholder=""
          class="form-control"
          bsDatepicker
          formControlName="failureDate"
          [bsConfig]="{ isAnimated: true }" />
      </form-field> -->
    </div>
    <!-- <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-sm active">
        Convertir
      </button>
    </div> -->
  </div>
</form>

<div *ngIf="selectedEvent != null">
  <hr />
  <div class="row pt-5">
    <div class="ch-content">
      <h5 class="title">Gastos</h5>
      <div class="row justify-content-end mr-3">
        <app-columns-select [(settings)]="settings"></app-columns-select>
      </div>
    </div>
    <ng2-smart-table class="mt-3" [settings]="settings" [source]="data1">
    </ng2-smart-table>
    <div class="row pt-3">
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-primary btn-sm active"
          (click)="showDisperstion = !showDisperstion">
          Calcular
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row pt-5" *ngIf="showDisperstion">
    <hr />
    <div class="ch-content">
      <h5 class="title">Dispersión</h5>
      <div class="row justify-content-end mr-3">
        <app-columns-select [(settings)]="settings2"></app-columns-select>
      </div>
    </div>
    <ng2-smart-table class="mt-3" [settings]="settings2" [source]="data2">
    </ng2-smart-table>
  </div>

  <div class="row pt-5">
    <hr />
    <div class="ch-content">
      <h5 class="title">Conversión total</h5>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-secondary btn-sm active">
        Convertir
      </button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-secondary btn-sm active">
        Reporte
      </button>
    </div>
  </div>
</div>
