<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">DICTAMINACI&Oacute;N MASIVA</h5>
  </div>

  <div body>
    <form [formGroup]="form">
      <div class="form-material row align-items-start">
        <div class="col-md-12">
          <div class="col-md-4">
            <form-field
              [control]="form.get('id')"
              label="No&#46; Dictaminaci&oacute;n">
              <input class="form-control" formControlName="id" maxlength="7" />
            </form-field>
          </div>
          <div class="col-md-4">
            <form-field
              [control]="form.get('wheelNumber')"
              label="No&#46; Volante">
              <input
                class="form-control"
                formControlName="wheelNumber"
                maxlength="7" />
            </form-field>
          </div>
          <div class="col-md-4">
            <form-field
              [control]="form.get('expedientNumber')"
              label="No&#46; Expediente">
              <input
                class="form-control"
                formControlName="expedientNumber"
                maxlength="7" />
            </form-field>
          </div>
        </div>
      </div>
      <br />
      <div class="d-flex justify-content-center">
        <div class="m-3">
          <button
            type="submit"
            class="btn btn-primary active btn-sm text-wrap ml-2"
            (click)="searchDictation()"
            [disabled]="
              !form.value.expedientNumber ||
              !form.value.id ||
              !form.value.wheelNumber
            ">
            Buscar
          </button>
        </div>
        <div class="m-3">
          <button
            class="btn btn-danger active btn-sm text-wrap ml-2"
            (click)="onClickBtnClear()">
            Limpiar
          </button>
        </div>
      </div>
      <br />
      <hr />

      <br />
      <div class="form-material row align-items-start">
        <div class="col-md-12">
          <div class="col-md-6">
            <form-field
              [control]="form.get('typeDict')"
              label="Tipo Dictaminaci&oacute;n">
              <input
                class="form-control"
                formControlName="typeDict"
                maxlength="40" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field
              [control]="form.get('dictDate')"
              label="Fecha Dictaminaci&oacute;n">
              <input
                class="form-control"
                formControlName="dictDate"
                bsDatepicker
                [maxDate]="maxDate" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field
              [control]="form.get('statusDict')"
              label="Estatus Dictaminaci&oacute;n">
              <input
                class="form-control"
                formControlName="statusDict"
                maxlength="40" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field
              [control]="form.get('passOfficeArmy')"
              label="Clave Oficio Armada">
              <input
                class="form-control"
                formControlName="passOfficeArmy"
                maxlength="200" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field
              [control]="form.get('userDict')"
              label="Usuario Dictamina">
              <input
                class="form-control"
                formControlName="userDict"
                maxlength="40" />
            </form-field>
          </div>
          <div class="col-md-6">
            <form-field
              [control]="form.get('instructorDate')"
              label="Fecha Instructora">
              <input
                class="form-control"
                formControlName="instructorDate"
                bsDatepicker
                [maxDate]="maxDate" />
            </form-field>
          </div>
          <div>
            <div class="col-sm-12 col-12 col-md-12 p-2 pl-4">
              <form-check label="Eliminar" for="eliminar">
                <input
                  (change)="changeCbDelete($event)"
                  id="eliminar"
                  type="checkbox"
                  formControlName="delete" />
              </form-check>
            </div>

            <div class="d-flex justify-content-center">
              <div class="m-3">
                <div class="form-group mr-2">
                  <button
                    type="button"
                    [disabled]="
                      !form.value.expedientNumber ||
                      !form.value.id ||
                      !form.value.typeDict ||
                      !form.value.delete
                    "
                    class="btn btn-primary active btn-sm text-wrap"
                    (click)="onClickGoodDictation()">
                    Bienes del Dictamen
                  </button>
                </div>
              </div>
              <div class="m-3">
                <div class="form-group ml-2 mr-2">
                  <button
                    [disabled]="
                      !form.value.expedientNumber ||
                      !form.value.id ||
                      !form.value.typeDict ||
                      !form.value.delete ||
                      !form.value.passOfficeArmy
                    "
                    type="button"
                    class="btn btn-primary active btn-sm text-wrap"
                    (click)="onClickDictation()">
                    Dict&aacute;menes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr />
    <div class="col-md-12">
      <form [formGroup]="formCargaMasiva" class="form-material col-12">
        <!-- <form-field
                          [control]="formCargaMasiva.get('identificadorCargaMasiva')"
                          label="Identificador Carga Masiva">
                          <input
                            class="form-control"
                            formControlName="identificadorCargaMasiva" />
                        </form-field> -->
        <div class="col-md-12">
          <form-field
            label="Identificador Carga Masiva"
            class="col-md-3"
            [control]="formCargaMasiva.get('identificadorCargaMasiva')">
            <ng-custom-select
              class="form-control"
              formControlName="identificadorCargaMasiva"
              [isLoadInOnInit]="true"
              value="identificador"
              path="massivegood/api/v1/application/getIdentifierCount">
              <ng-template let-item>
                {{ item.identificador }} -
                {{ item?.fec_cargamasiv | date: 'shortDate' }} -
                {{ item?.count }}
              </ng-template>
            </ng-custom-select>
          </form-field>
        </div>
      </form>
      <!-- <div class="d-flex justify-content-center">
                <div class="md-3">
                    <div class="form-group m-1 ml-2 mr-2">
                        <button [disabled]="formCargaMasiva.invalid" type="button" (click)="onClickLoadByIdentifier()" class="btn btn-primary active btn-sm">
              Cargar de Identificador
            </button>
                    </div>
                </div>
                <div class="md-3">
                    <div class="form-group m-1 ml-2 mr-2">
                        <button [disabled]="formCargaMasiva.invalid" type="button" (click)="onClickLoadFile($event)" class="btn btn-primary active btn-sm">
              Cargar de Expedientes csv
            </button>
                    </div>
                </div>
                <div class="md-3">
                    <div class="col-sm-12 col-12 col-md-3 pl-2 p-1 text-center">
                        <div class="form-group m-1 ml-2 mr-2">
                            <button type="button" [disabled]="isDisableCreateDictation" (click)="onClickCreatedDictation()" class="btn btn-primary active btn-sm">
                Crear Dict&aacute;menes
              </button>
                        </div>
                    </div>
                </div>
            </div>-->
    </div>
    <div class="col-md-12">
      <br />
      <div class="d-flex justify-content-end">
        <div class="p-2">
          <div class="btn-group" dropdown placement="bottom right">
            <button
              id="button-alignment"
              dropdownToggle
              type="button"
              class="btn btn-info btn-sm active dropdown-toggle"
              aria-controls="dropdown-alignment">
              Acciones <span class="caret"></span>
            </button>
            <ul
              id="dropdown-alignment"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-alignment">
              <!---  <li role="menuitem">
                                <a class="dropdown-item" style="color: green" #fileExpedient (click)="fileExpedient.click()">
                                    <i class="bx bx-import"></i> Cargar Expediente
                                </a>
                            </li>-->
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  style="color: blue"
                  (click)="onClickLoadByIdentifier()">
                  <i class="bx bx-layer"></i> Cargar de Identificador
                </a>
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  style="color: blue"
                  (click)="onClickCreatedDictation()">
                  <i class="bx bx-layer"></i> Crear Dict&aacute;men
                </a>
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  style="color: blue"
                  (click)="onClickPrintOffice()">
                  <i class="bx bx-layer"></i> Imprimir Oficio
                </a>
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  style="color: blue"
                  (click)="onClickPrintRelationGood()">
                  <i class="bx bx-layer"></i> Imprimir Relación Bienes
                </a>
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  style="color: blue"
                  (click)="onClickPrintRelationExpedient()">
                  <i class="bx bx-layer"></i> Imprimir Relación Expediente
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLAS  -->
    <div class="col-md-12">
      <div class="col-sm-12 col-12 col-md-6 col-lg-6 p-2">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="tableSettings"
            [source]="dataTable2"></ng2-smart-table>
        </div>
        <div>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
      <div class="col-sm-12 col-12 col-md-6 col-lg-6 p-2">
        <div [class]="loading ? 'table-loading' : ''">
          <ng2-smart-table
            [attr.class]="'table-bordered'"
            [settings]="tableSettings1"
            [source]="dataTableErrors"></ng2-smart-table>
        </div>
        <div>
          <app-pagination
            [params]="paramsErrors"
            [totalItems]="totalItemsErrors"></app-pagination>
        </div>
      </div>
    </div>
    <!-- TABLAS  -->
  </div>
</app-card>
